@inherits System.Web.Mvc.WebViewPage<Generic.ViewModel.Dashboard21>
@using System.Web.Mvc.Html;
@using Generic.Helpers;
@using Telerik.Web.Mvc.UI;

@{
    Layout = LayoutHelper.GetLayout();
    ViewBag.Title = ViewBag.enterpriseName + "Admin";

    int groupCount = 0;
    try
    {

        groupCount = Model.Groups.Count();
    }
    catch { }

    int groupAdded = 0;

    decimal c = decimal.Parse(groupCount.ToString()) / 2;
    int c2 = groupCount % 2 > 0 ? 1 : 0;
    int partnerTablesCount = int.Parse(Math.Floor(c).ToString()) + c2;
}

<style type="text/css">
    table.PartnerTypes {
        border-collapse: collapse;
        border: 1px solid black;
    }

    table.TestTable {
        border-collapse: collapse;
        border: 1px solid black;
        float: left;
        margin-right: 10px;
    }

    table td {
        border: 1px solid black;
        font-size: 12px;
    }

    table th {
        border: 1px solid black;
        font-size: 12px;
        text-align: right;
        padding-right: 0;
    }

    table.PartnerTypes td.AlgnRight {
        text-align: right;
        color: darkblue;
        padding-right: 0;
    }

    table.TestTable th {
        border: 1px solid black;
        font-size: 12px;
        text-align: center;
        padding-right: 0;
    }

    table.TestTable td.AlgnRight {
        text-align: right;
        color: darkblue;
        padding-right: 0;
        width: 47px;
        font-weight: bold;
    }

    select#templates {
        height: auto;
        width: 244px;
    }
</style>

@for (int m = 0; m < partnerTablesCount; m++)
{
    <table id="OuterTable">
        <tr>
            <td style="border-right:0">
                <table class="PartnerTypes">
                    <tr style="background-color: darkblue; color: white;">
                        <th>
                            PARTNER TYPE&nbsp;
                        </th>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    @foreach (var partnerType in Model.PartnerTypes.Distinct())
                    {

                        <tr>
                            <td id="@partnerType.id" class="AlgnRight"><span>&nbsp;&nbsp;@partnerType.description.Trim()&nbsp;&nbsp;</span></td>
                        </tr>
                    }

                    <tr>
                        <td class="AlgnRight"><span>&nbsp;&nbsp;<strong>Total</strong>&nbsp;&nbsp;</span></td>
                    </tr>
                </table>
            </td>
            <td style="border-left:0">
                @for (int n = 0; n < 2; n++)
                {
                    if (groupAdded < groupCount)
                    {
                        int? totalSent = 0, totalProcessed = 0, totalBounce = 0, totalDeferred = 0, totalDropped = 0, totalDelivered = 0, totalOpen = 0, totalClick = 0;

                        <table class="TestTable">

                            <tr style="background-color:darkblue; color: white;">
                                <th colspan="8" class="groupLabel">
                                    @Model.Groups[groupAdded].Description

                                </th>
                            </tr>

                            <tr>
                                <td class="AlgnRight" title="Sent">S&nbsp;</td>
                                <td class="AlgnRight" title="Processed">P&nbsp;</td>
                                <td class="AlgnRight" title="Bounced">B&nbsp;</td>
                                <td class="AlgnRight" title="Deferred">F&nbsp;</td>
                                <td class="AlgnRight" title="Dropped">X&nbsp;</td>
                                <td class="AlgnRight" title="Delivered">D&nbsp;</td>
                                <td class="AlgnRight" title="Opened">O&nbsp;</td>
                                <td class="AlgnRight" title="Clicked">C&nbsp;</td>
                            </tr>
                            @foreach (var partnerType in Model.PartnerTypes)
                            {
                                <tr>
                                    <td class="AlgnRight">
                                        <a style="text-decoration:none" href="~/admin/notifications?ptq=@Model.Groups[groupAdded].PtqId&partnerType=@partnerType.id&group=@Model.Groups[groupAdded].Id&ev=sent" target="_blank">
                                            @{ int? sentTotal = Model.Objs.Where(x => x.partnertype == partnerType.id && x.group == Model.Groups[groupAdded].Id && x.@event == "sent").Select(s => s.total).DefaultIfEmpty(0).FirstOrDefault();
                                                totalSent += sentTotal;
                                            }

                                            @sentTotal

                                        </a>

                                       
                                    </td>
                                    <td class="AlgnRight"> <a style="text-decoration:none" href="~/admin/notifications?ptq=@Model.Groups[groupAdded].PtqId&partnerType=@partnerType.id&group=@Model.Groups[groupAdded].Id&ev=processed" target="_blank">
                                                               @{ int? processedTotal = Model.Objs.Where(x => x.partnertype == partnerType.id && x.group == Model.Groups[groupAdded].Id && x.@event == "processed").Select(s => s.total).DefaultIfEmpty(0).FirstOrDefault();
                                                                   totalProcessed += processedTotal;
                                                               }

                                                               @processedTotal
                                          </a></td>


                                    <td class="AlgnRight"><a style="text-decoration:none" href="~/admin/notifications?ptq=@Model.Groups[groupAdded].PtqId&partnerType=@partnerType.id&group=@Model.Groups[groupAdded].Id&ev=bounce" target="_blank">
                                                              @{ int? bouncedTotal = Model.Objs.Where(x => x.partnertype == partnerType.id && x.group == Model.Groups[groupAdded].Id && x.@event == "bounce").Select(s => s.total).DefaultIfEmpty(0).FirstOrDefault();
                                                                  totalBounce += bouncedTotal;
                                                              }

                                                             @bouncedTotal
                                   
                                    </a> </td>
                                    <td class="AlgnRight"><a style="text-decoration:none" href="~/admin/notifications?ptq=@Model.Groups[groupAdded].PtqId&partnerType=@partnerType.id&group=@Model.Groups[groupAdded].Id&ev=deferred" target="_blank"> 
                                                              @{ int? deferredTotal = Model.Objs.Where(x => x.partnertype == partnerType.id && x.group == Model.Groups[groupAdded].Id && x.@event == "deferred").Select(s => s.total).DefaultIfEmpty(0).FirstOrDefault();
                                                                  totalDeferred += deferredTotal;
                                                              }


                                        @deferredTotal
                                       </a></td>
                                    <td class="AlgnRight"><a style="text-decoration:none" href="~/admin/notifications?ptq=@Model.Groups[groupAdded].PtqId&partnerType=@partnerType.id&group=@Model.Groups[groupAdded].Id&ev=dropped" target="_blank"> 
                                                              @{ int? droppedTotal = Model.Objs.Where(x => x.partnertype == partnerType.id && x.group == Model.Groups[groupAdded].Id && x.@event == "dropped").Select(s => s.total).DefaultIfEmpty(0).FirstOrDefault();
                                                                  totalDropped += droppedTotal;
                                                              }


                                        @droppedTotal</a></td>
                                    <td class="AlgnRight" style="background-color: #E56D38">
                                        <a style="text-decoration:none" href="~/admin/notifications?ptq=@Model.Groups[groupAdded].PtqId&partnerType=@partnerType.id&group=@Model.Groups[groupAdded].Id&ev=delivered" target="_blank"> 
                                        @{ int? deliveredTotal = Model.Objs.Where(x => x.partnertype == partnerType.id && x.group == Model.Groups[groupAdded].Id && x.@event == "delivered").Select(s => s.total).DefaultIfEmpty(0).FirstOrDefault();
                                            totalDelivered += deliveredTotal;
                                        }
                                        @deliveredTotal</a>
                                    </td>

                                    <td class="AlgnRight" style="background-color:#FDEB41">
                                        <a style="text-decoration:none" href="~/admin/notifications?ptq=@Model.Groups[groupAdded].PtqId&partnerType=@partnerType.id&group=@Model.Groups[groupAdded].Id&ev=open" target="_blank"> 
                                        @{ int? openedTotal = Model.Objs.Where(x => x.partnertype == partnerType.id && x.group == Model.Groups[groupAdded].Id && x.@event == "open").Select(s => s.total).DefaultIfEmpty(0).FirstOrDefault();
                                            totalOpen += openedTotal;
                                        }
                                        @openedTotal</a>
                                    </td>
                                    <td class="AlgnRight" style="background-color: #BCD637">
                                        <a style="text-decoration:none" href="~/admin/notifications?ptq=@Model.Groups[groupAdded].PtqId&partnerType=@partnerType.id&group=@Model.Groups[groupAdded].Id&ev=click" target="_blank"> 
                                        @{ int? clickedTotal = Model.Objs.Where(x => x.partnertype == partnerType.id && x.group == Model.Groups[groupAdded].Id && x.@event == "click").Select(s => s.total).DefaultIfEmpty(0).FirstOrDefault();
                                            totalClick += clickedTotal;
                                        }
                                        @clickedTotal</a>
                                    </td>

                                </tr>
                            }


                            <tr>
                                <td class="AlgnRight" title="Sent">@totalSent&nbsp;</td>
                                <td class="AlgnRight" title="Processed">@totalProcessed&nbsp;</td>
                                <td class="AlgnRight" title="Bounced">@totalBounce&nbsp;</td>
                                <td class="AlgnRight" title="Deferred">@totalDeferred&nbsp;</td>
                                <td class="AlgnRight" title="Dropped">@totalDropped&nbsp;</td>
                                <td class="AlgnRight" title="Delivered">@totalDelivered&nbsp;</td>
                                <td class="AlgnRight" title="Opened">@totalOpen&nbsp;</td>
                                <td class="AlgnRight" title="Clicked">@totalClick&nbsp;</td>
                            </tr>
                        </table>

                        groupAdded++;
                    }
                }
            </td>
        </tr>
    </table>
}

<script>
	jQuery(document).ready(function ($) {
		@if((bool)ViewBag.IsSystemMaster)
  {
	  <text>
		$(".groupLabel").contextmenu({
			//delegate: ".hasmenu",
			menu: [
				{title: "Edit/Correct"},//, cmd: "copy", uiIcon: "ui-icon-copy"},
				{title: "Remove"}//,
				//{title: "More", children: [
				//	{title: "Sub 1", cmd: "sub1"},
				//	{title: "Sub 2", cmd: "sub1"}
				//]}
			],
			select: function(event, ui) {
				alert("select "  + ui.target.text());
			}
		});
		</text>
	}
        //debugger;
        //$("#TestTable tr:eq(1)").each(function () {
        //    $(this).find("td").css({
        //        "color": "skyblue",
        //        "text-align": "right",
        //    "padding-right": "0",
        //    "width": "25px",
        //    "font-weight": "bold"                });
        //});


        //$("#TestTable tr:gt(1)").each(function () {
        //    $(this).find("td:eq(0)").css({
        //        "color": "black",
        //        "text-align": "right",
        //        "padding-right": "0",
        //        "width": "25px",
        //        "font-weight": "bold"                });
        //});

        //$("#TestTable tr:gt(1)").each(function () {
        //    $(this).find("td:gt(0)").css({
        //        "color": "blue",
        //        "text-align": "right",
        //        "padding-right": "0",
        //        "width": "25px",
        //        "font-weight": "bold"
        //    });
        //});
    });

</script>
