@model List<Generic.pr_getPPTQTeamRacixByPPTQ_Grid_2_Result1>
@{
    Layout = null;
    List<Generic.partnerPartnertypeTouchpointQuestionnaire> partnerPartnertypeTouchpointQuestionnaireByPartner = ViewBag.PartnerPartnertypeTouchpointQuestionnaireByPartner as List<Generic.partnerPartnertypeTouchpointQuestionnaire>;
    List<Generic.pr_getPPTQDocAll_Result> pPTQDocAll = ViewBag.PPTQDocAll as List<Generic.pr_getPPTQDocAll_Result>;
    List<Generic.pr_getPersonPPTQClauseAll_Result1> personPPTQClauseAll = ViewBag.PersonPPTQClauseAll as List<Generic.pr_getPersonPPTQClauseAll_Result1>;

    var personPPTQClauseAllDesc = ViewBag.PersonPPTQClauseAllDesc as List<Generic.pr_getCFDBClauseAll_Result>;
}

<div class="col-lg-12">
    <table id="OuterTable">
        <tbody>
            <tr>
                <td style="border-left:0">
                    <table class="TestTable">

                        <tbody>
                            <tr style="background-color:darkblue; color: white;">
                                <th class="groupLabel item-col" style="text-align: center;">
                                    ITEM&nbsp;
                                </th>
                                <th colspan="7" class="groupLabel" id="projectNameTitle">
                                    &nbsp;

                                </th>
                            </tr>

                            <tr>
                                <td class="AlgnRight item-col" title="">&nbsp;</td>
                                <td class="AlgnRight" title="Status">Status&nbsp;</td>
                                <td class="AlgnRight" title="Expected Completion Date" style="width:170px;">Expected Completion Date&nbsp;</td>
                                <td class="AlgnRight" title="Actual Completion Date" style="width:150px;">Actual Completion Date&nbsp;</td>
                                <td class="AlgnRight" title="Delta">Delta&nbsp;</td>
                                <td class="AlgnRight" title="Assigned To" style="width:80px;">Assigned To&nbsp;</td>
                                <td class="AlgnRight" title="Approved By" style="width:80px;">Approved By&nbsp;</td>
                                <td class="AlgnRight" title="Approved By Date" style="width:120px;">Approved By Date&nbsp;</td>
                            </tr>

                           @if (partnerPartnertypeTouchpointQuestionnaireByPartner.Count > 0)
                           {
                            <tr>
                                <td class="AlgnRight item-col">Project Start Date/Create LCE Checklist</td>
                                <td class="AlgnRight">&nbsp;</td>
                                <td class="AlgnRight">@partnerPartnertypeTouchpointQuestionnaireByPartner[0].invitedDate.ToShortDateString()</td>
                                <td class="AlgnRight">&nbsp;</td>
                                <td class="AlgnRight">&nbsp;</td>
                                <td class="AlgnRight">&nbsp;</td>
                                <td class="AlgnRight">&nbsp;</td>
                                <td class="AlgnRight">&nbsp;</td>

                            </tr>
                                <tr>
                                    <td class="AlgnRight item-col">Project Due Date</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">@(partnerPartnertypeTouchpointQuestionnaireByPartner[0].dueDate == null ? "" : partnerPartnertypeTouchpointQuestionnaireByPartner[0].dueDate.Value.ToShortDateString())</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">&nbsp;</td>

                                </tr>
                                <tr>
                                    <td class="AlgnRight item-col">Actual Completion Date (Phase 2)</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">@(partnerPartnertypeTouchpointQuestionnaireByPartner[0].completedDate == null ? "" : partnerPartnertypeTouchpointQuestionnaireByPartner[0].completedDate.Value.ToShortDateString())</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">&nbsp;</td>

                                </tr>

                           }

                            @foreach (var item in pPTQDocAll)
            {
                                <tr>
                                    <td class="AlgnRight item-col">@item.description</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">@(item.expectedUploadeDate==null?"": item.expectedUploadeDate.Value.ToShortDateString())</td>
                                    <td class="AlgnRight">@(item.uploadDateTime == null ? "" : item.uploadDateTime.Value.ToShortDateString())</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">&nbsp;</td>

                                </tr>
                            }


                            @foreach (var item in Model)
            {
                                <tr>
                                    <td class="AlgnRight item-col">@item.sectionDesc</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">@(item.dueDate == null ? "" : item.dueDate.Value.ToShortDateString())</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">@(item.approvalDueDate == null ? "" : item.approvalDueDate.Value.ToShortDateString())</td>
                                </tr>
                            }

                            @foreach (var item in personPPTQClauseAll)
            {
                var cl = personPPTQClauseAllDesc.Where(o => o.id == item.clause).FirstOrDefault();
                if (cl == null)
                {
                    continue;
                }
               
                string desc = cl.clause;

                                <tr>
                                    <td class="AlgnRight item-col">@desc</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">@(item.dateDue == null ? "" : item.dateDue.Value.ToShortDateString())</td>
                                    <td class="AlgnRight">@(item.dateCompleted == null ? "" : item.dateCompleted.Value.ToShortDateString())</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                    <td class="AlgnRight">&nbsp;</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>