@inherits System.Web.Mvc.WebViewPage
@using System.Web.Mvc.Html
@using Generic.Helpers;
@using Telerik.Web.Mvc.UI;
@{
    Layout = LayoutHelper.GetLayout();
    ViewBag.Title = ViewBag.enterpriseName + "Admin";
}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", { packages: ["corechart","bar"] });
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        //var data = google.visualization.arrayToDataTable([
        //  ['Task', 'Hours per Day'],
        //  ['Work', 11],
        //  ['Eat', 2],
        //  ['Commute', 2],
        //  ['Watch TV', 2],
        //  ['Sleep', 7]
        //]);


        var pieChartData = google.visualization.arrayToDataTable([@Html.Raw(ViewBag.pieChartData)]);


        var pieChartOptions = {
            title: 'Response Rate',
            pieHole: 0.4,
            chartArea: { left: 3, top: 50, width: "95%", height: "80%" },
            slices: { 0: { color: 'orange' }, 1: { color: 'green' }, 2: { color: 'blue' }, 3: { color: 'grey' } }
        };

        var donutchart = new google.visualization.PieChart(document.getElementById('donutchart'));
        donutchart.draw(pieChartData, pieChartOptions);
        //$.post("RemiderChartData").done(function (result) {
        /* */

        //});
        var data = google.visualization.arrayToDataTable([
                     ['Group', 'Bounce', 'Click', 'Deferred', 'Delivered', 'Dropped', 'Open', 'Processed'],
                     ['Invite', 1000, 400, 200, 1000, 400, 200, 1000],
                     ['Iterate', 1170, 460, 250, 1170, 460, 250, 1170],
                     ['Reminder',  @ViewBag.dataAll["bounce"], @ViewBag.dataAll["click"], @ViewBag.dataAll["deferred"], @ViewBag.dataAll["delivered"], @ViewBag.dataAll["dropped"], @ViewBag.dataAll["open"], @ViewBag.dataAll["processed"]]
        ]);

        var options = {
            title: 'Invite, Iterate, Reminders Sent',
            chartArea: { top: 50, width: "65%", height: "70%", left: 60 }
        };

        var chart = new google.visualization.BarChart(document.getElementById('columnchart_material'));

        chart.draw(data, options);
        var datadaily = google.visualization.arrayToDataTable([
                     ['Group', 'Bounce', 'Click', 'Deferred', 'Delivered', 'Dropped', 'Open', 'Processed'],
                     ['Invite', 20, 30, 50, 90, 10, 10, 27],
                     ['Iterate', 70, 10, 15, 45, 42, 26, 20],
                     ['Reminder', @ViewBag.dataToday["bounce"], @ViewBag.dataToday["click"], @ViewBag.dataToday["deferred"], @ViewBag.dataToday["delivered"], @ViewBag.dataToday["dropped"], @ViewBag.dataToday["open"], @ViewBag.dataToday["processed"]]
        ]);

        var optionsdaily = {
            title: 'Invite, Iterate, Reminders Sent Daily',
            chartArea: { top: 50, width: "65%", height: "70%", left: 60 }
        };

        var chartdaily = new google.visualization.BarChart(document.getElementById('columnchart_material_daily'));

        chartdaily.draw(datadaily, optionsdaily);
        $("#columnchart_material_daily").hide();
    }
    $(document).ready(function () {
        $("#Menu").css("z-index", 101);
        var statusButtonOffset = 30;
        var statusButtonInitialOffset = 250;
        $("#statusButton").click(function () {
            if ($("#columnchart_material_daily").css("display") === "none") {
                $("#columnchart_material").hide();
                $("#columnchart_material_daily").show();
                $("#btnStatusPanel").offset({ left: $("#btnStatusPanel").offset().left + statusButtonOffset });
            } else {
                $("#columnchart_material_daily").hide();
                $("#columnchart_material").show();
                $("#btnStatusPanel").offset({ left: $("#btnStatusPanel").offset().left - statusButtonOffset });
            }
        });
        $("#btnStatusPanel").offset({ left: $("#columnchart_material").position().left + statusButtonInitialOffset, top: $("#templates").offset().top + $("#templates").height() });

        $.post("CheckScheduleStatus").done(function (result) {
            if (!result) {
                $("#statusButton").css("background-color", "red");
                $("#statusButton").css("border", "solid 1px green");
                $("#statusButton").attr("title", "Reminders was not sent (click to toggle daily/all chart)");
            }
        });
    });
</script>

@*<h2>Hello, @ViewBag.enterpriseName, Admin</h2>*@




<style>
.page {
  
  
  
  height:500px;              
  float: left;
}

.pageHolder{
  
  width: 100%;
}
div.pageHolder-footer{
    clear: left;
    height: 0;
}
</style>

<div class="pageHolder">
    <div id="donutchart" class="page" style="width:50%;"></div>
    <div id="btnStatusPanel" class="absolutStatusPanel">
        <input type="button" class="circleButton" id="statusButton" title="Reminders was sent (click to toggle daily/all chart)" />
    </div>
    <div id="columnchart_material" class="page" style="width:50%;"></div>
    <div id="columnchart_material_daily" class="page" style="width:50%;"></div>
    <div class='pageHolder-footer'></div>
</div>

<div id="divPTQ" style="width:100%;float:left;">
    @ViewBag.PTQ
</div>
@*<div class="admin-nav-about">
    <nav>
        <ul id="menu">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        </ul>
    </nav>
</div>*@




