@inherits System.Web.Mvc.WebViewPage
@using System.Web.Mvc.Html
@using Generic.Helpers;
@using Telerik.Web.Mvc.UI;
@{
    Layout = LayoutHelper.GetLayout();
    ViewBag.Title = ViewBag.enterpriseName + "Admin";
}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        //var data = google.visualization.arrayToDataTable([
        //  ['Task', 'Hours per Day'],
        //  ['Work', 11],
        //  ['Eat', 2],
        //  ['Commute', 2],
        //  ['Watch TV', 2],
        //  ['Sleep', 7]
        //]);


        var data = google.visualization.arrayToDataTable([@Html.Raw(ViewBag.pieChartData)]);


        var options = {
            title: 'Response Rate',
            pieHole: 0.4,
            chartArea: { left: 3, top: 50, width: "72%", height: "60%" },
            slices: { 0: { color: 'orange' }, 1: { color: 'green' }, 2: { color: 'blue' }, 3: { color: 'grey' } }
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
    }
</script>

@*<h2>Hello, @ViewBag.enterpriseName, Admin</h2>*@





<div style="float: left">
    <div id="donutchart" style="width: 700px; height: 500px;"></div>
</div>

<div id="divPTQ" style="width:100%;float:left;">
    @ViewBag.PTQ
</div>
@*<div class="admin-nav-about">
    <nav>
        <ul id="menu">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        </ul>
    </nav>
</div>*@




