@inherits System.Web.Mvc.WebViewPage
@using Generic.Helpers
@using System.Web.Mvc.Html
@using Telerik.Web.Mvc.UI;
@using System.Web.Optimization;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Intelleges</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryui")
    @(Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group
                .Add("telerik.common.css")
                .Add("telerik.rtl.css")
                .Combined(true)
                .Compress(true)))

</head>
<body>


    @{Html.Telerik().Splitter().Name("Splitter1")
      .HtmlAttributes(new { style = "height: 600px;" })
      .Orientation(SplitterOrientation.Vertical)
      .Panes(vPanes =>
      {
          vPanes.Add()
              .Size("100px")
              .Collapsible(true).Collapsed(false)
              .Content(@<div>Nothing In Top Panel For Now</div>);
    
          vPanes.Add()
              .Scrollable(false)
              .Content(Html.Telerik().Splitter().Name("Splitter2")
                      .HtmlAttributes(new { style = "height: 100%; width: 100%; border: 0; overflow: hidden;" })
                      .Orientation(SplitterOrientation.Horizontal)
                      .Panes(hPanes =>
                      {
                          hPanes.Add()
                              .Size("150px")
                              .Collapsible(true).Collapsed(false)
                              .Content(@<p>Inner splitter :: left pane</p>);

                          hPanes.Add()
                              .Content(@<div id="body">
        @RenderSection("featured", required: false)
                                  <header>
        <div class="content-wrapper main-content clear-fix">
            <div class="admin-logo">
                <p class="site-title">@Html.ActionLink("your logo here", "Index", "Admin")</p>
            </div>
            <div class="admin-touchpoints">             
            Default Touchpoint: @Html.Action("TouchpointCombobox", "Admin")
            </div>
            <div class="admin-nav-about">
                 <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
            </div>     
            <div class="clear-fix"></div> 
            @Html.Action("Menu", "Admin")      
        </div>
    </header>
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>);
    
                          hPanes.Add()
                              .Size("20%")
                              .Collapsible(true).Collapsed(false)
                              .Content(@<p>Inner splitter :: right pane</p>);
                      }).ToString());
    
          vPanes.Add()
              .Size("20%")
              .Collapsible(true).Collapsed(false)
              .Content(@<footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Intelleges</p>
            </div>
        </div>
    </footer>);
      })
      .Render();
} 

<div id="popup">
<iframe id="modal" style="height:550px;border:none;width:100%"></iframe>
</div>

    <script type="text/javascript">
       
        function OpenManualAddModal(url) {
            jQuery.noConflict();
            $("#popup").dialog({
                autoOpen: true,
                modal: true,
                height: 650,
                open: function () {
                    $("#modal").attr("src", url);
                }
            });
        }
    </script>

    @RenderSection("scripts", required: false)
  
    <script type="text/javascript">
        jQuery.noConflict();
        jQuery(document).ajaxStart(jQuery.blockUI).ajaxStop(jQuery.unblockUI);
    </script>

    
@(Html.Telerik().ScriptRegistrar()
    .DefaultGroup(group => group
        .Combined(true)
        .Compress(true)
    )
    .OnDocumentReady(@<text>
        var splitter = $('#FullScreen').data('tSplitter');
 
        $(window).bind('resize', function() {
            splitter.resize();
        });
    </text>)
)


    @Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group.Add("telerik.common.css").Add("telerik.vista.css"))
</body>
</html>
