@inherits System.Web.Mvc.WebViewPage
@using Generic.Helpers
@using System.Web.Mvc.Html
@using Telerik.Web.Mvc.UI;
@using System.Web.Optimization;

@{

    string EnterpriseName = string.Empty;
    string LoginName = string.Empty;
    string ProductName = string.Empty;
    string SubscriptionTypeName = string.Empty;
    string SubscriptionStatusName = string.Empty;
    try
    {
        Generic.Controllers.EnterpriseController objEnterpriseController = new Generic.Controllers.EnterpriseController();
        Generic.enterprise objEnterprise = objEnterpriseController.GetEnterprise(Generic.Helpers.CurrentInstance.EnterpriseID);
        EnterpriseName = objEnterprise.description;
        ProductName = objEnterpriseController.GetProduct((int)objEnterprise.product).description;
        SubscriptionTypeName = objEnterpriseController.GetSubscriptionType((int)objEnterprise.subscriptionType).description;
        SubscriptionStatusName = objEnterpriseController.GetSubscriptionStatus((int)objEnterprise.subscriptionStatus).description;
    }
    catch { }
    Generic.Controllers.PersonController objPersonController = new Generic.Controllers.PersonController();

    Generic.person objPerson = objPersonController.GetPerson(User.Identity.Name);
    LoginName = objPerson.firstName + " " + objPerson.lastName;
    

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Intelleges</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryui")
    @(Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group
    .Add("telerik.common.css")
    .Add("telerik.rtl.css")
    .Combined(true)
    .Compress(true)))

</head>


<body>


    @{Html.Telerik().Splitter().Name("Splitter1")
    .HtmlAttributes(new { style = "height: 600px;" })
    .Orientation(SplitterOrientation.Vertical)
    .Panes(vPanes =>
    {
        vPanes.Add()

        .Size("100px")
        .Collapsible(true)
        .Collapsed(true)
        .Content(@<div>Nothing In Top Panel For Now5555</div>);

        vPanes.Add()
        .Scrollable(false)
        .Content(Html.Telerik().Splitter().Name("Splitter2")
        .HtmlAttributes(new { style = "height: 100%; width: 100%; border: 0; overflow: hidden;" })
        .Orientation(SplitterOrientation.Horizontal)
        .Panes(hPanes =>
        {
            hPanes.Add()
            .Size("150px")
            .Collapsible(true).Collapsed(true)
            .Content(@<p>Inner splitter :: left pane</p>);

            hPanes.Add()
            .Content(@<div id="body">
                @RenderSection("featured", required: false)
                <header>
                    <div class="content-wrapper main-content clear-fix">
                        <div>
                            <div class="admin-logo">
                                <p class="site-title">
                                    @*@Url.Content(" ~ />Admin/Home")*@
                                    @* <a id="IntellegesLogoHref" href="">@Html.Action("IntellegesLogo", "Admin") </a>*@
                                    <a id="IntellegesLogoHref" href="#">@Html.Action("InstanceLogo", "Admin")
                                    </a>
                                </p>
                            </div>

                            <div style="float: left; top: -20px; position: relative; left: 20px;">
                                @* <h1>STANDARD EDITION</h1>*@
                            </div>


                            <div class="admin-nav-about">
                                <nav>
                                    <ul id="menu">

                                        <li>@Html.ActionLink("Home", "Icons", "Admin")</li>
                                        <li>@Html.ActionLink("About", "About", "Home")</li>
                                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                        <li>@Html.ActionLink("Logout", "Logout", "Admin")</li>
                                    </ul>
                                </nav>
                            </div>

                        </div>

                        @*<div class="clear-fix"></div>*@

                        <div style="float: right">Hello, @LoginName - @EnterpriseName -- @ProductName, @SubscriptionTypeName, @SubscriptionStatusName</div>
                        <div class="clear-fix"></div>

                        @Html.Action("Menu", "Admin")




                    </div>
                </header>
                <section class="content-wrapper main-content clear-fix">


                    <div style="margin-top: -20px;">

                        <a href="@Url.Content("~/Admin/View1")">View 1</a>
                        <a href="@Url.Content("~/Admin/View2")">View 2</a>
                        <a href="@Url.Content("~/Admin/View3")">View 3</a>
                        <a href="@Url.Content("~/Admin/View4")">View 4</a>

                        <a href="@Url.Content("~/Admin/Dashbord1")">Dashboard</a>
                        <a href="@Url.Content("~/Admin/Icons")">Icons</a>


                        <a href="#">Welcome</a>

                        <a href="#">Change Password</a>

                        <a href="#">Home Page</a>

                        <a href="@Url.Content("~/Partner/PartnumberSpreadsheetDataLoadReportDownload")">Report 1</a>

                        <a href="@Url.Content("~/Partner/PartnumberSpreadsheetDataLoadReportDownloadForSecondReport")">Report 2</a>

                        @Html.Action("downloadTemplate", "Admin")

                    </div>



                    @RenderBody()
                </section>
            </div>);

            hPanes.Add()
            .Size("20%")
            .Collapsible(true).Collapsed(true)
            .Content(@<p>Inner splitter :: right pane</p>);
        }).ToString());

        vPanes.Add()
        .Size("20%")
        .Collapsible(true).Collapsed(true)
        .Content(@<footer>
            <div class="content-wrapper">

                <div class="float-left">
                    <p>
                        <div class="admin-touchpoints">
                            Default Touchpoint: @Html.Action("TouchpointCombobox", "Admin")
                        </div>
                    </p>
                </div>

                <div class="float-right">
                    <p>&copy; @DateTime.Now.Year - Intelleges</p>
                </div>
            </div>
        </footer>);
    })
    .Render();
    }

    <div id="popup">
        <iframe id="modal" style="height: 550px; border: none; width: 100%"></iframe>
    </div>
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/jquery-ui-1.9.2.js"></script>
    <script type="text/javascript">

        function OpenManualAddModal(url) {
            jQuery.noConflict();
            $("#popup").dialog({
                autoOpen: true,
                modal: true,
                height: 650,
                width: 900,
                open: function () {
                    $("#modal").attr("src", url);

                }
            });
        }



        jQuery.noConflict();
        $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);

    </script>

    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        jQuery.noConflict();
        jQuery(document).ajaxStart(jQuery.blockUI).ajaxStop(jQuery.unblockUI);
        $(document).ready(function () {
            $('#IntellegesLogoHref').click(function () {
                alertify.set({
                    labels: {
                        ok: "No",
                        cancel: "Yes"
                    },
                    buttonFocus: "cancel"
                });
                // button labels will be "Accept" and "Deny"
                alertify.confirm("You are about to leave the Intelleges Compliance Process Automation Platform and visit www.intelleges.com. Is that OK?", function (e) {
                    if (e) {
                        window.location.replace("http://@Generic.SessionClass.SessionSingleton.EnterpriseURL");

                    } else {
                        // user clicked "cancel"
                        window.location.replace("https://intelleges.com");
                    }
                });
            });
        });

        //
    </script>


    @(Html.Telerik().ScriptRegistrar()
    .DefaultGroup(group => group
    .Combined(true)
    .Compress(true)
    )
    .OnDocumentReady(@<text>
    var splitter = $('#FullScreen').data('tSplitter');

        $(window).bind('resize', function() {
        splitter.resize();
        });
    </text>)
    )


    @Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group.Add("telerik.common.css").Add("telerik.vista.css"))
</body>
</html>
