@inherits System.Web.Mvc.WebViewPage
@using Generic.Helpers
@using System.Web.Mvc.Html
@using Telerik.Web.Mvc.UI;
@using System.Web.Optimization;
@using Generic.ViewModel
@{

    string EnterpriseName = string.Empty;
    string LoginName = string.Empty;
    string ProductName = string.Empty;
    string SubscriptionTypeName = string.Empty;
    string SubscriptionStatusName = string.Empty;
    try
    {
        Generic.Controllers.EnterpriseController objEnterpriseController = new Generic.Controllers.EnterpriseController();
        Generic.enterprise objEnterprise = objEnterpriseController.GetEnterprise(Generic.Helpers.CurrentInstance.EnterpriseID);
        EnterpriseName = objEnterprise.description;
        ProductName = objEnterpriseController.GetProduct((int)objEnterprise.product).description;
        SubscriptionTypeName = objEnterpriseController.GetSubscriptionType((int)objEnterprise.subscriptionType).description;
        SubscriptionStatusName = objEnterpriseController.GetSubscriptionStatus((int)objEnterprise.subscriptionStatus).description;
    }
    catch { }
    Generic.Controllers.PersonController objPersonController = new Generic.Controllers.PersonController();

    Generic.person objPerson = objPersonController.GetPerson(User.Identity.Name);
    if (objPerson!=null)
    { 
    LoginName = objPerson.firstName + " " + objPerson.lastName;
    }

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Intelleges</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @*@Scripts.Render("~/bundles/jquery")*@
    <script src="~/Scripts/kendo/2015.1.318/jquery.min.js"></script>
    <script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Scripts/alertify.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/kendo/2015.1.318/kendo.ui.core.min.js"></script>
    @*<script src="~/Scripts/kendo/2015.1.318/kendo.core.min.js"></script>*@
    
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("header", false)
    <link rel="stylesheet" href="@Url.Content("~/Content/tw-bs.css")" />
    <link href="@Url.Content("~/Content/themes/base/alertify.core.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/themes/base/alertify.default.css")" rel="stylesheet" />
    @(Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group
    .Add("telerik.common.css")
            .Add("telerik.vista.css")
    .Combined(true)
    .Compress(true)))

</head>


<body>
    <div class="tw-bs">
        <div class="container">
            <div class="modal fade" id="addIteratePerson" role="dialog" aria-labelledby="gpsLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span><span class="sr-only"></span>
                            </button>
                            <h4 class="modal-title" id="gpsLabel">Add Iterate Point of Contact</h4>
                        </div>
                        <div class="modal-body">
                            <form id="addIteratePersonForm">
                                <h4>
                                    Select the Person You Wish to Add Iterate POC Data To
                                </h4>
                                <div class="form-group">
                                    <label class="control-label" for="activeUsers">Active Users</label>

                                    @*@Html.DropDownList("partnerType", null, new { @class = "form-control", data_val_required = "*", data_val = "true" })*@
                                    <span data-valmsg-replace="true" data-valmsg-for="partnerType" class="field-validation-valid help-inline" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="partnerGroup">Partner Group</label>
                                    @*@Html.DropDownList("partnerGroup", (IEnumerable<SelectListItem>)ViewBag.group, new { @class = "form-control", data_val_required = "*", data_val = "true" })*@
                                    <span data-valmsg-replace="true" data-valmsg-for="partnerGroup" class="field-validation-valid help-inline" />

                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" name="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        #IteratePartners .t-header a {
            margin: 0 !important;
            padding: 0 !important;
        }
    </style>
    @{
        var renderedTop = RenderSection("splitterTop", false);
        var gridHtml = renderedTop != null ? renderedTop.ToHtmlString() : "";
    }

    @{Html.Telerik().Splitter().Name("Splitter1")
    .HtmlAttributes(new { style = "height: 100%;width: 100%;" })
    .Orientation(SplitterOrientation.Vertical)
    .Panes(vPanes =>
    {
        vPanes.Add()
        .Size("70%")
            //.MaxSize("50%")
        .Collapsible(true)
        .Collapsed(true)
        .Resizable(false)
        .Content(gridHtml);

        vPanes.Add()
        .Scrollable(false)
        .Size("100%")
        .Content(Html.Telerik().Splitter().Name("Splitter2")
        .HtmlAttributes(new { style = "height: 100%; width: 100%; border: 0; " })
        .Orientation(SplitterOrientation.Horizontal)
        .ClientEvents(events => events.OnLoad("onSplitter2Load"))
        .Panes(hPanes =>
        {
            hPanes.Add()
            .Size("35%")
            .Collapsible(true).Collapsed(true)
            .Content(@<div>
                @RenderSection("leftSplitter", false)

            </div>
);

            hPanes.Add()
            .Content(@<div id="body">
                    @RenderSection("featured", required: false)
                    <header>
                        <div class="content-wrapper main-content clear-fix">
                            <div>
                                <div class="admin-logo">
                                    <p class="site-title">
                                        <a id="IntellegesLogoHref" href="#">
                                            @Html.Action("InstanceLogo", "Admin")
                                        </a>
                                        <form id="selectlogoForm" enctype="multipart/form-data">
                                            <input type="file" id="selectlogo" style="display:none;" />
                                        </form>

                                    </p>
                                </div>

                                <div style="float: left; top: -20px; position: relative; left: 20px;">
                                    @* <h1>STANDARD EDITION</h1>*@
                                </div>
                                <div class="admin-nav-about">
                                    <nav>
                                        <ul id="menu">

                                            <li>@Html.ActionLink("Home", "Home", "Admin")</li>
                                            <li>@Html.ActionLink("About", "About", "Home")</li>
                                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                            <li>@Html.ActionLink("Logout", "Logout", "Admin")</li>
                                        </ul>
                                    </nav>
                                </div>

                            </div>

                            @*<div class="clear-fix"></div>*@

                            <div style="float: right">Hello, @LoginName - @EnterpriseName -- @ProductName, @SubscriptionTypeName, @SubscriptionStatusName</div>
                            <div class="clear-fix"></div>

                            @Html.Action("Menu", "Admin")




                        </div>
                    </header>
                    <section class="content-wrapper main-content clear-fix">


                        <div style="margin-top: -20px;">

                            <a href="@Url.Content("~/Admin/View1")">View 1</a>
                            <a href="@Url.Content("~/Admin/View2")">View 2</a>
                            <a href="@Url.Content("~/Admin/View3")">View 3</a>
                            @* <a href="@Url.Content("~/Admin/View4")">View 4</a>*@
                            <a href="@Url.Content("~/Campaign/Index")">Campaigns</a>

                            <a href="@Url.Content("~/Admin/Dashbord1")">Dashboard</a>
                            <a href="@Url.Content("~/Admin/Icons")">Icons</a>


                            <a href="#">Welcome</a>

                            <a href="@Url.Content("~/Admin/ChangePassword")">Change Password</a>

                            @* <a href="@Url.Content("~/Admin/Home")">Home Page</a>*@
                            <a href="@Url.Content("~/Partner/Iterate")">Iterate</a>





                            <select id="reports" name="reports">
                                <option value="">Select Report</option>

                                @* <option value="@Url.Content("~/Partner/PartnumberSpreadsheetDataLoadReportDownload")">Report 1</option>
                                    <option value="@Url.Content("~/Partner/PartnumberSpreadsheetDataLoadReportDownloadForSecondReport")">Report 2</option>*@

                                <option value="@Url.Content("~/Partner/PartnumberSpreadsheetDataLoadReportDownloadForReport3")">Report 3</option>
                                <option value="@Url.Content("~/Partner/EventNotificationBounceReportDownload")">Bounce Report</option>
                                <option value="@Url.Content("~/Partner/ResponsesByProtocolTouchpointGroupPartnertype2Download")">Response Detail</option>
                                <option value="@Url.Content("~/Partner/PartnumberSpreadsheetDataLoadReportDownloadForAgingReport")">Aging Report</option>
                                <option value="@Url.Content("~/Partner/PartnumberSpreadsheetDataLoadReportDownloadForMailDeliveredReport")">Mail Delivered</option>
                                <option value="@Url.Content("~/Partner/RailReport")">RAIL Report</option>
                                <option value="@Url.Content("~/Partner/GetTwillioCallsHistory")">Calls Report</option>
                            </select>



                            @Html.Action("downloadTemplate", "Admin")

                        </div>



                        @RenderBody()

                    </section>
                </div>);

            hPanes.Add()
            .Size("20%")
            .Collapsible(true).Collapsed(true).Scrollable(true).Resizable(false)
            .Content(@<div id="rightSplitter">
                @RenderSection("rightSplitter", false)
            </div>

);
        }).ToString());

        vPanes.Add()
        .Size("50%")
        .Collapsible(true).Collapsed(true)
        .Content(@<footer>
            @RenderSection("bottomSplitter", required: false)
            <div class="content-wrapper">

                <div class="float-left">
                    <p>
                        <div class="admin-touchpoints">
                            @try
                            {
                                <text>Default Touchpoint: @Html.Action("TouchpointCombobox", "Admin")</text>
                            }
                            catch { }

                            
                            
                        </div>
                    </p>
                </div>

                <div class="float-right">
                    <p>&copy; @DateTime.Now.Year - Intelleges</p>
                </div>
            </div>
        </footer>);
    })
                .Render();
    }

    <div id="popup" style="display:none;">
        <iframe id="modal" style="height: 550px; border: none; width: 100%"></iframe>
    </div>
    @* @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")*@
    <script type="text/javascript">

        function onSplitter2Load(e) {
            @RenderSection("onSplitter2Load",false)
        }
        function OpenManualAddModal(url) {
            // jQuery.noConflict();
            $("#popup").dialog({
                autoOpen: true,
                modal: true,
                height: 550,
                width: 900,
                open: function () {
                    $("#modal").attr("src", url);

                }
            });
        }

        function CloseManualAddModalWithAlert(alert) {
            // jQuery.noConflict();
            $("#popup").dialog('close');
            alertify.alert(alert);
        }

        //function OpenManualAddModalFullWidth(url) {
        //    jQuery.noConflict();
        //    $("#popup").dialog({
        //        autoOpen: true,
        //        modal: true,
        //        height: 550,
        //        width: 100%,
        //        open: function () {
        //            $("#modal").attr("src", url);

        //        }
        //    });
        //}
        $(function () {
            $.blockUI.defaults.css = {};
            //jQuery.noConflict();
            $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);
        });


    </script>




    <script type="text/javascript">
        function openAddIteratePersonModal() {
            $("#addIteratePerson").modal("toggle");
        }
        //jQuery.noConflict();
        //jQuery(document).ajaxStart(jQuery.blockUI).ajaxStop(jQuery.unblockUI);
        $(document).ready(function () {
            var error = '@ViewBag.Error';
            if (error) {
                alertify.alert(error);
            }
            //var height = $(window).height();
            // $("#Splitter1").height(height);
            //$("#Splitter1 t-pane").height(height);
            //$("#Splitter2").height(height);
            //$("#Splitter2 t-pane").height(height);
            //$("#modal").height(height-$("#body header").height());
            //$("#popap").height(height);
            //logo uploading
            $("#selectlogoForm").submit(function (e) {
                var file_data = $('#selectlogo').prop('files')[0];
                var form_data = new FormData();
                form_data.append('uploadLogo', file_data);
                $.ajax({
                    url: '../Admin/UploadLogo/',
                    type: 'POST',
                    data: form_data,
                    processData: false,
                    contentType: false,
                    cache: false
                }).done(function (data) {
                    if (data) {
                        $('#IntellegesLogoHref').html(data);
                    }
                });
                e.preventDefault();
            });
            $("#selectlogo").change(function (e) {
                //submit form if the file selected
                $("#selectlogoForm").submit();
            });
            $('#IntellegesLogoHref').click(function () {
                @*alertify.set({
            labels: {
                ok: "No",
                cancel: "Yes"
            },
            buttonFocus: "cancel"
        });
        // button labels will be "Accept" and "Deny"
        alertify.confirm("You are about to leave the Intelleges Compliance Process Automation Platform and visit www.intelleges.com. Is that OK?", function (e) {
            if (e) {
                window.location.replace("http://@Generic.SessionClass.SessionSingleton.EnterpriseURL");

            } else {
                // user clicked "cancel"
                window.location.replace("https://intelleges.com");
            }
        });*@
                alertify.confirm("Would you like to upload new logo?", function (result) {
                    if (result) {
                        $("#selectlogo").click();
                    }
                });

            });
        });

        //
    </script>



    <script>

        $(document).ready(function () {

            $("#reports").change(function () {
                if ($("#reports").val() != '') {
                    if ($("#reports").val().indexOf("Rail") > 0) {
                        window.location.assign($("#reports").val());
                    } else {
                        window.open($("#reports").val());
                    }
                }
            });


        });

    </script>
    <script src="/Scripts/bootstrap.js"></script>
    @RenderSection("scripts", required: false)
    @(Html.Telerik().ScriptRegistrar().jQuery(false).jQueryValidation(false)
            //.DefaultGroup(group => group
            //            .Add("~/Scripts/jquery-1.9.1.min.js")
            //.Combined(true)
            //.Compress(true)
            // ).jQuery(false)
    .OnDocumentReady(@<text>
                @* var splitter = $('#Splitter2').data('tSplitter');
                    splitter.size(".t-pane", $(window).height()+"px");
                           $(window).bind('resize', function() {
                            splitter.size(".t-pane", $(window).height()+"px");
                           });*@
    </text>)
    )



</body>

</html>
