@inherits System.Web.Mvc.WebViewPage<IEnumerable<Generic.group>>
@using System.Web.Mvc.Html
@using Generic.Helpers
@using Telerik.Web.Mvc.UI
@{
    Layout = LayoutHelper.GetLayout();
    ViewBag.Title = "Group";
}

<h2>Group</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>


@( Html.Telerik().Grid(Model).Name("GroupGrid")
        .Columns(columns =>
        {
            columns.Bound(o => o.enterprise);

            columns.Bound(o => o.groupCollection);

            columns.Bound(o => o.groupType);

            columns.Bound(o => o.author);

            columns.Bound(o => o.state);

            columns.Bound(o => o.name);

            columns.Bound(o => o.description);

            columns.Bound(o => o.email);

            columns.Bound(o => o.dateCreated);

            columns.Bound(o => o.sortOrder);

            columns.Bound(o => o.active);

            columns.Template(s => Html.ActionLink("Edit", "Edit", new { s.id })).Title("Edit");
            columns.Template(s => Html.ActionLink("Details", "Details", new { s.id })).Title("Details");
            columns.Template(s => Html.ActionLink("Delete", "Delete", new { s.id })).Title("Delete");
        })
        .Pageable()
        .Sortable()
)

<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery-ui-1.9.2.js"></script>
<script type="text/javascript">

    function OpenManualAddModal() {
        jQuery.noConflict();
        $("#popup").dialog({
            autoOpen: true,
            modal: true,
            height: 650,
            width: 500,
            open: function () {

                $("#modal").attr("src", url);
            }
        });
    }
</script>

@*
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.enterprise1.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.groupCollection1.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sortOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.enterprise1.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.groupCollection1.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.state)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sortOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.active)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
*@