@inherits System.Web.Mvc.WebViewPage<IEnumerable<Generic.pr_getPPTQTeamRacixByPPTQ_Grid_Result>>
@using System.Web.Mvc.Html
@using Generic.Helpers
@using Telerik.Web.Mvc.UI;
@{
	Layout = LayoutHelper.GetLayout();
	ViewBag.Title = "Result";
}

<style>
	div#PartnerGrid {
		font-size: 11px;
	}

	#modal {
		height: 489px;
	}

	.ui-dialog {
		width: 99% !important;
		left: 0;
	}

	.modal-dialog {
		z-index: 1050;
	}

	#partnersDocGrid {
		font-size: 11px;
	}

		#partnersDocGrid .t-header {
			padding: .8em .8em !important;
		}
</style>
<style>
	.t-grid-content {
		overflow-x: scroll !important;
	}

		.t-grid-content tr > td:hover .menu_block + .display_menu {
			display: block !important;
		}

	.display_menu {
		left: 65px;
		overflow: visible;
		position: absolute;
		top: -5px;
		background: #fff;
		border: 1px solid #ddd;
		z-index: 100;
	}

	.t-grid-content tr > td {
		overflow: visible !important;
		position: relative;
	}

	.display_menu > ul {
		padding: 0 16px;
	}

	.display_menu li {
		list-style: none outside none;
		width: 143px;
	}

	#madalEmailForm .table td[colspan='5'] {
		text-align: center;
	}
</style>





@( Html.Telerik().Grid(Model).Name("PartnerGrid")
		.Columns(columns =>
		{
			columns.Bound(o => o.sectionDesc).Title("Section").Width(400).Encoded(false).Template(@<text>

				@{
					var columnData = item.sectionDesc;
					var width = 70;
					var visibleText = string.Empty;
					if (columnData != null)
					{
						visibleText = columnData.Length > width ? @columnData.Substring(0, width) + "..." : columnData;
					}
					<p title="@columnData">@visibleText</p>
				}


			</text>);
			columns.Bound(o => o.questionDesc).Title("Question").Width(400).Template(@<text>

		@{
			var columnData = item.questionDesc;
			var width = 60;
			var visibleText = string.Empty;
			if (columnData != null)
			{
				visibleText = columnData.Length > width ? @columnData.Substring(0, width) + "..." : columnData;
			}
			<p title="@columnData">@visibleText</p>
		}


			</text>);
			columns.Bound(o => o.Responsible_Edit_).Title("Responsible(Edit)").Width(150).Encoded(false).Template(@<text>
		<a href='#' class="menu_block" title="@item.Responsible_Edit_">@item.Responsible_Edit_</a>

		<div class="display_menu" style="display: none;">
			<ul>
				<li ><a href="#">Edit/Correct</a></li>
				<li><a href="#">Remove</a></li>
				<li><a href="#">Add</a></li>
				<li><a href="#">Add new</a></li>				
			</ul>
		</div>

			</text>);

			columns.Bound(o => o.Accountable_Approve_).Title("Accountable(Approve)").Width(150).Encoded(false).Template(@<text>
		<a href='#' class="menu_block" title="@item.Accountable_Approve_">@item.Accountable_Approve_</a>

		<div class="display_menu" style="display: none;">
			<ul>
				<li><a href="#">Edit/Correct</a></li>
				<li><a href="#">Remove</a></li>
				<li><a href="#">Add</a></li>
				<li><a href="#">Add new</a></li>
			</ul>
		</div>

			</text>);
			columns.Bound(o => o.Consulted__Approval_Alerts_).Title("Consulted (Approval Alerts)").Width(190).Encoded(false).Template(@<text>
		<a href='#' class="menu_block" title="@item.Consulted__Approval_Alerts_">@item.Consulted__Approval_Alerts_</a>

		<div class="display_menu" style="display: none;">
			<ul>
				<li><a href="#">Edit/Correct</a></li>
				<li><a href="#">Remove</a></li>
				<li><a href="#">Add</a></li>
				<li><a href="#">Add new</a></li>
			</ul>
		</div>

			</text>);
			columns.Bound(o => o.Informed__All_Alerts_).Title("Informed (All Alerts)").Width(150).Encoded(false).Template(@<text>
		<a href='#' class="menu_block" title="@item.Informed__All_Alerts_">@item.Informed__All_Alerts_</a>

		<div class="display_menu" style="display: none;">
			<ul>
				<li><a href="#">Edit/Correct</a></li>
				<li><a href="#">Remove</a></li>
				<li><a href="#">Add</a></li>
				<li><a href="#">Add new</a></li>
			</ul>
		</div>

			</text>);
			columns.Bound(o => o.eXcluded).Title("Excluded").Width(100).Encoded(false).Template(@<text>
		<a href='#' class="menu_block" title="@item.eXcluded">@item.eXcluded</a>

		<div class="display_menu" style="display: none;">
			<ul>
				<li><a href="#">Edit/Correct</a></li>
				<li><a href="#">Remove</a></li>
				<li><a href="#">Add</a></li>
				<li><a href="#">Add new</a></li>
			</ul>
		</div>

			</text>);


		})
		//.DataKeys(keys => keys.Add(o => o.timestamp))
						.Pageable(pager => pager.PageSize(10).Total(200).Enabled(true))
						.Sortable(sorting => sorting.Enabled(true))

							.Scrollable(scrolling => scrolling
							.Enabled(true)
							.Height(480))
						.HtmlAttributes(new { @class = "ra" })



)