@inherits System.Web.Mvc.WebViewPage<Generic.domain>
@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using Generic.Helpers;
@using Telerik.Web.Mvc.UI;
@using System.Web.Optimization;

@{
    Layout = LayoutHelper.GetPopupLayout();
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>domain</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>

       

        

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
