

@inherits System.Web.Mvc.WebViewPage<Generic.domain>
@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using Generic.Helpers;
@using Telerik.Web.Mvc.UI;
@using System.Web.Optimization;


@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>domain</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.sortOrder)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sortOrder)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.active)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.active)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
