@inherits System.Web.Mvc.WebViewPage<Generic.Models.LCEModel>
@using System.Web.Mvc.Html
@using Generic.Helpers
@using Telerik.Web.Mvc.UI;

@{
	#region My
	Layout = LayoutHelper.GetLayout();
	ViewBag.Title = "LC & E Checklist";
	#endregion
}
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>

<script type="text/javascript">
    function onUpload(e) {
        // Array with information about the uploaded files
        var files = e.files;

        // Check the extension of each file and abort the upload if it is not .jpg
        $.each(files, function () {
            if (this.extension != ".xlsx") {
                alert("Only .xlsx files can be uploaded")
                e.preventDefault();
                return false;
            }
        });
    }

    var timerId = null;
    function submitform1()
    {

        $.fancybox({
            'content': $('#send-email-progress').html(),
            closeBtn: false,
            closeClick: false,
            modal: true,
            type: 'html',
            minWidth: 400,
            minHeight: 60
        });

        var progressbar = $(".fancybox-inner #progressbar"),
            progressLabel = $(".fancybox-inner .progress-label");

        progressbar.progressbar({
            value: false,
            change: function () {

            },
            complete: function () {
                progressLabel.text("Complete!");
            }
        });
    }

    $(document).ready(function () {

        $('#rootMenu').parent().hide();
        CKEDITOR.replace('Comments');

        @if (ViewBag.Accesscode!=null) {
            <text>
                alertify.set({
                    labels: {
                    ok: "Ok", cancel: "Close"
				}
        });


                alertify.confirm("Congralutions, you just loaded @ViewBag.Count CFDB records", function (e) {
				if (e) {
					// Click no
		
			} else {
			// click yes

		}
	});
            </text>
        }



		if ("@ViewBag.Message" == "1") {
			debugger;
			alertify.set({
				labels: {
					ok: "Invite Now", cancel: "Cancel"
				}
			});
			alertify.confirm("", function (e) {
				if (e) {
					// Click no
					$.ajax({
						url: "@Url.Content("~/partner/InvitePartners")",
						type: "post",
					success: function (data) {

						alertify.set({
							labels: {
								ok: "ok", cancel: "cancel"
							}
						});

						//dataClear();
						alertify.alert(data.Data.message);
						$('#alertify-ok').text('OK');
						var len = data.EventNotification.length;
						$('#btnInviteList').show();
						if (len == 0) {
							alertify.alert("Please wait, data processing");
							$('#alertify-ok').text('OK');
						} else {

							var events = "<table><tr><td>Email</td><td>Loadgroup</td><td>Accesscode</td><td>Event</td><td>Reason</td><td>Protocol Touchpoint</td><td>Date</td></tr>";
							for (i = 0; i < len; i++)
								events += "<tr><td>" + data.EventNotification[i].email + "</td><td>" + data.EventNotification[i].loadgroup + "</td><td>" + data.EventNotification[i].accesscode + "</td><td>" + data.EventNotification[i].event + "</td><td>" + data.EventNotification[i].reason + "</td><td>" + data.EventNotification[i].protocolTouchpoint + "</td><td>" + data.EventNotification[i].timestamp + "</td></tr>";


							$('#DivEventNotification').html(events);
						}

					},
					error: function (data) {

					}
				});
			} else {
			// click yes

		}
	});
	}
	if ("@ViewBag.Message" == "2") {

		alertify.alert('@ViewBag.MessageDetail');
		dataClear();
	}
	if ("@ViewBag.Message" == "error") {

		alertify.alert('@ViewBag.MessageDetail');
		dataClear();
	}
		$("#btnClear").click(function (e) {
			alertify.confirm("Are you sure?", function (result) {
				if (result) {
					$("#addPartner input[type=text], #addPartner textarea").val("");
					$("#addPartner textarea").text("");
				}
			});

		});
	});

</script>
<style type="text/css">


    .t-upload-button {
        margin-top: 5px;
        float: left;
    }

    .threecol, twocol {
        width: 100%;
        display: inline-block;
    }

	.twocol .editor-label {
		width: 15%;
		display: inline-block;
		font-size: 11px;
	}

	.twocol .editor-field {
		width: 30%;
		display: inline-block;
	}

        .twocol .editor-field.x70 {
            width: 70%;
        }

        .threecol .editor-label {
		width: 10%;
		display: inline-block;
		font-size: 11px;
	}

	.threecol .editor-field {
		width: 20%;
		display: inline-block;
	}

		.threecol .editor-field label, .threecol .editor-field input, .threecol .editor-field select, .twocol .editor-field input, .twocol .editor-field select {
			width: 90%;
			display: inline-block;
			font-size: 11px;
		}

	.txtClass {
		border-radius: 5px;
		border-color: rgb(169, 169, 169);
	}

	.ddlClass {
		height: 25px;
		width: 96% !important;
		border-radius: 5px;
	}

	#DueDate {
		border-radius: 5px;
		height: 18px;
	}


	.btn {
		background: #3498db;
		background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
		background-image: -moz-linear-gradient(top, #3498db, #2980b9);
		background-image: -ms-linear-gradient(top, #3498db, #2980b9);
		background-image: -o-linear-gradient(top, #3498db, #2980b9);
		background-image: linear-gradient(to bottom, #3498db, #2980b9);
		-webkit-border-radius: 12;
		-moz-border-radius: 12;
		border-radius: 28px;
		font-family: Arial;
		color: #ffffff;
		font-size: 20px;
		padding: 3px 20px 5px 20px !important;
		text-decoration: none;
	}

		.btn:hover {
			background: #3cb0fd;
			background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
			background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
			background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
			background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
			background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
			text-decoration: none;
		}
</style>


<div id="send-email-progress" style="display:none;">
    <div style="padding: 10px 20px;">
        <div id="progressbar"><div class="progress-label">Uploading...</div></div>
    </div>
</div>

<div class="addPartnerDiv">
	<h2>Create LC &amp; E Checklist</h2>
</div>
@using (Html.BeginForm("Create", "LCE",
   null,
    FormMethod.Post, new { enctype = "multipart/form-data", onsubmit="submitform1();", id="lce_form" }))
{
	@Html.ValidationSummary(true)
    Html.EnableClientValidation();

	<fieldset>
		<legend>Create LC&amp;E Checklist Form</legend>
		<div id="addPartner" class="addPartnerDiv">
			<div class="twocol">
				<!-- #region Name-->
				<div class="editor-label">
					@Html.LabelFor(o => o.ProgramName)
				</div>
				<div class="editor-field">
					@Html.TextBoxFor(model => model.ProgramName, new { @class = "txtClass" })
					@Html.ValidationMessageFor(model => model.ProgramName)
				</div>
				<div class="editor-label">
					@Html.LabelFor(o => o.Designation)
				</div>
				<div class="editor-field">
					@Html.TextBoxFor(model => model.Designation, new { @class = "txtClass" })
					@Html.ValidationMessageFor(model => model.Designation)
				</div>
               
                <div class="editor-label">
                    @Html.LabelFor(o => o.Owner)
                </div>
                <div class="editor-field">
                    @Html.DropDownList("Owner", null, String.Empty, new { @class = "ddlClass", @data_val = "true", @data_val_required = " " })
                    @Html.ValidationMessageFor(model => model.Owner)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(o => o.partnertype)
                </div>
                <div class="editor-field">
                    @Html.DropDownList("partnertype", null, String.Empty, new { @class = "ddlClass", @data_val = "true", @data_val_required = " " })
                    @Html.ValidationMessageFor(model => model.partnertype)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(o => o.Region)
                </div>
                <div class="editor-field">
                    @Html.DropDownList("Region", null, String.Empty, new { @class = "ddlClass", @data_val = "true", @data_val_required = " " })
                    @Html.ValidationMessageFor(model => model.Region)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(o => o.IsChinaInvolved)
                </div>
                <div class="editor-field">
                    @Html.DropDownList("IsChinaInvolved", null, String.Empty, new { @class = "ddlClass", @data_val = "true", @data_val_required = " " })
                    @Html.ValidationMessageFor(model => model.IsChinaInvolved)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(o => o.From)
                </div>
                <div class="editor-field">
                    @Html.DropDownList("From", null, String.Empty, new { @class = "ddlClass", @data_val = "true", @data_val_required = " " })
                    @Html.ValidationMessageFor(model => model.From)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(o => o.To)
                </div>
                <div class="editor-field">
                    @Html.DropDownList("To", null, String.Empty, new { @class = "ddlClass", @data_val = "true", @data_val_required = " " })
                    @Html.ValidationMessageFor(model => model.To)
                </div>

                <div>
                    <br/>
                    <br />
                    <textarea id="Comments" name="Comments"></textarea>
                 </div>




                <div class="editor-label">
                    @Html.LabelFor(o => o.FileScope)
                </div>
                <div class="editor-field x70">
                    @(Html.Telerik().Upload().Name("FileScope").Multiple(false).ClientEvents(events => events.OnSelect("onUpload")))
                    @Html.ValidationMessageFor(model => model.FileScope)
                </div>

                <div class="editor-label">
                  @Html.LabelFor(o => o.File)
                </div>
                <div class="editor-field x70">  
                    @(Html.Telerik().Upload().Name("File").Multiple(false).ClientEvents(events => events.OnSelect("onUpload")))
                    @Html.ValidationMessageFor(model => model.File)
                </div>
				
				<div class="editor-label">
					@Html.LabelFor(o => o.Duedate)
				</div>
				<div class="editor-field">
					@Html.Telerik().DatePickerFor(model => model.Duedate).InputHtmlAttributes(new { @class = "txtClass" })
					@Html.ValidationMessageFor(model => model.Duedate)
				</div>
			</div>

			<p style="float: right; width: 20%;">
				<input type="submit" value="Save" class="btn" />
				<input type="button" value="Clear" class="btn" id="btnClear" />
			</p>
		</div>
		<p><input type="submit" name="button" id="btnInviteList" style="display:none" value="View sent invites" /></p>
		<div id="DivEventNotification">

		</div>
	</fieldset>
}

@section header{
    <script src="//cdn.ckeditor.com/4.7.2/standard/ckeditor.js"></script>
    <link href="http://lab.jakiestfu.com/contextjs/context.bootstrap.css" rel="stylesheet" />
}




@*

@section scripts{
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}

*@