@inherits System.Web.Mvc.WebViewPage<Generic.Models.LCEModel>
@using System.Web.Mvc.Html
@using Generic.Helpers
@using Telerik.Web.Mvc.UI;

@{
    #region My
    Layout = LayoutHelper.GetLayout();
    ViewBag.Title = "LC & E Checklist";
    #endregion
}
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>

<script type="text/javascript">
    function onUpload(e) {
        // Array with information about the uploaded files
        var files = e.files;

        // Check the extension of each file and abort the upload if it is not .jpg
        $.each(files, function () {
            if (this.extension != ".xlsx") {
                alert("Only .xlsx files can be uploaded")
                e.preventDefault();
                return false;
            }
        });
    }

    var timerId = null;
    function submitform1()
    {

        $.fancybox({
            'content': $('#send-email-progress').html(),
            closeBtn: false,
            closeClick: false,
            modal: true,
            type: 'html',
            minWidth: 400,
            minHeight: 60
        });

        var progressbar = $(".fancybox-inner #progressbar"),
            progressLabel = $(".fancybox-inner .progress-label");

        progressbar.progressbar({
            value: false,
            change: function () {

            },
            complete: function () {
                progressLabel.text("Complete!");
            }
        });
    }

    $(document).ready(function () {

        $('#partnertype').change(function () {
            $.get('@Url.Content("~/lce/GetRegions")' + '?id=' + $('#partnertype').val(), function (data) {
                $('#Region')
                    .find('option')
                    .remove();

                $.each(data, function (key, value) {
                    $('#Region')
                        .append($("<option></option>")
                            .attr("value", value.id)
                            .text(value.description));
                });

            });
        })


        $('#rootMenu').parent().hide();
        CKEDITOR.replace('Comments');

        @if (ViewBag.Accesscode!=null) {
            <text>
                alertify.set({
                    labels: {
                    ok: "Ok", cancel: "Close"
				}
        });


                alertify.confirm("Congralutions, you just loaded @ViewBag.Count CFDB records", function (e) {
				if (e) {
					// Click no

			} else {
			// click yes

		}
	});
            </text>
        }



		if ("@ViewBag.Message" == "1") {
			debugger;
			alertify.set({
				labels: {
					ok: "Invite Now", cancel: "Cancel"
				}
			});
			alertify.confirm("", function (e) {
				if (e) {
					// Click no
					$.ajax({
						url: "@Url.Content("~/partner/InvitePartners")",
						type: "post",
					success: function (data) {

						alertify.set({
							labels: {
								ok: "ok", cancel: "cancel"
							}
						});

						//dataClear();
						alertify.alert(data.Data.message);
						$('#alertify-ok').text('OK');
						var len = data.EventNotification.length;
						$('#btnInviteList').show();
						if (len == 0) {
							alertify.alert("Please wait, data processing");
							$('#alertify-ok').text('OK');
						} else {

							var events = "<table><tr><td>Email</td><td>Loadgroup</td><td>Accesscode</td><td>Event</td><td>Reason</td><td>Protocol Touchpoint</td><td>Date</td></tr>";
							for (i = 0; i < len; i++)
								events += "<tr><td>" + data.EventNotification[i].email + "</td><td>" + data.EventNotification[i].loadgroup + "</td><td>" + data.EventNotification[i].accesscode + "</td><td>" + data.EventNotification[i].event + "</td><td>" + data.EventNotification[i].reason + "</td><td>" + data.EventNotification[i].protocolTouchpoint + "</td><td>" + data.EventNotification[i].timestamp + "</td></tr>";


							$('#DivEventNotification').html(events);
						}

					},
					error: function (data) {

					}
				});
			} else {
			// click yes

		}
	});
	}
	if ("@ViewBag.Message" == "2") {

		alertify.alert('@ViewBag.MessageDetail');
		dataClear();
	}
	if ("@ViewBag.Message" == "error") {

		alertify.alert('@ViewBag.MessageDetail');
		dataClear();
	}
		$("#btnClear").click(function (e) {
			alertify.confirm("Are you sure?", function (result) {
				if (result) {
					$("#addPartner input[type=text], #addPartner textarea").val("");
					$("#addPartner textarea").text("");
				}
			});

		});
	});

</script>
<style type="text/css">
    .t-upload-button {
        margin-top: 5px;
        float: left;
    }


    .btn {
        background: #3498db;
        background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
        background-image: -moz-linear-gradient(top, #3498db, #2980b9);
        background-image: -ms-linear-gradient(top, #3498db, #2980b9);
        background-image: -o-linear-gradient(top, #3498db, #2980b9);
        background-image: linear-gradient(to bottom, #3498db, #2980b9);
        -webkit-border-radius: 12;
        -moz-border-radius: 12;
        border-radius: 28px;
        font-family: Arial;
        color: #ffffff;
        font-size: 20px;
        padding: 3px 20px 5px 20px !important;
        text-decoration: none;
    }

        .btn:hover {
            background: #3cb0fd;
            background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
            background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
            background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
            background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
            background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
            text-decoration: none;
        }

    .control-label {
        font-size: 11px;
        font-family: "Segoe UI",Arial,sans-serif;
        font-weight: normal;
        padding: 5px;
    }

    .form-control {
        font-size: 11px;
        height: 27px;
        padding: 5px;
    }

    .field-validation-error {
        display:none;
    }

    .download-temp {
        background-image: url('../../Content/template - download.png');
        display: block;
        margin: 5px;
        text-indent: -9999px;
        width: 24px;
        height: 24px;
        background-size:cover;
    }
</style>


<div id="send-email-progress" style="display:none;">
    <div style="padding: 10px 20px;">
        <div id="progressbar"><div class="progress-label">Uploading...</div></div>
    </div>
</div>

<div class="addPartnerDiv">
    <h2>Create LC &amp; E Checklist</h2>
</div>
@using (Html.BeginForm("Create", "LCE",
                                                               null,
                                                                FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "submitform1();", id = "lce_form" }))
{
    @Html.ValidationSummary(true)
    Html.EnableClientValidation();

    <fieldset>
        <legend>Create LC&amp;E Checklist Form</legend>
        <div id="addPartner" class="addPartnerDiv">
            <div class="twocol">
                <!-- #region Name-->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(o => o.ProgramName, new { @class = "control-label col-sm-3" })
                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.ProgramName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ProgramName)
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(o => o.Designation, new { @class = "control-label col-sm-3" })
                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.Designation, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Designation)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(o => o.Owner, new { @class = "control-label col-sm-3" })
                            <div class="col-sm-9">
                                @Html.DropDownList("Owner", null, String.Empty, new { @class = "form-control", @data_val = "true", @data_val_required = " " })
                                @Html.ValidationMessageFor(model => model.Owner)
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(o => o.partnertype, new { @class = "control-label col-sm-3" })
                            <div class="col-sm-9">
                                @Html.DropDownList("partnertype", null, String.Empty, new { @class = "form-control", @data_val = "true", @data_val_required = " " })
                                @Html.ValidationMessageFor(model => model.partnertype)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(o => o.Region, new { @class = "control-label col-sm-3" })
                            <div class="col-sm-9">
                                @Html.DropDownList("Region", null, String.Empty, new { @class = "form-control", @data_val = "true", @data_val_required = " " })
                                @Html.ValidationMessageFor(model => model.Region)
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(o => o.IsTransaction, new { @class = "control-label col-sm-3" })
                            <div class="col-sm-3">
                                @Html.DropDownList("IsTransaction", null, String.Empty, new { @class = "form-control", @data_val = "true", @data_val_required = " " })
                                @Html.ValidationMessageFor(model => model.IsTransaction)
                            </div>

                            @Html.LabelFor(o => o.IsChinaInvolved, new { @class = "control-label col-sm-3" })
                            <div class="col-sm-3">
                                @Html.DropDownList("IsChinaInvolved", null, String.Empty, new { @class = "form-control", @data_val = "true", @data_val_required = " " })
                                @Html.ValidationMessageFor(model => model.IsChinaInvolved)
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(o => o.From, new { @class = "control-label col-sm-3" })
                            <div class="col-sm-9">
                                @Html.DropDownList("From", null, String.Empty, new { @class = "form-control", @data_val = "true", @data_val_required = " " })
                                @Html.ValidationMessageFor(model => model.From)
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(o => o.To, new { @class = "control-label col-sm-3" })
                            <div class="col-sm-9">
                                @Html.DropDownList("To", null, String.Empty, new { @class = "form-control", @data_val = "true", @data_val_required = " " })
                                @Html.ValidationMessageFor(model => model.To)
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-12">
                        <br />
                        <p>Please provide a general description of the project. This will be used to inform other team members about the prject scope, overview, etc.</p>
                        <textarea id="Comments" name="Comments"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-9">
                        <div class="form-group">
                            @Html.LabelFor(o => o.FileScope, new { @class = "control-label col-sm-3" })
                            <div class="col-sm-8">
                                @(Html.Telerik().Upload().Name("FileScope").Multiple(false).ClientEvents(events => events.OnSelect("onUpload")))
                                @Html.ValidationMessageFor(model => model.FileScope)
                            </div>
                            <div class="col-sm-1">
                                <a href="https://intelleges.com/MVCMT/Generic/UploadTemplates/LCE_Scope_Template.xlsx" class="download-temp"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9">
                        <div class="form-group">
                            @Html.LabelFor(o => o.File, new { @class = "control-label col-sm-3" })
                            <div class="col-sm-8">
                                @(Html.Telerik().Upload().Name("File").Multiple(false).ClientEvents(events => events.OnSelect("onUpload")))
                                @Html.ValidationMessageFor(model => model.File)
                            </div>
                            <div class="col-sm-1">
                                <a href="https://intelleges.com/MVCMT/Generic/UploadTemplates/CFDB_Template.xlsx" class="download-temp"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            @Html.LabelFor(o => o.Duedate, new { @class = "control-label col-sm-3" })
                            <div class="col-sm-9">
                                @Html.Telerik().DatePickerFor(model => model.Duedate).InputHtmlAttributes(new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Duedate)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <br/>
                    <br />
                    <div style="float: right; width: 20%;">
                        <input type="submit" value="Save" class="btn" />
                        <input type="button" value="Clear" class="btn" id="btnClear" />
                    </div>
                </div>
            </div>
        </div>
        <p><input type="submit" name="button" id="btnInviteList" style="display:none" value="View sent invites" /></p>
        <div id="DivEventNotification">

        </div>
    </fieldset>
}

@section header{

    <script src="//cdn.ckeditor.com/4.7.2/standard/ckeditor.js"></script>
    <link href="http://lab.jakiestfu.com/contextjs/context.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
}




@*

    @section scripts{
        @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
    }

*@