@inherits System.Web.Mvc.WebViewPage<Generic.person>
@using System.Web.Mvc.Html
@using Generic.Helpers
@{
    Layout = LayoutHelper.GetPopupLayout();
    ViewBag.Title = ViewBag.Project + "Admin";
}

<script type="text/javascript">


    $(document).ready(function () {
        //$('.cancelPopup').click(function () {
        //    window.parent.$('#popup').dialog('close');
        //    return false;
        //});
    });

</script>


<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>person</legend>
        
          <div style="width: 48%; float: left">
     
              
                 <div class="editor-label">
            @Html.LabelFor(model => model.manager)
        </div>
        <div class="editor-field">
           
          
             @Html.DropDownList("manager", String.Empty)
            @Html.ValidationMessageFor(model => model.manager)
        </div>       

        <div class="editor-label">
            @Html.LabelFor(model => model.campaign)
        </div>
        <div class="editor-field">
            @Html.DropDownList("campaign", String.Empty)
           
            @Html.ValidationMessageFor(model => model.campaign)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.internalId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.internalId)
            @Html.ValidationMessageFor(model => model.internalId)
        </div>

      
        <div class="editor-label">
            @Html.LabelFor(model => model.firstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.firstName)
            @Html.ValidationMessageFor(model => model.firstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.lastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.lastName)
            @Html.ValidationMessageFor(model => model.lastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.title)
            @Html.ValidationMessageFor(model => model.title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.suffix)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.suffix)
            @Html.ValidationMessageFor(model => model.suffix)
        </div>

       

        

       

      

      

       

        <p>
            <input type="submit" value="Create" />
             <input type="button" class="cancelPopup" value="Cancel" />
        </p>
              </div>

          <div style="width: 48%; float: left">
 <div class="editor-label">
            @Html.LabelFor(model => model.address1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.address1)
            @Html.ValidationMessageFor(model => model.address1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.address2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.address2)
            @Html.ValidationMessageFor(model => model.address2)
        </div>
                <div class="editor-label">
            @Html.LabelFor(model => model.city)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.city)
            @Html.ValidationMessageFor(model => model.city)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.state)
        </div>
        <div class="editor-field">
          @Html.DropDownList("state", String.Empty)
            @Html.ValidationMessageFor(model => model.state)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.zipcode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.zipcode)
            @Html.ValidationMessageFor(model => model.zipcode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.country)
        </div>
        <div class="editor-field">
            @Html.DropDownList("country", String.Empty)
            @Html.ValidationMessageFor(model => model.country)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.phone)
            @Html.ValidationMessageFor(model => model.phone)
        </div>
<div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>
              </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
