@inherits System.Web.Mvc.WebViewPage<Generic.person>
@using System.Web.Mvc.Html
@using Generic.Helpers
@using Telerik.Web.Mvc.UI;

@{
    Layout = LayoutHelper.GetLayout();
    ViewBag.Title = ViewBag.Project + "Admin";
}

<script type="text/javascript">
    function clearForm() {
        $("#firstName").val("");
        $("#lastName").val("");
        $("#suffix").val("");
        $("#internalId").val("");
        $("#title").val("");
        $("#email").val("");
        $("#address1").val("");
        $("#address2").val("");
        $("#city").val("");
        $("#zipcode").val("");
        $("#phone").val("");
        $("#state").val("0");
        $("#country").val("0");
        $("#manager").val("0");
        $("#campaign").val("0");
        $("#RoleId").val("0");
        $("#GroupId").val("0");
    }
    function submitTestForm() {
        $("#firstName").val("FirstName -Test");
        $("#lastName").val("Lastname - test");
        $("#suffix").val("");
        $("#internalId").val(Math.floor(Math.random() * 1000000).toString());
        $("#title").val("User");
        $("#email").val($("#hdfLoginEMail").val());
        $("#address1").val("address 1 - test");
        $("#address2").val("address 2 - test");
        $("#city").val("city -test");
        $("#state").prop("selectedIndex", 1);
        $("#zipcode").val("123456");
        $("#country").prop("selectedIndex", 1);
        $("#phone").val("1234567890");
        $("#manager").prop("selectedIndex", 1);
        $("#campaign").prop("selectedIndex", 1);
        $("#RoleId").prop("selectedIndex", 20).trigger("change");
        $("#GroupId").prop("selectedIndex", 1).trigger("change");
    }
    jQuery(document).ready(function ($) {
        //$('.cancelPopup').click(function () {
        //    window.parent.$('#popup').dialog('close');
        //    return false;
        //});

        @if (ViewBag.MaxDone == true) {
            <text>
          alertify.alert('You can not add additional users at this time. Please contact your administrator.');
                </text>
        }


        $("#btnClear").click(function (e) {
            // debugger;
            //alert("Clear Button Click");
            clearForm();

        });

        if ('@ViewBag.isAlert' == '1') {
            if ('@ViewBag.success' == '1')
                clearForm();
            alertify.alert('@ViewBag.message');
        }


        $("form").submit(function () {
            return validateControl();

        });

        function validateEmail(email) {
            var re = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }
        function validateControl() {

              @if (ViewBag.MaxDone == true) {
            <text>
            alertify.alert('You can not add additional users at this time. Please contact your administrator.');
            return false;
                </text>
        }


            if ($("#firstName").val() == "") {
                alertify.alert("First name is required");
                return false;
            }
            if ($("#lastName").val() == "") {
                alertify.alert("Last name is required");
                return false;
            }

            if ($("#internalId").val() == "") {
                alertify.alert("InternalId is required");
                return false;
            }
            if (!validateEmail($("#email").val())) {
                alertify.alert("Please enter Valid Email Address.");
                return false;
            }
            if ($("#email").val() == "") {
                alertify.alert("Email is required");
                return false;
            }
            if ($("#phone").val() == "") {
                alertify.alert("phone is required");
                return false;
            }
            @if (!(ViewBag.enterpriseId is int))
            {
                <text>
            if ($("#manager").val() == "") {
                alertify.alert("Manager is required");
                return false;

            }
            if ($("#campaign").val() == "") {
                alertify.alert("campaign is required");
                return false;
            }
            if ($("#GroupId").val() == "") {
                alertify.alert("group is required");
                return false;
            }
            </text>
            }

            if ($("#RoleId").val() == "") {
                alertify.alert("role is required");
                return false;
            }

        }
        $("#sub-menu").hide();

    });



    function doSomething() {
        alertify.alert('This part is Under Constrution');
    }
</script>

<style type="text/css">
    .threecol, twocol {
        width: 100%;
        display: inline-block;
    }

    .twocol .editor-label {
        width: 10%;
        display: inline-block;
        font-size: 11px;
    }

    .twocol .editor-field {
        width: 35%;
        display: inline-block;
    }

    .threecol .editor-label {
        width: 10%;
        display: inline-block;
        font-size: 11px;
    }

    .threecol .editor-field {
        width: 20%;
        display: inline-block;
    }

        .threecol .editor-field label, .threecol .editor-field input, .threecol .editor-field select, .twocol .editor-field input, .twocol .editor-field select {
            width: 90%;
            display: inline-block;
            font-size: 11px;
        }

    .txtClass {
        border-radius: 5px;
    }

    .ddlClass {
        height: 25px;
        width: 96% !important;
        border-radius: 5px;
    }

    #DueDate {
        border-radius: 5px;
        height: 18px;
    }


    .btn {
        background: #3498db;
        background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
        background-image: -moz-linear-gradient(top, #3498db, #2980b9);
        background-image: -ms-linear-gradient(top, #3498db, #2980b9);
        background-image: -o-linear-gradient(top, #3498db, #2980b9);
        background-image: linear-gradient(to bottom, #3498db, #2980b9);
        -webkit-border-radius: 12;
        -moz-border-radius: 12;
        border-radius: 28px;
        font-family: Arial;
        color: #ffffff;
        font-size: 20px;
        padding: 3px 20px 5px 20px !important;
        text-decoration: none;
    }

        .btn:hover {
            background: #3cb0fd;
            background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
            background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
            background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
            background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
            background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
            text-decoration: none;
        }
</style>
<div class="addPersondiv">
    <h2>Create Person</h2>
</div>
<input type="hidden" value="@ViewBag.LoggedInOwner" id="hdfLoginEMail" />

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>person</legend>
        @if (ViewBag.enterpriseId is int)
        {
            <div class="editor-label">
                <label for="enterprise">Enterprise</label>
            </div>
            <div class="editor-field">
                @Html.DropDownList("enterprise", string.Empty)
                @Html.ValidationMessageFor(model => model.enterprise)
            </div>
        }

        <div id="addPerson" class="addPersonDiv">
            <div class="threecol">
                @* @Html.HiddenFor(model => model.id)*@
                <input type="hidden" name="id" value="0" />
                <div class="editor-label">
                    @Html.Label("First name")
                    @*@Html.LabelFor(model => model.firstName)*@
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.firstName, new { @class = "txtClass" })
                    @Html.ValidationMessageFor(model => model.firstName)
                </div>

                <div class="editor-label">
                    @Html.Label("Last name")
                    @*@Html.LabelFor(model => model.lastName)*@
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.lastName, new { @class = "txtClass" })
                    @Html.ValidationMessageFor(model => model.lastName)
                </div>

                <div class="editor-label">
                    @Html.Label("Suffix")
                    @*@Html.LabelFor(model => model.suffix)*@
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.suffix, new { @class = "txtClass" })
                    @Html.ValidationMessageFor(model => model.suffix)
                </div>

            </div>
            <div class="threecol">
                <div class="editor-label">
                    @Html.Label("Internal ID")
                    @*@Html.LabelFor(model => model.internalId)*@
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.internalId, new { @class = "txtClass" })
                    @Html.ValidationMessageFor(model => model.internalId)
                </div>

                <div class="editor-label">
                    @Html.Label("Title")
                    @*@Html.LabelFor(model => model.title)*@
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.title, new { @class = "txtClass" })
                    @Html.ValidationMessageFor(model => model.title)
                </div>

                <div class="editor-label">
                    @Html.Label("Email")
                    @*@Html.LabelFor(model => model.email)*@
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.email, new { @class = "txtClass" })
                    @Html.ValidationMessageFor(model => model.email)
                </div>
            </div>
            <div class="twocol">
                <div class="editor-label">
                    @Html.Label("Address 1")
                    @*@Html.LabelFor(model => model.address1)*@
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.address1, new { @class = "txtClass" })
                    @Html.ValidationMessageFor(model => model.address1)
                </div>

                <div class="editor-label">
                    @Html.Label("Address 2")
                    @*@Html.LabelFor(model => model.address2)*@
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.address2, new { @class = "txtClass" })
                    @Html.ValidationMessageFor(model => model.address2)
                </div>
            </div>

            <div class="threecol">
                <div class="editor-label">
                    @Html.Label("City")
                    @*@Html.LabelFor(model => model.city)*@
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.city, new { @class = "txtClass" })
                    @Html.ValidationMessageFor(model => model.city)
                </div>

                <div class="editor-label">
                    @Html.Label("State")
                    @*@Html.LabelFor(model => model.state)*@
                </div>
                <div class="editor-field">
                    @Html.DropDownList("state", null, String.Empty, new { @class = "ddlClass" })
                    @Html.ValidationMessageFor(model => model.state)
                </div>

                <div class="editor-label">
                    @Html.Label("Zip Code")
                    @*@Html.LabelFor(model => model.zipcode)*@
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.zipcode, new { @class = "txtClass" })
                    @Html.ValidationMessageFor(model => model.zipcode)
                </div>
            </div>
            <div class="twocol">
                <div class="editor-label">
                    @Html.Label("Country")
                    @*@Html.LabelFor(model => model.country)*@
                </div>
                <div class="editor-field">
                    @Html.DropDownList("country", null, String.Empty, new { @class = "ddlClass" })
                    @Html.ValidationMessageFor(model => model.country)
                </div>

                <div class="editor-label">
                    @Html.Label("Phone")
                    @*@Html.LabelFor(model => model.phone)*@
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.phone, new { @class = "txtClass" })
                    @Html.ValidationMessageFor(model => model.phone)
                </div>
            </div>
            @if (!(ViewBag.enterpriseId is int))
            {
                <div class="twocol">
                    <div class="editor-label">
                        @Html.Label("Manager")
                        @*@Html.LabelFor(model => model.manager)*@
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("manager", null, String.Empty, new { @class = "ddlClass" })
                        @Html.ValidationMessageFor(model => model.manager)
                    </div>

                    <div class="editor-label">
                        @Html.Label("Campaign")
                        @*@Html.LabelFor(model => model.campaign)*@
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("campaign", null, String.Empty, new { @class = "ddlClass" })

                        @Html.ValidationMessageFor(model => model.campaign)
                    </div>
                </div>
            }
        </div>
        <div class="twocol" style="margin-top: 10px">
            <div class="editor-label">
                <label for="RoleId">Role</label>
            </div>
            <div class="editor-field">
                @Html.DropDownList("RoleId", null, String.Empty, new { @class = "ddlClass" })
                @Html.ValidationMessageFor(model => model.RoleId)
            </div>
            @if (!(ViewBag.enterpriseId is int))
            {
                <div class="editor-label">
                    <label for="GroupId">Group</label>
                </div>
                <div class="editor-field">
                    @Html.DropDownList("GroupId", null, String.Empty, new { @class = "ddlClass" })

                    @Html.ValidationMessageFor(model => model.GroupId)
                </div>
            }
        </div>
        @* <div class="threecol">
                <div class="editor-label">
                </div>
                <div class="editor-field">
                    <a id="lnkgroup" href="javascript:doSomething();" style="font-size: 1em;">Add Group</a>
                </div>

                <div class="editor-field">
                    <a id="lnkrole" href="javascript:doSomething();" style="font-size: 1em;">Add Role</a>
                </div>
            </div>*@
        <p style="float: right; width: 30%;">
            <input type="submit" value="Save" class="btn" />
            <input type="button" value="Clear" class="btn" id="btnClear" />
            <input type="button" value="Test" class="btn" id="btnTest" onclick="submitTestForm();" />
        </p>
    </fieldset>
}




