@inherits System.Web.Mvc.WebViewPage<Generic.person>
@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using Telerik.Web.Mvc.UI;
@using Telerik.Web.Mvc.UI.Html;
@using Generic.Helpers
@{
    Layout = LayoutHelper.GetPopupLayout();
    ViewBag.Title = ViewBag.Project + "Admin";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Person</legend>


        <div class="editor-label">
            @Html.LabelFor(model => model.internalId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.internalId)
            @Html.ValidationMessageFor(model => model.internalId)
        </div>


        <div class="editor-label">
            First Name
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.firstName)
            @Html.ValidationMessageFor(model => model.firstName)
        </div>

        <div class="editor-label">
            Last Name
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.lastName)
            @Html.ValidationMessageFor(model => model.lastName)
        </div>





        <div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <div class="editor-label">
            Cordinator
        </div>
        <div class="editor-field">
            <input type="text" name="coordinator" data-val="true" data-val-required="Required"  />
                 <br />    <span class="field-validation-valid" data-valmsg-for="coordinator" data-valmsg-replace="true"></span>
        </div>

        <div class="editor-label">
            Cordinator Email
        </div>
        <div class="editor-field">
            <input type="text" name="coordinatorEmail" data-val="true" data-val-required="Required" />
             <br />    <span class="field-validation-valid" data-valmsg-for="coordinatorEmail" data-valmsg-replace="true"></span>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.phone)
            @Html.ValidationMessageFor(model => model.phone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.zipcode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.zipcode)
            @Html.ValidationMessageFor(model => model.zipcode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.country)
        </div>
        <div class="editor-field">
            @(Html.Telerik().ComboBox()
            .Name("country")
            .AutoFill((bool)ViewBag.comboboxCountry.ComboBoxAttributes.AutoFill)
            .BindTo(new SelectList((IEnumerable<Generic.country>)ViewBag.countries, "id", "name", (int)ViewBag.comboboxCountry.ComboBoxAttributes.SelectedIndex))
            .HtmlAttributes(new { style = string.Format("width:{0}px", ViewBag.comboboxCountry.ComboBoxAttributes.Width) })
            .Filterable(filtering =>
            {
                if ((int)ViewBag.comboboxCountry.ComboBoxAttributes.FilterMode != 0)
                {
                    filtering.FilterMode(AutoCompleteFilterMode.StartsWith);
                }
            })
            .HighlightFirstMatch((bool)ViewBag.comboboxCountry.ComboBoxAttributes.HighlightFirst)
    )

        </div>

        <p>
            <input type="submit" style="width: 150px" value="Create" />
            <a href="#">
                <input type="button" style="width: 150px" value="Next" />
            </a>
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
