@inherits System.Web.Mvc.WebViewPage<IEnumerable<Generic.view_PersonData>>
@using System.Web.Mvc.Html
@using Generic.Helpers
@using Telerik.Web.Mvc.UI;
@{
    Layout = LayoutHelper.GetLayout();
    ViewBag.Title = "Person";
}
<script type="text/javascript">
    function formatter(value) {
        return value.substring(0, 10);
    }
</script>

<style>
    div#PersonGrid {
        font-size: 11px;
    }

    #modal {
        height: 489px;
    }

    .ui-dialog {
        width: 99% !important;
        left: 0;
    }

    .t-grid-content tr > td:hover .menu_block + .display_menu {
        display: block !important;
    }

    .display_menu {
        left: 65px;
        overflow: visible;
        position: absolute;
        margin-top: -45px;
        background: #fff;
        border: 1px solid #ddd;
        z-index: 100;
    }

        .display_menu > ul {
            padding: 0 16px;
        }

        .display_menu li {
            list-style: none outside none;
            width: 143px;
        }
</style>

@( Html.Telerik().Grid(Model).Name("PersonGrid")
.ToolBar(commands => commands
                .Custom()
                    .HtmlAttributes(new { id = "export" })
                    .Text("Export to Excel")
                    .Action("ExportExcel", "person"))
        .Columns(columns =>
        {
            columns.Bound(o => o.internalId).Title("Internal ID").Width(100).Encoded(false).Template(@<text>
             @{
                 var columnData = item.internalId;
                      var width = 10;
            var visibleText = string.Empty;
            if(columnData != null)
            {
                visibleText = columnData.Length > width ? @columnData.Substring(0, width) + "..." : columnData;
            }

                <a href='#' id='@item.internalId' class="menu_block" title="@columnData">@visibleText</a>
            }
            <div class="display_menu" style="display: none;">
                <ul>
                    <li><a href="javascript:openEditPopup(@item.id)">Edit/Correct</a></li>
                    <li><a href="javascript:openRemovePopup(@item.id,'@item.internalId','@item.firstName @item.lastName')">Remove</a></li>
                    <li><a href="javascript:openArchivePopup(@item.id,'@item.internalId','@item.firstName @item.lastName')">Archive</a></li>
                    <li><a href="javascript:openViewDetailPopup(@item.id)">View Detail</a></li>
                    @* <li><a href="@item.Expr1" target="_blank">Complete</a></li>*@
                </ul>
            </div>
            </text>);
            columns.Bound(o => o.firstName).Title("firstName").Width(100).Template(@<text>
        @{
            var columnData = item.firstName;
               var width = 12;
            var visibleText = string.Empty;
            if(columnData != null)
            {
                visibleText = columnData.Length > width ? @columnData.Substring(0, width) + "..." : columnData;
            }

            <p title="@columnData">@visibleText</p>

        }
            </text>);
            columns.Bound(o => o.lastName).Title("lastName").Width(100).Template(@<text>
        @{
            var columnData = item.lastName;
              var width = 12;
            var visibleText = string.Empty;
            if(columnData != null)
            {
                visibleText = columnData.Length > width ? @columnData.Substring(0, width) + "..." : columnData;
            }

            <p title="@columnData">@visibleText</p>

        }
            </text>);
            //columns.Bound(o => o.title).Title("Title").Width(100);
            //columns.Bound(o => o.email).Title("Email").Width(100);
            //columns.Bound(o => o.State).Title("State").Width(100);
            columns.Bound(o => o.archivedDate).Format("{0:MM/dd/yyyy}").Title("Last Login").Width(80);
            columns.Bound(o => o.title).Title("Title").Width(150).Template(@<text>
                @{
                    var columnData = item.title;
                      var width = 20;
            var visibleText = string.Empty;
            if(columnData != null)
            {
                visibleText = columnData.Length > width ? @columnData.Substring(0, width) + "..." : columnData;
            }
                   
                    <p title="@columnData">@visibleText</p>
                 
                }            
            </text>);
            columns.Bound(o => o.email).Title("Email").Width(200).Template(@<text>
        
            @{
                var columnData = item.email;
                  var width = 30;
            var visibleText = string.Empty;
            if(columnData != null)
            {
                visibleText = columnData.Length > width ? @columnData.Substring(0, width) + "..." : columnData;
            }
                <p title="@columnData">@visibleText</p>
            }
          
      
            </text>);
            columns.Bound(o => o.Country).Title("Country").Width(100).Template(@<text>

        @{
            var columnData = item.Country;
               var width = 13;
            var visibleText = string.Empty;
            if(columnData != null)
            {
                visibleText = columnData.Length > width ? @columnData.Substring(0, width) + "..." : columnData;
            }
            <p title="@columnData">@visibleText</p>
        }


            </text>);
            columns.Bound(o => o.Default_Touchpoint).Title("Touchpoint").Width(150).Template(@<text>
        @{
            var columnData = item.Default_Touchpoint;
            var width = 20;
            var visibleText = string.Empty;
            if(columnData != null)
            {
                visibleText = columnData.Length > width ? @columnData.Substring(0, width) + "..." : columnData;
            }

            <p title="@columnData">@visibleText</p>

        }
            </text>);
            columns.Bound(o => o.Person_Status).Title("Status").Width(100).Template(@<text>
        @{
            var columnData = item.Person_Status;
            var width = 13;
            var visibleText = string.Empty;
            if(columnData != null)
            {
                visibleText = columnData.Length > width ? @columnData.Substring(0, width) + "..." : columnData;
            }

            <p title="@columnData">@visibleText</p>

        }
            </text>);
            columns.Bound(o => o.Group_Count).Title("Group Count").Width(100);
            columns.Bound(o => o.Role_Count).Title("Role Count").Width(100);
            //columns.Bound(o => o.Role).Title("Role").Width(100);

        })
                            .DataKeys(keys => keys.Add(o => o.internalId))
                            .Pageable(pager => pager.PageSize(13).Total(200).Enabled(true))
                            .Sortable(sorting => sorting.Enabled(true))
                            .Scrollable(scrolling => scrolling
                               .Enabled(true)
                               .Height(380))
                                                       .HtmlAttributes(new { @class = "ra"})




)

<div id="EmailDialog" title="Questionnaire Routing Form">
    <p>Email dialog</p>
</div>

<div id="genericPopup" title=""></div>
<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery-ui-1.9.2.js"></script>
<script type="text/javascript">
    $(function () {
        jQuery.noConflict();
        $("#EmailDialog").dialog({
            autoOpen: false
        });

    });
    function OpenEmailDialog(ac) {
        jQuery.noConflict();

        $.get("/WrongContact/Index", { accessCode: ac }, function (data) {

            $("#EmailDialog").html(data);
            $("#EmailDialog").dialog({
                width: 1200,
                height: 1000,
            });
            $("#EmailDialog").dialog('open');
        });
    }
    $('#popup').bind('dialogclose', function (event) {
        window.location.replace(window.location.href);
    });

    function CloseMe() {
        $("#genericPopup").dialog('close');
        //$(".t-icon .t-refresh").trigger('click');

        window.location.replace(window.location.href);
    }
    function openEditPopup(id) {
        $.get("@Url.Content("~/Person/Edit/")" + id, function (data) {
            $("#genericPopup").html(data);
        });

        $("#genericPopup").dialog({ height: 600, title: "Edit/Correct" });
        $("#genericPopup").dialog('open');
    }

    $('#menu_block').hover(function () {
        alert("call");
        $('#display_menu').show();
    }, function () {
        $('#display_menu').hide();
    })

    $('#menu_block').mouseenter(function () {
        $('#display_menu').show();
    }).mouseleave(function () {

        $('#display_menu').hide();

    });

    function openRemovePopup(id, internalId, name) {



        alertify.set({
            labels: {
                ok: "No",
                cancel: "Yes"
            },
            buttonFocus: "cancel"
        });
        // button labels will be "Accept" and "Deny"
        alertify.confirm("You are about to Remove " + internalId + " : " + name + ". Are you sure you want to do this?", function (e) {
            if (e) {
                // Click no
            } else {
                // click yes

                $.get("@Url.Content("~/Person/Archive/")" + id, function (data) {
                    // $(".t-icon .t-refresh").trigger('click');
                    window.location.replace(window.location.href);
                });

            }
        });


    }


    function openArchivePopup(id, internalId, name) {



        alertify.set({
            labels: {
                ok: "No",
                cancel: "Yes"
            },
            buttonFocus: "cancel"
        });
        // button labels will be "Accept" and "Deny"
        alertify.confirm("You are about to Archive " + internalId + " : " + name + ". Are you sure you want to do this?", function (e) {
            if (e) {
                // Click no
            } else {
                // click yes

                $.get("@Url.Content("~/Person/Archive/")" + id, function (data) {
                    // $(".t-icon .t-refresh").trigger('click');
                    window.location.replace(window.location.href);
                });

            }
        });


    }

    function openViewDetailPopup(id) {
        $("#genericPopup").html("<p>Loading Data...</p>");
        $.get("@Url.Content("~/Person/Details/")" + id, function (data) {
            $("#genericPopup").html(data);
        });
        $("#genericPopup").dialog({ height: 600, title: "View Detail" });
        $("#genericPopup").dialog('open');
    }

    function openCompletePopup(accesscode) {
        $("#genericPopup").html("<p>Loading Data...</p>");
        $.get("@Url.Content("~/Registration?Accesscode=")" + accesscode, function (data) {
            $("#genericPopup").html(data);
        });
        $("#genericPopup").dialog({ height: 600, title: "Complete" });
        $("#genericPopup").dialog('open');
    }


</script>

