<div class="">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="float: left;">
        <tr>
            <td width="20%" align="right">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td valign="top">
                            <ul id="qm0" class="qmmc" style="width: 775px;">
                                <li><a class="qmparent" href=""></a></li>
                                <li><a class="qmparent" href="mailto:@ViewBag.QUESTIONNAIRE_CONTACT_US_EMAIL_LINK" id="contactUS">@ViewBag.CONTACT_US_EMAIL</a></li>
                                <li><a class="qmparent" href="~/Registration/Home/PDFConfirmation" target="_blank">@ViewBag.QUESTIONNAIRE_PDF</a></li>
                                @*<li><a class="qmparent" href="~/Registration/Home/FileDownloadCMS?CMSName=QUESTIONNAIRE_PDF" target="_blank">@ViewBag.QUESTIONNAIRE_PDF</a></li>*@
                                <li><a class="qmparent" href="~/Registration/Home/FileDownloadCMS?CMSName=QUESTIONNAIRE_FAQ" target="_blank">@ViewBag.QUESTIONNAIRE_FAQ</a> </li>
                                <li><a class="qmparent" href="~/Registration/Home/FileDownloadCMS?CMSName=QUESTIONNAIRE_DOC_OTHER" target="_blank">@ViewBag.QUESTIONNAIRE_DOC_OTHER</a> </li>
                                <li><a class="qmparent" href="@ViewBag.QUESTIONNAIRE_VIDEO_LINK" target="_blank">@ViewBag.QUESTIONNAIRE_VIDEO</a> </li>
                                <li><a class="qmparent" href="~/Registration/Home/FileDownloadCMS?CMSName=QUESTIONNAIRE_DOC_OTHER_2" target="_blank">@ViewBag.QUESTIONNAIRE_DOC_OTHER_2</a> </li>
                                <li class="qmclear">&nbsp;</li>
                            </ul>
                        </td>
                        <td align="right" valign="top"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>