@inherits System.Web.Mvc.WebViewPage<Generic.enterprise>
@using System.Web.Mvc.Html
@using Generic.Helpers
@{
    Layout = LayoutHelper.GetLayout();
    ViewBag.Title = "Enterprise";
}

<h2>Details</h2>

<fieldset>
    <legend>enterprise</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.sortOrder)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sortOrder)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.active)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.active)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.logo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.logo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.applicationPath)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.applicationPath)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.companyName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.companyName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.instanceName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.instanceName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.archivedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.archivedDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
