@inherits System.Web.Mvc.WebViewPage<Generic.enterprise>
@using System.Web.Mvc.Html
@using Generic.Helpers
@using Telerik.Web.Mvc.UI;
@{
    Layout = LayoutHelper.GetLayout();
    ViewBag.Title = "Modify Enterprise";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>enterprise</legend>

        @Html.HiddenFor(model => model.id)
        <div class="editor-field">
            @{
    if (Model.logo != null)
      {
         string imageBase64 = Convert.ToBase64String(Model.logo);
         string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
         <img src="@imageSrc"  height="50" />
      }
  }
            @*<img src='<%= Url.Action( "show", "image", new { id = @ViewData["imageID"] } ) %>' />*@
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.sortOrder)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.sortOrder)
            @Html.ValidationMessageFor(model => model.sortOrder)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.active)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.active)
            @Html.ValidationMessageFor(model => model.active)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.logo)
        </div>
        <div class="editor-field">
            @*   @Html.EditorFor(model => model.logo)*@

            <div class="editor-field">
                @(Html.Telerik().Upload()
        .Name("uploadlogo")
        .Multiple(false)

)

                <p class="note">
                    Maximum allowed file size: 10 MB
                </p>

            </div>

            @* @Html.ValidationMessageFor(model => model.logo)*@
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.applicationPath)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.applicationPath)
            @Html.ValidationMessageFor(model => model.applicationPath)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.companyName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.companyName)
            @Html.ValidationMessageFor(model => model.companyName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.instanceName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.instanceName)
            @Html.ValidationMessageFor(model => model.instanceName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.archivedDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.archivedDate)
            @Html.ValidationMessageFor(model => model.archivedDate)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
