@inherits System.Web.Mvc.WebViewPage<Generic.partner>
@using System.Web.Mvc.Html
@using Generic.Areas.RegistrationArea.Models
@using Generic.Helpers
@{
    ViewBag.Title = "Company Infomation";
    Layout = Generic.Helpers.LayoutHelper.GetRegistrationLayout();
    var formData = new ViewBagModel();
    if (ViewBag.FormData != null)
    {
        formData = ViewBag.FormData as ViewBagModel;
    }
}

@Styles.Render("~/bundles/registrationCss")

@section Bottom{
    @*<div >
        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="float: left; margin-top: -44px">
            <tr>
                <td width="20%" align="right">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="22%" valign="top">
                               <ul id="qm0" class="qmmc" style="width: 775px;">
                                    <li><a class="qmparent" href=""></a></li>
                                    <li><a class="qmparent" id="contactUS">@ViewBag.CONTACT_US_EMAIL</a></li>                                    
                                    <li><a class="qmparent" href="~/Registration/Home/FileDownloadCMS?CMSName=QUESTIONNAIRE_PDF" target="_blank">@ViewBag.QUESTIONNAIRE_PDF</a></li>
                                    <li><a class="qmparent" href="~/Registration/Home/FileDownloadCMS?CMSName=QUESTIONNAIRE_FAQ" target="_blank">@ViewBag.QUESTIONNAIRE_FAQ</a> </li>
                                    <li><a class="qmparent" href="~/Registration/Home/FileDownloadCMS?CMSName=QUESTIONNAIRE_DOC_OTHER" target="_blank">@ViewBag.QUESTIONNAIRE_DOC_OTHER</a> </li>
                                    <li><a class="qmparent" href="@ViewBag.QUESTIONNAIRE_VIDEO_LINK" target="_blank">@ViewBag.QUESTIONNAIRE_VIDEO</a> </li>
                                    <li class="qmclear">&nbsp;</li>
                                </ul>                              
                            </td>
                            <td width="20%" align="right" valign="top"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>*@

}
@section Top{
    @Html.Partial("_TopSection");

}

<table class="tablesign2" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td>
            <table class="infobox" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <table class="innertable" border="0" cellspacing="0" cellpadding="0">
                            <tr class="cls">
                                <td colspan="2" class="infotitlebg">
                                    @formData.COMPANY_INFORMATION_TEXT <span class="infotitlenormal">(@formData.VERIFY_COMPANY_INFO)</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="tableinr" valign="top" >
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="tableinnertd" >
                                                <table  border="0" align="center" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td class="infobluecont">
                                                            <span class="infobluecontnormal">
                                                                <!-- show Content -->
                                                                <!-- show company name -->
                                                                <span id="ctl00_contentQuestionnaireBody_lblCompanyName">
                                                                    <p><b>@Model.name</b><p>&nbsp;</p>
                                                                    </p>
                                                                </span>
                                                                <!-- end show company name -->
                                                                <!-- show physical address -->
                                                                <span id="ctl00_contentQuestionnaireBody_lblAddress">@Model.address1<br />@Model.address2<br />@Model.city, @formData.state @Model.zipcode<br />@formData.country</p></span>
                                                                <!-- end show physical address -->
                                                                <!-- show remit address -->
                                                                <span id="ctl00_contentQuestionnaireBody_lblRemitAddress"></span>
                                                                <!-- end show remit address -->
                                                                <!-- show federalId -->
                                                                <span id="ctl00_contentQuestionnaireBody_lblFederalId"></span>
                                                                <!-- end show federalId -->
                                                                <!-- show dunsNumber -->
                                                                <span id="ctl00_contentQuestionnaireBody_lblDunsNumber"></span>
                                                                <!-- end show dunsNumber -->
                                                                <!-- show naicsCode -->
                                                                <span id="ctl00_contentQuestionnaireBody_lblNaicsCode"></span>
                                                                <!-- end show naicsCode -->
                                                                <!-- show businessDescription -->
                                                                <span id="ctl00_contentQuestionnaireBody_lblBusinessDescription"></span>
                                                                <!-- end show businessDescription -->
                                                                <!-- end show content -->
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="viewtable"  align="right" valign="bottom">
                                    <table border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td class="viewtd1" align="right">

                                                <input type="submit" name="btnEdit" id="btnEdit" onclick="window.location = 'EditCompanyInformation';" value="@formData.CMS_PAGE_PREVIOUS_TEXT" style="border-width:0px;" />
                                            </td>

                                            <td class="viewtd2" align="right">

                                                <form action="@Url.Action("CorrectCompanyInformation")">
                                                    <input type="submit" name="btnNext" id="btnNext" value="@formData.CMS_PAGE_NEXT_TEXT" style="border-width:0px;" />
                                                </form>
                                            </td>
                                            <td class="viewtd3">
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                &nbsp;
                                            </td>
                                            <td>
                                                &nbsp;
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    &nbsp;
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            &nbsp;
        </td>
    </tr>
</table>





