@using System.Web.Mvc.Html
@using System.Web.Mvc
@using Generic.Helpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <table width="100%">
        <tr>
            <td>
                @if (!string.IsNullOrEmpty(ViewBag.logoSrc))
                {
                    <img src="@ViewBag.logoSrc" runat="server" style="height:50px; width:300px; border:none" />
                }
            </td>
        </tr>
    </table>
    <table width="100%" style="margin-top:10px;">
        <tr>
            <td style="font-size: 25px; text-align:center; color: #081835">
                SUPPLIER CERTIFICATION and REPRESENTATION FOR CALENDAR YEAR 2016<br />
                U.S. GOVERNMENT REGULATIONS AND STATUTES
            </td>
        </tr>
        <tr>
            <td style="font-size: 15px; text-align:left; color: #081835">
                Procurement of materials, services and supplies for a United States Government-funded contract requires that prime contractors,
                subcontractors and suppliers comply with socioeconomic programs enacted into public law.  Other procurements require compliance with
                Executive Orders, Congressional Law, and other regulations.  Specific requirements are listed in the Sections below.
            </td>
        </tr>
    </table>



    @foreach (var item in ViewBag.partnerHeader)
    {
        <table width="100%" cellpadding="0" cellspacing="0" border="1">
            <tr style="height:40px">
                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                    ONESOURCE SUPPLIER ID# (DUNS#):  @ViewBag.partner.dunsNumber
                </td>
                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                    HONEYWELL SAP/LOCAL SUPPLIER #:  @ViewBag.partner.federalID
                </td>
            </tr>
            <tr style="height:40px">
                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;" colspan="2">
                    SUPPLIER NAME: @ViewBag.partner.name
                </td>
            </tr>
            <tr>
                <td>
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td style="font-size: 11px; word-wrap:break-word; padding-left: 5px; padding-bottom:5px;">
                                SUPPLIER ADDRESS (Manufacturing address - no PO Box): @ViewBag.partner.address1
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 11px; word-wrap:break-word; padding-left: 5px; padding-bottom:5px;">
                                @ViewBag.partner.address2
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                                CITY/TOWN: @ViewBag.partner.city
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                                STATE/PROVINCE/REGION: @ViewBag.state
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                                ZIP CODE:
                                @if (ViewBag.partner.zipcode != null)
                                {
                                    @MvcHtmlString.Create(ViewBag.partner.zipcode.ToString().Length > 5 ? ViewBag.partner.zipcode.ToString().Substring(0, 5) + "-" + ViewBag.partner.zipcode.ToString().Substring(5, ViewBag.partner.zipcode.ToString().Length - 5) : ViewBag.partner.zipcode);
                                }
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                                COUNTRY: @ViewBag.country
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table width="100%" cellpadding="0" cellspacing="0" style="height:150px; border-collapse:collapse" border="1">
                        <tr>
                            <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;" colspan="2">
                                CONTACT NAME: @ViewBag.partner.firstName @ViewBag.partner.lastName
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px; width:inherit;">
                                CONTACT TELEPHONE#: @ViewBag.partner.phone
                            </td>
                            <td width="30%" style="font-size: 11px; padding-left: 5px; padding-bottom:5px; width:inherit;">
                                CONTACT FAX#: @ViewBag.partner.fax
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;" colspan="2">
                                CONTACT EMAIL ADDRESS: @ViewBag.partner.email
                                <br />
                                <br />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    }

    <br />
    <br />

    <div>
        <p><b> 1. <i>BUSINESS SIZE AND TYPE CLASSIFICATION</i></b></p>
        <p><i>SUPPLIER</i> represents that it is a<b> <i><u style="color:blue">(Check ALL that apply)</u></i></b></p>

        <p style="height:3px; "><input type="checkbox" @ViewBag.CheckboxLarge /> Large Business </p>
        <p style="height:3px; margin-left:40px;"><input type="checkbox" @ViewBag.Checkbox1 /> Minority-Owned (Min)</p>
        <p style="height:3px; margin-left:40px;"><input type="checkbox" @ViewBag.Checkbox2 /> Woman-Owned (Wom)</p>

        <p style="height:3px; "><input type="checkbox" @ViewBag.CheckboxSmall /> Small Business (Sm)</p>

        <p style="height:3px; margin-left:40px;"><input type="checkbox" @ViewBag.Checkbox3 />Minority/Disadvantaged Business (Dis)</p>
        <p style="height:3px; margin-left:40px;"><input type="checkbox" @ViewBag.Checkbox4 />Woman-Owned (Wom)</p>
        <p style="height:3px; margin-left:40px;"><input type="checkbox" @ViewBag.Checkbox5 />Veteran-Owned (Vet)</p>
        <p style="height:3px; margin-left:40px;"><input type="checkbox" @ViewBag.Checkbox6 />Service Disabled Veteran-Owned (SD)</p>
        <p style="height:3px; margin-left:40px;"><input type="checkbox" @ViewBag.Checkbox7 />HUBZone Business** (HZ)</p>


        <p style="margin-left:40px; color:red;">
            <b>
                <i>
                    ** Please attach a copy of your company's SBA HUBZone Certification
                    Letter. You may ONLY certify as a HUBZone supplier if your company is listed on
                    the &quot;Qualified HUBZone Small Business Concerns List&quot; maintained by the Small
                    Business Administration.
                </i>
            </b>
        </p>

        <p style="height:3px"><input type="checkbox" @ViewBag.Checkbox8 /> Historically Black College or University</p>
        <p style="height:3px"><input type="checkbox" @ViewBag.Checkbox9 /> Minority Institution</p>
        <p style="height:3px"><input type="checkbox" @ViewBag.Checkbox10 /> University or College</p>
        <p style="height:3px"><input type="checkbox" @ViewBag.Checkbox11 /> Non-Profit Organization</p>
        <p style="height:3px; margin-left:40px;"><input type="checkbox" @ViewBag.Checkbox11_comment />with Disabled Persons	</p>
        <p style="height:3px"><input type="checkbox" @ViewBag.Checkbox12 /> Alaska Native Corps. &amp; Indian Tribes that have not been certified by the SBA as a Small Disadvantaged Business (ANC)</p>
        <p style="height:3px"><input type="checkbox" @ViewBag.Checkbox13 /> Alaska Native Corps. &amp; Indian Tribes that are not Small Businesses (Large, ANC)</p>


        <p style="height:4px">
            <input type="checkbox" @ViewBag.Checkbox14 /> Government Agency / Entity: Explain:
            <input type="text" style="width:450px; height:20px" value="@(ViewBag.Input0 ?? String.Empty)" />
        </p>

        <p style="height:3px"><input type="checkbox" @ViewBag.Checkbox15 /> Canadian</p>
        <p style="height:3px"><input type="checkbox" @ViewBag.Checkbox16 /> Non-U.S. Small Business (under 500 employees)</p>
        <p style="height:3px"><input type="checkbox" @ViewBag.Checkbox17 /> Non-U.S. Large Business (500 + employees)</p>

        <table cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
            <tr>
                <td style="text-align:center; width:150px" valign="top">
                    <p style="text-align:center"><b>NOTICE</b></p>
                    <p style="text-align:center"><b>OF</b></p>
                    <p style="text-align:center"><b>PENALTY</b></p>
                </td>
                <td valign="top">
                    <p>
                        Supplier understands, under 15 U.S.C. 645(d), any person who misrepresents a firm's status that is small, HUBZone small, small disadvantaged, service-disabled veteran-owned small, economically disadvantaged women-owned small, or women-owned small eligible under the WOSB Program in order to obtain a contract to be awarded under the preference programs established pursuant to section 8, 9, 15, 31 and 36 of the Small Business Act or any other provision of Federal law that specifically references section 8(d) for a definition of program eligibility, shall (i) be punished by imposition of fine, imprisonment, or both; (ii) be subject to administrative remedies, including suspension and debarment; and (iii) be ineligible for participation in programs conducted under the authority of the Act (FAR 52.219-1(d)(2)).
                    </p>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <b><input type="checkbox" @ViewBag.Checkbox18 /> YES </b>
                    <b style="margin-left:20px"><input type="checkbox" @ViewBag.Checkbox19 /> NO </b>
                    <b style="margin-left:20px">If NO, comment required: <input type="text" value="@(ViewBag.Input2 ?? String.Empty)" style="width:450px; height:20px" /></b>
                </td>
            </tr>
        </table>

        <p><b> MINORITY OWNERSHIP:  <i><u>ONLY</u></i>  IF SUPPLIER HAS REPRESENTED ITSELF ABOVE AS A SMALL DISADVANTAGED BUSINESS (SDB) OR WOMEN-OWNED SMALL DISADVANTAGED BUSINESS (WOSDB), PLEASE CHECK THE APPROPRIATE CATEGORY OF OWNERSHIP:  (FAR 52.219-1 Alt 1)</b></p>

        <p style="height:3px"><input type="checkbox" @ViewBag.Checkbox20 /> A. Black American</p>
        <p style="height:3px"><input type="checkbox" @ViewBag.Checkbox21 /> B. Hispanic American</p>
        <p style="height:3px"><input type="checkbox" @ViewBag.Checkbox22 /> C. Native American: American Indians, Eskimos, Aleuts, or Native Hawaiians</p>
        <p style="height:60px"><input type="checkbox" @ViewBag.Checkbox23 /> D. Asian-Pacific American: persons with origins from Burma, Thailand, Malaysia, Indonesia, Singapore, Brunei, Japan, China, Taiwan, Laos, Cambodia (Kampuchea), Vietnam, Korea, The Philippines, U.S. Trust Territory of the Pacific Islands (Republic of Palau), Republic of the Marshall Islands, Federated States of Micronesia, the Commonwealth of the Northern Mariana Islands, Guam, Samoa, Macao, Hong Kong, Fiji, Tonga, Kiribati, Tuvalu or Nauru</p>
        <p style="height:20px;">
            <input type="checkbox" @ViewBag.Checkbox24 />
            E. Subcontinent Asian (Asian-Indian) American: persons with origins from India, Pakistan, Bangladesh, Sri Lanka, Bhutan, the Maldives Islands, or Nepal
        </p>
        <p style="height:3px;">
            <input type="checkbox" @ViewBag.Checkbox25 /> F. Individual/concern, other than one of the preceding. Explain:
            <input type="text" value="@(ViewBag.Input3 ?? String.Empty)" style="width:450px; height:20px" />
        </p>

    </div>
    <p style="margin-top:60px; color:gray">
        <b>
            <i style="text-align:left">Page 1 of 5</i>
            <i style="margin-left:250px">Supplier Certifications and Representations</i>
            <i style="margin-left:200px">AF 0014I (2016)</i>
        </b>
    </p>
    <div style="margin-top:35px">
        <p><b> 2. <i>REPRESENTATION OF ADHERENCE TO HONEYWELL'S "CODE OF BUSINESS CONDUCT"</i></b></p>
        <p>It is the policy of Honeywell to take reasonable steps to ensure that its suppliers and potential suppliers have ethic programs that meet Honeywell requirements for integrity and compliance, and to require its suppliers to certify to the same.</p>
        <p>
            <b><i>SUPPLIER  acknowledges:</i></b>
        <p style="margin-left:20px">It has their own Code of Business Conduct in place which supports the spirit of Honeywell's requirements for integrity and compliance; OR has reviewed and understands the Honeywell Code of Business Conduct (Code), located at Internet website:</p>

        <p style="text-align:center"><a href="http://honeywell.com/About/Pages/code-of-business-conduct.aspx">http://honeywell.com/About/Pages/code-of-business-conduct.aspx</a></p>

        <p style="margin-left:20px">and agrees to fully comply and take all necessary steps to assist Honeywell in complying with the Code and its spirit.</p>

        <p>
            <b style="margin-left:40px"><input type="checkbox" @ViewBag.Checkbox26 /> YES </b>
            <b style="margin-left:20px"><input type="checkbox" @ViewBag.Checkbox27 /> NO </b>
            <b style="margin-left:20px">If NO, comment required: <input type="text" value="@(ViewBag.Input4 ?? String.Empty)" style="width:450px; height:20px" /></b>
        </p>

    </div>

    <div>
        <p><b> 3. <span class="style1"><i>NORTH AMERICAN INDUSTRY CLASSIFICATION SYSTEM (NAICS) CODE (FAR 19.102)</i></span></b></p>

        <p>If your facility is located in the United States, Canada, or Mexico, please provide your primary NAICS Code and any additional NAICS Codes if applicable.</p>

        <table border="1" cellpadding="0" cellspacing="0" style="text-align:center; margin-left:auto; margin-right:auto">
            <tr>
                <td valign="top" style="width:250px">
                    <b>Primary NAICS Code:</b>
                </td>
                <td style="width:250px">
                    <input type="text" value="@(ViewBag.Input5 ?? String.Empty)" />
                </td>
                <td><p>(Must be 6 digits)</p></td>
            </tr>
            <tr>
                <td valign="top" style="width:250px">
                    <b>List additional NAICS Code:</b>
                </td>
                <td style="width:250px">
                    <input type="text" value="@(ViewBag.Input6 ?? String.Empty)" />
                </td>
                <td><p>(Must be 6 digits)</p></td>
            </tr>

        </table>

        <p>The NAICS Code listings can be found through the Internet site: <a href="http://www.census.gov/epcd/www/naics.html">http://www.census.gov/eos/www/naics/</a> </p>

    </div>

    <div>
        <p><b> 4. <i>CERTIFICATION OF PREVIOUS CONTRACTS SUBJECT TO EQUAL OPPORTUNITY CLAUSE</i></b></p>

        <p> <i>SUPPLIER</i> has participated in a previous contract or subcontract subject to the Equal Opportunity Clause.</p>

        <p>
            <b style="margin-left:40px"><input type="checkbox" @ViewBag.Checkbox28 /> YES </b>
            <b style="margin-left:20px"><input type="checkbox" @ViewBag.Checkbox29 /> NO </b>
        </p>

    </div>

    <div>
        <p><b> 5. <i>CERTIFICATION OF EQUAL OPPORTUNITY COMPLIANCE REPORTS</i></b></p>

        <p><i>SUPPLIER</i> has filed all required Compliance reports.</p>

        <p>
            <b style="margin-left:40px"><input type="checkbox" @ViewBag.Checkbox30 /> YES </b>
            <b style="margin-left:20px"><input type="checkbox" @ViewBag.Checkbox31 />NO&nbsp;&nbsp;<input type="checkbox" @ViewBag.Checkbox73 />Less than 50 employees, therefore exempt</b>

        </p>
        <p><b style="margin-left:20px">If NO, comment required: <input type="text" value="@(ViewBag.Input7 ?? String.Empty)" style="width:450px; height:20px" /></b></p>
    </div>

    <div>

        <p><b> 6. <i>CERTIFICATION OF AFFIRMATIVE ACTION PROGRAM COMPLIANCE</i></b> <b><i style="color:blue;">(Check ONLY one)</i></b></p>

        <p><input type="checkbox" @ViewBag.Checkbox32 /> A. Supplier has developed and has on file, at each establishment, affirmative action programs required by the rules and regulations of the Secretary of Labor (41 CFR 60-1 and 60-2); OR

        <p><input type="checkbox" @ViewBag.Checkbox33 /> B. Supplier has not previously had contracts subject to the written affirmative action program requirement of the rules and regulations of the Secretary of Labor.
        <p><input type="checkbox" @ViewBag.Checkbox34 /> C. Supplier has less than 50 employees, therefore exempt.
    </div>
    <div>
        <p><b> 7. <i>CERTIFICATION OF COMPLIANCE WITH VETERANS EMPLOYMENT REPORTING REQUIREMENTS</i></b></p>

        <p><i>SUPPLIER</i> certifies for any Honeywell award subject to the reporting requirements of 38 U.S.C. 4212(d) (e.g., contracts containing FAR Clause 52.222-37, Employment Reports on Veterans) it has submitted the most recent VETS-100A Report as required by 52.222-37.</p>

        <p>
            <b style="margin-left:40px"><input type="checkbox" @ViewBag.Checkbox35 /> YES </b>
            <b style="margin-left:20px"><input type="checkbox" @ViewBag.Checkbox36 /> NO&nbsp;&nbsp;<input type="checkbox" @ViewBag.Checkbox74 />Less than 50 employees, therefore exempt</b>
            <b style="margin-left:20px">If NO, comment required: <input type="text" value="@(ViewBag.Input8 ?? String.Empty)" style="width:350px; height:20px" /></b>
        </p>

    </div>

    <div>
        <p>
            <b> 8. <i>CERTIFICATION REGARDING DEBARMENT, SUSPENSION, PROPOSED DEBARMENT AND OTHER RESPONSIBILITY MATTERS</i></b>
            <b><i style="color:blue;">(Check ONLY one)</i></b>
        </p>

        <p><input type="checkbox" @ViewBag.Checkbox37 /> A. Supplier certifies, to the best of its knowledge and belief that your firm and/or any of its Principals ARE presently debarred, suspended, proposed for debarment, or declared ineligible for the award of contracts by any Federal agency.</p>

        <p><input type="checkbox" @ViewBag.Checkbox38 /> B. Supplier certifies, to the best of its knowledge and belief that your firm and/or any of its Principals ARE NOT presently debarred, suspended, proposed for debarment, or declared ineligible for the award of contracts by any Federal agency</p>

    </div>
    <p style="margin-top:200px;color:gray">
        <b>
            <i style="text-align:left">Page 2 of 5</i>
            <i style="margin-left:250px">Supplier Certifications and Representations</i>
            <i style="margin-left:200px">AF 0014I (2016)</i>
        </b>
    </p>
    <div style="margin-top:60px">
        <p><b> 9. <i>CERTIFICATE OF INDEPENDENT PRICE DETERMINATION (<a href='https://www.acquisition.gov/far/current/html/52_200_206.html#wp1137583 '>FAR 52.203-2</a>)</i></b></p>

        <p>A. <i>SUPPLIER</i> certifies:</p>

        <p style="margin-left:40px">1.  The prices in all offers to Honeywell have been arrived at independently, without, for the purpose of restricting competition, any consultation, communication, or agreement with any other offeror or competitor relating to (i) those prices; (ii) the intention to submit an offer; or (iii) the methods or factors used to calculate the prices offered.</p>

        <p style="margin-left:40px">2. The prices in all offers to Honeywell have not been and will not be knowingly disclosed by the offeror, directly or indirectly, to any other offeror or competitor before bid opening (in the case of a sealed bid solicitation) or contract award (in the case of a negotiated solicitation) unless otherwise required by law; and</p>

        <p style="margin-left:40px">3. No attempt has been made or will be made by the offeror to induce any other concern to submit or not to submit an offer for the purpose of restricting competition.</p>

        <p>B. Each signature on an offer to Honeywell is considered to be a certification by the signatory that the signatory:</p>

        <p style="margin-left:40px">1. Is the person in the offeror's organization responsible for determining the prices being offered in any bid or proposal, and that the signatory has not participated and will not participate in any action contrary to subparagraphs A.1 through A.3 of this Section; or</p>

        <p style="margin-left:40px">2. (i) Has been authorized, in writing, to act as agent for the principals involved in certifying that those principals have not participated, and will not participate in any action contrary to subparagraphs A.1 through A.3 of this Section; (ii) As an authorized agent, does certify that such principals have not participated, and will not participate, in any action contrary to subparagraphs A.1 through A.3 of this Section; and (iii) As an agent, has not personally participated, and will not participate, in any action contrary to subparagraphs A.1 through A.3 of this Section.</p>

        <p>C. If <i>SUPPLIER</i> deletes or modifies subparagraph A.2 of this Section, <i>SUPPLIER</i> must furnish with its offer a signed statement setting forth in detail the circumstances of the disclosure.</p>

        <p>
            <b style="margin-left:40px"><input type="checkbox" @ViewBag.Checkbox39 /> YES </b>
            <b style="margin-left:20px"><input type="checkbox" @ViewBag.Checkbox40 /> NO </b>
            <b style="margin-left:20px">If NO, comment required: <input type="text" value="@(ViewBag.Input9 ?? String.Empty)" style="width:450px; height:20px" /></b>
        </p>

    </div>

    <div>
        <p><b>10. <i>CERTIFICATION REGARDING PAYMENTS TO INFLUENCE CERTAIN FEDERAL TRANSACTIONS (<a href='https://www.acquisition.gov/far/current/html/52_200_206.html#wp1137568'>FAR 52.203-11</a>)</i></b></p>

        <p><i>SUPPLIER</i> certifies, to the best of its knowledge and belief, <b><u>NO</u></b> Federal appropriated funds have been paid or will be paid to any person to influence or attempt to influence certain Government officials to award or modify a Federal contract.</p>

        <p>
            <b style="margin-left:40px"><input type="checkbox" @ViewBag.Checkbox41 /> YES </b>
            <b style="margin-left:20px"><input type="checkbox" @ViewBag.Checkbox42 /> NO </b>
        </p>

    </div>

    <div>
        <p><b>11. <i>DISCLOSURE REGARDING PAYMENTS TO INFLUENCE CERTAIN FEDERAL TRANSACTIONS (<a href='https://www.acquisition.gov/far/current/html/52_200_206.html#wp1137568'>FAR 52.203-11</a>)</i></b></p>

        <p><i>SUPPLIER</i> agrees to submit to Honeywell OMB Standard Form LLL prior to any contract award of $150,000 or greater when supplier has paid or will pay Federal appropriated funds to influence certain Government officials to award or modify a Federal contract.</p>

        <p>
            <b style="margin-left:40px"><input type="checkbox" @ViewBag.Checkbox43 /> YES </b>
            <b style="margin-left:20px"><input type="checkbox" @ViewBag.Checkbox44 /> NO </b>
            <b style="margin-left:20px">If NO, comment required: <input type="text" value="@(ViewBag.Input10 ?? String.Empty)" style="width:450px; height:20px" /></b>
        </p>

    </div>

    <div>
        <p><b>12. <i>STATEMENT TO PREVENT TRANSACTIONS WITH DENIED PERSONS/DEBARRED PARTIES/SDN</i></b></p>

        <p>To ensure compliance of U.S. export laws, Honeywell does not conduct any business transaction with the "Denied Persons List" published by the U.S. Department of Commerce, the "Denied Parties List" published by the Department of State and the "Specially Designated Nationals" list published by the Department of Treasury, Foreign Assets Control.  Honeywell expects all suppliers and its subcontractors to comply with these laws as well.  Supplier agrees to include this requirement in lower-tier Purchase Orders and/or subcontracts.  (You may view the U.S. Government web sites of the Agencies noted above to access their lists).
        <p>
            <b style="margin-left:40px"><input type="checkbox" @ViewBag.Checkbox45 /> YES </b>
            <b style="margin-left:20px"><input type="checkbox" @ViewBag.Checkbox46 /> NO </b>
            <b style="margin-left:20px">If NO, comment required: <input type="text" value="@(ViewBag.Input11 ?? String.Empty)" style="width:450px; height:20px" /></b>
        </p>

    </div>


    <div>
        <p><b>13. <i>FEDERAL AVIATION ADMINISTRATION (FAA) ANTI-DRUG AND ALCOHOL MISUSE PREVENTION PROGRAMS</i></b></p>

        <p>
            Is your firm an FAA approved Repair Station?  (14 CFR 145)
            <b style="margin-left:20px"><input type="checkbox" @ViewBag.Checkbox47 /> YES </b>
            <b style="margin-left:20px"><input type="checkbox" @ViewBag.Checkbox48 /> NO </b>
        </p>

        <p>
            <b style="margin-left:20px"><i>If YES</i></b>, Federal Registration #: <input type="text" style="width:450px; height:20px" value="@(ViewBag.Input12 ?? String.Empty)" />
        </p>

        <p style="margin-left:40px">
            Do you have an FAA approved Anti-Drug Program?
            <b style="margin-left:20px"><input type="checkbox" @ViewBag.Checkbox49 /> Yes </b>
            <b style="margin-left:20px"><input type="checkbox" @ViewBag.Checkbox50 /> No </b>
        </p>
        <p style="margin-left:60px"><b>If YES</b>, Anti-Drug Program Plan #:  <input type="text" style="width:450px; height:20px" value="@(ViewBag.Input13 ?? String.Empty)" /></p>

        <p style="margin-left:40px">
            Do you have an approved Alcohol Misuse Prevention Program?
            <b style="margin-left:20px"><input type="checkbox" @ViewBag.Checkbox51 /> Yes </b>
            <b style="margin-left:20px"><input type="checkbox" @ViewBag.Checkbox52 /> No </b>
        </p>
        <p style="margin-left:60px"><b>If YES</b>, Alcohol Misuse Prevention Program Plan #: <input type="text" style="width:450px; height:20px" value="@(ViewBag.Input14 ?? String.Empty)" /></p>

    </div>

    <div>
        <p><b>14. <i>EXECUTIVE COMPENSATION REPORTING (<a href='https://www.acquisition.gov/far/current/html/52_200_206.html#wp1137568'>FAR 52.204-10</a>)</i></b></p>

        <p style="margin-left:20px"><input type="checkbox" @ViewBag.Checkbox53 />&nbsp;A. <i>SUPPLIER's</i> executive compensation is <b><u>not</u></b> available to the public through period reports filed under Section 13(a) or 15(d) of the Securities Exchange Act of 1934 or under Section 6104 of the Internal Revenue Code of 1986.</p>

        <p style="margin-left:20px"><input type="checkbox" @ViewBag.Checkbox54 />&nbsp;A. SUPPLIER derived 80% or more and $25,000,000 or more of its annual gross revenues from Federal contracts (and subcontracts), loans, grants (and sub-grants) and cooperative agreements in the preceding fiscal year.</p>
        <p>
            <i>NOTE:</i>  If A and B are checked, Honeywell is required to report SUPPLIER's executive compensation to the Government and this information will be made public.  Completion of below is required.
        </p>
        <p style="margin-top:50px; color:gray">
            <b>
                <i style="text-align:left">Page 3 of 5</i>
                <i style="margin-left:250px">Supplier Certifications and Representations</i>
                <i style="margin-left:200px">AF 0014I (2016)</i>
            </b>
        </p>
        <p style="margin-top:60px"><b>14. <i>EXECUTIVE COMPENSATION REPORTING (<a href='https://www.acquisition.gov/far/current/html/52_200_206.html#wp1137568'>FAR 52.204-10</a>) Continued</i></b></p>
        <p>Total Compensation, as defined in FAR 52.204-10(a), for the five (5) most highly compensated executives earned during the preceding fiscal year is: </p>
        <table width="100%" cellpadding="0" cellspacing="0" border="1">
            <tr>
                <td style="font-size: 15px; padding-left: 5px; padding-bottom:5px;">
                    Name
                </td>
                <td style="font-size: 15px; padding-left: 5px; padding-bottom:5px;">
                    Title
                </td>
                <td style="font-size: 15px; padding-left: 5px; padding-bottom:5px;">
                    Total Compensation
                </td>
            </tr>
            <tr style="height:40px">
                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                    <input type="text" value="@(ViewBag.Input15 ?? String.Empty)" style="width:250px; height:20px" />
                </td>
                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                    <input type="text" value="@(ViewBag.Input16 ?? String.Empty)" style="width:550px; height:20px" />
                </td>
                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                    <input type="text" value="@(ViewBag.Input17 ?? String.Empty)" style="width:200px; height:20px" />
                </td>
            </tr>

            <tr style="height:40px">
                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                    <input type="text" value="@(ViewBag.Input18 ?? String.Empty)" style="width:250px; height:20px" />
                </td>
                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                    <input type="text" value="@(ViewBag.Input19 ?? String.Empty)" style="width:550px; height:20px" />
                </td>
                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                    <input type="text" value="@(ViewBag.Input20 ?? String.Empty)" style="width:200px; height:20px" />
                </td>
            </tr>

            <tr style="height:40px">
                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                    <input type="text" value="@(ViewBag.Input21 ?? String.Empty)" style="width:250px; height:20px" />
                </td>
                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                    <input type="text" value="@(ViewBag.Input22 ?? String.Empty)" style="width:550px; height:20px" />
                </td>
                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                    <input type="text" value="@(ViewBag.Input23 ?? String.Empty)" style="width:200px; height:20px" />
                </td>
            </tr>

            <tr style="height:40px">
                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                    <input type="text" value="@(ViewBag.Input24 ?? String.Empty)" style="width:250px; height:20px" />
                </td>
                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                    <input type="text" value="@(ViewBag.Input25 ?? String.Empty)" style="width:550px; height:20px" />
                </td>
                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                    <input type="text" value="@(ViewBag.Input26 ?? String.Empty)" style="width:200px; height:20px" />
                </td>
            </tr>

            <tr style="height:40px">
                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                    <input type="text" value="@(ViewBag.Input27 ?? String.Empty)" style="width:250px; height:20px" />
                </td>
                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                    <input type="text" value="@(ViewBag.Input28 ?? String.Empty)" style="width:550px; height:20px" />
                </td>
                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                    <input type="text" value="@(ViewBag.Input29 ?? String.Empty)" style="width:200px; height:20px" />
                </td>
            </tr>
        </table>
    </div>

    <div>
        <p><b>15. <i>FIRST-TIER SUBCONTRACT AWARDS REPORTING (<a href='https://www.acquisition.gov/far/current/html/52_200_206.html#wp1137568'>FAR 52.204-10</a>)</i></b></p>

        <p><i>SUPPLIER</i>, in the previous tax year, had a gross income from all sources over $300,000 ?</p>

        <p>
            <b style="margin-left:40px"><input type="checkbox" @ViewBag.Checkbox55 /> YES </b>
            <b style="margin-left:20px"><input type="checkbox" @ViewBag.Checkbox56 /> NO </b>
        </p>

        <p>
            <b><i>NOTE</i></b>:  If yes, Honeywell is required to report to the Government 1st tier subcontract awards, valued $30,000 or more, that peg to prime contracts containing FAR 52.204-10.  Information pertaining to the subcontract award, along with the following information required by FAR 52.204-10(c)(1), will be made public.
        </p>
        <p>
            To comply with FAR 52.204-10, please provide the place of performance address if different than this Certification.  SUPPLIER certifies the physical place of performance is:
        </p>
        <p>
            <table>
                <tr>
                    <td><b style="margin-left:20px">Supplier Name:</td>
                    <td> <input type="text" value="@(ViewBag.Input30 ?? String.Empty)" style="width:300px; height:20px" /></b></td>
                    <td><b style="margin-left:20px">Street Address:</td>
                    <td><input type="text" value="@(ViewBag.Input31 ?? String.Empty)" style="width:300px; height:20px" /></b></td>
                </tr>
                <tr>
                    <td><b style="margin-left:20px">City, State and Zip Code:</td>
                    <td> <input type="text" value="@(ViewBag.Input32 ?? String.Empty)" style="width:300px; height:20px" /></b></td>
                    <td><b style="margin-left:20px"><a href="http://congressional-district.insidegov.com/">Congressional District:</a> </td>
                    <td><input type="text" value="@(ViewBag.Input33 ?? String.Empty)" style="width:300px; height:20px" /></b></td>
                </tr>
            </table>


        </p>
    </div>
    <div>
        <p><b>16. <i>CERTIFICATION REGARDING POLITICAL CONTRIBUTIONS, FEES, AND COMMISSIONS (<a href='http://www.ecfr.gov/cgi-bin/text-idx?c=ecfr&SID=9f40509b0e3da13737d77a645b79f912&rgn=div5&view=text&node=22:1.0.1.13.67&idno=22'> ITAR PART 130</a>)</i></b></p>

        <p> Please note 22 CFR &sect; 130.12(b) requires Supplier to respond to this section <b><u>within 20 days</u></b>, unless Supplier provides the information directly to the U.S. State Department in accordance with 22 CFR &sect; 130.12(c).  U.S. law requires Honeywell to inform the Department of State if we have not received a response within 25 days of this request.  Additionally, 22 CFR &sect; 130.14 requires Supplier to maintain the records upon which the information below is based for a minimum of five (5) years from the date of the report. </p>

        <p>A. <i>SUPPLIER</i> certifies it <b>SELLS</b> defense articles, technical data, and/or defense services to Honeywell that are:  (1) controlled for export under U.S. International Traffic in Arms Regulations (ITAR) (22 CFR Parts 120-130); <b>and</b> (2) valued in an amount of $500,000 or more (sold $500,000 or more in ITAR controlled goods to Honeywell); <b>and</b> (3) for delivery (or incorporation into another product for delivery) to, or for the use of, the armed forces of an international organization or a country other than the United States. </p>

        <p style="margin-left:20px">
            <b style="margin-left:40px"><input type="checkbox" @ViewBag.Checkbox57 /> YES </b>
            <b style="margin-left:20px"><input type="checkbox" @ViewBag.Checkbox58 /> NO </b>
        </p>
        @if (ViewBag.Checkbox58 != String.Empty)
        {
            <p> B. <i>SUPPLIER</i> certifies it has paid, offered to pay, or agreed to pay any "fees", "commissions", or "political contributions" as defined in 22 CFR &sect; 130.5 and 22 CFR &sect; 130.6 in connection with the sale of defense articles, technical data, and/or defense services to Honeywell.</p>

        
            <p style="margin-left:20px">
                <b style="margin-left:40px"><input type="checkbox" @ViewBag.Checkbox59 /> YES </b>
                <b style="margin-left:20px"><input type="checkbox" @ViewBag.Checkbox60 /> NO </b>
            </p>
        }
        <p>
            NOTE:  22 CFR &sect; 130.9(d) requires <i>SUPPLIER</i> to inform Honeywell as soon as possible if <i>SUPPLIER</i> subsequently learns that it paid, offered to pay, or agreed to pay any fees, commissions, or political contributions in connection with the sale of defense articles, technical data, and/or defense services to Honeywell.         
        </p>
        <p><b><i style="color:red;"><u>If Item B. is YES, please complete Exhibit I</u> for each fee, commission, and political contribution, using additional sheets as necessary, referencing the Sales Order/Contract Number at issue, and numbering each successive sheet X of X accordingly.</i></b></p>

    </div>

    <div>
        <p><b>17. <i>COMBATING TRAFFICKING IN PERSONS (<a href='https://www.acquisition.gov/far/current/html/52_200_206.html#wp1137583'>FAR 52.222-50</a>) - POLICY</i></b></p>
        <p>
            <i>SUPPLIER</i> has notified its employees and agents of the U.S. Government's policy regarding Combating Trafficking in Persons as described in 52.222-50(b), as well as those resulting actions that may be taken against employees or agents for violations of this policy.
        </p>
        <p>
            <b><input type="checkbox" @ViewBag.Checkbox61 /> YES </b>
            <b style="margin-left:20px"><input type="checkbox" @ViewBag.Checkbox62 /> NO </b>
            <b style="margin-left:20px">If NO, comment required: <input type="text" value="@(ViewBag.Input34 ?? String.Empty)" style="width:450px; height:20px" /></b>
        </p>
    </div>


    <div>
        <p><b>18. <i>COMBATING TRAFFICKING IN PERSONS (<a href='https://www.acquisition.gov/far/current/html/52_200_206.html#wp1137583'>FAR 52.222-50</a>) - NOTIFICATION</i></b></p>
        <p>
            <i>SUPPLIER</i> will inform Honeywell, and applicable Government officials, of any credible information received from any source alleging an employee, subcontractor, subcontractor employee, or agent has engaged in conduct that violates 52.222-50(b), along with the actions taken against said employee, subcontractor, subcontractor employee or agent.
        </p>
        <p>
            <b><input type="checkbox" @ViewBag.Checkbox63 /> YES </b>
            <b style="margin-left:20px"><input type="checkbox" @ViewBag.Checkbox64 /> NO </b>
            <b style="margin-left:20px">If NO, comment required: <input type="text" value="@(ViewBag.Input35 ?? String.Empty)" style="width:450px; height:20px" /></b>
        </p>
    </div>
    <p style="margin-top:100px; color:gray">
        <b>
            <i style="text-align:left">Page 4 of 5</i>
            <i style="margin-left:250px">Supplier Certifications and Representations</i>
            <i style="margin-left:200px">AF 0014I (2016)</i>
        </b>
    </p>
    <div style="margin-top:60px">
        <p><b>19. <i>COMBATING TRAFFICKING IN PERSONS (<a href='https://www.acquisition.gov/far/current/html/52_200_206.html#wp1137583'>FAR 52.222-50</a>) - COMPLIANCE PLAN</i></b></p>
        <p>
            <i>SUPPLIER</i>, as described in 52.222-50(h), will implement and maintain a compliance plan, covering the performance period of the U.S. Government contract/subcontract, awarded by Honeywell-Aerospace, for any portion that is:  (i) for supplies (other than commercially available off-the-shelf items as defined in Paragraph (1) of FAR 2.101) acquired overseas, or services performed overseas, and (ii) has an estimated value exceeding $500,000.
        </p>
        <p>
            <b><input type="checkbox" @ViewBag.Checkbox65 /> YES </b>
            <b style="margin-left:20px"><input type="checkbox" @ViewBag.Checkbox66 /> NO </b>
            <b style="margin-left:20px"><input type="checkbox" @ViewBag.Checkbox75 /> N/A </b><br />
            <b>If NO, comment required: <input type="text" value="@(ViewBag.Input36 ?? String.Empty)" style="width:450px; height:20px" /></b>
        </p>
    </div>

    <div>
        <p><b>20. <i>CERTIFICATION REGARDING TRAFFICKING IN PERSONS COMPLIANCE PLAN (<a href='https://www.acquisition.gov/far/current/html/52_200_206.html#wp1137583'>FAR 52.222-56</a>)</i></b></p>
        <p>
            A. <i>SUPPLIER</i> has been awarded a contract/subcontract by Honeywell-Aerospace, in which 52.222-56 applies and has implemented the required compliance plan as described in 52.222-50(h) to prevent any prohibited activities identified in 52.222-50(b) and to monitor, detect, and terminate the contract with any subcontractor(s) engaging in prohibited activities.
        </p>
        <p>
            <b><input type="checkbox" @ViewBag.Checkbox67 /> YES </b>
            <b style="margin-left:20px"><input type="checkbox" @ViewBag.Checkbox68 /> NO </b>
            <b style="margin-left:20px"><input type="checkbox" @ViewBag.Checkbox76 /> N/A </b><br />
            <b >If NO, comment required: <input type="text" value="@(ViewBag.Input37 ?? String.Empty)" style="width:450px; height:20px" /></b>
        </p>
        <p>
            B. After conducting due diligence, either:
        </p>
        <p>
            <span style="margin-left:20px"><input type="checkbox" @ViewBag.Checkbox69 /> To the best of SUPPLIER's knowledge and belief, neither it nor any of its agents, subcontractors, or their agents is engaged in any such activities; OR</span><br />
            <span style="margin-left:20px"><input type="checkbox" @ViewBag.Checkbox70 /> If abuses relating to any of the prohibited activities identified in 52.222-50(b) have been found, SUPPLIER or its subcontractor has taken the appropriate remedial and referral actions.</span>
        </p>
    </div>

    <div>
        <p><b>21. <i>COUNTERFEIT PARTS - AUTHORIZED SOURCE VERIFICATION</i></b></p>
        <p>
            <i>SUPPLIER</i> has verified, and has retained as a quality record, that each transaction is authorized in accordance with SPOC-419.3.2.
        </p>
        <p>
            <b><input type="checkbox" @ViewBag.Checkbox71 /> YES </b>
            <b style="margin-left:20px"><input type="checkbox" @ViewBag.Checkbox72 /> NO </b>
            <b style="margin-left:20px">If NO, comment required: <input type="text" value="@(ViewBag.Input38 ?? String.Empty)" style="width:450px; height:20px" /></b>
        </p>
    </div>
    <p style="text-align:center; font-size:21px"><i><u><b>CERTIFICATION</b></u></i></p>

    <p>Supplier hereby certifies the information presented here is true and correct and meets the intent and spirit of the statements made above.  This certification shall apply to all solicitations, agreements, Purchase Orders, contracts, or subcontracts received from Honeywell, and shall be valid for the calendar year noted on Page 1.  If any changes to the above occur, Supplier will immediately notify their Honeywell-Aerospace Sourcing or Procurement representative, in writing, regarding its change in status.</p>
    <p>
        <b><input type="checkbox" @ViewBag.Checkbox77 /> YES </b>
        <b style="margin-left:20px"><input type="checkbox" @ViewBag.Checkbox78 /> NO </b>
        <b style="margin-left:20px">If NO, comment required: <input type="text" value="@(ViewBag.Input39 ?? String.Empty)" style="width:450px; height:20px" /></b>
    </p>

    <table width="100%" cellpadding="0" cellspacing="0" border="1">
        <tr style="height:40px">
            <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                NAME: @ViewBag.signature.firstName @ViewBag.signature.lastName
            </td>
            <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                SIGNATURE: @ViewBag.signature.email
            </td>
            <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                DATE: @ViewBag.completeDate
            </td>
        </tr>
        <tr style="height:40px">
            <td style="font-size: 11px; text-align: left; padding-left: 5px; padding-bottom:5px;" colspan="3">
                TITLE: @ViewBag.personTitle
            </td>
        </tr>
    </table>
    </div>
    </form>
    <p style="margin-top:650px;color:gray">
        <b>
            <i style="text-align:left">Page 5 of 5</i>
            <i style="margin-left:250px">Supplier Certifications and Representations</i>
            <i style="margin-left:200px">AF 0014I (2016)</i>
        </b>
    </p>
</body>

</html>
