@inherits System.Web.Mvc.WebViewPage
@using System.Web.Mvc.Html
@using System.Web.Mvc
@using Generic.Helpers

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>FORM-ICS Certificate Form 2020</title>
    <style type="text/css">
        body {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 14px;
        }

        .notes {
            background-attachment: local;
            background-image: linear-gradient(to right, white 10px, transparent 10px), linear-gradient(to left, white 10px, transparent 10px), repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
            line-height: 31px;
            padding: 8px 10px;
        }

        div {
            padding-right: 20px;
            padding-left: 20px;
        }

        h1, h2 {
            color: blue;
            font-size: 18px !important;
        }

        img {
            width: 25%;
        }

        .img-div {
            text-align: right;
        }

        .table-data {
            width: 80%;
        }

            .table-data td {
                height: 24px;
            }

                .table-data td:nth-child(odd) {
                    width: 40%;
                    text-align: left;
                }
    </style>
</head>
<body>
    <br><br>
        <div>
            <div class="img-div">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/BATTELLE-BLUE.svg/1280px-BATTELLE-BLUE.svg.png" />
            </div>
            <h1>Annual Offeror Representations and Certifications &ndash; DIRECT Procurements (>/= $10k)</h1>
            <p>Signature / Certification: By signing below, the Offeror certifies that the Representations and Certifications are accurate, current and complete, and may be subject to liability under the False Claims Act. The Offeror further certifies it will notify the Battelle Procurement Office of any changes to these Representations and Certifications. Certifying affirmatively asserts your understanding and compliance with these Representations and Certifications.</p>
            <p>Signature of Officer or Employee Responsible for the Offeror</p>
            <p>@(ViewBag.signature == null ? "" : ViewBag.signature.email)</p>
            <p>Date of Execution (mm/dd/yyyy) : @ViewBag.completeDate </p>
            <p>Name : @(ViewBag.signature == null ? "" : (ViewBag.signature.firstName + " " + ViewBag.signature.lastName)) </p>
            <p>Title : @ViewBag.personTitle</p>
            <p> Legal Name of Offeror&rsquo;s Organization : @(ViewBag.partner.name)  </p>
            <p>Number : @((ViewBag.partner.address2 ?? "").Replace("SubContract Number:", ""))</p>
            <p>Number :  @(ViewBag.partner.internalID)</p>
            <p> Street Address : @(ViewBag.partner.address1) </p>
            <p>Contact Phone No. (xxx-xxx-xxxx) : @(ViewBag.partner.phone)  </p>
            <p>City, State, and Postal Code : @(ViewBag.partner.city + ", " + ViewBag.state + ", " + ViewBag.partner.zipcode) </p>
            <p>Taxpayer Identification No. (TIN) or Social Security Number (SSN) : @Html.Raw(@ViewBag.Checkbox52148_Comment) </p>
            <p> E-mail Address : @(ViewBag.signature == null ? "" : ViewBag.signature.email)</p>
            <p>Dun &amp; Bradstreet (D-U-N-S) Number : @ViewBag.partner.dunsNumber</p>
            <p>Primary NAICS code  :  @ViewBag.Checkbox52242_Comment</p>
            <p>Secondary NAICS (s) code</p>
            <p>Date Range : @(ViewBag.Q52158_Comment + " - " + @ViewBag.Q52159_Comment) </p>

            <p>Reference http://www.census.gov/eos/www/naics/ for NAICS codes. 1. Type and Size of Business Organization</p>

            <p>(Check all that apply)</p>
            <p>
                @if (@ViewBag.Checkbox52187_Yes != string.Empty && @ViewBag.Checkbox52187_Yes != null)
                {
                    <span>&#x2611;</span>
                }
                else
                //@if (@ViewBag.Checkbox52187_No != string.Empty && @ViewBag.Checkbox52187_No != null)
                {
                    <span>&#x2610;</span>
                } Foreign Corporation or entity(Foreign Corporations or entities must complete questions 2 through 10)
            </p>

            <p>
                @if (@ViewBag.Checkbox52239_Yes != string.Empty && @ViewBag.Checkbox52239_Yes != null)
                {
                    <span>&#x2611;</span>
                }
                else
                //@if (@ViewBag.Checkbox52239_No != string.Empty && @ViewBag.Checkbox52239_No != null)
                {
                    <span>&#x2610;</span>
                } Nonprofit Organization
            </p>

            <p>
                @if (@ViewBag.Checkbox52243_Yes != string.Empty && @ViewBag.Checkbox52243_Yes != null)
                {
                    <span>&#x2611;</span>
                }
                else
                //@if (@ViewBag.Checkbox52243_No != string.Empty && @ViewBag.Checkbox52243_No != null)
                {
                    <span>&#x2610;</span>
                }  Large Business
            </p>

            <p>&#9744; Small Business To identify the appropriate small business size standard, visit gov/NAICS (https://eweb1.sba.gov/naics/dsp_naicssearch2.cfm) and enter Offeror&rsquo;s primary NAICS Code to determine small business status according to US Small Business Administration (SBA) guidelines found at www.sba.gov.</p>

            <p>
                @if (@ViewBag.Checkbox52244_Yes != string.Empty && @ViewBag.Checkbox52244_Yes != null)
                {
                    <span>&#x2611;</span>
                }
                else
                //@if (@ViewBag.Checkbox52244_No != string.Empty && @ViewBag.Checkbox52244_No != null)
                {
                    <span>&#x2610;</span>
                }  Small Disadvantaged Business (SDB). A firm that is at least 51 percent owned and controlled by one or more socially and economically disadvantaged individual(s); or, in the case of any publicly-owned business, at least 51 percent of the stock of which is owned by one or more socially and economically disadvantaged individuals; and, whose management and daily business operations are controlled by one or more such individuals. A Small Disadvantaged Business can be self-certified or previously certified by the SBA. (Please check the appropriate category of ownership)
                    </p>

            <p>
                @if (@ViewBag.Checkbox52245_87005 != string.Empty && @ViewBag.Checkbox52245_87005 != null)
                {
                    <span>&#x2611;</span>
                } 
                else {
                <span>&#x2610;</span>
                } Black American
            </p>

            <p>
                @if (@ViewBag.Checkbox52245_87006 != string.Empty && @ViewBag.Checkbox52245_87006 != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                } Hispanic American
            </p>

            <p>
                @if (@ViewBag.Checkbox52245_87007 != string.Empty && @ViewBag.Checkbox52245_87007 != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                } Native American (American Indians, Eskimos, Aleuts or Native Hawaiians)
            </p>

            <p>
                @if (@ViewBag.Checkbox52245_87008 != string.Empty && @ViewBag.Checkbox52245_87008 != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                } Asian-Pacific American (persons with origins from Burma, Thailand, Malaysia, Indonesia, Singapore, Brunei, Japan, China, Taiwan, Laos, Cambodia (Kampuchea), Vietnam, Korea, The Philippines, US Trust Territory of the Pacific Islands (Republic of Palau), Republic of the Marshall Islands, Federated States of Micronesia, The Commonwealth of the Northern Mariana Islands, Guam, Samoa, Macao, Hong Kong, Fiji, Tonga, Kiribati, Tuvalu or Nauru)
            </p>

            <p>
                @if (@ViewBag.Checkbox52245_87009 != string.Empty && @ViewBag.Checkbox52245_87009 != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                } Subcontinent Asian (Asian-Indian) American (persons with origins from India, Pakistan, Bangladesh, Sri Lanka, Bhutan, the Maldives Islands or Nepal)
            </p>

            <p>
                @if (@ViewBag.Checkbox52245_87010 != string.Empty && @ViewBag.Checkbox52245_87010 != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                } Individual/Concerns, other than one of the preceding. Specify  enter text.
            </p>

            <p>
                @if (@ViewBag.Checkbox52246_Yes != string.Empty && @ViewBag.Checkbox52246_Yes != null)
                {
                    <span>&#x2611;</span>
                }
                else
                //@if (@ViewBag.Checkbox52246_No != string.Empty && @ViewBag.Checkbox52246_No != null)
                {
                    <span>&#x2610;</span>
                }  Certified 8(a) Firm
                A firm which is unconditionally owned and controlled by one or more socially and economically disadvantaged individuals and eligible for the SBA&rsquo;s 8(a) Business Development Program (13 CFR 124-8(a)).
                    </p>

            <p>
                @if (@ViewBag.Checkbox52247_Yes != string.Empty && @ViewBag.Checkbox52247_Yes != null)
                {
                    <span>&#x2611;</span>
                }
                else
                //@if (@ViewBag.Checkbox52247_No != string.Empty && @ViewBag.Checkbox52247_No != null)
                {
                    <span>&#x2610;</span>
                }  Historically Underutilized Business Zone (HUBZone) Small Business
                A firm listed on the SBA&rsquo;s List of Qualified HUBZone Small Business Concerns by meeting the requirements of 13 CFR 126.200.
            </p>

            <p>
                @if (@ViewBag.Checkbox52248_Yes != string.Empty && @ViewBag.Checkbox52248_Yes != null)
                {
                    <span>&#x2611;</span>
                }
                else
                //@if (@ViewBag.Checkbox52248_No != string.Empty && @ViewBag.Checkbox52248_No != null)
                {
                    <span>&#x2610;</span>
                } Woman-Owned Small Business (WOSB)
                A firm which is at least 51 percent owned and controlled by one or more women; or in the case of any publicly owned business, at least 51 percent of the stock of which is owned by one or more women; and whose management and daily business operations are controlled by one or more women.
                    </p>

            <p>
                @if (@ViewBag.Checkbox52249_Yes != string.Empty && @ViewBag.Checkbox52249_Yes != null)
                {
                    <span>&#x2611;</span>
                }
                else
                //@if (@ViewBag.Checkbox52249_No != string.Empty && @ViewBag.Checkbox52249_No != null)
                {
                    <span>&#x2610;</span>
                } Economically Disadvantaged Woman-Owned Small Business (EDWOSB)
                A firm which is at least 51 percent directly and unconditionally owned by, and the management and daily business operations of which are controlled by, one or more women who are citizens of the US; and who are economically disadvantaged in accordance with 13 CFR part 127.
                    </p>

            <p>
                @if (@ViewBag.Checkbox52250_Yes != string.Empty && @ViewBag.Checkbox52250_Yes != null)
                {
                    <span>&#x2611;</span>
                }
                else
                //@if (@ViewBag.Checkbox52250_No != string.Empty && @ViewBag.Checkbox52250_No != null)
                {
                    <span>&#x2610;</span>
                } Veteran-Owned Small Business (VOSB)
                A firm which is not less than 51 percent owned by one or more veterans, as defined in 38 U.S.C. 101(2), or, in the case of any publicly owned business, not less than 51 percent of the stock is owned by one or more veterans; and whose management and daily business operations are controlled by one or more veterans.
                    </p>

            <p>
                @if (@ViewBag.Checkbox52251_Yes != string.Empty && @ViewBag.Checkbox52251_Yes != null)
                {
                    <span>&#x2611;</span>
                }
                else
                //@if (@ViewBag.Checkbox52251_No != string.Empty && @ViewBag.Checkbox52251_No != null)
                {
                    <span>&#x2610;</span>
                }  Service-Disabled Veteran-Owned Small Business (SD-VOSB)
                A firm which is not less than 51 percent owned by one or more service-disabled veterans, as defined in 38 U.S.C. 101(16), or, in the case of any publicly owned business, not less than 51 percent of the stock is owned by one or more service-disabled veterans; and whose management and daily business operations are controlled by one or more service-disabled veterans or, in the case of a service-disabled veteran with permanent and severe disability, the spouse or permanent caregiver of such veteran.
                    </p>

            <p>
                @if (@ViewBag.Checkbox52240_Yes != string.Empty && @ViewBag.Checkbox52240_Yes != null)
                {
                    <span>&#x2611;</span>
                }
                else
                //@if (@ViewBag.Checkbox52240_No != string.Empty && @ViewBag.Checkbox52240_No != null)
                {
                    <span>&#x2610;</span>
                } Historically Black College or University/Minority Institution (HBCU/MI) 
                An institution meeting the requirements of 34 CFR 608.2 as determined by the Secretary of Education; or an institution of higher education meeting the requirements of Section 365(3) of the Higher Education Act of 1965.
            </p>

            <p>State Certifications:</p>

            <p>
                @if (@ViewBag.Checkbox52252_Yes != string.Empty && @ViewBag.Checkbox52252_Yes != null)
                {
                    <span>&#x2611;</span>
                }
                else
                //@if (@ViewBag.Checkbox52252_No != string.Empty && @ViewBag.Checkbox52252_No != null)
                {
                    <span>&#x2610;</span>
                } Minority-Owned Business Enterprise (MBE)
                A firm that is at least 51 percent owned, operated and controlled by one or more ethnic minority US citizens. 
                Firm is certified by National Minority Supplier Development Council (NMSDC) or an affiliate. (Please check the appropriate category of ownership)
            </p>

            <p>
                @if (@ViewBag.Checkbox52253_87011 != string.Empty && @ViewBag.Checkbox52253_87011 != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                } Black American
            </p>

            <p>
                @if (@ViewBag.Checkbox52253_87012 != string.Empty && @ViewBag.Checkbox52253_87012 != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                } Hispanic American
            </p>

            <p>
                @if (@ViewBag.Checkbox52253_87013 != string.Empty && @ViewBag.Checkbox52253_87013 != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                } Native American
            </p>

            <p>
                @if (@ViewBag.Checkbox52253_87014 != string.Empty && @ViewBag.Checkbox52253_87014 != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                } Asian American
            </p>

            <p>
                @if (@ViewBag.Checkbox52254_Yes != string.Empty && @ViewBag.Checkbox52254_Yes != null)
                {
                    <span>&#x2611;</span>
                }
                else
                //@if (@ViewBag.Checkbox52254_No != string.Empty && @ViewBag.Checkbox52254_No != null)
                {
                    <span>&#x2610;</span>
                } Woman-Owned Business (WBE) 
                A firm that is at least 51 percent owned, operated, and controlled by one or more women that are US citizens. 
                Firm is certified by Women&rsquo;s Business Enterprise National Council (WBENC) or an affiliate.
            </p>

            <p>2. Common Parent and Predecessor of Offeror (FAR 52.204-17, 52.204-20)</p>

            <p>
                @if (@ViewBag.Checkbox52146_Yes != string.Empty && @ViewBag.Checkbox52146_Yes != null)
                {
                    <span>&#x2611;</span>
                }
                else
                //@if (@ViewBag.Checkbox52146_No != string.Empty && @ViewBag.Checkbox52146_No != null)
                {
                    <span>&#x2610;</span>
                } The offeror is not owned or controlled by a common parent.
            </p>

            <p>&#9744; Name and TIN of common parent: Name: @Html.Raw(ViewBag.Checkbox52147_Comment) TIN: @Html.Raw(@ViewBag.Checkbox52148_Comment).</p>

            <p>
                @if (@ViewBag.Checkbox52190_Yes != string.Empty && @ViewBag.Checkbox52190_Yes != null)
                {
                    <span>&#x2611;</span>
                }
                else
                //@if (@ViewBag.Checkbox52190_No != string.Empty && @ViewBag.Checkbox52190_No != null)
                {
                    <span>&#x2610;</span>
                } Offeror, its parent company, or subsidiaries, is/has been owned or controlled by a foreign entity.
            </p>

            <p>
                The Offeror represents that it @if (@ViewBag.Checkbox52150_Yes != string.Empty && @ViewBag.Checkbox52150_Yes != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                }IS, or @if (@ViewBag.Checkbox52150_No != string.Empty && @ViewBag.Checkbox52150_No != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                } IS NOT a successor to a predecessor that held a Federal contract or grant within the last three years.
            </p>
            <p>
                3. Registration with the Directorate of Defense Trade Controls (DDTC)
                The Offeror certifies that it  @if (@ViewBag.Checkbox52149_Yes != string.Empty && @ViewBag.Checkbox52149_Yes != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                }IS, or @if (@ViewBag.Checkbox52149_No != string.Empty && @ViewBag.Checkbox52149_No != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                } IS NOT required to be registered to manufacture or export defense articles or furnish defense services as required by the International Traffic in Arms Regulations (22 CFR Part 122). If required to be registered, the Offeror certifies it is currently registered with the DDTC. 
            </p>
            <p>
                4. Presence of Conflict Minerals In Products Supplied By Offeror
                @if (@ViewBag.Checkbox52157_Yes != string.Empty && @ViewBag.Checkbox52157_Yes != null)
                {
                    <span>&#x2611;</span>
                }
                @if (@ViewBag.Checkbox52157_No != string.Empty && @ViewBag.Checkbox52157_No != null)
                {
                    <span>&#x2610;</span>
                }The offeror certifies that it complies with Section 240.13p-1 of the Dodd-Frank Wall Street Reform and Consumer Protection Act.
            </p>

            <p>Conflict Minerals have been defined by the SEC as consisting of the following: Tantalum, extracted from Columbite-Tantalite, or Coltan; Tin, extracted from Cassiterite; Gold; and Tungsten, extracted from Wolframite, when these minerals have originated from a Covered Country, which includes: Angola, Burundi, Central African Republic, the Republic of the Congo, Democratic Republic of Congo, Rwanda, South Sudan, Tanzania, Uganda, and Zambia.</p>

            <p>Are Conflict Minerals necessary to the functionality or production of any products which Offeror proposes to supply as part of its proposal/materials to Battelle?</p>

            <p>
                @if (@ViewBag.Checkbox52156_Yes != string.Empty && @ViewBag.Checkbox52156_Yes != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                } YES (Please attach a list to the completed form) 
                @if (@ViewBag.Checkbox52156_No != string.Empty && @ViewBag.Checkbox52156_No != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                } NO
            </p>

            <p> 5. Accounting and Business System Adequacy Representation
            </p>

            <p>For Battelle to determine the adequacy of the Offeror&rsquo;s accounting and business systems to meet the cost accumulation and reporting requirements of Government contracts, the Offeror shall provide the following information: </p>
            <p> What is Offeror&rsquo;s current fiscal year?  enter text.</p>

            <p>Start Date @(ViewBag.Q52158_Comment)</p>

            <p>End Date @(@ViewBag.Q52159_Comment)</p>

            <p>Government Audit Agency:</p>

            <p>Name of Agency:  @Html.Raw(ViewBag.Checkbox52198_Comment)</p>

            <p>Address:   @Html.Raw(ViewBag.Checkbox52199_Comment)</p>

            <p>Name of Auditor:   @Html.Raw(ViewBag.Checkbox52200_Comment)</p>

            <p>Telephone:   @Html.Raw(ViewBag.Checkbox52201_Comment)</p>

            <p>
                @if (@ViewBag.Checkbox52202_Yes != string.Empty && @ViewBag.Checkbox52202_Yes != null)
                {
                    <span>&#x2611;</span>
                } 
                @if (@ViewBag.Checkbox52202_No != string.Empty && @ViewBag.Checkbox52202_No != null)
                {
                    <span>&#x2610;</span>
                }Cognizant Administrative Contracting Officer (CACO):
            </p>

            <p>Name of Agency: @Html.Raw(ViewBag.Checkbox52203_Comment)</p>

            <p>Address:   @Html.Raw(ViewBag.Checkbox52204_Comment)</p>

            <p>Name of CACO:  @Html.Raw(ViewBag.Checkbox52205_Comment)</p>

            <p>Telephone:   @Html.Raw(ViewBag.Checkbox52206_Comment)</p>

            <p>Has Offeror been awarded a federal government prime contract in the past 3 years?
                @if (@ViewBag.Checkbox52194_Yes != string.Empty && @ViewBag.Checkbox52194_Yes != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                } YES @if (@ViewBag.Checkbox52194_No != string.Empty && @ViewBag.Checkbox52194_No != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                } NO
            </p>

            <p>If YES, check the applicable type(s) below:</p>

            <p>
                @if (@ViewBag.Checkbox52196_86977 != string.Empty && @ViewBag.Checkbox52196_86977 != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                }Cost-Reimbursement, Contract Number  enter text.
            </p>

            <p>&#9744; Labor Hour/Time and Materials, Contract Number  enter text.</p>

            <p>&#9744; Fixed Price, Contract Number  enter text. 
            Accounting System - Does Offeror have a federal government-approved accounting system? &#9744; YES &#9744; NO</p>

            <p>If YES, answer below: 
            Date of approval enter a date. 
            Government office granting approval (if different than above)  enter text. 
            Audit Report Number  enter text. 
            Upon Battelle&rsquo;s request, the Offeror shall provide a copy of such approval letter.</p>

            <p> Purchasing System - Does Offeror have a federal government-approved purchasing system?
                @if (@ViewBag.Checkbox52212_Yes != string.Empty && @ViewBag.Checkbox52212_Yes != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                } YES
                @if (@ViewBag.Checkbox52212_No != string.Empty && @ViewBag.Checkbox52212_No != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                } NO
            </p>

            <p>If YES, answer below: 
            Date of approval enter a date. 
            Government office granting approval (if different than above)  enter text. 
            Audit Report Number  enter text. 
            Upon Battelle&rsquo;s request, Offeror shall provide a copy of such approval letter.</p>

            <p> Property System - Does Offeror have a federal government-approved property system?
                @if (@ViewBag.Checkbox52216_Yes != string.Empty && @ViewBag.Checkbox52216_Yes != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                } YES
                @if (@ViewBag.Checkbox52216_No != string.Empty && @ViewBag.Checkbox52216_No != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                } NO
            </p>

            <p>
                If YES, answer below: 
                Date of approval enter a date. 
                Government office granting approval (if different than above)  enter text. 
                Audit Report Number  enter text. 
                Upon Battelle&rsquo;s request, the Offeror shall provide a copy of such approval letter. 
                In addition to the Offeror&rsquo;s business systems (from DFARS 252.242-7005) identified above, does Offeror have any other business systems (e.g., Estimating, EVMS, MMAS) that have been audited and deemed inadequate? @if (@ViewBag.Checkbox52220_Yes != string.Empty && @ViewBag.Checkbox52220_Yes != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                }YES @if (@ViewBag.Checkbox52220_No != string.Empty && @ViewBag.Checkbox52220_No != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                } NO
            </p>

            <p> Is Offeror&rsquo;s organization subject to Cost Accounting Standards (CAS) (48 CFR Chapter 99)? @if (@ViewBag.Checkbox52221_Yes != string.Empty && @ViewBag.Checkbox52221_Yes != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                } YES @if (@ViewBag.Checkbox52221_No != string.Empty && @ViewBag.Checkbox52221_No != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                } NO
            </p>

            <p> If YES, is it Full or Modified CAS? @if (@ViewBag.Checkbox52222_86978 != string.Empty && @ViewBag.Checkbox52222_86978 != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                } Full @if (@ViewBag.Checkbox52222_86979 != string.Empty && @ViewBag.Checkbox52222_86979 != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                }  Modified
            </p>
            <p> Cost Accounting Disclosure Statement - Does Offeror have adequate disclosure statements? @if (@ViewBag.Checkbox52223_Yes != string.Empty && @ViewBag.Checkbox52223_Yes != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                } YES @if (@ViewBag.Checkbox52223_No != string.Empty && @ViewBag.Checkbox52223_No != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                } NO
            </p>

            <p> If YES, answer below: 
                Date of approval: enter a date. 
                Government office granting approval (if different than above)  enter text. 
                Audit Report Number  enter text. 
                Upon Battelle&rsquo;s request, the Offeror shall provide a copy of such approval letter. 
                If Offeror does not have an approved CAS Disclosure Statement or approved accounting system, the Offeror&rsquo;s cost accounting system is:</p>

            <p>&#9744; Job order type</p>

            <p>&#9744; Process type</p>

            <p>&#9744; Other, describe (e.g. QuickBooks, Peachtree)  enter text. 
             Have the Offeror&rsquo;s provisional indirect billing/bidding rates been evaluated and approved by a government agency? &#9744; YES &#9744; NO</p>

            <p>If YES, answer below: 
            Period covering: enter a date. To: enter a date. 
            Agency granting approval:  enter text.</p>

            <p> Has the Offeror had Accepted Incurred Cost Submissions? @if (@ViewBag.Checkbox52232_Yes != string.Empty && @ViewBag.Checkbox52232_Yes != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                } YES @if (@ViewBag.Checkbox52232_No != string.Empty && @ViewBag.Checkbox52232_No != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                } NO
            </p>

            <p>
                If YES, answer below: 
                Date of the last Incurred Cost Submission:  @if (@ViewBag.Input52233 != string.Empty && @ViewBag.Input52233 != null)
                {
                    @ViewBag.Input52233
                } 
                Fiscal Period covered by the last Incurred Cost Submission: enter a date. 
                Incurred Cost Submissions have been audited with an Audit Report issued through what fiscal year? enter a date. 
                Offeror has received final indirect rates for which fiscal years?  enter text. 
                Has Offeror adjusted its billings to reflect changes for Year-end, Interim and Final Rates received? @if (@ViewBag.Checkbox52237_Yes != string.Empty && @ViewBag.Checkbox52237_Yes != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                } YES @if (@ViewBag.Checkbox52237_No != string.Empty && @ViewBag.Checkbox52237_No != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                }  NO
            </p>

            <p>If NO, answer below: 
            The cognizant Federal official has granted an extension, and Offeror&rsquo;s annual incurred cost proposal for this fiscal year will be submitted no later than: enter a date. 
            Offeror is not required to submit an annual incurred cost proposal. Please briefly explain why (e.g., small business, educational institution with Negotiated Indirect Cost Rate Agreement (NICRA), other):  enter text. 
            Offeror has not submitted an annual incurred cost submission for this fiscal year or one or more prior years. Please briefly explain why:  enter text.</p>

            <p>
                6. Certification Regarding Responsibility Matters, Tax Liability and Felony Conviction (FAR 52.209-5, 52.209-11)
            </p>

            <p>The Offeror certifies, to the best of its knowledge and belief, that the Offeror and/or any of its Principals -</p>

            <p>
                @if (@ViewBag.Checkbox52160_Yes != string.Empty && @ViewBag.Checkbox52160_Yes != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                }  ARE,
                @if (@ViewBag.Checkbox52160_No != string.Empty && @ViewBag.Checkbox52160_No != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                }  ARE NOT presently debarred, suspended, proposed for debarment, or declared ineligible for the award of contracts by any Federal agency;
            </p>

            <p>
                @if (@ViewBag.Checkbox52161_Yes != string.Empty && @ViewBag.Checkbox52161_Yes != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                }  HAVE,
                @if (@ViewBag.Checkbox52161_No != string.Empty && @ViewBag.Checkbox52161_No != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                }  within a three-year period preceding this offer, been convicted of or had a civil judgment rendered against them for the commission of fraud or a criminal offense in connection with obtaining, attempting to obtain, or performing a public (Federal, State, or Local) contract or subcontract; violation of Federal or State antitrust statutes relating to the submission of offers; or commission of embezzlement, theft, forgery, bribery, falsification or destruction of records, making false statements, tax evasion, violating Federal criminal tax laws, or receiving stolen property. (If Offeror checks &ldquo;HAVE&rdquo;, see FAR 52.209-7, if included in the solicitation);
            </p>

            <p>
                @if (@ViewBag.Checkbox52162_Yes != string.Empty && @ViewBag.Checkbox52162_Yes != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                }  ARE,
                @if (@ViewBag.Checkbox52162_No != string.Empty && @ViewBag.Checkbox52162_No != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                }  ARE NOT presently indicted for, or otherwise criminally or civilly charged by a governmental entity with, the commission of any of the offenses enumerated in paragraph (a)(1)(i)(B) of this provision;
            </p>

            <p>
                @if (@ViewBag.Checkbox52163_Yes != string.Empty && @ViewBag.Checkbox52163_Yes != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                }  HAVE,
                @if (@ViewBag.Checkbox52163_No != string.Empty && @ViewBag.Checkbox52163_No != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                } HAVE NOT within a three-year period preceding this offer, been notified of any delinquent Federal taxes in an amount that exceeds $3,500 for which the liability remains unsatisfied;
            </p>

            <p>
                @if (@ViewBag.Checkbox52164_Yes != string.Empty && @ViewBag.Checkbox52164_Yes != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                } HAVE,
                @if (@ViewBag.Checkbox52164_No != string.Empty && @ViewBag.Checkbox52164_No != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                }  HAVE NOT within a three-year period preceding this offer, had one or more contracts terminated for default by any Federal agency;
            </p>

            <p>
                @if (@ViewBag.Checkbox52165_Yes != string.Empty && @ViewBag.Checkbox52165_Yes != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                } IS,
                @if (@ViewBag.Checkbox52165_No != string.Empty && @ViewBag.Checkbox52165_No != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                }  IS NOT a corporation that has any unpaid Federal tax liability that has been assessed, for which all judicial and administrative remedies have been exhausted or have lapsed, and that is not being paid in a timely manner pursuant to an agreement with the authority responsible for collecting the tax liability; and
            </p>

            <p>
                @if (@ViewBag.Checkbox52168_Yes != string.Empty && @ViewBag.Checkbox52168_Yes != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                } IS,
                @if (@ViewBag.Checkbox52168_No != string.Empty && @ViewBag.Checkbox52168_No != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                } IS NOT a corporation that was convicted of a felony criminal violation under a Federal law within the preceding 24 months.
            </p>
            <p>
                7. Previous Contracts and Compliance Reports (FAR 52.222-22)
            </p>

            <p>The Offeror represents that:</p>

            <p>It &#9744; HAS, &#9744; HAS NOT participated in a previous contract or subcontract subject to the Equal Opportunity Clause of this solicitation;</p>

            <p>It &#9744; HAS, &#9744; HAS NOT filed all required compliance reports; and</p>

            <p>Representations indicating submission of required compliance reports, signed by proposed subcontractors, will be obtained before subcontract awards.</p>

            <p>&#9744; It is exempt (less than 50 employees). </p>

            <p> 8. Affirmative Action Compliance (FAR 52.222-25)</p>

            <p>The Offeror represents that:</p>

            <p>&#9744; It HAS developed and has on file, &#9744; HAS NOT developed and does not have on file, at each establishment, affirmative action programs required by the rules and regulations of the Secretary of Labor (41 CFR 60-1 and 60-2);</p>

            <p>&#9744; It has not previously had contracts subject to the written affirmative action programs requirement of the rules and regulations of the Secretary of Labor; or</p>

            <p>&#9744; It is exempt (less than 50 employees and/or less than $50,000 in Government contracts during the prior 12-month period). </p>
            <p> 9. Reporting Executive Compensation and First-Tier Subcontract Awards (FAR 52.204-10)</p>

            <p>The Offeror represents that:</p>

            <p>If a Subcontractor Purchase Order award to Offeror has an expected value of $30,000 or more in support of a prime contract, Battelle must, subject to certain exceptions, gather and publicly report information regarding the award in accordance with FAR 52.204-10.</p>

            <p>Has Offeror had gross income under $300,000 in the previous tax year?</p>

            <p>&#9744; YES &#9744; NO</p>

            <p>If YES, Offeror is not required to complete Section 10. If NO, Offeror must proceed to Section 10. 
            </p>
            <p>10. Total Compensation of Offeror&rsquo;s Executives + See 52.204-10 for a list of definitions as used in this provision.</p>

            <p>In Offeror's preceding fiscal year, did Offeror receive 80 percent or more of its annual gross revenues from Federal</p>

            <p>contracts (and subcontracts), loans, grants (and subgrants), cooperative agreements, and other forms of Federal financial assistance?</p>

            <p>&#9744; YES &#9744; NO</p>

            <p>If YES, proceed to (c) below. If NO, Offeror is not required to complete the remainder of this Section 10.</p>

            <p>(c) In Offeror's preceding fiscal year, did Offeror receive $25,000,000 or more in annual gross revenues from Federal</p>

            <p>contracts (and subcontracts), loans, grants (and subgrants), cooperative agreements, and other forms of Federal financial assistance?</p>

            <p>&#9744; YES &#9744; NO</p>

            <p>If YES, proceed to (d) below. If NO, Offeror is not required to complete the remainder of this Section 10. 
                Does the public have access to information about the compensation of the Executives through periodic reports filed under section 13(a) or 15(d) of the Securities Exchange Act of 1934 (15 U.S.C. 78m(a), 78o(d)) or section 6104 of the Internal Revenue Code of 1986? (To determine if the public has access to the compensation information, see the U.S. Securities and Exchange Commission Summary Compensation Table at http://www.sec.gov/answers/execomp.htm.)</p>

            <p>&#9744; YES &#9744; NO</p>

            <p>If Yes, Offeror is not required to complete the remainder of this Section 10. If No, proceed to (e) below. 
                Offeror must provide in the space below the names and total compensation of each of Offeror's five most highly compensated Executives for its preceding completed fiscal year. If Battelle awards Offeror a Subcontract or Purchase Order, Offeror shall update the information in this Section 10 for Offeror's fiscal year preceding the date of award of such Subcontract or Purchase Order:</p>

            <p>Executive Name: Executive Total Compensation 1. _______________________________________________ _____________________________________________</p>

            <p>2. _______________________________________________ _____________________________________________</p>

            <p>3. _______________________________________________ _____________________________________________</p>

            <p>4. _______________________________________________ _____________________________________________</p>

            <p>5. _______________________________________________ _____________________________________________</p>

            <p> &#9744; Offeror hereby acknowledges and agrees that Offeror shall, at the time of award that is subject to FAR 52.204-10, provide Battelle the Offeror's applicable and current information which Battelle is required by law to report to the US Government and which information will be made available to the public.</p>

            <p>11. Representation Regarding Certain Telecommunications and Video Surveillance Services or Equipment (FAR 52.204-24)</p>

            <p>Definitions and Prohibitions. See 52.204-25 for a list of definitions and prohibitions as used in this provision.</p>

            <p>The Offeror represents that:</p>

            <p>It @if (@ViewBag.Checkbox52160_Yes != string.Empty && @ViewBag.Checkbox52160_Yes != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                } WILL,
                @if (@ViewBag.Checkbox52160_No != string.Empty && @ViewBag.Checkbox52160_No != null)
                {
                    <span>&#x2611;</span>
                }
                else
                {
                    <span>&#x2610;</span>
                }  WILL NOT PROVIDE covered telecommunications equipment or services to the Government in the performance of any contract, subcontract or other contractual instrument resulting from this solicitation; and
            </p>

            <p> After conducting a reasonable inquiry, for purposes of this representation, the Offeror represents that:</p>

            @*<p>It &#9744; DOES, &#9744; DOES NOT USE covered telecommunications equipment or services, or use any equipment, system, or service that uses covered telecommunications equipment or services.</p>*@

            <p>If the Offeror has represented that it &ldquo;WILL PROVIDE&rdquo; covered telecommunications equipment or services, the Offeror shall provide the following information as part of the offer&mdash; 
                A description of all covered telecommunications equipment and services offered (include brand; model number, such as original equipment manufacturer (OEM) number, manufacturer part number, or wholesaler number; and item description, as applicable); 
                Explanation of the proposed use of covered telecommunications equipment and services and any factors relevant to determining if such use would be permissible under the prohibition paragraph of this provision; 
                For services, the entity providing the covered telecommunications services (include entity name, unique entity identifier, and Commercial and Government Entity (CAGE) code, if known); and 
                For equipment, the entity that produced the covered telecommunications equipment (include entity name, unique entity identifier, CAGE code, and whether the entity was the OEM or a distributor if known).</p>

            <p>The following FAR and DFARS provisions are incorporated by reference. They do not require the completion of any data. Offeror&rsquo;s signature on page One asserts that Offeror complies with each of these provisions.</p>

            <p>FAR 52.203-2: Certificate of Independent Price Determination</p>

            <p>FAR 52.203-11: Certification and Disclosure Regarding Payments to Influence Certain Federal Transactions</p>

            <p>FAR 52.203-18: Prohibition on Contracting with Entities that Require Certain Internal Confidentiality Agreements or Statements &ndash; Representation</p>

            <p>FAR 52.204-25: Prohibition of Contracting for Certain Telecommunications and Video Surveillance Services or Equipment</p>

            <p>FAR 52.209-2, 52.209-10: Prohibition on Contracting with Inverted Domestic Corporations</p>

            <p>FAR 52.212-5: Contract Terms and Conditions Required to Implement Statutes or Executive Orders-Commercial Items</p>

            <p>FAR 52.222-38: Compliance with Veterans&rsquo; Employment Reporting Requirements</p>

            <p>FAR 52.222-50, 52.222-56: Combating Trafficking in Persons</p>

            <p>FAR 52.223-22: Public Disclosure of Greenhouse Gas Emissions and Reduction Goals - Representation.</p>

            <p>FAR 52.225-20: Prohibition on Conducting Restricted Business Operations in Sudan - Certification</p>

            <p>FAR 52.225-25: Prohibition on Contracting with Entities Engaging in Certain Activities or Transactions Relating to Iran &ndash; Representation and Certifications</p>

            <p>FAR 52.227-6: Royalty Information</p>

            <p>DFARS 252.204-7008: Compliance with Safeguarding Covered Defense Information Controls</p>

            <p>DFARS 252.204-7012: Safeguarding Covered Defense Information and Cyber Incident Reporting</p>

            <p>DFARS 252.204-7019: Notice of NIST SP 800-171 DoD Assessment Requirements</p>

            <p>DFARS 252.204-7020: NIST SP 800-171 DoD Assessment Requirements</p>

            <p>DFARS 252.204-7021: Contractor Compliance with the Cybersecurity Maturity Model Certification Level Requirement</p>

            <p>DFARS 252.209-7002: Disclosure of Ownership or Control by a Foreign Government</p>

            <p>DFARS 252.216-7008: Economic Price Adjustment - Wage Rates or Material Prices Controlled by a Foreign Government - Representation.</p>

            <p>DFARS 252.225-7000: Buy American - Balance of Payments Program Certificate</p>

            <p>DFARS 252.225-7003: Report of Intended Performance Outside the United States and Canada-Submission with Offer</p>

            <p>DFARS 252.225-7031: Secondary Arab Boycott of Israel</p>

            <p>DFARS 252.225-7042: Authorization to Perform</p>

            <p>DFARS 252.225-7049: Prohibition on Acquisition of Certain Foreign Commercial Satellite Services - Representations</p>

            <p>DFARS 252.225-7050: Disclosure of Ownership or Control by the Government of a country that is a State Sponsor of Terrorism (Is Not)</p>

            <p>DFARS 252.229-7012: Tax Exemptions (Italy) - Representation</p>

            <p>DFARS 252.229-7013: Tax Exemptions (Spain) - Representation</p>

            <p>DFARS 252.239-7011: Special Construction and Equipment Charges</p>

            <p>DFARS 252.247-7023: Transportation of Supplies by Sea (Alternate I, II)</p>
</body>
</html>