@inherits System.Web.Mvc.WebViewPage<List<Generic.pr_getPartnerQuestionResponseByAccessCode_Result>>
@using System.Web.Mvc.Html
@using System.Web.Mvc
@using Generic.Helpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<title>Reps and Certs 2022</title>*@
    @*<style type="text/css">
        body {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 14px;
        }

        .notes {
            background-attachment: local;
            background-image: linear-gradient(to right, white 10px, transparent 10px), linear-gradient(to left, white 10px, transparent 10px), repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
            line-height: 31px;
            padding: 8px 10px;
        }

        div {
            padding-right: 20px;
            padding-left: 20px;
        }

        h1, h2 {
            color: blue;
            font-size: 18px !important;
        }

        h3 {
            color: blue;
            font-size: 14px !important;
        }

        img {
            width: 25%;
        }

        .img-div {
            text-align: right;
        }

        .table-data {
            width: 80%;
        }

            .table-data td {
                height: 24px;
            }

                .table-data td:nth-child(odd) {
                    width: 40%;
                    text-align: left;
                }
    </style>*@
</head>
<body>

    @{

        if (@ViewBag.logoSrc != null)
        {
            <table>
                <tr>
                    <td>
                        <img width="146" height="47" style="text-align:right;"  src="@ViewBag.logoSrc" />
                    </td>
                </tr>
            </table>
        }
        @*<div style="float:right;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/BATTELLE-BLUE.svg/1280px-BATTELLE-BLUE.svg.png" />
        </div>*@
    }
    @foreach (var item in ViewBag.reslt2)
    {
        <table width="100%">
            <tr>
                <td style="font-size: 15px; color: #081835">
                    @Html.Raw(ViewBag.QuestionnaireTitle ?? "") - @item.Access_Code
                </td>
            </tr>
        </table>
        <table width="100%" cellpadding="0" cellspacing="0" border="1">
            <tr>
                <td style="font-size: 11px; padding-left: 5px; padding-bottom:15px;">
                    INVITED DATE: @DateTime.Parse(item.Invited_Date.ToString()).ToString("MM/dd/yyyy")
                </td>
                <td style="font-size: 11px; padding-left: 5px; padding-bottom:15px;">
                    COMPLETED DATE: @DateTime.Parse(item.Completed_Date.ToString()).ToString("MM/dd/yyyy")
                </td>
            </tr>
            <tr>
                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;" colspan="2">
                    SUPPLIER NAME: @ViewBag.partner.name
                </td>
            </tr>
            <tr>
                <td>
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td style="font-size: 11px; word-wrap:break-word; padding-left: 5px; padding-bottom:5px;">
                                SUPPLIER ADDRESS #1: @ViewBag.partner.address1
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 11px; word-wrap:break-word; padding-left: 5px; padding-bottom:5px;">
                                SUPPLIER ADDRESS #2: @ViewBag.partner.address2
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                                CITY/TOWN: @ViewBag.partner.city
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                                STATE/PROVINCE/REGION: @ViewBag.state
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                                ZIP CODE:
                                @if (ViewBag.partner.zipcode != null)
                                {
                                    @MvcHtmlString.Create(ViewBag.partner.zipcode.ToString().Length > 5 ? ViewBag.partner.zipcode.ToString().Substring(0, 5) + "-" + ViewBag.partner.zipcode.ToString().Substring(5, ViewBag.partner.zipcode.ToString().Length - 5) : ViewBag.partner.zipcode);
                                }
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                                COUNTRY: @ViewBag.country
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table width="100%" cellpadding="0" cellspacing="0" border="1">
                        <tr>
                            <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;" colspan="2">
                                CONTACT NAME: @ViewBag.partner.firstName @ViewBag.partner.lastName
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px; width:inherit">
                                CONTACT TELEPHONE#: @ViewBag.partner.phone
                            </td>
                            <td width="30%" style="font-size: 11px; padding-left: 5px; padding-bottom:5px; width:inherit">
                                CONTACT FAX#: @ViewBag.partner.fax
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;" colspan="2">
                                CONTACT EMAIL ADDRESS: @ViewBag.partner.email
                                <br />
                                <br />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                    DUNS #: <br />
                    @ViewBag.partner.internalID
                </td>
                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                    SAP/LOCAL SUPPLIER #: <br />
                    @ViewBag.partner.internalID
                </td>
            </tr>
        </table>
    }

    <br />
    <br />
    @{int i = 1;}
    @*here we can run foreach loop to bind all questions and answers*@

    <table cellpadding="0" cellspacing="0" border="1" width="100%">
        @foreach (var p in @Model)
        {
            <tr>
                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;" colspan="2">
                    <div style="word-wrap:break-word;">
                        @i.  @Html.Raw(p.question)
                    </div>
                </td>
            </tr>
            <tr>
                @{
                    string[] resultArray = p.description.Split(new string[] { "--" }, StringSplitOptions.RemoveEmptyEntries);
                    <td style="font-size: 11px; text-align: left; padding-left: 5px; padding-bottom:5px;">
                        <div style="word-wrap:break-word;">
                            @if (resultArray.Count() > 0)
                            {
                                @Html.Raw(resultArray[0].Replace("????", ""))
                            }
                        </div>
                    </td>
                    <td style="font-size: 11px; text-align: left; padding-left: 5px; padding-bottom:5px;">
                        <div style="word-wrap:break-word;">
                            @if (resultArray.Count() > 1)
                            {
                                @Html.Raw(resultArray[1])
                            }
                        </div>
                    </td>
                }
            </tr>

            <tr><td colspan="2"><br /></td></tr>
            i++;
        }
    </table>
    <br />

    @foreach (var item in ViewBag.reslt2)
    {
        <table width="100%" cellpadding="0" cellspacing="0" border="1">
            <tr>
                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                    NAME: @item.eSignature_Last_Name @item.eSignature_First_Name
                </td>
                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                    SIGNATURE: @item.eSignature_eMail
                </td>
                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                    DATE: @item.Completed_Date
                </td>
            </tr>
            <tr>
                <td style="font-size: 11px; text-align: left; padding-left: 5px; padding-bottom:5px;" colspan="3">
                    TITLE: @item.eSignature_Title
                </td>
            </tr>
        </table>
    }
    <!-- FAR Details -->
    <h3><b>The following FAR and DFARS provisions are incorporated by reference. They do not require the completion of any data. Offeror&rsquo;s signature on page One asserts that Offeror complies with each of these provisions.</b></h3>
    <table>
        <tr>
            <td style="vertical-align:top;">
                <p><b>FAR 52.203-2:</b> Certificate of Independent Price Determination</p>

                <p><b>FAR 52.203-11:</b> Certification and Disclosure Regarding Payments to Influence Certain Federal Transactions</p>

                <p><b>FAR 52.203-18: </b>Prohibition on Contracting with Entities that Require Certain Internal Confidentiality Agreements or Statements &ndash; Representation</p>

                <p><b>FAR 52.204-25:</b> Prohibition of Contracting for Certain Telecommunications and Video Surveillance Services or Equipment</p>

                <p><b>FAR 52.209-2, 52.209-10:</b> Prohibition on Contracting with Inverted Domestic Corporations</p>

                <p><b>FAR 52.212-5: </b>Contract Terms and Conditions Required to Implement Statutes or Executive Orders-Commercial Items</p>

                <p><b>FAR 52.222-38:</b> Compliance with Veterans&rsquo; Employment Reporting Requirements</p>

                <p><b>FAR 52.222-50, 52.222-56:</b> Combating Trafficking in Persons</p>

                <p><b>FAR 52.223-22: </b>Public Disclosure of Greenhouse Gas Emissions and Reduction Goals - Representation.</p>

                <p><b>FAR 52.225-20: </b>Prohibition on Conducting Restricted Business Operations in Sudan - Certification</p>

                <p><b>FAR 52.225-25:</b> Prohibition on Contracting with Entities Engaging in Certain Activities or Transactions Relating to Iran &ndash; Representation and Certifications</p>

                <p><b>FAR 52.227-6: </b>Royalty Information</p>
            </td>
            <td>
                <p><b>DFARS 252.204-7008:</b> Compliance with Safeguarding Covered Defense Information Controls</p>

                <p><b>DFARS 252.204-7012: </b>Safeguarding Covered Defense Information and Cyber Incident Reporting</p>

                <p><b>DFARS 252.204-7019:</b> Notice of NIST SP 800-171 DoD Assessment Requirements</p>

                <p><b>DFARS 252.204-7020:</b> NIST SP 800-171 DoD Assessment Requirements</p>

                <p><b>DFARS 252.204-7021: </b>Cybersecurity Maturity Model Certification Requirement</p>

                <p><b>DFARS 252.209-7002: </b>Disclosure of Ownership or Control by a Foreign Government</p>

                <p><b>DFARS 252.216-7008:</b> Economic Price Adjustment - Wage Rates or Material Prices Controlled by a Foreign Government - Representation.</p>

                <p><b>DFARS 252.225-7000:</b> Buy American - Balance of Payments Program Certificate</p>

                <p><b>DFARS 252.225-7003:</b> Report of Intended Performance Outside the United States and Canada-Submission with Offer</p>

                <p><b>DFARS 252.225-7031:</b> Secondary Arab Boycott of Israel</p>

                <p><b>DFARS 252.225-7042:</b> Authorization to Perform</p>

                <p><b>DFARS 252.225-7049: </b>Prohibition on Acquisition of Certain Foreign Commercial Satellite Services - Representations</p>

                <p><b>DFARS 252.225-7050:</b> Disclosure of Ownership or Control by the Government of a country that is a State Sponsor of Terrorism (Is Not)</p>

                <p><b>DFARS 252.229-7012:</b> Tax Exemptions (Italy) - Representation</p>

                <p><b>DFARS 252.229-7013:</b> Tax Exemptions (Spain) - Representation</p>

                <p><b>DFARS 252.239-7011:</b> Special Construction and Equipment Charges</p>

                <p><b>DFARS 252.247-7023:</b> Transportation of Supplies by Sea (Alternate I, II)</p>
            </td>
        </tr>
    </table>
</body>
</html>
