@inherits System.Web.Mvc.WebViewPage
@using System.Web.Mvc.Html
@using System.Web.Mvc
@using Generic.Helpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        body {
            font-size: 14.0pt;
            font-family: "Times New Roman";
        }

        h1 {
            font-size: 22.0pt;
            font-family: "Times New Roman";
            text-align: center;
        }

        h2 {
            font-size: 14.0pt;
            font-family: "Times New Roman";
        }

        h3 {
            font-size: 14.0pt;
            font-family: "Times New Roman";
            text-align: center;
        }

        p {
            font-size: 14.0pt;
            font-family: "Times New Roman";
        }

        ul {
            list-style-type: none;
        }

        li {
            list-style-type: none;
        }

        input[type="checkbox"] {
            margin-left: 50px;
        }


        li input[type="checkbox"] {
            margin-left: 20px;
        }
    </style>
</head>
<body>
    <h1>
        Honeywell Aerospace
        <br />
        LC&E Compliance Questionnaire Rev. 20
    </h1>
    <h2>Section 1:  Overview</h2>
    <p>
        <ul>
            <li>
                1. Identify the project/program, governing process(es) and team members involved in project planning.
                <ul>
                    <li>a. Program Name:  @ViewBag.partner.name</li>
                    <li>b. Designation (e.g., VE ####, G00###, etc.): @ViewBag.partner.address1</li>
                    <li>c. Program Leader/Manager: @ViewBag.Manager</li>
                    <li>
                        d. Governing process (e.g., Triage, Value Engineering, Standard Transition Process-STP, Other):
                        <br /><input type="checkbox" @ViewBag.Checkbox62353 /> Standard Transition Process-STP
                        <br /><input type="checkbox" @ViewBag.Checkbox62354 /> Triage
                        <br /><input type="checkbox" @ViewBag.Checkbox62355 /> Value Engineering
                        <br /><input type="checkbox" @ViewBag.Checkbox62356 /> Other
                    </li>
                    <li>e. Identify the functional representatives involved in Project Planning (e.g., E&T, M&PM, ISC-VE, GS&I, SS):</li>
                </ul>
            </li>
            <li>
                2. Provide a general description of the project including the following:
                <ul>
                    <li>a. Does access code VU not have a description?</li>
                    <li>
                        b. If the Project is Transition related, which type of activity is this?
                        <br /><input type="checkbox"  @ViewBag.ActivityType270/> Make to Make Transition (HON to HON)
                        <br /><input type="checkbox" @ViewBag.ActivityType269/> Make to Buy (Outsourcing)
                        <br /><input type="checkbox" @ViewBag.ActivityType267 /> Buy to Buy (Supplier to Supplier)
                        <ul>
                            <li>
                                <input type="checkbox" /> Build to Print (BTP)
                            </li>
                            <li>
                                <input type="checkbox" /> Build to Spec (ASL)
                            </li>
                            <li>
                                <input type="checkbox" /> Supplier Reposition
                            </li>
                        </ul>
                        <input type="checkbox" @ViewBag.ActivityType268/>Buy to Make (In sourcing)
                        <br /><input type="checkbox" @ViewBag.ActivityType266 />Other
                    </li>
                    <li>
                        c. Is there an assist or non-recurring payment?
                        <br /><input type="checkbox" @ViewBag.Checkbox35500_Yes /> Yes
                        <br /><input type="checkbox" @ViewBag.Checkbox35500_No /> No
                    </li>
                    <li>
                        d. Does this product involve new designs or reuse?
                        <br /><input type="checkbox" @ViewBag.Checkbox35501_Yes /> Yes
                        <br /><input type="checkbox" @ViewBag.Checkbox35501_No /> No
                    </li>
                    <li>
                        e. In the part a programmble electronic component OR is it used on any of the following military platforms?
                        <br /><input type="checkbox"  /> US Government technology demonstrations
                        <br /><input type="checkbox" /> B-1B, B-2, B-21
                        <br /><input type="checkbox" /> F-15SE, F/A-18E/F, F-22, F-23, F-17
                        <br /><input type="checkbox" /> EA-18G
                        <br /><input type="checkbox" /> Abrams 1
                    </li>
                </ul>
            </li>
        </ul>
    </p>

    <h2>Section 2: Transitions to China</h2>
    <p>
        <ul>
            <li>
                1. Does the transition/reposition contemplate movement of any parts to or within China for manufacture?
                <br /><input type="checkbox" @ViewBag.Checkbox35505_Yes /> Yes.
                <br /><input type="checkbox" @ViewBag.Checkbox35505_No /> No. Skip the remainder of this Section 2 and proceed to Section 3.
            </li>
            <li>
                2. Is the drawing assigned a Military technology export classification (TEC) code, regardless of the country of current design authority (CDA) to be confirmed by
                the Approver/Export Compliance for this Section? A military technology export classification is any Department of State ITAR/USML item, as well as any Department
                of Commerce 500 or 600 series item.
                <br />Instructions: Approver for this Section to mark "Y" in the "USML/500/600 (Y/N)" column of the "Project Scope" tab of the Scope and Export Data file.
                <br /><input type="checkbox" @ViewBag.Checkbox35508_Yes /> Yes. Part cannot be transitioned. Skip the remainder of this Section 2 for this particular part.
                <br /><input type="checkbox" @ViewBag.Checkbox35508_No /> No.
            </li>
            <li>
                3. For each part contemplated for transition/reposition to or within China, please answer the following:
                <ul>
                    <li>
                        a. In the CID file, was a usage code other than "C" (e.g., "CM", "MC", "M", "OT") found in the "Smart Usage Code" column of the "Workbook" tab?
                        <br />
                        <input type="checkbox" @ViewBag.Checkbox35506_Yes /> Yes. Provide end-use platform and customer information in the "China Optics" tab of the Project Scope file embedded in Section 1, Item 2.c of this checklist (see
                        above).
                        <br />
                        Instructions: Find the Application/Model information listed under the "Military Rolled Up" column of the "Workbook" tab of the CID file. Insert this information in
                        the Project Scope file.
                        <br />
                        <input type="checkbox" @ViewBag.Checkbox35506_No /> No. Skip the remainder of this Section 2 for this particular part.
                    </li>
                    <li>
                        b. Has General Counsel, Aerospace Global Operations and Transitions approved transition/reposition of this particular part to China?
                        <br />
                        <input type="checkbox" @ViewBag.Checkbox35509_Yes /> Yes. Proceed with transition of this particular part.
                        <br />
                        <input type="checkbox" @ViewBag.Checkbox35509_No /> No. Part cannot be transitioned.
                    </li>
                </ul>
            </li>
        </ul>
    </p>


    <h2>Section 3: Export and Import (STP Phase 2 exit requirement)</h2>
    <p>
        <ul>
            <li>
                1. Are the new suppliers listed on the Denied Parties List (Transition Manager must run check against the
                Denied Parties List in accordance with Aerospace Policy AP-1025)?
                <br />
                N/A. The parts are being transitioned to a Honeywell site.
                <br />
                <input type="checkbox" @ViewBag.Checkbox35512_Yes /> Yes.
                <br />
                <input type="checkbox" @ViewBag.Checkbox35512_No /> No.
            </li>
            <li>
                2. Will any hardware manufacturing machines or equipment, tooling, fixtures and/or test equipment be
                provided to the receiving Honeywell site or new supplier?
                <br />
                <input type="checkbox" @ViewBag.Checkbox35513_Yes />  Yes.
                <ul>
                    <li>
                        i.      If Yes, is the receiving Honeywell site or new supplier located offshore AND will the machine/tooling/test equipment be provided free of charge or at a reduced cost, AND will result in imports into the United States?
                        <br />
                        <input type="checkbox" @ViewBag.Checkbox35514_Yes /> Yes. Provide the name of the person who is most familiar with the transition of the machine/tooling/test equipment mentioned above.
                        <br />
                        <input type="checkbox" @ViewBag.Checkbox35514_No /> No.
                    </li>
                </ul>
                <input type="checkbox" @ViewBag.Checkbox35513_No /> No.
            </li>
            <li>
                3. Will the receiving Honeywell site or new supplier return the manufactured hardware exclusively to Honeywell in the US?
                <br />
                <input type="checkbox" @ViewBag.Checkbox35515_Yes /> Yes.
                <br />
                <input type="checkbox" @ViewBag.Checkbox35515_No /> No. They will transfer hardware to located in .
            </li>
            <li>
                4. Has the receiving Honeywell site or new supplier obtained all necessary export authorizations to return the
                manufactured hardware to Honeywell in the U.S. or to the entities identified in Question #3?
                <br />
                <input type="checkbox" @ViewBag.Checkbox62357 /> Yes.
                <br />
                <input type="checkbox" @ViewBag.Checkbox62359 /> Pending. The proposed receiving Honeywell site or supplier is working on obtaining the necessary local country
                export authorizations.
                <br />
                <input type="checkbox" @ViewBag.Checkbox62358 /> No. Obtain confirmation from local export focal(s) that no export authorizations are required.
            </li>
            <li>
                5. For any parts transitioned/repositioned outside the US, which will be shipped back to a US site, has the
                HTSUS (Harmonized Tariff Schedule of the United States) submittal been completed to prevent customs delays? Please
                go the following link and reference the Instructions Tab.
                <a hrfe="https://teamsites2013.honeywell.com/sites/ICFS/ES/Shared%20Documents/Forms/AllItems.aspx">https://teamsites2013.honeywell.com/sites/ICFS/ES/Shared%20Documents/Forms/AllItems.aspx</a>
                <br />
                <input type="checkbox" @ViewBag.Checkbox35517_Yes /> Yes.
                <br />
                <input type="checkbox" @ViewBag.Checkbox35517_No /> No.
            </li>
        </ul>
    </p>

    <h2>Section 4:  IP Compliance (STP Phase 2 exit requirement)</h2>
    <p>
        <h3>A.   Third Party Proprietary Information (Buy to Buy & Make to Buy & Buy to Make & OIP)</h3>
        <ul>
            <li>
                1. Can Honeywell and the new supplier (if applicable) execute this project using only documents and information that were/are created solely by Honeywell or the new supplier (if applicable) or are clearly within the public domain?  Note:  The execution of the project cannot rely on the use of any documents or information that are considered "proprietary," in whole or in part, to Honeywell's current supplier or another third party.  When responding to this question, consider all aspects of the project, from planning through production, including product specifications, product design documentation, documents needed for obtaining and reviewing proposals/quotes, responding to supplier inquiries, conducting design reviews, performing test/qual/cert activities, etc.  If any documents planned for use on this project are marked (or suspected to be) "Proprietary" or "Confidential" to a third party, mark "No/Not Sure".
                <br />
                <input type="checkbox" @ViewBag.Checkbox35521_Yes /> Yes.
                <br />
                <input type="checkbox" @ViewBag.Checkbox35521_No /> No/Not sure, contact IP Counsel for further reevaluation.
                <ul>
                    <li><input type="checkbox" @ViewBag.Checkbox62362 /> i.  IP Counsel contacted on [ date ], risk was cleared with recommendation to proceed.</li>
                    <li><input type="checkbox" @ViewBag.Checkbox62363 /> ii. IP Counsel contacted on [ date ], risk acknowledged and characterized for consideration by transition business stakeholders.</li>
                </ul>
            </li>
        </ul>
        <br/>
        <br /><br /><br /><br /><br /><br /><br /><br />
        <h3>B.    Reverse Engineering (Buy to Buy & Buy to Make)</h3>
        <ul>
            <li>
                2. As part of this project, will Honeywell need to "Reverse Engineer" the current supplier's part or provide the current supplier's part to the new supplier? Note: For the purposes of this question, "Reverse Engineering" activities include obtaining information about the design, construction or operation of the part through inspection, testing, measurement, disassembly or reverse engineering of the current supplier's part for use in any aspects of the project including design, test, qualification, certification, and production.
                <br />
                <input type="checkbox" @ViewBag.Checkbox35524_Yes /> Yes.
                <br />
                <input type="checkbox" @ViewBag.Checkbox35524_No /> No. Skip remainder of Sub-Section B Reverse Engineering and proceed to Sub-Section C People and Stored Information.
            </li>
            <li>
                3. Has the Sourcing L&C representative (if unsure, verify with the cognizant commodity manager or use assignment list to identify the Sourcing L&C representative) reviewed the Contract, PIA and purchase orders of the current supplier to ensure there are no prohibitions related to Honeywell using the part for these purposes and provided guidance on information that may be shared during reverse-engineering process?
                <br />
                <input type="checkbox" @ViewBag.Checkbox35525_Yes />  Yes.
                <br />
                <input type="checkbox" @ViewBag.Checkbox35525_No /> No. Please explain why not:_______
            </li>
        </ul>
        <h3>C.     People and Stored Information (Buy to Buy & Buy to Make)</h3>
        <ul>
            <li>
                4. Does any Honeywell employee that will participate in the project (including members of the Engineering & Technology, Marketing & Product Management, and Integrated Supply Chain functions) have knowledge of the
                current supplier's proprietary information that will be relevant to the employee's role in the project? Note: When responding to this question, consider all aspects of the project, from planning through production, including creating
                documents for and reviewing proposals/quotes, responding to supplier inquiries, conducting design reviews, performing test/qual/cert activities, etc
                <br />
                <input type="checkbox" @ViewBag.Checkbox35527_Yes /> Yes. Consult with the Souring L&C representative to provide the guidance on what proprietary information can be shared with the supplier.
                <br />
                <input type="checkbox" @ViewBag.Checkbox35527_No /> No.
            </li>
            <li>
                5. Does Honeywell have stored information (e.g., PDM, Team Center, etc.) that is proprietary to the current supplier and that is relevant to the part or product?
                <br />
                <input type="checkbox" @ViewBag.Checkbox35528_Yes /> Yes. Consult with the Souring L&C representative to provide the guidance on what proprietary information can be shared with the supplier.
                <br />
                <input type="checkbox" @ViewBag.Checkbox35528_No /> No.
            </li>
        </ul>
        <h3>D.    Third Party Patents (Buy to Buy & Buy to Make)</h3>
        Is this a Build to Specification transition?
        <br />
        <input type="checkbox" @ViewBag.Checkbox35529_No /> No. Skip remainder of Sub-Section D and proceed to Sub-Section E.
        <br />
        <input type="checkbox" @ViewBag.Checkbox35529_Yes /> Yes. Proceed to next question.
        <ul>
            <li>
                6. Do you have documentation identifying when Honeywell first sold and/or delivered a product or assembly containing this part?
                <ul>
                    <li>
                        <input type="checkbox" @ViewBag.Checkbox35530_Yes /> Yes. Identify the date of delivery and/or sale and identity of supporting document(s):
                        <ul>
                            <li>
                                First sale date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  First delivery date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Supporting document(s):
                            </li>
                        </ul>
                    </li>
                    <li>
                        <input type="checkbox" @ViewBag.Checkbox35530_No />  No. Do you have documentation, such as a schematic, which identifies the first production-approved version of the part?
                        <br />
                        <input type="checkbox" @ViewBag.Checkbox35534_No /> i. No.
                        <br />
                        <input type="checkbox" @ViewBag.Checkbox35534_Yes /> ii. Yes.&nbsp;&nbsp;&nbsp;Date of first production-approved design:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Supporting document(s):
                       
                    </li>
                </ul>
            </li>
      
        <li>
            7.   Does the part or associated documentation include any patent markings?  Note: Patent markings can be on the part itself (such as by etching or on a name plate), on its packaging or packaging inserts, and possibly a company's web site page for the part. Patent markings are commonly recited in a manner such as - "US Patent No. #,###,###" or "covered by one or more of the following US Patents: #,###,###; #,###,###; and #,###,###".
            <br />
            <input type="checkbox" @ViewBag.Checkbox35537_Yes /> Yes, consult with IP counsel and provide patent numbers or patent markings:
            <br />
            <input type="checkbox" @ViewBag.Checkbox35537_No /> No.
        </li>
        <li>
            8.   Is patent infringement a significant risk for any part(s) to be transitioned?  High patent infringement risk parts include newer parts that include specific technology or features that are only currently available from the current supplier.  Low patent infringement risk parts include those parts that have been in production for a significant period of time (more than 20 years) years and include technology or features that are commonly available from other suppliers.  Note:  To determine if a current supplier owns any patents, use Google Patents and enter the supplier name in the search field.
            <br />
            <input type="checkbox" @ViewBag.Checkbox35538_Yes /> Yes, consult with IP counsel and provide details regarding the current supplier and part(s) to be transitioned.
            <br />
            <input type="checkbox" @ViewBag.Checkbox35538_No /> No.
        </li>
        </ul>
        <br/>
        <h3>E.    Third Party Licenses (Buy to Buy & Make to Buy & OIP)</h3>
        Does the transition scope include transfer of any software, tooling or test/manufacturing equipment?
        <br />
        <input type="checkbox" @ViewBag.Checkbox35539_No /> No. Skip remainder of Sub-Section E and proceed to Section 5.
        <br />
        <input type="checkbox" @ViewBag.Checkbox35539_Yes />  Yes. Proceed to next question.
        <ul>
            <li>
                9. Are there any third party intellectual property licenses that will need to be transferred or assigned to the new supplier?  Consult with engineering, testing, supply chain, and licensing teams to determine if any third party intellectual property licenses apply to the software, tooling or test/manufacturing equipment to be transferred.  Note: We need to identify any third party licenses that will need to be transferred or assigned to the new supplier.  These licenses can include (1) software licenses for software used in manufacturing, testing, or as part of product operation, (2) data/documentation licenses for third party information (such as other supplier's manuals) for use in assembly or testing, or (3) patent licenses needed to manufacture or sell the part.  When responding to this question, consider whether we use any third party intellectual property, such as software or information, in any aspect of our manufacturing process, from planning through production, including creating documents for and reviewing proposals/quotes, responding to supplier inquiries, conducting design reviews, performing test/qual/cert activities.  To determine if such third party licenses exist, we will need to review with the responsible engineering, testing, supply chain, and licensing teams.
                <br />
                <input type="checkbox" @ViewBag.Checkbox35542_Yes /> Yes, consult the Sourcing L&C representative to review the identified licenses to determine what can be transferred or assigned the licenses to the new supplier.
                <br />
                <input type="checkbox" @ViewBag.Checkbox35542_No /> No. Skip remainder of Sub-Section E and proceed to Section 5.
            </li>
        </ul>
    </p>


    <h2>Section 5:  Customer Contracts (STP Phase 2 exit requirement)</h2>
    <p>
        The contract review section will require that both the CID and CFDB Final documents have been completed.
        <ul>
            <li>
                1. Embed final CFDB, CID, and Entanglement summary files, or if files are too large, please provide links with access for LC&E Checklist approvers:
            </li>
            <li>
                2. Insert document link to project folder where due diligence and documentation is stored:
            </li>
        </ul>
    </p>

    <h2>Section 5(a):  Channel 2 Customer Contracts (STP Phase 2 exit requirement)</h2>
    <p>
        <ul>
            <li>
                1. FAR 15 and FAR 12 Capability Confirmation
                <ul>
                    <li>
                        a. CID Translation for FAR-15 and FAR-12: Within your returned CID file (see "CID Request" Worksheet", "Final Usage" column) please (i) identify classifications of
                        the transition parts into the categories below, and (ii) confirm (including through supplier confirmation of supplemental PO provisions) that the receiving Honeywell
                        site/supplier is is capable for FAR-12 and FAR-15 work.
                        <br />
                        <input type="checkbox"/> M, MC or OT (FAR-15)
                        <br />
                        <input type="checkbox" /> CM (FAR-12)
                        <br />
                        <input type="checkbox" /> C (Commercial)
                    </li>
                    <li>
                        b. CFDB Translation for FAR 15 and FAR 12: Within your FINAL CFDB file (see "FAR15" column and "FAR 12" column), please identify whether any of the CFDB responses in the "FAR 15" column or "FAR 12" column are "Y".
                        <br />
                        <input type="checkbox" @ViewBag.Checkbox35548_Yes /> Any "FAR 15" = "Y"
                        <br />
                        <input type="checkbox" @ViewBag.Checkbox35549_Yes />Any "FAR 12" = "Y"
                    </li>
                    <li>
                        c. If CID Translation responses are (i) a usage code other than "C" (e.g., "CM", "MC", "M", "OT"), or (ii) a "Y" to either "FAR 15" or "FAR 12", have you obtained
                        receiving Honeywell site/supplier confirmation of FAR-12 and/or FAR-15 capability?
                        <br />
                        <input type="checkbox" /> Yes. Proceed to question 2 below
                        <br />
                        <input type="checkbox" /> No, why? . Proceed to question 2 below.
                        <br />
                        <input type="checkbox" /> N/A, all CID Translation responses are "C" only, and CFDB File Translation responses are "N" in the FAR 15 and FAR 12 columns. Proceed to section i immediately
                        below.<ul>
                                  <li>
                                      i. Are there orders for which the CFDB Column labeled "FMS" is "Y"?
                                      <br />
                                      <input type="checkbox" /> Yes, and order is Distribution Channel 01. Engage appropriate Contract Manager to determine if there are U.S. Government restrictions.
                                      <br />
                                      <input type="checkbox" /> Yes, and order is Distribution Channel 02, Proceed to question 3 in this Section 5(a).
                                      <br />
                                      <input type="checkbox" />  No or blank. Skip the remainder of this Section 5(a) and proceed to Section 5(b) below.
                                  </li>
                        </ul>
                    </li>       
                </ul>
            </li>
            <li>
                2. For transitions to a supplier where either (i) the CID file has a usage code other than "C" (e.g., "CM", "MC", "M", "OT") for any part to be transitioned, or (ii) a "Y" is found in the "FAR 15" column of the CFDB file, have you confirmed with the award Commodity Manager that the quote package/response conforms to
                FAR-15 requirements (i.e., confirmation that the contract add process (AP1245) meets TINA requirements)?
                <br />
                <input type="checkbox" /> Yes.&nbsp;&nbsp;&nbsp; <input type="checkbox" />  No, why?&nbsp;&nbsp;&nbsp;<input type="checkbox" /> N/A, why?
            </li>
            <li>
                <br/>
                3. Customer Contracts Review:  For the table below please answer from the CFDB output file (CFDB Final Worksheet).  Please use Column “D” for the contact information and Owners surrounding Sourcing Transitions, Sourcing Repositions, and In-Sourcing Activities.  Please Use Column “E” when performing Make to Make, Make to Buy or In-Sourcing Activities.
            </li>
            <li>
                5. For any of the Customer Contracts review sections above requiring supplier confirmation for Supplemental PO provisions or clauses, did the supplier identify any clauses they cannot conform to?
                <br />
                <input type="checkbox" /> Yes.  Part(s) will need to have a revised award strategy.
                <br />
                <input type="checkbox" />  No.
                <br />
                <input type="checkbox" />  N/A, no Supplemental PO review required.
                <br />
                Note: In critical cases, there may be a need for Customer Contract mods.  Contact associated Customer Contract Manager (see link: <a href="http://in.honeywell.com/sites/aero/LCE/Contracts/Organization/Documents/Aerospace%20Contracts%20Assignment%20Listings.xlsx"><span style="font-family:&quot;Times New Roman&quot;,serif">Contract Manager Assignments</span></a>)
            </li>
            <li>
                6.    Customer Notification and Approval:
               <ul>
                   <li>a.       Did any of the following fields have a “Y” in the CFDB file and/or an approval or notification requirement in the Entanglement Summary: supplier change or subcontracting restrictions, place of performance, disclosure to third parties, citizenship restrictions, and security restrictions?
                       <br />
                       <input type="checkbox" /> Yes, customer approval(s) and/or notification(s) required for the transition/reposition.
                       <br />
                       <input type="checkbox" />   No.
                   </li>
                   <li>b.       Have Customer approvals and/or notifications been requested and completed for all customers with approval and/or notification requirements applicable to the transition/reposition?
                       <br />
                       <input type="checkbox" /> Yes.
                       <br />
                       <input type="checkbox" />  No, requirements have been added to the TAC 3 RAIL.   
                       <br />
                       <input type="checkbox" />  N/A, no customers require notification or approval.
                   </li>
                   <li>
                       7.  Have all issues/follow-up actions identified in the Final CFDB and Entanglement Summary been completed?
                       <br />
                       <input type="checkbox" /> Yes.
                       <br />
                       <input type="checkbox" /> No, requirements have been added to the TAC 3 RAIL.
                       <br />
                       <input type="checkbox" /> N/A, no issues/follow-up actions identified in Final CFDB and Entanglement Summary.
                   </li>
               </ul>
            </li>
        </ul>
    </p>


    <h2>Section 5(b): Channel 1 Customer Contracts (STP Phase 2 exit requirement)</h2>
    <p>
        <ul>
            <li>
                1. Within the CFDB for the parts to be transitioned/repositioned, was a Channel 1 contract found?
                <br />
                <input type="checkbox" @ViewBag.Checkbox35563_Yes /> Yes.
                <br />
                <input type="checkbox" @ViewBag.Checkbox35563_No /> No. Skip the remainder of this Section 5(b) and proceed to Section 6.
            </li>
            <li>
                2. FAA Notification: For all "01" Distribution parts contained within CFDB Final, transitioning or repositioning to a
                country outside of the US, has FAA Notification been submitted per AP-1612?
                <br />
                <input type="checkbox" @ViewBag.Checkbox62364 /> Yes.
                <br />
                <input type="checkbox" @ViewBag.Checkbox62365 /> No, requirements have been added to the TAC 3 RAIL.
                <br />
                <input type="checkbox" @ViewBag.Checkbox62366 /> N/A, transitions are within US or impact only Military customers.
            </li>
            <li>
                3. Customer Notification: Have written Customer Notifications been submitted for all customers affected by the
                transition/reposition and identified within the CFDB file? Customer Notification is identified by a "Y" in the CFDB column
                "Supplier Change Noti".
                <br />
                <input type="checkbox" @ViewBag.Checkbox62367 /> Yes.
                <br />
                <input type="checkbox" @ViewBag.Checkbox62368 /> No, requirements have been added to the TAC 3 RAIL.
                <br />
                <input type="checkbox" @ViewBag.Checkbox62369 /> N/A, no customers require notification.
            </li>
            <li>
                4. Customer Approval: Have Customer Approvals been submitted for all customers affected by the transition/reposition and
                identified within the CFDB file? Customer Approval is identified by a "Y" in the CFDB column "Supplier Approval Apply" or
                "Supplier Chg Apply".
                <br />
                <input type="checkbox" @ViewBag.Checkbox62370 /> Yes.
                <br />
                <input type="checkbox" @ViewBag.Checkbox62371 /> No, requirements have been added to the TAC 3 RAIL.
                <br />
                <input type="checkbox" @ViewBag.Checkbox62372 />  N/A, no customers require notification.
            </li>
        </ul>
    </p>
    <br/><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <h2>Section 6: Buy American Act (STP Phase 2 exit requirement)</h2>
    <p>
        <ul>
            <li>
                1. Within the CID for the parts to be transitioned/repositioned, were any usage codes other than "C" found (e.g., "CM", "MC", "M", "OT")?
                <ul>
                    <li>
                        <input type="checkbox" @ViewBag.Checkbox35570_Yes />  Yes.
                    </li>
                    <li>
                        <input type="checkbox" @ViewBag.Checkbox35570_No /> No. If No, does the CFDB show any Channel 02 orders?
                        <ul>
                            <li>
                                <input type="checkbox" @ViewBag.Checkbox35571_Yes />  Yes. Proceed to Question 2 in this section.
                            </li>
                            <li>
                                <input type="checkbox" @ViewBag.Checkbox35571_No /> No. Provide email from the Approver for this Section stating a "Not Required" for this Section. Skip the remainder of this Section 6 and proceed to Section 7.
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                2. Is the project a US to US transition/reposition where the substantial transformation of the part is occurring within the US with greater than 50% Domestic content?
                <br />
                <input type="checkbox" @ViewBag.Checkbox35573_Yes /> Yes. Attach evidence confirming US Content and build, then skip the remainder of this Section 6 and proceed to Section 7. (Note: only emails from the supplier or the Supplier Self-Assessment Letter are
                acceptable forms of attachment).
                <br />
                <input type="checkbox" @ViewBag.Checkbox35573_No /> No.
            </li>
            <li>
                3. Have the parts in this project gone through a BAA review under a different project name/number or CID request?
                <br />
                <input type="checkbox" @ViewBag.Checkbox35574_Yes /> Yes. Please identify Project#, CID and BAA returned date:
                <br />
                <input type="checkbox" @ViewBag.Checkbox35574_No /> No.
            </li>
            <li>
                4. Has the project scope changed from previous BAA reviews through a change in "Country Transitioning To" or a change in part scope (additions) since the BAA Response was returned to you?
                <br />
                <input type="checkbox" @ViewBag.Checkbox35575_Yes /> Yes. Please resubmit BAA analysis for review.
                <br />
                <input type="checkbox" @ViewBag.Checkbox35575_No /> No.
            </li>
            <li>
                5. Was the BAA review for this project performed more than 6 months prior to your submission of this LC&E checklist?
                <br />
                <input type="checkbox" @ViewBag.Checkbox35572_Yes /> Yes. Please re-submit BAA analysis for review with new Final CFDB.
                <br />
                <input type="checkbox" @ViewBag.Checkbox35572_No />  No.
                <br />
                The BAA Approver will provide a BAA Response File. Within your returned BAA Response File, the "BAA Response" tab contains all of the BAA associated legal and business risks, along with actions to mitigate.
            </li>
            <li>
                6. Have you completed all of the required BAA actions for the award country or modified scope as defined in your BAA Response File?
                <br />
                <input type="checkbox" @ViewBag.Checkbox35576_Yes /> Yes. Please embed files, emails or link to diligence sharesite below.
                [Embed files or insert link here]
                <br />
                <input type="checkbox" @ViewBag.Checkbox35576_No />   No, part scope/countries have been redefined to mitigate risks and are updated within the "Response" tab of the attached BAA_Reponse File (See column labeled "Award Country (to be completed by
                requestor)").
            </li>
        </ul>
    </p>

    <h2>Section 7: Berry Amendment (STP Phase 2 exit requirement)</h2>
    <p>
        You will use the following CFDB columns for this section: "Domestic Pref Rest Other" or "Domestic Pref Rest Clause".
        <input type="checkbox" /> N/A. Check here if (i) no Channel 2 Customer Contracts were found in the Final CFDB, and (ii) all CID usage codes are "C".
        If N/A, then skip the remainder of this Section 7 and proceed to Section 8.

        <ul>
            <li>
                1. In the Final CFDB file, have you located any of the following clauses within the "Domestic Pref Rest Other" or "Domestic Pref Rest Clause" columns? Check all that apply.
                <br />
                <input type="checkbox" /> "Metallic" clauses: 252.225-7008, 252.225-7009, 252.225-7014
                <br />
                <input type="checkbox" /> "Cloth, Fabric, Composites": 252.225-7012
                <br />
                <input type="checkbox" /> "Hand or Measuring Tool": 252.225-7015
                <br />
                <input type="checkbox" /> "Roller or Ball" Bearing: 252.225-7016
                <br />
                <input type="checkbox" />N/A, None of the above Specialty Metals related clauses appeared in the Final CFDB.b If N/A, then skip the remainder of this Section 7 and proceed to Section 8.
            </li>
            <li>
                2. If you checked any of the boxes for the clauses in question 1 immediately above, does your product fit into the category named?
                <br />
                <input type="checkbox" /> Yes. Answer question 3 below.
                <br />
                <input type="checkbox" /> No. My transition/reposition products do not fit within any of the categories listed.
                <br />
                <input type="checkbox" /> "Metallic" clauses: 252.225-7008, 252.225-7009, 252.225-7014
                <br />
                <input type="checkbox" /> "Roller or Ball" Bearing: 252.225-7016
                <br />
                <input type="checkbox" /> "Cloth, Fabric, Composites": 252.225-7012
                <br />
                <input type="checkbox" /> "Hand or Measuring Tool": is the 252.225-7015
            </li>
            <li>
                3. If you (i) checked any boxes in question 1 above (clauses exist), and (ii) checked Yes to question 2 above, then did you confirm conformance to the "Berry" Amendment clauses through (check all that apply):
                <br />
                <input type="checkbox" @ViewBag.Checkbox35581_Yes /> Yes, supplier confirmation of conformance to the requirements listed for the specific transition
                type (i.e. confirmation of material source as US).
                <br />
                <input type="checkbox" @ViewBag.Checkbox35581_No />N/A, contract review clearance with Customer Contract Manager. N/A, specialty material review at a part level with ISC Compliance.  Note: please provide/attach or link evidence of the confirmations or reviews
                
            </li>
        </ul>
    </p>
    <h2>Section 8: Supplier Contracts (Supplier Relationship) (STP Phase 2 exit requirement)</h2>
    <p>
        <input type="checkbox" /> N/A. Check here if this is not a Buy to Buy or Buy to Make transition. If N/A, then skip the remainder of this Section 8 and proceed to Section 9.
        <br />
        <ul>
            <li>
                1. Please identify the ISC commodity manager for each part/product impacted by the project as well as the contract number (and
                type) or PO number under which this item is currently procured:

                <br />
                <br />
                <br />
                Commodity Manager&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contract Number (and Type) or PO Number
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </li>
            <li>
                2. With assistance from the identified commodity manager, determine whether the current procurement contract prohibits or
                limits Honeywell's right to move the source of the product to another source at Honeywell's discretion. Examples are as follows:
                Are we obligated to purchase all Honeywell requirements from the current supplier until sometime in the future? Are there noncompete
                provisions? Is there any provision that would prohibit Honeywell from in-sourcing the work or shifting work to another
                supplier? Are there any guaranteed % of future business provisions or guaranteed quantities provisions?
                <br />
                <input type="checkbox" @ViewBag.Checkbox35590_Yes /> Yes. Describe prohibitions or limitations:
                <br />
                <input type="checkbox" @ViewBag.Checkbox35590_No /> No.
            </li>
            <li>
                3. Has Honeywell ever entered into an agreement wherein Honeywell sold the business related to this part or agreed not to
                compete in the manufacture or sale of the part?
                <br />
                <input type="checkbox" @ViewBag.Checkbox35591_Yes /> Yes.
                <br />
                <input type="checkbox" @ViewBag.Checkbox35591_No />  No.
            </li>
        </ul>
    </p>
    <h2>Section 9: Offset (STP Phase 2 exit requirement)</h2>
    <p>
        <input type="checkbox" /> N/A. Check here if this is a Make to Make, Make to buy, Buy to make, or OIP transition. If N/A, then skip the remainder of this Section 9.
        <br />
        <ul>
            <li>
                1. Do any of the transition/reposition parts currently support offset requirements for the jurisdiction in which they are currently
                manufactured or from which they are currently sourced? Discuss with Offset Council to answer following questions.
                <br />
                <input type="checkbox" @ViewBag.Checkbox35595_Yes /> Yes.
                <br />
                <input type="checkbox" @ViewBag.Checkbox35595_No />  No.
            </li>
            <li>
                2. Has the Offset Council approved transition/reposition of each of the parts that currently support offset requirements?
                <br />
                <input type="checkbox" @ViewBag.Checkbox35596_Yes /> Yes.
                <br />
                <input type="checkbox" @ViewBag.Checkbox35596_No /> No.
            </li>
        </ul>
    </p>
</body>
</html>
