@inherits System.Web.Mvc.WebViewPage
@using System.Web.Mvc.Html
@using System.Web.Mvc
@using Generic.Helpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        body {
            font-family: "Calibri, serif";
        }

        h1 {
            font-size: 25px;
        }

        h2 {
            font-size: 18px;
        }

        h3 {
            font-size: 17px;
        }

        h4 {
            font-size: 16px;
        }

        p {
            font-size: 16px;
        }

        .ml25 {
            margin-left: 25px;
        }

        .ml50 {
            margin-left: 50px;
        }

        .ml75 {
            margin-left: 75px;
        }

        .text-center {
            text-align: center;
        }

        ul.hr li {
            display: inline;
            margin-right: 5px;
            padding: 3px;
        }

        li {
            list-style-type: none;
        }

        .mt20 {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <FONT FACE="Calibri, serif">
        <table width="100%">
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(ViewBag.logoSrc))
                    {
                        <img src="@ViewBag.logoSrc" runat="server" style="height:50px; width:300px; border:none" />
                    }
                </td>
            </tr>
        </table>
        <div>
            <ul class="ml25">
                <li><i><input type="checkbox" @ViewBag.Checkbox46269_70860 /> Commercial Unique</i></li>
                <li><i><input type="checkbox" @ViewBag.Checkbox46269_70859 /> Commercial (FAR Part 12)</i></li>
                <li><i><input type="checkbox" @ViewBag.Checkbox46268_Yes /> Non-Commercial (FAR Part 15)</i></li>
            </ul>
        </div>
        <table width="100%" style="margin-top:20px;">
            <tr>
                <td style="color: #081835" class="text-center">
                    <h1>SUPPLIER CERTIFICATION and ASSESSMENT<br />CALENDAR YEAR 2019</h1>
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <p>All current and prospective Honeywell suppliers (Suppliers) are required to complete the Annual Certification and Assessment each calendar year.  Suppliers are required to certify their compliance with the following requirements, including clauses from the Federal Acquisition Regulation and Defense Supplement, which can be found at https://www.acquisition.gov/.</p>
                </td>
            </tr>
        </table>
        @foreach (var item in ViewBag.partnerHeader)
        {
            <table width="100%" cellpadding="0" cellspacing="0" border="1">
                <tr style="height:40px">
                    <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                        ONESOURCE SUPPLIER ID# (DUNS#):  @ViewBag.partner.dunsNumber
                    </td>
                    <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                        HONEYWELL SAP/LOCAL SUPPLIER #:  @ViewBag.partner.federalID
                    </td>
                </tr>
                <tr style="height:40px">
                    <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;" colspan="2">
                        SUPPLIER NAME: @ViewBag.partner.name
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td style="font-size: 11px; word-wrap:break-word; padding-left: 5px; padding-bottom:5px;">
                                    SUPPLIER ADDRESS (Manufacturing address - no PO Box): @ViewBag.partner.address1
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 11px; word-wrap:break-word; padding-left: 5px; padding-bottom:5px;">
                                    @ViewBag.partner.address2
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                                    CITY/TOWN: @ViewBag.partner.city
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                                    STATE/PROVINCE/REGION: @ViewBag.state
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                                    ZIP CODE:
                                    @if (ViewBag.partner.zipcode != null)
                                    {
                                        @MvcHtmlString.Create(ViewBag.partner.zipcode.ToString().Length > 5 ? ViewBag.partner.zipcode.ToString().Substring(0, 5) + "-" + ViewBag.partner.zipcode.ToString().Substring(5, ViewBag.partner.zipcode.ToString().Length - 5) : ViewBag.partner.zipcode);
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                                    COUNTRY: @ViewBag.country
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table width="100%" cellpadding="0" cellspacing="0" style="height:150px; border-collapse:collapse" border="1">
                            <tr>
                                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;" colspan="2">
                                    CONTACT NAME: @ViewBag.partner.firstName @ViewBag.partner.lastName
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px; width:inherit;">
                                    CONTACT TELEPHONE#: @ViewBag.partner.phone
                                </td>
                                <td width="30%" style="font-size: 11px; padding-left: 5px; padding-bottom:5px; width:inherit;">
                                    CONTACT FAX#: @ViewBag.partner.fax
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;" colspan="2">
                                    CONTACT EMAIL ADDRESS: @ViewBag.partner.email
                                    <br />
                                    <br />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        }

        <br />
        <div>
            <h2><b>1.&nbsp;<i><u>Honeywell Code of Business Conduct</u></i></b></h2>
            <p class="ml25">It is the policy of Honeywell to take reasonable steps to ensure that its suppliers and potential suppliers have the highest level of business ethics consistent with, or similar to Honeywell's requirements for integrity and compliance and requires its suppliers to certify to the same. </p>
            <h4 class="ml50"><b><i>Supplier acknowledges</i></b></h4>
            <p class="ml50">
                It has implemented the systems, procedures and processes consistent with, or similar to, the Honeywell Inc and Honeywell Supplier Code of Business Conduct (http://honeywell.com/About/Pages/code-of-business-conduct.aspx)
                <b><i><u>or will adhere to their own Code of Business Conduct, which supports the spirit of Honeywell's requirements for integrity and compliance.</u></i></b>
            </p>
            <ul class="ml75 hr">
                <li><b><input type="checkbox" @ViewBag.Checkbox46240_Yes /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46240_No /> No </b></li>
                <li><b>If NO, comment required:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @(ViewBag.Checkbox46240_Comment ?? String.Empty)</li>
            </ul>
        </div>
        <div>
            <h2><b>2.&nbsp;<i><u>Overall Supplier Capabilities</u></i></b></h2>
            <p class="ml25">Supplier has adequate financial resources, technical equipment, facilities and the organizational experience, skills and controls available or has the ability to obtain them, as required, to perform contracts as awarded.</p>
            <ul class="ml75 hr">
                <li><b><input type="checkbox" @ViewBag.Checkbox46241_Yes /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46241_No /> No </b></li>
                <li><b>If NO, comment required:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @(ViewBag.Checkbox46241_Comment ?? String.Empty)</li>
            </ul>
        </div>
        <div>
            <h2><b>3.&nbsp;<i><u>North American Industrial Classification System (NAICS) Code</u></i></b></h2>
            <p class="ml25">If Supplier's facility is located within the United States, Canada, or Mexico, please provide your primary NAICS Code, that best represents the product/service your company supplies to Honeywell Aerospace.  NAICS Code can be found at http://www.census.gov/eos/www/naics/.</p>
            <ul class="ml75 hr">
                <li><b>Primary NAICS Code: @ViewBag.Input46251</b> (Must be 6-digits)</li>
            </ul>
            <p class="ml25">
                Do you have additional NAICS Codes you would like to list?
            </p>
            <ul class="ml75 hr">
                <li><b>Secondary NAICS Code: @ViewBag.Input46250 </b> (Must be 6-digits)</li>
            </ul>

        </div>
        <div>
            <h2><b>4.&nbsp;<i><u>Business Size and Type Classification - Non-US </u></i></b></h2>
            <p class="ml25">
                Supplier represents it is a
            </p>
            <ul class="ml75">
                <li><b><input type="checkbox" @ViewBag.Checkbox46254_Yes /> Canadian business </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46255_Yes /> Non-US Small business (under 500 employees) </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46256_Yes /> Non-US Large business (500+ employees) </b></li>
            </ul>
        </div>
        <div>
            <h2><b>5.&nbsp;<i><u>Business Size and Type Classification - US</u></i></b></h2>
            <p class="ml25">
                Supplier represents it is a<b> <i><u style="color:blue">(Check ALL that apply)</u></i></b>
            </p>
            <ul class="ml75">
                <li><b><input type="checkbox" @ViewBag.CheckboxSmall /> Small Business </b></li>
                <li>
                    <ul>
                        <li><b><input type="checkbox" @ViewBag.Checkbox3 />Disadvantaged/Minority Owned (Dis/Min)</b></li>
                        <li><b><input type="checkbox" @ViewBag.Checkbox4 />Woman-Owned (Wom)</b></li>
                        <li><b><input type="checkbox" @ViewBag.Checkbox5 />Veteran-Owned (Vet)</b></li>
                        <li><b><input type="checkbox" @ViewBag.Checkbox6 />Service Disabled Veteran-Owned (SD)</b></li>
                        <li><b><input type="checkbox" @ViewBag.Checkbox7 />HUBZone Business** (HZ)</b></li>
                        <li>
                            <p style="color:red;">
                                <b>
                                    <i>
                                        ** Please attach a copy of your company's SBA HUBZone Certification
                                        Letter. You may ONLY certify as a HUBZone supplier if your company is listed on
                                        the &quot;Qualified HUBZone Small Business Concerns List&quot; maintained by the Small
                                        Business Administration.
                                    </i>
                                </b>
                            </p>
                        </li>
                    </ul>
                </li>
                <li><b><input type="checkbox" @ViewBag.CheckboxLarge /> Large Business </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox8 /> Historically Black College or University</b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox9 /> Minority Institution</b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox10 /> University or College</b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox11 /> Non-Profit Organization</b></li>
                <li><b class="ml25"><input type="checkbox" @ViewBag.Checkbox11_comment />With Disabled Persons</b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox12 /> Alaska Native Corps. &amp; Indian Tribes that have not been certified by the SBA as a Small Disadvantaged Business (ANC)</b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox13 /> Alaska Native Corps. &amp; Indian Tribes that are not Small Businesses (Large, ANC)</b></li>
                <li>
                    <b>
                        <input type="checkbox" @ViewBag.Checkbox14 /> Government Agency / Entity: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Explain:
                        <input type="text" style="width:450px; height:20px" value="@(ViewBag.Input0 ?? String.Empty)" />
                    </b>
                </li>
            </ul>
            <table cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
                <tr>
                    <td style="text-align:center; width:150px" valign="top">
                        <p style="text-align:center"><b>NOTICE</b></p>
                        <p style="text-align:center"><b>OF</b></p>
                        <p style="text-align:center"><b>PENALTY</b></p>
                    </td>
                    <td valign="top">
                        <p>
                            Supplier understands, under 15 U.S.C. 645(d), any person who misrepresents a firm's status as a small business concern, a qualified HUBZone small business concern, a small business concern owned and controlled by socially and economically disadvantaged individuals, or a small business concern owned and controlled by women in order to obtain for oneself or another any: (a) prime contract to be awarded pursuant to Section 638, 644 or 657a of this title; (b) subcontract to be awarded pursuant to Section 637(a)of this title; (c) subcontract that is to be included as part or all of a goal contained in a subcontracting plan required pursuant to section 637(d) of this title; or (d) prime or subcontract to be awarded as a result, or in furtherance, of any other provision of Federal law that specifically references Section 637(d) of this title for a definition of program eligibility, shall be:  (a)punished by a fine of not more than $500,000 or by imprisonment for not more than 10 years, or both; (b) subject to the administrative remedies prescribed by the Program Fraud Civil Remedies Act of 1986 (31 U.S.C. 3801-3812); (c) subject to suspension and debarment as specified in subpart 9.4 of title 48, Code of Federal Regulations (or any successor regulation); and (d) ineligible for participation in any program or activity conducted under the authority of this chapter or the Small Business Investment Act of 1958 (15 U.S.C. 661 et seq) for a period not to exceed 3 years.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <b><input type="checkbox" @ViewBag.Checkbox46258_Yes /> Yes </b>
                        <b style="margin-left:20px"><input type="checkbox" @ViewBag.Checkbox46258_No /> No </b>
                        <b style="margin-left:20px">If NO, comment required:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @(ViewBag.Input1 ?? String.Empty)
                    </td>
                </tr>
            </table>

            <p class="ml25">
                <b>
                    <i><u>MINORITY OWNERSHIP: Only</u> if supplier has represented itself above as a Small Disadvantaged Business (SDB) or Women-Owned Small Disadvantaged Business (WOSDB), please check the appropriate category of ownership:</i>
                </b>
            </p>
            <ul class="ml75">
                <li><input type="checkbox" @ViewBag.Checkbox20 /> Black American</li>
                <li><input type="checkbox" @ViewBag.Checkbox21 /> Hispanic American</li>
                <li><input type="checkbox" @ViewBag.Checkbox22 /> Native American (American Indians, Eskimos, Aleuts, or Native Hawaiians)</li>
                <li><input type="checkbox" @ViewBag.Checkbox23 />Asian-Pacific American (persons with origins from Burma, Thailand, Malaysia, Indonesia, Singapore, Brunei, Japan, China, Taiwan, Laos, Cambodia (Kampuchea), Vietnam, Korea, The Philippines, Republic of Palau, Republic of the Marshall Islands, Federated States of Micronesia, the Commonwealth of the Northern Mariana Islands, Guam, Samoa, Macao, Hong Kong, Fiji, Tonga, Kiribati, Tuvalu or Nauru)</li>
                <li>
                    <input type="checkbox" @ViewBag.Checkbox24 />
                    Subcontinent Asian (Asian-Indian) American (persons with origins from India, Pakistan, Bangladesh, Sri Lanka, Bhutan, the Maldives Islands, or Nepal)
                </li>
                <li>
                    <input type="checkbox" @ViewBag.Checkbox25 /> Individual/concern, other than one of the preceding. Explain: @ViewBag.Input2
                </li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    6.&nbsp;<i>
                        <u>
                            52.203-13, Contractor Code of Business Ethics and Conduct
                        </u>  (Oct 2015)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Supplier is currently compliant with 48 CFR 52.203-13 or will be compliant if applicable to a subsequently awarded purchase order or contract.
            </p>
            <ul class="ml75">
                <li><b><input type="checkbox" @ViewBag.Checkbox46321_70924 /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46321_70925 /> No </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46321_70926 /> N/A </b>- Supplier does not have a PO/Contract from Honeywell with a value in excess of $5.5 million and a performance period of more than 120 days </li>
                <li class="mt20"><b>If No, explanation required: </b>@ViewBag.Checkbox46321_Comment</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    7.&nbsp;<i>
                        <u>
                            52.203-19, Prohibition on Requiring Certain Internal Confidentiality Agreements or Statements
                        </u>  (Jan 2017)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Supplier is currently compliant with 48 CFR 52.203-19 or will be compliant if applicable to a subsequently awarded purchase order or contract.
            </p>
            <ul class="ml75 hr">
                <li><b><input type="checkbox" @ViewBag.Checkbox46322_Yes /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46322_No /> No </b></li>
                <li><b>If No, comment required: </b>@ViewBag.Checkbox46322_Comment</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    8.&nbsp;<i>
                        <u>
                            52.204-10(d)(3), Executive Compensation Reporting
                        </u>  (Oct 2018)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Supplier certifies it
            </p>
            <ul class="ml75">
                <li><b><input type="checkbox" @ViewBag.Checkbox46323_70927 /> HAS </b> derived 80% or more and $25,000,000 or more of its annual gross revenues from Federal contracts (and subcontracts), loans, grants (and sub-grants), cooperative agreements and other forms of Federal financial assistance in the preceding fiscal year</li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46323_70928 /> NOT HAS </b> derived 80% or more and $25,000,000 or more of its annual gross revenues from Federal contracts (and subcontracts), loans, grants (and sub-grants), cooperative agreements and other forms of Federal financial assistance in the preceding fiscal year </li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46323_70929 /> N/A </b> - Work will be performed outside the US by employees not recruited within the US, District of Columbia, Puerto Rico, Northern Mariana Islands, American Samoa, Guam, US Virgin Islands and Wake Island</li>
            </ul>
            <p class="ml25">
                Executive Compensation
            </p>
            <ul class="ml75">
                <li><b><input type="checkbox" @ViewBag.Checkbox46324_70930 /> IS </b> available to the public through periodic reports filed under Section 13(a) or 15(d) of the Securities Exchange Act of 1934 (15 U.S.C. 78m(a), 78o(d)) or under Section 6104 of the Internal Revenue Code of 1986</li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46324_70931 /> Is NOT </b> available to the public through periodic reports filed under Section 13(a) or 15(d) of the Securities Exchange Act of 1934 (15 U.S.C. 78m(a), 78o(d)) or under Section 6104 of the Internal Revenue Code of 1986 </li>
            </ul>
            <p class="ml25">
                <b>Total Compensation</b> (as defined in FAR 52.204-10(a)):  If supplier <b>HAS</b> derived 80% or more and $25,000,000 or more of its annual gross revenues from Federal awards and other forms of Federal financial assistance in the preceding fiscal year <b>AND</b> its Executive Compensation is <b>NOT</b> available to the public, Honeywell is required to report the earnings of the five (5) most highly compensated executives, during the preceding fiscal year, to the Government:
            </p>
            <table width="100%" cellpadding="0" cellspacing="0" border="1">
                <tr>
                    <td style="font-size: 15px; padding-left: 5px; padding-bottom:5px;">
                        Name
                    </td>
                    <td style="font-size: 15px; padding-left: 5px; padding-bottom:5px;">
                        Title
                    </td>
                    <td style="font-size: 15px; padding-left: 5px; padding-bottom:5px;">
                        Total Compensation
                    </td>
                </tr>
                <tr style="height:40px">
                    <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                        @Html.Raw(ViewBag.Input15 ?? String.Empty)
                    </td>
                    <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                        @Html.Raw(ViewBag.Input16 ?? String.Empty)
                    </td>
                    <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                        @Html.Raw(ViewBag.Input17 ?? String.Empty)
                    </td>
                </tr>

                <tr style="height:40px">
                    <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                        @Html.Raw(ViewBag.Input18 ?? String.Empty)
                    </td>
                    <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                        @Html.Raw(ViewBag.Input19 ?? String.Empty)
                    </td>
                    <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                        @Html.Raw(ViewBag.Input20 ?? String.Empty)
                    </td>
                </tr>

                <tr style="height:40px">
                    <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                        @Html.Raw(ViewBag.Input21 ?? String.Empty)
                    </td>
                    <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                        @Html.Raw(ViewBag.Input22 ?? String.Empty)
                    </td>
                    <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                        @Html.Raw(ViewBag.Input23 ?? String.Empty)
                    </td>
                </tr>

                <tr style="height:40px">
                    <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                        @Html.Raw(ViewBag.Input24 ?? String.Empty)
                    </td>
                    <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                        @Html.Raw(ViewBag.Input25 ?? String.Empty)
                    </td>
                    <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                        @Html.Raw(ViewBag.Input26 ?? String.Empty)
                    </td>
                </tr>

                <tr style="height:40px">
                    <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                        @Html.Raw(ViewBag.Input27 ?? String.Empty)
                    </td>
                    <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                        @Html.Raw(ViewBag.Input28 ?? String.Empty)
                    </td>
                    <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                        @Html.Raw(ViewBag.Input29 ?? String.Empty)
                    </td>
                </tr>
            </table>

            <p>
                Please provide explanation for not listing compensation for all top 5 executives:<br />
                @Html.Raw(ViewBag.Executives)
            </p>
        </div>
        <div>
            <h2>
                <b>
                    9.&nbsp;<i>
                        <u>
                            52.204-10(d)(2), First-Tier Subcontract Awards Reporting
                        </u>  (Oct 2018)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Did supplier in the previous tax year have a <u>gross</u> income, from <b><u>all</u></b> sources, over $300,000?
            </p>
            <ul class="ml75">
                <li><b><input type="checkbox" @ViewBag.Checkbox46344_70932 /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46344_70933 /> No </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46344_70934 /> N/A </b>- Awarded subcontract(s) did not flow down FAR 52.204-10 </li>
            </ul>
            <p class="ml25">
                <b><i>NOTE:</i></b>  If <b>Yes</b>, Honeywell is required to report to the US Government any <u>subcontract award(s) issued to supplier</u>, valued at $30,000 or more, that peg to prime contracts containing FAR 52.204-10.  Information pertaining to the subcontract award(s), along with the following information required by FAR 52.204-10(d)(2), will be made public.
            </p>
            <p class="ml25">To comply with FAR 52.204-10(d)(2), please provide the place of performance address if different than this Certification.  Supplier certifies the physical place of performance is:</p>
            <ul class="ml75">
                <li>Supplier Name: @Html.Raw(ViewBag.Input46346??"")</li>
                <li>Street Address: @Html.Raw(ViewBag.Input46347 ?? "")</li>
                <li>City: @Html.Raw(ViewBag.Input46348 ?? "") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; State/Province: @Html.Raw(ViewBag.Input46349 ?? "") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Country: @Html.Raw(ViewBag.Input46350 ?? "") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Postal Code: @Html.Raw(ViewBag.Input46351??"")</li>
                <li>Congressional District:  @Html.Raw(ViewBag.Input46351 ?? "")</li>
            </ul>
        </div>

        <div>
            <h2>
                <b>
                    10.&nbsp;<i>
                        <u>
                            52.204-21, Basic Safeguarding of Covered Contractor Information Systems (Jun 2016), Other Than Subcontracts for Commercially Available Off-The-Shelf (COTS) Items
                        </u>  (Jun 2016)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Supplier is currently compliant with 48 CFR 52.204-21 or will be compliant if applicable to a subsequently awarded purchase order or contract.
            </p>
            <ul class="ml75">
                <li><b><input type="checkbox" @ViewBag.Checkbox46353_70935 /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46353_70936 /> No </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46353_70937 /> N/A </b>- Supplier only provides COTS (commercially available off-the-shelf) parts as defined at FAR 2.101  </li>
                <li class="mt20"><b>If No, explanation required: </b>@ViewBag.Checkbox46353_Comment</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    11.&nbsp;<i>
                        <u>
                            52.219-8, Utilization of Small Business Concerns
                        </u>  (Nov 2016)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Supplier is currently compliant with 48 CFR 52.219-8 or will be compliant if applicable to a subsequently awarded purchase order or contract.
            </p>
            <ul class="ml75">
                <li><b><input type="checkbox" @ViewBag.Checkbox46354_70938 /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46354_70939 /> No </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46354_70940 /> N/A </b> The PO/Contract, together with all of its subcontracts, will be performed entirely outside the United States and its outlying areas</li>
                <li class="mt20"><b>If No, explanation required: </b>@ViewBag.Checkbox46354_Comment</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    12.&nbsp;<i>
                        <u>
                            52.222-21, Prohibition of Segregated Facilities
                        </u>  (Apr 2015)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Supplier is currently compliant with 48 CFR 52.222-21 or will be compliant if applicable to a subsequently awarded purchase order or contract.
            </p>
            <ul class="ml75">
                <li><b><input type="checkbox" @ViewBag.Checkbox46355_70941 /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46355_70942 /> No </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46355_70943 /> N/A </b> - Work will be performed outside the US by employees not recruited within the US, District of Columbia, Puerto Rico, Northern Mariana Islands, American Samoa, Guam, US Virgin Islands and Wake Island</li>
                <li class="mt20"><b>If No, explanation required: </b>@ViewBag.Checkbox46355_Comment</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    13.&nbsp;<i>
                        <u>
                            52.222-26, Equal Opportunity
                        </u>  (Sep 2016)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Supplier is currently compliant with 48 CFR 52.222-26 or will be compliant if applicable to a subsequently awarded purchase order or contract.
            </p>
            <ul class="ml75">
                <li><b><input type="checkbox" @ViewBag.Checkbox46356_70944 /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46356_70945 /> No </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46356_70946 /> N/A </b> - Work will be performed outside the US by employees not recruited within the US, District of Columbia, Puerto Rico, Northern Mariana Islands, American Samoa, Guam, US Virgin Islands and Wake Island</li>
                <li class="mt20"><b>If No, explanation required: </b>@ViewBag.Checkbox46356_Comment</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    14.&nbsp;<i>
                        <u>
                            52.222-35, Equal Opportunity for Veterans
                        </u>  (Oct 2015)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Supplier is currently compliant with 48 CFR 52.222-35 or will be compliant if applicable to a subsequently awarded purchase order or contract.
            </p>
            <ul class="ml75">
                <li><b><input type="checkbox" @ViewBag.Checkbox46357_70947 /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46357_70948 /> No </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46357_70949 /> N/A </b> - The PO/Contract will be performed outside the US by employees not recruited within the US, District of Columbia, Puerto Rico, Northern Mariana Islands, American Samoa, Guam, US Virgin Islands and Wake Island</li>
                <li class="mt20"><b>If No, explanation required: </b>@ViewBag.Checkbox46357_Comment</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    15.&nbsp;<i>
                        <u>
                            52.222-36, Equal Opportunity for Workers with Disabilities
                        </u>  (Jul 2014)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Supplier is currently compliant with 48 CFR 52.222-36 or will be compliant if applicable to a subsequently awarded purchase order or contract.
            </p>
            <ul class="ml75">
                <li><b><input type="checkbox" @ViewBag.Checkbox46358_70950 /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46358_70951 /> No </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46358_70952 /> N/A </b> - Work will be performed outside the US by employees not recruited within the US, District of Columbia, Puerto Rico, Northern Mariana Islands, American Samoa, Guam, US Virgin Islands and Wake Island</li>
                <li class="mt20"><b>If No, explanation required: </b>@ViewBag.Checkbox46358_Comment</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    16.&nbsp;<i>
                        <u>
                            52.222-37, Employment Reports on Veterans
                        </u>  (Feb 2016)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Supplier is currently compliant with 48 CFR 52.222-37 or will be compliant if applicable to a subsequently awarded purchase order or contract.
            </p>
            <ul class="ml75">
                <li><b><input type="checkbox" @ViewBag.Checkbox46359_70953 /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46359_70954 /> No </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46359_70955 /> N/A </b> - The PO/Contract will be performed outside the US by employees not recruited within the US, District of Columbia, Puerto Rico, Northern Mariana Islands, American Samoa, Guam, US Virgin Islands and Wake Island</li>
                <li class="mt20"><b>If No, explanation required: </b>@ViewBag.Checkbox46359_Comment</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    17.&nbsp;<i>
                        <u>
                            52.222-40, Notification of Employee Rights Under the National Labor Relations Act
                        </u>  (Dec 2010)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Supplier is currently compliant with 48 CFR 52.222-40 or will be compliant if applicable to a subsequently awarded purchase order or contract.
            </p>
            <ul class="ml75">
                <li><b><input type="checkbox" @ViewBag.Checkbox46360_70956 /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46360_70957 /> No </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46360_70958 /> N/A </b> - The PO/Contract will be performed exclusively outside the US</li>
                <li class="mt20"><b>If No, explanation required: </b>@ViewBag.Checkbox46360_Comment</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    18.&nbsp;<i>
                        <u>
                            52.222-50, Combating Trafficking in Persons (22 U.S.C. Chapter 78 and E.O. 13627)
                        </u>  (Mar 2015)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Supplier is currently compliant with 48 CFR 52.222-50 or will be compliant if applicable to a subsequently awarded purchase order or contract.
            </p>
            <ul class="ml75 hr">
                <li><b><input type="checkbox" @ViewBag.Checkbox46361_Yes /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46361_No /> No </b></li>
                <li><b>If No, comment required: </b>@ViewBag.Checkbox46361_Comment</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    19.&nbsp;<i>
                        <u>
                            252.223-7004, Drug-Free Work Force
                        </u>  (Sep 1988)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Supplier is currently compliant with 48 CFR 252.223-7004 or will be compliant if applicable to a subsequently awarded purchase order or contract.
            </p>
            <ul class="ml75 hr">
                <li><b><input type="checkbox" @ViewBag.Checkbox46362_Yes /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46362_No /> No </b></li>
                <li><b>If No, comment required: </b>@ViewBag.Checkbox46362_Comment</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    20.&nbsp;<i>
                        <u>
                            252.223-7002, Safety Precautions for Ammunition and Explosives
                        </u>  (May 1994)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Supplier is currently compliant with 48 CFR 252.223-7002 or will be compliant if applicable to a subsequently awarded purchase order or contract.
            </p>
            <ul class="ml75">
                <li><b><input type="checkbox" @ViewBag.Checkbox46363_70959 /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46363_70960 /> No </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46363_70961 /> N/A </b> - Supplier does not provide ammunitions or explosives</li>
                <li class="mt20"><b>If No, explanation required: </b>@ViewBag.Checkbox46363_Comment</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    21.&nbsp;<i>
                        <u>
                            252.223-7003, Change in Place of Performance - Ammunition and Explosives
                        </u>  (Dec 1991)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Supplier is currently compliant with 48 CFR 252.223-7003 or will be compliant if applicable to a subsequently awarded purchase order or contract.
            </p>
            <ul class="ml75 hr">
                <li><b><input type="checkbox" @ViewBag.Checkbox46364_Yes /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46364_No /> No </b></li>
                <li><b>If No, comment required: </b>@ViewBag.Checkbox46364_Comment</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    22.&nbsp;<i>
                        <u>
                            252.223-7007, Safeguarding Sensitive Conventional Arms, Ammunition and Explosives
                        </u>  (Sep 1999)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Supplier is currently compliant with 48 CFR 252.223-7007 or will be compliant if applicable to a subsequently awarded purchase order or contract.
            </p>
            <ul class="ml75 hr">
                <li><b><input type="checkbox" @ViewBag.Checkbox46365_Yes /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46365_No /> No </b></li>
                <li><b>If No, comment required: </b>@ViewBag.Checkbox46365_Comment</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    23.&nbsp;<i>
                        <u>
                            252.247-7022, Representation of Extent of Transportation by Sea
                        </u>  (Aug 1992)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Supplier represents it
            </p>
            <ul class="ml75">
                <li><input type="checkbox" @ViewBag.Checkbox46366_70962 /> Does anticipate supplies will be transported by sea in the performance of any awarded PO/Contract</li>
                <li><input type="checkbox" @ViewBag.Checkbox46366_70963 /> Does <b>NOT</b> anticipate supplies will be transported by sea in the performance of any awarded PO/Contract</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    24.&nbsp;<i>
                        <u>
                            52.203-2, CERTIFICATE OF INDEPENDENT PRICE DETERMINATION
                        </u>  (Apr 1985)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                A.	Supplier certifies
            </p>
            <p class="ml50">
                1.	The prices in all offers to Honeywell have been arrived at independently, without, for the purpose of restricting competition, any consultation, communication, or agreement with any other offeror or competitor relating to (i) those prices; (ii) the intention to submit an offer; or (iii) the methods or factors used to calculate the prices offered.
                <br />
                2.	The prices in all offers to Honeywell have not been and will not be knowingly disclosed by the offeror, directly or indirectly, to any other offeror or competitor before bid opening (in the case of a sealed bid solicitation) or contract award (in the case of a negotiated solicitation) unless otherwise required by law; and
                <br />
                3.	No attempt has been made or will be made by the offeror to induce any other concern to submit or not to submit an offer for the purpose of restricting competition.
            </p>
            <p class="ml25">
                B.	Each signature on an offer to Honeywell is considered to be a certification by the signatory that the signatory:
            </p>
            <p class="ml50">
                1.	Is the person in the offeror's organization responsible for determining the prices being offered in any bid or proposal, and the signatory has not participated and will not participate in any action contrary to subparagraphs a(1) through a(3) of this provision; or
                <br />
                2.	(i) Has been authorized, in writing, to act as agent for the principals involved in certifying that those principals have not participated, and will not participate in any action contrary to subparagraphs a(1) through a(3) of this provision; (ii) as an authorized agent, does certify that such principals have not participated, and will not participate, in any action contrary to subparagraphs a(1) through a(3) of this provision; and (iii) as an agent, has not personally participated, and will not participate, in any action contrary to subparagraphs a(1) through a(3) of this provision.
            </p>
            <p class="ml25">
                C.	If supplier deletes or modifies subparagraph a(2) of this provision, SUPPLIER must furnish with its offer a signed statement setting forth, in detail, the circumstances of the disclosure.
            </p>
            <ul class="ml75 hr">
                <li><b><input type="checkbox" @ViewBag.Checkbox46270_Yes /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46270_No /> No </b></li>
                <li><b>If No, comment required: </b>@ViewBag.Checkbox46270_Comment</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    25.&nbsp;<i>
                        <u>
                            52.203-11, Certification and Disclosure Regarding Payments to Influence Certain Federal Transactions
                        </u>  (Sep 2007)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Supplier is currently compliant with 48 CFR 52.203-11 or will be compliant if applicable to a subsequently awarded purchase order or contract.
            </p>
            <ul class="ml75">
                <li><b><input type="checkbox" @ViewBag.Checkbox46271_70861 /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46271_70862 /> No </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46271_70863 /> N/A </b> - Supplier does not have a PO/Contract from Honeywell with a value in excess of $150,000 </li>
                <li class="mt20"><b>If No, explanation required: </b>@ViewBag.Checkbox46271_Comment</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    26.&nbsp;<i>
                        <u>
                            52.209-5, Certification Regarding Responsibility Matters
                        </u> (Oct 2015)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Supplier and/or any of its Principals
            </p>
            <ul class="ml75">
                <li><input type="checkbox" @ViewBag.Checkbox46272_70864 /> ARE presently debarred, suspended, proposed for debarment, or declared ineligible for the award of contracts by any Federal agency, and</li>
                <li><input type="checkbox" @ViewBag.Checkbox46272_70865 /> Are NOT presently debarred, suspended, proposed for debarment, or declared ineligible for the award of contracts by any Federal agency, and </li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    27.&nbsp;<i>
                        <u>
                            52.209-5, Certification Regarding Responsibility Matters
                        </u> (Oct 2015)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Supplier and/or any of its Principals
            </p>
            <ul class="ml75">
                <li><input type="checkbox" @ViewBag.Checkbox46273_70866 /> HAVE within a three-year period preceding this offer, been convicted of or had a civil judgment rendered against them for: commission of fraud or a criminal offense in connection with obtaining, attempting to obtain, or performing a public (Federal, State or local) contract or subcontract, or violation of Federal or State antitrust statutes relating to the submission of offers, or commission of embezzlement, theft, forgery, bribery, falsification or destruction of records, making false statements, tax evasion, violating Federal criminal tax laws, or receiving stolen property (if Supplier checks "Have", the Supplier shall also see 52.209-7, if included in this solicitation, and  </li>
                <li><input type="checkbox" @ViewBag.Checkbox46273_70867 /> Have NOT within a three-year period preceding this offer, been convicted of or had a civil judgment rendered against them for: commission of fraud or a criminal offense in connection with obtaining, attempting to obtain, or performing a public (Federal, State or local) contract or subcontract, or violation of Federal or State antitrust statutes relating to the submission of offers, or commission of embezzlement, theft, forgery, bribery, falsification or destruction of records, making false statements, tax evasion, violating Federal criminal tax laws, or receiving stolen property (if Supplier checks "Have", the Supplier shall also see 52.209-7, if included in this solicitation, and </li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    28.&nbsp;<i>
                        <u>
                            52.209-5, Certification Regarding Responsibility Matters
                        </u> (Oct 2015)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Supplier and/or any of its Principals
            </p>
            <ul class="ml75">
                <li><input type="checkbox" @ViewBag.Checkbox46274_70868 /> ARE presently indicted for, or otherwise criminally or civilly charged by a governmental entity with, commission of any of the offenses enumerated in paragraph (a)(1)(i)(B) of this provision, and    </li>
                <li><input type="checkbox" @ViewBag.Checkbox46274_70869 /> Are NOT presently indicted for, or otherwise criminally or civilly charged by a governmental entity with, commission of any of the offenses enumerated in paragraph (a)(1)(i)(B) of this provision, and  </li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    29.&nbsp;<i>
                        <u>
                            52.209-5, Certification Regarding Responsibility Matters
                        </u> (Oct 2015)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Supplier and/or any of its Principals
            </p>
            <ul class="ml75">
                <li><input type="checkbox" @ViewBag.Checkbox46275_70870 /> HAVE within a three-year period preceding this offer, been notified of any delinquent Federal taxes in an amount that exceeds $3,500 for which the liability remains unsatisfied  </li>
                <li><input type="checkbox" @ViewBag.Checkbox46275_70871 /> Have NOT within a three-year period preceding this offer, been notified of any delinquent Federal taxes in an amount that exceeds $3,500 for which the liability remains unsatisfied </li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    30.&nbsp;<i>
                        <u>
                            Statement to Prevent Transactions with Denied Persons/Debarred Parties/SDN
                        </u>
                    </i>
                </b>
            </h2>
            <p class="ml25">
                To ensure compliance of US export laws, Honeywell does not conduct any business transactions with the "Denied Persons List" published by the US Department of Commerce, the "Denied Parties List" published by the Department of State and the "Specially Designated Nationals List" published by the Department of Treasury, Foreign Assets Control.  Honeywell expects all suppliers and its subcontractors to comply with these laws as well.
                <br />
                Supplier agrees to include this requirement in lower-tier Purchase Orders and/or subcontracts.  (You may view the US Government web sites for each of the Agencies noted above to access their lists).
            </p>
            <ul class="ml75 hr">
                <li><b><input type="checkbox" @ViewBag.Checkbox46276_Yes /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46276_No /> No </b></li>
                <li><b>If No, comment required: </b>@ViewBag.Checkbox46276_Comment</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    31.&nbsp;<i>
                        <u>
                            52.211-15, Defense Priority and Allocation Requirements
                        </u>(Apr 2008)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Supplier is currently compliant with 48 CFR 52.211-15 or will be compliant if applicable to a subsequently awarded purchase order or contract.
            </p>
            <ul class="ml75 hr">
                <li><b><input type="checkbox" @ViewBag.Checkbox46277_Yes /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46277_No /> No </b></li>
                <li><b>If No, comment required: </b>@ViewBag.Checkbox46277_Comment</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    32.&nbsp;<i>
                        <u>
                            52.215-12, Requirements for Certified Cost or Pricing Data and Data Other Than Certified Cost or Pricing Data
                        </u>(Oct 2010)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Supplier is currently compliant with 48 CFR 52.215-12 or will be compliant if applicable to a subsequently awarded purchase order or contract.
            </p>
            <ul class="ml75">
                <li><b><input type="checkbox" @ViewBag.Checkbox46278_70872 /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46278_70873 /> No </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46278_70874 /> N/A </b> - Supplier only provides COTS (commercially available off-the-shelf) parts as defined at FAR 2.101</li>
                <li class="mt20"><b>If No, explanation required: </b>@ViewBag.Checkbox46278_Comment</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    33.&nbsp;<i>
                        <u>
                            52.222-22, Certification of Previous Contracts and Compliance Reports
                        </u>(Feb 1999)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Supplier has participated in a previous contract or subcontract subject to Equal Opportunity.
            </p>
            <ul class="ml75">
                <li><b><input type="checkbox" @ViewBag.Checkbox46279_70875 /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46279_70876 /> No </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46279_70877 /> N/A </b> - Work will be performed outside the US by employees not recruited within the US, District of Columbia, Puerto Rico, Northern Mariana Islands, American Samoa, Guam, US Virgin Islands and Wake Island</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    34.&nbsp;<i>
                        <u>
                            52.222-22, Certification of Previous Contracts and Compliance Reports
                        </u>(Feb 1999)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Supplier has participated in a previous contract or subcontract subject to Equal Opportunity.
            </p>
            <ul class="ml75">
                <li><b><input type="checkbox" @ViewBag.Checkbox46280_70878 /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46280_70879 /> No </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46280_70880 /> Less than 50 employees, therefore exempt </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46280_70881 /> N/A </b> - Work will be performed outside the US by employees not recruited within the US, District of Columbia, Puerto Rico, Northern Mariana Islands, American Samoa, Guam, US Virgin Islands and Wake Island</li>
                <li class="mt20"><b>If No, explanation required: </b>@ViewBag.Checkbox46280_Comment</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    35.&nbsp;<i>
                        <u>
                            52.222-25, Certification of Affirmative Action Program Compliance
                        </u>(Apr 1984)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Supplier certifies
            </p>
            <ul class="ml75">
                <li><b><input type="checkbox" @ViewBag.Checkbox46281_70882 /></b>Supplier has developed and has on file, at each establishment, affirmative action programs required by the rules and regulations of the Secretary of Labor 41 CFR 60-1 and 60-2</li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46281_70883 /></b>Supplier has NOT developed and does NOT have on file, at each establishment, affirmative action programs required by the rules and regulations of the Secretary of Labor 41 CFR 60-1 and 60-2</li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46281_70884 /></b>Supplier has NOT previously had contracts subject to the written affirmative action program requirement of the rules and regulations of the Secretary of Labor </li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46281_70885 /></b>Less than 50 employees, therefore exempt </li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46281_70886 /></b>N/A - Work will be performed outside the US by employees not recruited within the US, District of Columbia, Puerto Rico, Northern Mariana Islands, American Samoa, Guam, US Virgin Islands and Wake Island </li>
                <li class="mt20"><b>If No, explanation required: </b>@ViewBag.Checkbox46281_Comment</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    36.&nbsp;<i>
                        <u>
                            52.222-38, Certification of Compliance with Veterans' Employment Reporting Requirements
                        </u>(Feb 2016)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Supplier certifies for any Honeywell award subject to the reporting requirements of 38 U.S.C. 4212(d) (i.e., contracts containing FAR Clause 52.222-37, Employment Reports on Veterans) it has filed the most recent VETS-4212 Report as required by 52.222-37.
            </p>
            <ul class="ml75">
                <li><b><input type="checkbox" @ViewBag.Checkbox46282_70887 /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46282_70888 /> No </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46282_70889 /> Less than 50 employees, therefore exempt</b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46282_70890 /> N/A</b> - Work will be performed outside the US by employees not recruited within the US, District of Columbia, Puerto Rico, Northern Mariana Islands, American Samoa, Guam, US Virgin Islands and Wake Island</li>
                <li class="mt20"><b>If No, explanation required: </b>@ViewBag.Checkbox46282_Comment</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    37.&nbsp;<i>
                        <u>
                            52.222-54, Employment Eligibility Verification
                        </u>(Oct 2015)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Supplier is currently compliant with 48 CFR 52.222-54 or will be compliant if applicable to a subsequently awarded purchase order or contract.
            </p>
            <ul class="ml75">
                <li><b><input type="checkbox" @ViewBag.Checkbox46283_70891 /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46283_70892 /> No </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46283_70893 /> N/A</b> - Supplier only provides COTS (commercially available off-the-shelf) parts as defined at FAR 2.101 </li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46283_70894 /> N/A</b> - As all work will be performed outside the US, District of Columbia, Puerto Rico, Northern Mariana Islands, American Samoa, Guam, US Virgin Islands and Wake Island</li>
                <li class="mt20"><b>If No, explanation required: </b>@ViewBag.Checkbox46283_Comment</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    38.&nbsp;<i>
                        <u>
                            252.204-7000, Disclosure of Information
                        </u>(Oct 2016)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Supplier is currently compliant with 48 CFR 252.204-7000 or will be compliant if applicable to a subsequently awarded purchase order or contract.
            </p>
            <ul class="ml75 hr">
                <li><b><input type="checkbox" @ViewBag.Checkbox46284_Yes /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46284_No /> No </b></li>
                <li><b>If No, comment required: </b>@ViewBag.Checkbox46284_Comment</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    39.&nbsp;<i>
                        <u>
                            252.204-7012, Safeguarding Covered Defense Information and Cyber Incident Reporting
                        </u>(Oct 2016)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Supplier is currently compliant with 48 CFR 252.204-7012 or will be compliant if applicable to a subsequently awarded purchase order or contract.
            </p>
            <ul class="ml75">
                <li><b><input type="checkbox" @ViewBag.Checkbox46285_70895 /> Yes</b>, is currently compliant </li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46285_70896 /> Yes</b>, will be compliant </li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46285_70897 /> No</b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46285_70898 /> N/A</b> - Supplier only provides COTS (commercially available off-the-shelf) parts as defined at FAR 2.101</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    40.&nbsp;<i>
                        <u>
                            252.204-7012, Safeguarding Covered Defense Information and Cyber Incident Reporting
                        </u>(Oct 2016)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Do you have a plan of action and milestones (POA&M) to become compliant?
            </p>
            <ul class="ml75 hr">
                <li><b><input type="checkbox" @ViewBag.Checkbox46286_Yes /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46286_No /> No </b></li>
                <li><b>If No, comment required: </b>@ViewBag.Checkbox46286_Comment</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    41.&nbsp;<i>
                        <u>
                            252.204-7012, Safeguarding Covered Defense Information and Cyber Incident Reporting
                        </u>(Oct 2016)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Which basic security requirements have not been implemented and what is the projected implementation date for each?
            </p>
            <ul class="ml75 hr">
                <li>@Html.Raw(ViewBag.Input46287??"")</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    42.&nbsp;<i>
                        <u>
                            252.225-7009, Restriction on Acquisition of Certain Articles Containing Specialty Metals
                        </u>(Oct 2014)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Supplier is currently compliant with 48 CFR 252.225-7009 or will be compliant if applicable to a subsequently awarded purchase order or contract.
            </p>
            <ul class="ml75">
                <li><b><input type="checkbox" @ViewBag.Checkbox46288_70899 /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46288_70900 /> No </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46288_70901 /> N/A</b> - Supplier only provides COTS electronic components</li>
                <li class="mt20"><b>If No, explanation required: </b>@ViewBag.Checkbox46288_Comment</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    43.&nbsp;<i>
                        <u>
                            252.242-7005, Contractor Business Systems
                        </u>(Feb 2012)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Is supplier subject to full Cost Accounting Standards as defined at 48 CFR 9903.201-2 (FAR Appendix 1)?

            </p>
            <ul class="ml75 hr">
                <li><b><input type="checkbox" @ViewBag.Checkbox46289_Yes /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46289_No /> No </b></li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    44.&nbsp;<i>
                        <u>
                            Accounting System Administration, 252.242-7006
                        </u>(Feb 2012)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Has supplier's Accounting System been audited by DCMA/DCAA?
            </p>
            <ul class="ml75 hr">
                <li><b><input type="checkbox" @ViewBag.Checkbox46290_Yes /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46290_No /> No </b></li>
            </ul>
            <p class="ml25">
                Has supplier's Accounting System been determined by DCMA to be acceptable?
            </p>
            <ul class="ml75 hr">
                <li><b><input type="checkbox" @ViewBag.Checkbox46291_Yes /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46291_No /> No </b></li>
                <li><b>If Yes, date of last audit:</b> @ViewBag.Input46291</li>
            </ul>
            <p class="ml25">
                Please provide explanation why your Accounting System was determined by DCMA to be unacceptable.
            </p>
            <ul class="ml75 hr">
                <li>@Html.Raw(ViewBag.Input46292??"")</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    45.&nbsp;<i>
                        <u>
                            Cost Estimating System Requirements, 252.215-7002
                        </u>(Dec 2012)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Has supplier's Cost Estimating System been audited by DCMA/DCAA?
            </p>
            <ul class="ml75 hr">
                <li><b><input type="checkbox" @ViewBag.Checkbox46293_Yes /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46293_No /> No </b></li>
            </ul>
            <p class="ml25">
                Has supplier's Cost Estimating System been determined by DCMA to be acceptable?
            </p>
            <ul class="ml75 hr">
                <li><b><input type="checkbox" @ViewBag.Checkbox46294_Yes /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46294_No /> No </b></li>
                <li><b>If Yes, date of last audit:</b> @ViewBag.Input46294</li>
            </ul>
            <p class="ml25">
                Please provide explanation why your Cost Estimating System was determined by DCMA to be unacceptable.
            </p>
            <ul class="ml75 hr">
                <li>@Html.Raw(ViewBag.Input46295??"")</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    46.&nbsp;<i>
                        <u>
                            Contractor Purchasing System Administration, 252.244-7001
                        </u>(May 2014)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Has supplier's Purchasing System been audited by DCMA/DCAA?
            </p>
            <ul class="ml75 hr">
                <li><b><input type="checkbox" @ViewBag.Checkbox46296_Yes /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46296_No /> No </b></li>
            </ul>
            <p class="ml25">
                Has supplier's Purchasing System been determined by DCMA to be acceptable?
            </p>
            <ul class="ml75 hr">
                <li><b><input type="checkbox" @ViewBag.Checkbox46297_Yes /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46297_No /> No </b></li>
                <li><b>If Yes, date of last audit:</b> @ViewBag.Input46297</li>
            </ul>
            <p class="ml25">
                Please provide explanation why your Purchasing System was determined by DCMA to be unacceptable.
            </p>
            <ul class="ml75 hr">
                <li>@Html.Raw(ViewBag.Input46298??"")</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    47.&nbsp;<i>
                        <u>
                            Earned Value Management System, 252.234-7002
                        </u>(May 2011)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Has supplier's Earned Value Management System been audited by DCMA/DCAA?
            </p>
            <ul class="ml75 hr">
                <li><b><input type="checkbox" @ViewBag.Checkbox46299_Yes /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46299_No /> No </b></li>
            </ul>
            <p class="ml25">
                Has supplier's Earned Value Management System been determined by DCMA to be acceptable?
            </p>
            <ul class="ml75 hr">
                <li><b><input type="checkbox" @ViewBag.Checkbox46300_Yes /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46300_No /> No </b></li>
                <li><b>If Yes, date of last audit:</b> @ViewBag.Input46300</li>
            </ul>
            <p class="ml25">
                Please provide explanation why your Earned Value Management System was determined by DCMA to be unacceptable.
            </p>
            <ul class="ml75 hr">
                <li>@Html.Raw(ViewBag.Input46301??"")</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    48.&nbsp;<i>
                        <u>
                            Contractor Property Management System Administration, 252.245-7003
                        </u>(Apr 2012)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Has supplier's Property Management System been audited by DCMA/DCAA?
            </p>
            <ul class="ml75 hr">
                <li><b><input type="checkbox" @ViewBag.Checkbox46302_Yes /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46302_No /> No </b></li>
            </ul>
            <p class="ml25">
                Has supplier's Property Management System been determined by DCMA to be acceptable?
            </p>
            <ul class="ml75 hr">
                <li><b><input type="checkbox" @ViewBag.Checkbox46303_Yes /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46303_No /> No </b></li>
                <li><b>If Yes, date of last audit:</b> @ViewBag.Input46303</li>
            </ul>
            <p class="ml25">
                Please provide explanation why your Property Management System was determined by DCMA to be unacceptable.
            </p>
            <ul class="ml75 hr">
                <li>@Html.Raw(ViewBag.Input46304??"")</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    49.&nbsp;<i>
                        <u>
                            Material Management and Accounting System, 252.242-7004
                        </u>(May 2011)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Has supplier's Material Management and Accounting System been audited by DCMA/DCAA?
            </p>
            <ul class="ml75 hr">
                <li><b><input type="checkbox" @ViewBag.Checkbox46305_Yes /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46305_No /> No </b></li>
            </ul>
            <p class="ml25">
                Has supplier's Material Management and Accounting System been determined by DCMA to be acceptable?
            </p>
            <ul class="ml75 hr">
                <li><b><input type="checkbox" @ViewBag.Checkbox46306_Yes /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46306_No /> No </b></li>
                <li><b>If Yes, date of last audit:</b> @ViewBag.Input46306</li>
            </ul>
            <p class="ml25">
                Please provide explanation why your Material Management and Accounting System was determined by DCMA to be unacceptable.
            </p>
            <ul class="ml75 hr">
                <li>@Html.Raw(ViewBag.Input46307??"")</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    50.&nbsp;<i>
                        <u>
                            Counterfeit Parts - Authorized Source Verification
                        </u>
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Supplier has verified, as well as retained as a quality record, that each transaction is authorized in accordance with SI419-01.
            </p>
            <ul class="ml75">
                <li><b><input type="checkbox" @ViewBag.Checkbox46308_70902 /> Yes</b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46308_70903 /> No</b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46308_70904 /> N/A</b> - Supplier is Original Equipment/Component Manufacturer</li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46308_70905 /> N/A</b> - Supplier does not provide physical material </li>
                <li class="mt20"><b>If No, explanation required: </b>@ViewBag.Checkbox46308_Comment</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    51.&nbsp;<i>
                        <u>
                            Counterfeit Parts Prevention Flow Down
                        </u>
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Supplier agrees, in accordance with our SPOC 1.2.1, Subcontracting Policy, to flow down the applicable CPP requirements defined in SPOC 419 and SPOC 519 (if applicable as identified on PO), or its equivalent, to its sub-tier suppliers.
            </p>
            <ul class="ml75">
                <li><b><input type="checkbox" @ViewBag.Checkbox46309_70906 /> Yes</b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46309_70907 /> No</b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46309_70908 /> N/A</b> - Sub-tier suppliers do not provide physical material  </li>
                <li class="mt20"><b>If No, explanation required: </b>@ViewBag.Checkbox46309_Comment</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    52.&nbsp;<i>
                        <u>
                            252.246-7007, Contractor Counterfeit Electronic Part Detection and Avoidance System
                        </u> (Aug 2016)

                    </i>
                </b>
            </h2>
            <p class="ml25">
                Supplier is currently compliant with 48 CFR 252.246-7007 or will be compliant if applicable to a subsequently awarded purchase order or contract.
            </p>
            <ul class="ml75">
                <li><b><input type="checkbox" @ViewBag.Checkbox46310_70909 /> Yes</b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46310_70910 /> No</b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46310_70911 /> N/A</b> - Supplier does not provide electronic components or assemblies </li>
                <li class="mt20"><b>If No, explanation required: </b>@ViewBag.Checkbox46310_Comment</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    53.&nbsp;<i>
                        <u>
                            252.246-7007, Contractor Counterfeit Electronic Part Detection and Avoidance System
                        </u>(Aug 2016)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Supplier has risk based processes enabling the tracking of an electronic component from the original manufacturer to product acceptance.
            </p>
            <ul class="ml75 hr">
                <li><b><input type="checkbox" @ViewBag.Checkbox46311_Yes /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46311_No /> No </b></li>
                <li><b>If No, comment required: </b>@ViewBag.Checkbox46311_Comment</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    54.&nbsp;<i>
                        <u>
                            252.246-7008, Sources of Electronic Parts
                        </u> (Dec 2017)

                    </i>
                </b>
            </h2>
            <p class="ml25">
                Supplier is currently compliant with 48 CFR 252.246-7008 or will be compliant if applicable to a subsequently awarded purchase order or contract.
            </p>
            <ul class="ml75">
                <li><b><input type="checkbox" @ViewBag.Checkbox46312_70912 /> Yes</b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46312_70913 /> No</b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46312_70914 /> N/A</b> - Supplier does not provide electronic components or assemblies </li>
                <li class="mt20"><b>If No, explanation required: </b>@ViewBag.Checkbox46312_Comment</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    55.&nbsp;<i>
                        <u>
                            252.246-7008, Sources of Electronic Parts
                        </u>(Dec 2017)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Do you obtain electronic parts from only Original Equipment Manufacturers, Authorized Aftermarket Manufacturers or their authorized suppliers?
            </p>
            <ul class="ml75 hr">
                <li><b><input type="checkbox" @ViewBag.Checkbox46313_Yes /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46313_No /> No </b></li>
                <li><b>If No, comment required: </b>@ViewBag.Checkbox46313_Comment</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    56.&nbsp;<i>
                        <u>
                            252.246-7008, Sources of Electronic Parts
                        </u> (Dec 2017)

                    </i>
                </b>
            </h2>
            <p class="ml25">
                If you purchase electronic parts from a <u>non</u>-authorized source, do you perform inspection, testing and authentication in accordance with established industry standards and processes?
            </p>
            <ul class="ml75">
                <li><b><input type="checkbox" @ViewBag.Checkbox46314_70915 /> Yes</b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46314_70916 /> No</b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46314_70917 /> N/A</b> </li>
                <li class="mt20"><b>If No, explanation required: </b>@ViewBag.Checkbox46314_Comment</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    57.&nbsp;<i>
                        <u>
                            252.246-7008, Sources of Electronic Parts
                        </u>(Dec 2017)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Do you flow down the requirements in DFARS 252.246-7008 to your suppliers?
            </p>
            <ul class="ml75 hr">
                <li><b><input type="checkbox" @ViewBag.Checkbox46315_Yes /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46315_No /> No </b></li>
                <li><b>If No, comment required: </b>@ViewBag.Checkbox46315_Comment</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    58.&nbsp;<i>
                        <u>
                            ITAR Part 130, Certification Regarding Political Contributions, Fees and Commissions
                        </u>

                    </i>
                </b>
            </h2>
            <p class="ml25">
                Supplier certifies it <b>SELLS</b> defense articles, technical data, and/or defense services to Honeywell that are: (i) controlled for export under the US International Traffic in Arms Regulations (ITAR) (22 CFR Parts 120-130); <b>AND</b> (ii) valued in an amount of $500,000 or more; <b>AND</b> (iii) for delivery (or incorporation into another product for delivery) to, or for the use of, the armed forces of an international organization or a country other than the United States.<br>
                Please note 22 CFR &sect; 130.12(b) requires supplier to respond to this section <b><u>within 20 days</u></b>, unless supplier provides the information directly to the US State Department in accordance with 22 CFR &sect; 130.12(c).  US law requires Honeywell to inform the Department of State if we have not received a response within 25 days of this request.  Additionally, 22 CFR &sect; 130.14 requires supplier to maintain the records upon which the information above is based for a minimum of five (5) years from the date of the report.
            </p>
            <ul class="ml75">
                <li><b><input type="checkbox" @ViewBag.Checkbox46316_70918 /> Yes</b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46316_70919 /> No</b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46316_70920 /> N/A</b> - Work will be performed outside the US by employees not recruited within the US, District of Columbia, Puerto Rico, Northern Mariana Islands, American Samoa, Guam, US Virgin Islands and Wake Island</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    59.&nbsp;<i>
                        <u>
                            ITAR Part 130, Certification Regarding Political Contributions, Fees and Commissions
                        </u> (Cont'd)
                    </i>
                </b>
            </h2>
            <p class="ml25">
                Supplier certifies it has paid, offered to pay, or agreed to pay any "fees", "commissions", or "political contributions" as defined in 22 CFR &sect; 130.5 and 22 CFR &sect; 130.6, in connection with the sale of defense articles, technical data, and/or defense services to Honeywell.<br />
                <b>NOTE</b>:  22 CFR &sect; 130.9(d) requires supplier to inform Honeywell as soon as possible if supplier subsequently learns that it paid, offered to pay, or agreed to pay any fees, commissions, or political contributions in connection with the sale of defense articles, technical data, and/or defense services to Honeywell.
            </p>
            <ul class="ml75 hr">
                <li><b><input type="checkbox" @ViewBag.Checkbox46317_Yes /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46317_No /> No </b></li>
            </ul>
            <p class="ml25">
                <b style="color:red;"><i>ADDITIONAL REQUIREMENT</i></b>:  If "<b>YES</b>" selected, please complete Exhibit 1 for <b><u>each</u></b> fee, commission and political contribution, using additional sheets as necessary, referencing the Sales Order/Contract Number at issue, and numbering each successive sheet X of X accordingly.
            </p>
        </div>
        <div>
            <h2>
                <b>
                    60.&nbsp;<i>
                        <u>
                            Federal Aviation Administration (FAA) Anti-Drug and Alcohol Misuse Prevention Programs
                        </u>

                    </i>
                </b>
            </h2>
            <p class="ml25">
                Is your company a FAA approved Repair Station?
            </p>
            <ul class="ml75">
                <li><b><input type="checkbox" @ViewBag.Checkbox46318_70921 /> Yes</b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46318_70922 /> No</b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46318_70923 /> N/A</b> - Work will be performed outside the US by employees not recruited within the US, District of Columbia, Puerto Rico, Northern Mariana Islands, American Samoa, Guam, US Virgin Islands and Wake Island </li>
                <li class="mt20"><b>If Yes, please provide your Federal Registration Number: </b>@ViewBag.Checkbox46318_Comment</li>
            </ul>
            <p class="ml25">
                Do you have a FAA approved Anti-Drug Program?
            </p>
            <ul class="ml75 hr">
                <li><b><input type="checkbox" @ViewBag.Checkbox46319_Yes /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46319_No /> No </b></li>
                <li><b> If Yes, please provide your Anti-Drug Program Plan Number:	 </b>@ViewBag.Checkbox46319_Comment</li>
            </ul>
            <p class="ml25">
                Do you have a FAA approved Alcohol Misuse Prevention Program?
            </p>
            <ul class="ml75 hr">
                <li><b><input type="checkbox" @ViewBag.Checkbox46320_Yes /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46320_No /> No </b></li>
                <li><b>If Yes, please provide your Alcohol Misuse Prevention Program Plan Number: </b>@ViewBag.Checkbox46320_Comment</li>
            </ul>
        </div>
        <div>
            <h2>
                <b>
                    61.&nbsp;<i>
                        <u>
                            Additional Supplier Comments
                        </u>
                    </i>
                </b>
            </h2>
            <p class="ml25">
                @ViewBag.Input46374
            </p>
        </div>

        <p style="text-align:center; font-size:21px"><i><u><b>Overall Certification</b></u></i></p>

        <p>Supplier hereby certifies the information presented here is true and correct and meets the intent and spirit of the statements made above.  This Certifications and Assessment shall apply to all solicitations, agreements, Purchase Orders, contracts, or subcontracts received from Honeywell-Aerospace, and shall be valid for the current calendar year.  If any changes to the above occur, supplier will immediately notify their Honeywell-Aerospace Sourcing or Procurement representative, in writing, regarding its change in status.</p>
        <p>
            <ul class="ml75 hr">
                <li><b><input type="checkbox" @ViewBag.Checkbox46376_Yes /> Yes </b></li>
                <li><b><input type="checkbox" @ViewBag.Checkbox46376_No /> No </b></li>
                <li><b>If No, comment required: </b>@ViewBag.Checkbox46376_Comment</li>
            </ul>
        </p>

        <table width="100%" cellpadding="0" cellspacing="0" border="1">
            <tr style="height:40px">
                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                    NAME: @(ViewBag.signature == null ? "" : (ViewBag.signature.firstName + " " + ViewBag.signature.lastName))
                </td>
                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                    SIGNATURE:  @(ViewBag.signature == null ? "" : ViewBag.signature.email)
                </td>
                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                    DATE: @ViewBag.completeDate
                </td>
            </tr>
            <tr style="height:40px">
                <td style="font-size: 11px; text-align: left; padding-left: 5px; padding-bottom:5px;" colspan="3">
                    TITLE: @ViewBag.personTitle
                </td>
            </tr>
        </table>
    </FONT>
</body>
</html>







