@inherits System.Web.Mvc.WebViewPage<Generic.partner>
@using System.Web.Mvc.Html
@using Generic.Areas.RegistrationArea.Models
@{
    Layout = Generic.Helpers.LayoutHelper.GetRegistrationLayout();  
    //ViewBag.Title = "CompanyInfomation";
    var formData = new ViewBagModel();
    if (ViewBag.FormData != null)
    {
        formData = ViewBag.FormData as ViewBagModel;
    }
}

@Styles.Render("~/bundles/registrationCss")
@Styles.Render("~/bundles/alertifyCss")
@section Bottom{
    @*<div class="">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="float: left; margin-top: -44px">
            <tr>
                <td width="20%" align="right">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="22%" valign="top">
                               <ul id="qm0" class="qmmc" style="width: 775px;">
                                    <li><a class="qmparent" href=""></a></li>
                                    <li><a class="qmparent" id="contactUS">@ViewBag.CONTACT_US_EMAIL</a></li>                                    
                                    <li><a class="qmparent" href="~/Registration/Home/FileDownloadCMS?CMSName=QUESTIONNAIRE_PDF" target="_blank">@ViewBag.QUESTIONNAIRE_PDF</a></li>
                                    <li><a class="qmparent" href="~/Registration/Home/FileDownloadCMS?CMSName=QUESTIONNAIRE_FAQ" target="_blank">@ViewBag.QUESTIONNAIRE_FAQ</a> </li>
                                    <li><a class="qmparent" href="~/Registration/Home/FileDownloadCMS?CMSName=QUESTIONNAIRE_DOC_OTHER" target="_blank">@ViewBag.QUESTIONNAIRE_DOC_OTHER</a> </li>
                                    <li><a class="qmparent" href="@ViewBag.QUESTIONNAIRE_VIDEO_LINK" target="_blank">@ViewBag.QUESTIONNAIRE_VIDEO</a> </li>
                                    <li class="qmclear">&nbsp;</li>
                                </ul> 
                            </td>
                            <td width="20%" align="right" valign="top"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>*@

}

@section Top{
    @Html.Partial("_TopSection");
}

<table class="tablesign2 outertable" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td>
            @using (Html.BeginForm())
            {

                <table class="infobox"  border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <table class="innertable" border="0" cellspacing="0" cellpadding="0">
                                <tr class="cls">
                                    <td colspan="2" class="infotitlebg">
                                        @formData.CONTACT_INFORMATION_TEXT<span class="infotitlenormal">(@formData.VERIFY_CONTACT_TEXT_INFORMATION)</span>
                                    </td>
                                </tr>
                                <div id="panelinformation">

                                    <tr>
                                        <td class="panelinformation-td1" >
                                            <table border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td class="td1iner" ></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td class="td1iner2 esigncont"  align="right" class="esigncont">
                                                        @formData.FIRST_NAME *:
                                                    </td>
                                                    <td class="tCenterColumn">
                                                        &nbsp;
                                                    </td>
                                                    <td class="tRightColumn">
                                                        @Html.EditorFor(model => model.firstName)
                                                        @Html.ValidationMessageFor(model => model.firstName)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="td1iner3"></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td align="right" class="esigncont">
                                                        @formData.LAST_NAME*:
                                                    </td>
                                                    <td>
                                                        &nbsp;
                                                    </td>
                                                    <td>
                                                        @Html.EditorFor(model => model.lastName)
                                                        @Html.ValidationMessageFor(model => model.lastName)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="td1iner3"  ></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td align="right" class="esigncont">
                                                        @formData.TITLE_TEXT *:
                                                    </td>
                                                    <td>
                                                        &nbsp;
                                                    </td>
                                                    <td>
                                                        @Html.EditorFor(model => model.title)
                                                        @Html.ValidationMessageFor(model => model.title)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="td1iner3" ></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td class="td1iner2 esigncont" align="right" class="esigncont">
                                                        @formData.EMAIL_TEXT*:
                                                    </td>
                                                    <td class="tCenterColumn">
                                                        &nbsp;
                                                    </td>
                                                    <td class="tRightColumn">
                                                        @Html.EditorFor(model => model.email)
                                                        @Html.ValidationMessageFor(model => model.email)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class ="td1iner3"></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td align="right" class="esigncont">
                                                        @formData.PHONE_TEXT*:
                                                    </td>
                                                    <td>
                                                        &nbsp;
                                                    </td>
                                                    <td>
                                                        @Html.EditorFor(model => model.phone)
                                                        @Html.ValidationMessageFor(model => model.phone)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="td1iner3"></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td align="right" class="esigncont">
                                                        @formData.FAX_TEXT:
                                                    </td>
                                                    <td>
                                                        &nbsp;
                                                    </td>
                                                    <td>
                                                        @Html.EditorFor(model => model.fax)
                                                        @Html.ValidationMessageFor(model => model.fax)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="td1iner3"></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td class="td1iner4"></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td class="panelinformation-td2" align="right" valign="bottom">
                                            <table  border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td class="Previoustd" align="right" valign="bottom">
                                                        <input type="submit" name="btnCancel" id="btnCancel" value="@formData.CMS_PAGE_PREVIOUS_TEXT" onclick="javascrit: history.go(-1); return false;" style="border-width: 0px;" />
                                                    </td>
                                                    <td class="nextbtntd"  align="right" valign="bottom">
                                                        <input type="submit" name="btnNext" id="btnNext" value="@formData.CMS_PAGE_NEXT_TEXT" style="border-width: 0px;" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        &nbsp;
                                                    </td>
                                                    <td>
                                                        &nbsp;
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
            </tr>

        </div>

        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
    </table>
</td>
</tr>
</table>

            }

        </td>
    </tr>
    <tr>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td>
            <span class="formdatarequir" style="color: #8faebb;">*@formData.REQUIRED_FIELDS</span>
        </td>
    </tr>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        if ('@ViewBag.isEmailChanged' == "1") {
            alertify.set({
                labels: {
                    ok: "No",
                    cancel: "Yes"
                },
                buttonFocus: "cancel"
            });
            // button labels will be "Accept" and "Deny"
            alertify.confirm("you have changed email address this requires redirect, would you like to redirect this questionnaire to someone else?", function (e) {
                if (e) {
                    $('#email').val('@Session["currentEmail"].ToString()');

                } else {
                    // user clicked "cancel"
                    window.location.replace("@Url.Content("~/wrongContact?AccessCode="+ViewBag.accessCode)");
                }
            });
        }
    });
</script>