@inherits System.Web.Mvc.WebViewPage<Generic.eSignature>
@using System.Web.Mvc.Html
@using Generic.Areas.RegistrationArea.Models

@{
    Layout = Generic.Helpers.LayoutHelper.GetRegistrationLayout();   
    //ViewBag.Title = "CompanyInfomation";
    var formData = new ViewBagModel();
    if (ViewBag.FormData != null)
    {
        formData = ViewBag.FormData as ViewBagModel;
    }
}
@Styles.Render("~/bundles/progressBarCss")
@Styles.Render("~/bundles/alertifyCss")
@Styles.Render("~/bundles/registrationCss")


<script>
    $(document).ready(function () {
        
        progressBar(100, $('#progressBar'));

       

        // Obtain the zCode error message and if it is not empty then show it.
        var message = '@ViewBag.message';
        if (message.length > 0) {
            alertify.alert(message);
        }

    });
</script>

@section Bottom{
   
@Html.Partial("_BottomSection");
}

@section Top{
    @Html.Partial("_TopSection");
}

<table class="tablesign2"  border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td>
            <table  border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <div id="progressBar" class="tiny-green" >
                            <div></div>
                        </div>
                    </td>
                </tr>
            </table>
            <br />
        </td>
    </tr>
    <tr>
        <td>
            <table class="infobox" width="665" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td>



                        @using (Html.BeginForm())
                        {

                            <table class="innertable" border="0" cellspacing="0" cellpadding="0">
                                <div class="cls" id="ctl00_contentQuestionnaireBody_pnlOthers">
                                    <tr>
                                        <td class="infotitlebg" colspan="2">
                                            <span class="infotitlenormal">

                                                @formData.ESIGNATURE_PAGE_TEXT
                                                @* Thank you for completing your online <span id="ctl00_contentQuestionnaireBody_lblprovidertype">Conflict Minerals (3TG)</span> Certification questionnaire.  Please provide your email below. By providing your email below, you hereby certify that the information submitted in response to questions in this online questionnaire are accurate and true and this completes the registration process*@

                                            </span>
                                        </td>

                                    </tr>
                                </div>



                                <div id="ctl00_contentQuestionnaireBody_pnlAddEsignature" class="contentQuestionnaireBody">

                                    <tr>
                                        <td width="100%">
                                            <table border="0" cellpadding="0" cellspacing="0">
                                                <tr class="contentQuestionnairfirst">
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr class="contentQuestionnairsecond">
                                                    <td  align="right" class="esigncont">
                                                        @formData.FIRST_NAME*:
                                                    </td>
                                                    <td class="tCenterColumn">
                                                        &nbsp;
                                                    </td>
                                                    <td class="tRightColumn">

                                                        @Html.EditorFor(model => model.firstName, new { htmlAttributes = new { @size = "100", @style = "fondt-size:16px;" } })
                                                        <span id="errorFrstName" style="display: none;">Required</span>
                                                        @Html.ValidationMessageFor(model => model.firstName)
                                                    </td>
                                                </tr>
                                                <tr class="contentQuestionnairthrd">
                                                    <td ></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td align="right" class="esigncont">
                                                        @formData.LAST_NAME*:
                                                    </td>
                                                    <td>
                                                        &nbsp;
                                                    </td>
                                                    <td>
                                                        @Html.EditorFor(model => model.lastName, new { htmlAttributes = new { @size = "100", @style = "fondt-size:16px;" } })
                                                        <span id="errorlastName" style="display: none;">Required</span>
                                                        @Html.ValidationMessageFor(model => model.lastName)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="5"></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr id="ctl00_contentQuestionnaireBody_title" style="display: none">
                                                    <td align="right" class="esigncont">
                                                        @formData.TITLE_TEXT*:
                                                    </td>
                                                    <td>
                                                        &nbsp;
                                                    </td>
                                                    <td>
                                                        <input name="ctl00$contentQuestionnaireBody$txtTitle" type="text" id="ctl00_contentQuestionnaireBody_txtTitle" class="txtBox" size="200" />
                                                        <span id="ctl00_contentQuestionnaireBody_requiredTitle" class="errormsg" style="display: none;">Required</span>
                                                    </td>
                                                </tr>

                                                <tr class="contentQuestionnairfour">
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr class="contentQuestionnairfive">
                                                    <td align="right" class="esigncont">
                                                        @formData.EMAIL_TEXT*:
                                                    </td>
                                                    <td class="tCenterColumn">
                                                        &nbsp;
                                                    </td>
                                                    <td class="tRightColumn">
                                                        @Html.EditorFor(model => model.email, new { @size = "100", @style = "fondt-size:16px;" })
                                                        <span id="errorEmail errormsg" style="display:none; ">Required</span>
                                                        @Html.ValidationMessageFor(model => model.email)
                                                    </td>
                                                </tr>
                                                <tr class="contentQuestionnairsix">
                                                    <td height="5"></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr id="ctl00_contentQuestionnaireBody_phone" style="display: none">
                                                    <td align="right" class="esigncont">
                                                        @formData.PHONE_TEXT*:
                                                    </td>
                                                    <td>
                                                        &nbsp;
                                                    </td>
                                                    <td>
                                                        <input name="ctl00$contentQuestionnaireBody$txtPhone" type="text" id="ctl00_contentQuestionnaireBody_txtPhone" class="txtBox" />
                                                        <span id="ctl00_contentQuestionnaireBody_requiredPhone" class="errormsg" style="display: none;">Required</span>
                                                    </td>
                                                </tr>

                                                <tr class="contentQuestionnairsix">
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>

                                                <tr class="contentQuestionnairsix">
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr class="contentQuestionnairseven">
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                </div>
                                <tr>
                                    <td class="contentwraptd" align="right" valign="bottom">
                                        <table  border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td class="Previoustd" align="right" valign="bottom">
                                                    <input type="submit" name="btnPrevious" id="btnPrevious" value="@formData.CMS_PAGE_PREVIOUS_TEXT" onclick="history.go(-1); return false;" style="border-width: 0px;" />
                                                </td>

                                                <td class="nextbtntd" align="right" valign="bottom">
                                                    <input type="submit" name="btnNext" id="btnNext" onclick="return validateEsignature();" value="@formData.CMS_PAGE_NEXT_TEXT" style="border-width: 0px;"/>
                                                </td>
                                                <td class="space"></td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    &nbsp;
                                                </td>
                                                <td>
                                                    &nbsp;
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                            </table>

                        }

                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td>
            <span class="formdatarequir" >*@formData.REQUIRED_FIELDS</span>
        </td>
    </tr>
</table>
