@inherits System.Web.Mvc.WebViewPage
@using System.Web.Mvc.Html
@using System.Web.Mvc
@using Generic.Helpers
@using System.Web.Optimization;
@using Generic.Areas.RegistrationArea.Models
@{
    Layout = Generic.Helpers.LayoutHelper.GetNewRegistrationLayout();
    //Layout = "~/Views/Shared/_NewRegistrationLayout.cshtml";
    ViewBag.Title = "Questionnaire Response";
    var formData = new Generic.Areas.RegistrationArea.Models.ViewBagModel();
    if (ViewBag.FormData != null)
    {
        formData = ViewBag.FormData as Generic.Areas.RegistrationArea.Models.ViewBagModel;
    }
}

@Styles.Render("~/bundles/registrationCss")
@Styles.Render("~/bundles/progressBarCss")
@Scripts.Render("~/bundles/animatedCollapseJs")
<style>
    .txtstuff {
        resize: none; /* remove this if you want the user to be able to resize it in modern browsers */
        overflow: hidden;
    }

    .hiddendiv {
        display: none;
        white-space: pre-wrap;
        word-wrap: break-word;
        overflow-wrap: break-word; /* future version of deprecated 'word-wrap' */
    }

    /* the styles for 'commmon' are applied to both the textarea and the hidden clone */
    /* these must be the same for both */
    .common {
        width: 500px;
        min-height: 32px;
        overflow: hidden;
    }

    .lbr {
        line-height: 3px;
    }

    textarea {
        width: 100%;
    }

    .entry-content {
        font-family: Avenir-Roman-webfont;
        font-size: 17px;
    }

    .cke_editable {
        font-size: 18px;
    }

    #ui-datepicker-div {
        z-index: 1000 !important;
    }

    .questionaire-table table tr td table {
        vertical-align: middle;
        display: inline-table;
        width: 100%;
    }

    .questionaire-table table tr > td {
        text-align: left;
        border: 1.5px solid #fff;
        padding-left: 2px;
        padding-right: 0px;
    }

    .questionaire-table #getQuestionCommentAllByQuestionGrid table tr > td:nth-child(n+2) {
        width: unset !important;
    }
</style>
<style type="text/css">
    .t-grid td, t-grid-pager t-grid-bottom {
        font-size: 10px !important;
    }

    .t-grid-header .t-header .t-link {
        font-size: 10px !important;
        height: 25px !important;
    }

    .t-splitter .t-scrollable {
        overflow-x: hidden;
    }


    body .page-inner ol {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    body .page-inner ol li {
        counter-increment: step-counter !important;
        margin-bottom: 5px !important;
    }

        body .page-inner ol li::before {
            content: counter(step-counter)'.' !important;
            margin-right: 10px !important;
            font-size: 13px !important;
            color: #333 !important;
            font-weight: bold !important;
            padding: 3px 8px !important;
            position: inherit;
            margin-left: 0px;
        }
</style>

<div class="top-margin">

</div>


<section class="page-inner">
    <div class="container">
        @Html.Partial("_TopSection")
        @using (Html.BeginForm("QuestionnaireResponse", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "QuestionnaireResponse" }))
        {
            <div class="progress-sub">
                <div class="progress">

                    <div class="progress-bar" id="progressbar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">@ViewBag.percentageProgressbar Complete</span>
                    </div>
                    <input id="barpercent" type="hidden" value="@ViewBag.percentageProgressbar" />
                    @if (ViewBag.Pages != null)
                    {
                        int count = ViewBag.PagesCount;
                        List<PageDetails> pages = ViewBag.Pages as List<PageDetails>;
                        decimal v = (decimal)1 / count * 100;

                        <div class="tooltip-container">
                            @foreach (PageDetails item in pages)
                            {
                                <a href="@item.Url" class="div-box" style="width:@v%;background-color:@item.Color;">
                                    <span class="tooltiptext">@Html.Raw(item.Title)</span>
                                </a>
                            }
                        </div>
                    }
                </div>
                <div class=" Later-button">
                    <input type="button" value="@formData.SAVE_FOR_LATER_TEXT" form="QuestionnaireResponse" id="saveforLater" formnovalidate class="btn btn-default pull-right cancel" onclick="submitForLater()" />

                </div>
            </div>
            <div class="questionaire-table">

                <div class="shadow-outer">
                    <div class="shadow-box">

                        <div class="shadow-box-hd">



                        </div>
                        <!--shadow-box-hd-->
                        @Html.Raw(ViewBag.questions)
                    </div>
                    <!-- shadow-box -->
                </div>
                <!-- shadow-outer-->
                <div data-name="hidden-elements">
                    <input type="hidden" name="hiddenPreviousSkipLogicQuestion" id="hiddenPreviousSkipLogicQuestion" value="0" />
                    <input type="hidden" name="hiddenSkipLogicJump" id="hiddenSkipLogicJump" value="0" />
                    <input type="hidden" name="hiddenPage" id="hiddenPage" value="0" />

                    <input type="hidden" name="Page" value="@Request.QueryString["Page"]" />
                    <input type="hidden" name="PageNumber" value="@Request.QueryString["PageNumber"]" />
                    <input type="hidden" value="false" id="btnSaveForLater" name="btnSaveForLater" />
                    <input type="hidden" value="@ViewBag.Qids" id="Qids" name="Qids" />
                </div>
                <!--hidden-elements-->

                <div class="pre-next-btn">
                    <button class="btn btn-default pull-right" type="submit" name="btnSubmit" id="btnSubmit">@formData.CMS_PAGE_NEXT_TEXT</button>
                    <button class="btn btn-default pull-right" type="button" name="btnBack" id="btnBack" onclick="@(ViewBag.BackLink==null?"history.go(-1);return false;":"window.location='"+@ViewBag.BackLink+"';")">@formData.CMS_PAGE_PREVIOUS_TEXT</button>
                </div>
                <!--pre-next-btn-->

            </div>
            <!--questionaire-table-->
        }
        <!-- #region Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">PODS NARRATIVE HINTS</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="subjects-field">
                                    Subjects
                                </label>
                                <select class="form-control" id="subjects-field"></select>
                            </div>
                            <div class="form-group">
                                <label for="text-field">
                                    Text
                                </label>
                                <textarea class="form-control" rows="8" id="text-field" style="height: auto;"></textarea>
                                <script>
                                    // Replace the <textarea id="editor1"> with a CKEditor
                                    // instance, using default configuration.
                                    CKEDITOR.replace('text-field');
                                </script>

                            </div>
                            <div class="form-group">
                                <label for="attachment_opional">Attachment (optional)</label>
                                <input type="file" class="form-control" id="attachment_opional" name="attachment_opional" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="saveButton">Ok</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <!--#endregion Modal-->


    </div>



</section>

<div class="modal fade" id="modalComments" tabindex="-1" role="dialog" aria-labelledby="modalCommentsLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalCommentsLabel">Comments</h4>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<style>
    .disabledRow {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        filter: grayscale(100%);
        opacity: 0.5;
    }
        /*<div title="Tooltip text for first div" > </div > <div title="Tooltip text for second div" > </div >*/
        /*tr[title].disabledRow:before {
        content: attr(title);
        display: none;
    }

    tr[title].disabledRow:hover::before {
        width: 200px;
        display: block;
        background: yellow;
        border: 1px solid black;
        padding: 8px;
        margin: 25px 0 0 10px;
    }

    tr[title].disabledRow:hover {
        z-index: 10;
        position: absolute;
    }*/
        .disabledRow button, .disabledRow input, tr.disabledRow + tr > td > select, .disabledRow textarea, .disabledRow option, .disabledRow + tr > td input, .disabledRow + tr > td label, .disabledRow + tr > td table, .disabledRow + tr + tr > td textarea {
            pointer-events: none;
            cursor: default;
        }
</style>
<script type="text/javascript">
    var hiddenDiv = jQuery(document.createElement('div')), content = null;

    function submitForLater() {
        alertify.confirm("You will now exit the questionnaire. Please check your email for a reminder to re-access this questionnaire. Thank you.", function (e) {
            if (e) {
                $("#btnSaveForLater").val(true);
                submitForm();
            }
            $("#btnSaveForLater").val(false);
        });
        
    }
	function submitForm() {
		$("#QuestionnaireResponse").submit();
    }

    var canSubmit = false;
    var elementP = null;
    var oldvalP = null;
    var showalert = false;
    var showalert1 = false;
    var currentAnswer = '';
    var isSelectP = 0;
    var pptq = null;
    var qstart = -1;
    var qstartTitle = '';
    var qend = [];
    var qendTitle = [];
    var val = [];
    var messages = [];

        jQuery(document).ready(function ($) {

            //$(".disabledRow button, .disabledRow input, tr.disabledRow + tr > td > select, .disabledRow textarea, .disabledRow option ").prop("disabled",true);
            CKEDITOR.config.font_defaultLabel = 'Avenir-Roman-webfont';
            CKEDITOR.config.fontSize_defaultLabel = '17px';
            CKEDITOR.config.extraCss += "body{font-family:Avenir-Roman-webfont;font-size:17px;}";
            $(".list2listComponent").prop('required', true);
            var dualListBox = $(".list2listComponent").bootstrapDualListbox({
                nonSelectedListLabel: 'Options',
                selectedListLabel: 'Selected',
                selectorMinimalHeight:370,
                //preserveSelectionOnMove: 'moved',
                //moveOnSelect: false,
                //bootstrap3Compatible: true,
                showFilterInputs:false
            });
            var isRequiredField = dualListBox.attr('required');

            function initDualListBox() {
                var instance = dualListBox.data('plugin_bootstrapDualListbox');
                var nonSelectedList = instance.elements.select2;
                var isDualListBoxValidated = !(instance.selectedElements > 0);
                if ($("#bootstrapDualListbox_error_message").length == 0) {
                    nonSelectedList.before('<span id=\"bootstrapDualListbox_error_message\" style=\"color:red;\" class=\"' + (isDualListBoxValidated ? 'field-validation-valid' : 'hidden') + '\" data-valmsg-for=\"' + nonSelectedList.attr('id') + '\" data-valmsg-replace=\"true\">AT LEAST ONE SELECTION REQUIRED</span>');
                } else {
                    $("#bootstrapDualListbox_error_message").attr('class', (isDualListBoxValidated ? '' : 'hidden'));
                }
                nonSelectedList.prop('required', isDualListBoxValidated);
                instance.elements.originalSelect.prop('required', false);
            }

            dualListBox.change(function () {
                if (isRequiredField)
                    initDualListBox();
            });

            if (isRequiredField)
                initDualListBox();
            $(".editor").each(function () {
                var textAreaId = $(this).parent().parent().parent().parent().parent().parent().next().children().last().children("textarea").prop("id");
                if (textAreaId)
                    //alert("can't find text area.");
                //if (CKEDITOR.instances[textAreaId]) {
                //    CKEDITOR.instances[textAreaId].destroy();
                //}
                //else {

                //}
                CKEDITOR.replace(textAreaId, {
                    //scayt_autoStartup: true,
                    removePlugins: 'elementspath, Scayt',
                    removeButtons: 'Scayt',
                    toolbarCanCollapse: true,
                    toolbarStartupExpanded: false
                });
            });
            $(".editor").click(function () {
                var textAreaId = $(this).parent().parent().parent().parent().parent().parent().next().children().last().children("textarea").prop("id");
                if (textAreaId) { }
                    //alert("can't find text area.");
               // CKEDITOR.instances[textAreaId].
            });
			var percentage = $('#barpercent').val() + '%';
			$('#progressbar').width(percentage);
			var message = '@ViewBag.message';
			if (message !== "") {
				alertify.alert(message);
			}


                @if (ViewBag.Pptq != null) {
                        <text>

                $("input[name*='question_@ViewBag.Qids']").on('click', function () {
                    if ($("input[name*='question_@ViewBag.Qids']:checked").val() == "74") {
                    $('.disabledRow input[type="radio"]:first').prop('checked', true);
                }
                else {
                    $('.disabledRow input[type="radio"]:last').prop('checked', true);
                }
                });
                       </text>
                    }

            $("#QuestionnaireResponse").submit(function (e) {
                var success = true;
                $.each($('.field-validation-valid'), function (index, obj) {
                    var id = $(obj).attr('data-valmsg-for');
                    if ($('#' + id).is("textarea") && $('#cke_' + id).length > 0)
                        if (CKEDITOR.instances[id].getData().length === 0) {
                            success = false;
                            var html = '<span id="req_' + id + '"><span class="field-validation-error" data-valmsg-replace="true"><span generated="true" class="">Required</span></span></span>';
                            $('#cke_' + id).after(html);
                        }
                        else {
                            $("#req_" + id).remove();
                        }
                });

                if (success === false) return false;


                var newvalP;
                if (isSelectP === 0)
                    newvalP = $('[name="' + $(elementP).attr('name') + '"]:checked').val();
                else newvalP = $(elementP).val();

                if (showalert === true && val.indexOf(Number(newvalP)) !== -1 && messages[val.indexOf(Number(newvalP))].length>0) {
                        alertify.set({
                                labels: { ok: "No", cancel: "Yes" },
                                buttonFocus: "cancel"
                    });
                   
                    alertify.confirm("You've already responded to this question. This questionnaire contains skip logic, changing your response now will overwrite or delete the existing response to the question(s) listed below... do you want to proceed with this change?" +
                         "<br/><br/>" + messages[val.indexOf(Number(newvalP))] + "<br/><br/>" +
                        "If \"Yes\"  is selected, existing response(s) will be deleted; if \"No\" is selected, the system will advance you to the next question without deleting the existing response(s).", function (e) {
                            if (e) {
                                if (oldvalP !== null && oldvalP !== undefined && oldvalP !== '') {
                                    showalert = false;
                                    if (isSelectP === 0)
                                        $('[name="' + $(elementP).attr('name') + '"][value="' + oldvalP + '"]').prop('checked', true);
                                    else
                                        $(elementP).val(oldvalP);
                                    $("#QuestionnaireResponse").submit();
                                }
                            } else {
                                showalert = false;
                                $.post('@Url.Action("removeItemsByqid2", "Home")', { pptq: pptq, qstart: qstart, qend: qend[val.indexOf(Number(newvalP))] })
                    .done(function (data) {
                        $("#QuestionnaireResponse").submit();
                    });
                            }
                        });

                    return false;
                }


                if (showalert1 === true) {
                    var arr = $(".list2listComponent:first").val();
                    if (arr === null) { arr = ''; }
                    else { arr = arr.join(); }

                    if (currentAnswer !== arr) {
                        alertify.confirm("Changing your supplier type from the previously selected values will reset your self-assessment questionnaire.", function (e) {
                            if (e) {
                                var qid1 = $('option[skipLogicL2L="true"]:first').attr('questionId');
                                           showalert1 = false;
                                $.post('@Url.Action("modifyPartnerPartnertypeTouchpointQuestionnaireStatus", "Home")', { qid: qid1, accessCode:'@ViewBag.AccessCode' })
                    .done(function (data) {
                        $("#QuestionnaireResponse").submit();
                    });
                            } else {
                                showalert1 = false;
                                $(".list2listComponent:first").val(JSON.parse('[' + currentAnswer + ']'));
                                $(".list2listComponent").bootstrapDualListbox('refresh', true);
                                $("#QuestionnaireResponse").submit();
                            }
                        });

                        return false;
                    }
                }



                    //debugger;
                    //var $btn = $("input[type=submit][clicked=true]");
                    //if ($btn.prop("id") == "saveforLater") {
                    //    $("#btnSaveForLater").val("false");
                    //    $(this).validate().cancelSubmit = true;
                    //} else {
                    //    $("#btnSaveForLater").val("false");
                    //}
                });

			$("input[type=submit]").click(function () {

				$("input[type=submit]", $(this).parents("body")).removeAttr("clicked");
				$(this).attr("clicked", "true");
			});

			$(".duedate").datepicker({
				showOn: "button",
				buttonImage: "../../Contents/images/calendar_button.gif",
				buttonImageOnly: true,
				buttonText: "Select date",
				minDate: Date.parse("1900-01-01"),
				maxDate: Date.parse("2100-01-01")
			});
			$('[data-toggle="popover"]').popover();

			$('textarea').addClass('txtstuff');
			hiddenDiv.addClass('hiddendiv common');

			$('body').append(hiddenDiv);


			$.each($('textarea'), function (index, obj) {
				$(hiddenDiv).width($(obj).width());
				content = $(obj).val();
				content = content.replace(/\n/g, '<br>');
				hiddenDiv.html(content + '<br class="lbr">');
				$(obj).css('height', hiddenDiv.height());
			});

			$('textarea').on('keyup', function () {
				$(hiddenDiv).width($(this).width());
				content = $(this).val();
				content = content.replace(/\n/g, '<br>');
				hiddenDiv.html(content + '<br class="lbr">');
				$(this).css('height', hiddenDiv.height());
            });


            showalert = false;
            var count = $('input[type=radio][skiplogicjump="true"]').length
                + $('option[skiplogicjump="true"]').length;
            if (count > 0) {
                showalert = true;
                var jumpTo;
                var qid;
                if ($('input[type=radio][skiplogicjump="true"]').length > 0) {
                    qid = $('input[type=radio][skiplogicjump="true"]:first').attr('questionId');
                    jumpto = $('input[type=radio][skiplogicjump="true"]:first').attr('jumpto');
                    elementP = $('input[type=radio][skiplogicjump="true"]:first');
                    isSelectP = 0;
                    oldvalP = $('input[type=radio][skiplogicjump="true"]:first').attr('responsecurrent');
                }
                else {
                    qid = $('option[skiplogicjump="true"]:first').attr('questionId');
                    jumpto = $('option[skiplogicjump="true"]:first').attr('jumpto');
                    elementP = $('option[skiplogicjump="true"]:first').parent();
                    isSelectP = 1;
                    oldvalP = $('option[skiplogicjump="true"]:first').attr('responsecurrent');
                }

                $.post('@Url.Action("removeItemsByqid", "Home")', { pptqQR: qid, jumpTo: jumpto })
                    .done(function (data) {
                        messages = data.messages;
                        pptq = data.pptq;
                        qstart = data.qstart;
                        qend = data.qend;
                        val = data.val;
                        qstartTitle = data.qstartTitle;
                        qendTitle = data.qendTitle;
                    });
            }

            var count1 = $('option[skipLogicL2L="true"]').length;
            if (count1 > 0) {
                showalert1 = true;
                currentAnswer = $('option[skipLogicL2L="true"]:first').attr('answer');
            }

			@if (Session["ReferenceEmails"] != null&&((List<string>)Session["ReferenceEmails"]).Count>0)
			{
	        <text>
			alertify.confirm("@ViewBag.ErrorMessage.ToString()", function (result) {
				if (result) {
					$.get('@Url.Action("SendInventation", "Home")');
					} else {
					$.get('@Url.Action("CancelInventation", "Home")');
					}
				});
			</text>
			}

		});


    function showComments(id) {
        $('#modalComments').modal('hide');
        $.get('@Url.Action("GetComments", "Home")' + '?id=' + id, function (data) {
            $('#modalComments .modal-body').html(data);
            $('#modalComments').modal('show');
        });
    }

    function changenics(sender, questionId) {
        if ($(sender).val().length === 6) {
            $.post('@Url.Action("validateNics", "home")', { q: questionId, val: $(sender).val() })
                .done(function (data) {
                    if (data.success === false) {
                        alertify.alert(data.message);
                    }
                    else if (data.success === true){
                        alertify.alert(data.message);
                    }
                });
        }
    }
</script>


