@inherits System.Web.Mvc.WebViewPage
@using System.Web.Mvc.Html
@using System.Web.Mvc
@using Generic.Helpers
@{
    Layout = Generic.Helpers.LayoutHelper.GetRegistrationLayout();
    ViewBag.Title = "Questionnaire Response";
}



@*<script type="text/javascript" src="@Url.Content("~/Content/ProgressBar/progressbar.js")"></script>*@
@section styles {
    
}
<link href="~/Content/ProgressBar/skins/tiny-green/progressbar.css" rel="stylesheet" />
<link href="~/Content/ProgressBar/skins/default/progressbar.css" rel="stylesheet" />



@section zCodes{
    @Html.Raw(ViewBag.zcodeList)
}

@section Bottom{
    <div class="">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="float: left;position:absolute;top: 5px;">
            <tr>
                <td width="20%" align="right">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td valign="middle">
                                <ul id="qm0" class="qmmc" style="width: 775px;">
                                    <li><a class="qmparent" href=""></a></li>
<li style="margin-left: 8px;"> <img src="~/Contents/images/1Logo.png" width="95px"/></li>
                                    <li><a class="qmparent" href="mailto:@ViewBag.QUESTIONNAIRE_CONTACT_US_EMAIL_LINK" id="contactUS">@ViewBag.CONTACT_US_EMAIL</a></li>
                                    <li><a class="qmparent" href="~/Registration/Home/FileDownloadCMS?CMSName=QUESTIONNAIRE_PDF" target="_blank">@ViewBag.QUESTIONNAIRE_PDF</a></li>
                                    <li><a class="qmparent" href="~/Registration/Home/FileDownloadCMS?CMSName=QUESTIONNAIRE_FAQ" target="_blank">@ViewBag.QUESTIONNAIRE_FAQ</a> </li>
                                    <li><a class="qmparent" href="~/Registration/Home/FileDownloadCMS?CMSName=QUESTIONNAIRE_DOC_OTHER" target="_blank">@ViewBag.QUESTIONNAIRE_DOC_OTHER</a> </li>
                                    <li><a class="qmparent" href="@ViewBag.QUESTIONNAIRE_VIDEO_LINK" target="_blank">@ViewBag.QUESTIONNAIRE_VIDEO</a> </li>
                                    <li class="qmclear">&nbsp;</li>
                                </ul>
                            </td>
                            <td align="right" valign="top"></td>
                            
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
}

@section Top{




    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td height="77" valign="top">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="76%" align="center" valign="top" class="supplytitleblueone">
                            <span id="ctl00_lblSurvey">

                                @{
                                    
                                    @Html.Raw(ViewBag.CMS_PAGE_TITLE)
                                    
                                    <span style="font-size: 12px">
                                        @Html.Raw(ViewBag.CMS_PAGE_SUBTITLE)
                                    </span>
                                    
                                
                                }

                            </span>
                        </td>
                        <td width="13%" height="106" valign="bottom">
                            <img src="~/Contents/images/tickmark.gif" alt="" width="95" height="89" class="surveyban" />
                        </td>
                    </tr>
                </table>
            </td>

        </tr>
        <tr>
            <td height="119" valign="top">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td valign="top">
                            <table width="400" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="supplyleft">&nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <!-- <td class="supplyleft">
                                                    Honeywell Site Security Survey is designed to capture information about your site’s
                                                    practices pertaining to safeguarding the supply chain.
                                                </td>-->
                                    <td class="supplyleft">

                                        @Html.Raw(ViewBag.CMS_PAGE_PANEL_ONE)


                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td valign="top">

                            <table width="400" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="supplyright">&nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td class="supplyright">


                                        @Html.Raw(ViewBag.CMS_PAGE_PANEL_TWO)



                                        <!--<span style="color: #0096c9;">Instructions:</span> Enter your access code (found in your invitation email) below to complete Honeywell’s Site Security Survey.-->
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
}


<div class="supplycon">
    <div align="center" class="redheader">

        <table style="margin: auto; width: 88%;">
            <tr>
                <td width="85%" style="text-align: right;">

                    <div id="progressBar" class="tiny-green" style="width:660px">
                        <div></div>
                    </div>

                    <input id="barpercent" type="hidden" value="@ViewBag.percentageProgressbar" />
                </td>
           
                <td align="left">  @*style="width: 425px"*@
                    <input type="submit" value="@ViewBag.SAVE_FOR_LATER_TEXT" form="QuestionnaireResponse" id="saveforLater"/>
                    @*<p>*@
                        <span id="ctl00_contentQuestionnaireTitle_lblQuestionnaireTitle" class="redheader"></span>
                   @* </p>*@
                </td>
            </tr>

        </table>

    </div>
    <div>
        <table width="100%">
            <tr>
                <td>

                    <div align="center">


                        <div style="width: 800px;" align="left">

                            @using (Html.BeginForm("QuestionnaireResponse", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "QuestionnaireResponse" }))
                            {
                                
                                    @Html.Raw(ViewBag.questions)
                                


                                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top:-15px;">
                                    <tr>
                                        <td align="right"></td>
                                        <td>&nbsp;
                                        </td>
                                        <td align="right">
                                            <span id="lblErrormsg" class="redheader"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right"></td>
                                        <td>&nbsp;
                                        </td>
                                        <td align="right">
                                            <input type="submit" name="btnBack" id="btnBack"  value="@ViewBag.CMS_PAGE_PREVIOUS_TEXT"   onclick="javascript: history.go(-1); return false;" style="border-width: 0px;" />
                                            <input type="submit" name="btnSubmit" id="btnSubmit"  value="@ViewBag.CMS_PAGE_NEXT_TEXT"  style="border-width: 0px;" />
                                        </td>
                                    </tr>

                                </table>
                                            
                                <div align="right" style="padding-top: 25px;">
                                    <input type="hidden" name="hiddenPreviousSkipLogicQuestion" id="hiddenPreviousSkipLogicQuestion" value="0" />
                                    <input type="hidden" name="hiddenSkipLogicJump" id="hiddenSkipLogicJump" value="0" />
                                    <input type="hidden" name="hiddenPage" id="hiddenPage" value="0" />

                                    <input type="hidden" name="Page" value="@Request.QueryString["Page"]" />
                                    <input type="hidden" name="PageNumber" value="@Request.QueryString["PageNumber"]" />
                                    <input type="hidden" value="false" id="btnSaveForLater" name="btnSaveForLater"/> 
                                </div>
                                    
                            }
                        </div>
                    </div>



                </td>
            </tr>
        </table>
    </div>
</div>

@section scripts{

    <script type="text/javascript" src="@Url.Content("~/contents/js/animatedcollapse.js")"></script>
@*<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
    <script type="text/javascript">
        
        $(document).ready(function () {            
            var message = '@ViewBag.message';
        if (message !== "") {
            alertify.alert(message);
            //alert(message);

        }
        
        var percentage = $('#barpercent').val();
        progressBar(percentage, $('#progressBar'));


        function progressBar(percent, $element) {
            //alert(percent);
            var progressBarWidth = percent * $element.width() / 100;
            $element.find('div').animate({ width: progressBarWidth }, 500).html(percent + "%&nbsp;");
        }

        $("#QuestionnaireResponse").submit(function (e) {
            var $btn = $("input[type=submit][clicked=true]");
            if ($btn.prop("id") == "saveforLater") {
                $("#btnSaveForLater").val("true");
            } else {
                $("#btnSaveForLater").val("false");
            }
        });
        $("input[type=submit]").click(function () {

            $("input[type=submit]", $(this).parents("body")).removeAttr("clicked");
            $(this).attr("clicked", "true");
        });

    });

	</script>

<script type="text/javascript">
    
    function showdiv(sender) {
        alert(sender.name);

        var s = sender.id;

        var parts = s.split("_");

        var result = parts[parts.length - 2];
        alert(result);
        var val = sender.value;
        alert(val);
        var radioButtons = document.getElementsByName(); //'ctl00$contentQuestionnaireBody$question_1349_379');
        alert(radioButtons.length);
        for (var x = 0; x < radioButtons.length; x++) {
            if (radioButtons[x].checked) {
                alert("You checked " + radioButtons[x].value);
            }
        }
        if (val == 74) {
            document.getElementById('Div_1350').style.display = 'block';
        }
        else {
            document.getElementById('Div_1350').style.display = 'none';
        }
    }
    function removevalidation(sender) {
        var cont = document.getElementById(sender).innerHTML;
        $(function () {
            $(cont).find("input").each(function () {
                var id = $(this).attr("id");
                if (document.getElementById(id).checked) {
                    var splitter = $(this).attr("id").split("_");
                    //alert(splitter);
                    var logic = splitter[(splitter.length) - 1];

                    var question_id = splitter[(splitter.length) - 3];
                    // alert(question_id);
                    if (logic == 1) {
                        //alert(""+question_id+"_R");

                        //  ValidatorEnable(document.getElementById("" + question_id + "_R"), false);
                    }
                    else {
                        //  ValidatorEnable(document.getElementById("" + question_id + "_R"), true);
                    }
                }
            });


        });
        //var logic
    }
    function showdropdowndiv(sender) {
        var expr = new RegExp("\\([A-Z][A-Z]\\)");
        var s = $(sender).prop("id");
        var parts = s.split("_");
        var result = parts[parts.length - 2];
        var divname = "#nDiv_" + result;
        
        var arr = expr.exec($(divname + " span").text());
        if (arr.length > 0) {
            if ($("#" + s + " option:selected").text().indexOf(arr[0], 0) !== -1) {
                $(divname).show();
            } else {
                $(divname).hide();
            }
        }
    }
    function showdivnew(sender) {
        //alert("Hello");
        var allInputs = document.getElementsByTagName("input");
        var last = "NameUnlikelyToBeUsedAsAnElementName";

        var s = sender.id;

        var parts = s.split("_");

        var result = parts[parts.length - 2];

        var divname = "Div_" + result;

        for (i = 0; i < allInputs.length; i++) {
            //            animatedcollapse.addDiv('y' + divname, 'fade=1,height=50px');
            //            animatedcollapse.addDiv('n' + divname, 'fade=1,height=20px');
            //            animatedcollapse.init();
            var input = allInputs[i];
            if (input.name == last) continue; // if this object name is the same as the last checked radio, go to next iteration


                // checks to see if any  one of  similarly named radiobuttons is checked 
            else if (input.type == "radio") {
                last = input.name;
                // alert(last);
                var radios = document.getElementsByName(input.name);

                var radioSelected = false;
                // alert(input.id);
                // alert(sender.id);
                // var s1 = sender.id;

                var parts1 = s.split("_");

                var result1 = parts1[parts1.length - 2];

                var s2 = input.name;

                var parts2 = s2.split("_");

                var result2 = parts2[parts2.length - 2];
                // alert('result1 ' + result1 + ' result2 ' + result2);
                // alert('s2 ' + s2 + ' s ' + s);

                if (result1 == result2) {
                    //iterate over question options
                    for (j = 0; j < radios.length; j++) {
                        if (radios[j].checked) {
                            animatedcollapse.addDiv('y' + divname, 'fade=1,height=50px');
                            animatedcollapse.addDiv('n' + divname, 'fade=1,height=50px');
                            animatedcollapse.init();

                            if (radios[j].value == 74) {
                                //document.getElementById('y' + divname).style.display = 'block';
                                //document.getElementById('n' + divname).style.display = 'none';
                                animatedcollapse.show('y' + divname);
                                animatedcollapse.hide('n' + divname);
                            }
                            else if (radios[j].value == 75) {
                                //                            document.getElementById('y' + divname).style.display = 'none';
                                //                            document.getElementById('n' + divname).style.display = 'block';
                                // alert('n' + divname);
                                //                                document.getElementById('n' + divname).style.display = 'block';
                                //                                document.getElementById('y' + divname).style.display = 'none';
                                animatedcollapse.show('n' + divname);
                                animatedcollapse.hide('y' + divname);
                            }
                            else if (radios[j].value == 76) {
                                //                                document.getElementById('n' + divname).style.display = 'none';
                                //                                document.getElementById('y' + divname).style.display = 'none';
                                animatedcollapse.hide('y' + divname);
                                animatedcollapse.hide('n' + divname);
                                //                                document.getElementById('y' + divname).style.display = 'none';
                                //                                document.getElementById('n' + divname).style.display = 'none';
                            }

                            //                       radioSelected=true;
                            //                       break;
                        }
                    }
                    //            if (!radioSelected) // no option selected
                    //            {       // warn user, focus question
                    //                    alert("You did not answer question " + input.id.substring(0,input.id.length-1));
                    //                    input.focus();
                    //                    return false;
                    //            }                                   
                }
            } 

        }
    }

    function showdivRadioList(sender) {
        //alert("Hello");
        var allInputs = document.getElementsByTagName("input");
        var last = "NameUnlikelyToBeUsedAsAnElementName";

        var s = sender.id;

        var parts = s.split("_");

        var result = parts[parts.length - 2];

        var divname = "Div_" + result;

        for (i = 0; i < allInputs.length; i++) {
            //            animatedcollapse.addDiv('y' + divname, 'fade=1,height=50px');
            //            animatedcollapse.addDiv('n' + divname, 'fade=1,height=20px');
            //            animatedcollapse.init();
            var input = allInputs[i];
            if (input.name == last) continue; // if this object name is the same as the last checked radio, go to next iteration


                // checks to see if any  one of  similarly named radiobuttons is checked 
            else if (input.type == "radio") {
                last = input.name;
                // alert(last);
                var radios = document.getElementsByName(input.name);

                var radioSelected = false;


                var parts1 = s.split("_");

                var result1 = parts1[parts1.length - 2];

                var s2 = input.name;

                var parts2 = s2.split("_");

                var result2 = parts2[parts2.length - 2];
                var lans = parts2[(parts2.length) - 1];
                if (result1 == result2) {
                    //iterate over question options
                    for (j = 0; j < radios.length; j++) {
                        if (radios[j].checked) {
                            animatedcollapse.addDiv('y' + divname, 'fade=1,height=50px');
                            animatedcollapse.addDiv('n' + divname, 'fade=1,height=50px');
                            animatedcollapse.addDiv('commented' + divname, 'fade=1,height=50px');
                            animatedcollapse.init();

                            if (j == 0) {
                                //alert('Hi');
                                animatedcollapse.show('y' + divname);
                                animatedcollapse.hide('n' + divname);
                                animatedcollapse.hide('commented' + divname);
                            }
                            else if (j == 1) {
                                //alert('He');
                                animatedcollapse.show('n' + divname);
                                animatedcollapse.hide('y' + divname);
                                animatedcollapse.hide('commented' + divname);
                            }
                            else {
                                // alert(sender.id);
                                //alert(lans);
                                animatedcollapse.hide('y' + divname);
                                animatedcollapse.hide('n' + divname);
                                if ($(radios[j]).data("commented") === "True") {
                                    $('#commented' + divname + ' span').text($("label[for='" +$( radios[j]).prop("id") + "']").text());
                                    animatedcollapse.show('commented' + divname);
                                    //animatedcollapse.hide('commented' + divname);
                                } else {
                                    animatedcollapse.hide('commented' + divname);
                                }
                            }

                            //                       radioSelected=true;
                            //                       break;
                        }
                    }
                    //            if (!radioSelected) // no option selected
                    //            {       // warn user, focus question
                    //                    alert("You did not answer question " + input.id.substring(0,input.id.length-1));
                    //                    input.focus();
                    //                    return false;
                    //            }                                   
                }
            }

        }
    }
</script>

}
