@inherits System.Web.Mvc.WebViewPage<List<Generic.pr_getPartnerQuestionResponseByAccessCode_Result>>
@using System.Web.Mvc.Html
@using System.Web.Mvc
@using Generic.Helpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>

    <table width="100%">
        <tr>
            <td>
                @if (!string.IsNullOrEmpty(ViewBag.logoSrc))
                {
                    <img width="200px" src="@ViewBag.logoSrc"  style="" />
                }
            </td>
        </tr>
    </table>
    
    @foreach (var item in ViewBag.reslt2)
    {        
        <table width="100%">
            <tr>
                <td style="font-size: 15px; color: #081835">
                    @ViewBag.QuestionnaireTitle - @item.Access_Code
                </td>
            </tr>
        </table>
        <table width="100%" cellpadding="0" cellspacing="0" border="1">
            <tr>
                <td style="font-size: 11px; padding-left: 5px; padding-bottom:15px;">
                        INVITED DATE: @DateTime.Parse(item.Invited_Date.ToString()).ToString("MM/dd/yyyy")
                </td>
                    <td style="font-size: 11px; padding-left: 5px; padding-bottom:15px;">
                        COMPLETED DATE: @DateTime.Parse(item.Completed_Date.ToString()).ToString("MM/dd/yyyy")
                </td>
            </tr>
            <tr> 
                    <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;" colspan="2">
                        SUPPLIER NAME: @ViewBag.partner.name
                </td>
            </tr>
            <tr> 
                <td>
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td style="font-size: 11px; word-wrap:break-word; padding-left: 5px; padding-bottom:5px;" >
                                SUPPLIER ADDRESS #1: @ViewBag.partner.address1 
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 11px; word-wrap:break-word; padding-left: 5px; padding-bottom:5px;" >
                                SUPPLIER ADDRESS #2: @ViewBag.partner.address2
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;" >
                                CITY/TOWN: @ViewBag.partner.city
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;" >
                                STATE/PROVINCE/REGION: @ViewBag.state
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;" >
                                ZIP CODE:
                                @if (ViewBag.partner.zipcode != null)
                                {
                                     @MvcHtmlString.Create(ViewBag.partner.zipcode.ToString().Length > 5 ? ViewBag.partner.zipcode.ToString().Substring(0,5) + "-" + ViewBag.partner.zipcode.ToString().Substring(5, ViewBag.partner.zipcode.ToString().Length - 5): ViewBag.partner.zipcode);
                                }
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;" >
                                COUNTRY: @ViewBag.country
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table width="100%" cellpadding="0" cellspacing="0" border="1">
                        <tr>
                            <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;" colspan="2">
                                CONTACT NAME: @ViewBag.partner.name
                            </td>
                        </tr>
                        <tr>
                            <td  style="font-size: 11px; padding-left: 5px; padding-bottom:5px; width:inherit">
                                CONTACT TELEPHONE#: @ViewBag.partner.phone
                            </td>
                            <td width="30%" style="font-size: 11px; padding-left: 5px; padding-bottom:5px; width:inherit">
                                CONTACT FAX#: @ViewBag.partner.fax
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;" colspan="2">
                                CONTACT EMAIL ADDRESS: @ViewBag.partner.email 
                                <br />
                                <br />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr> 
                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;" >
                    DUNS #: <br />
                    @ViewBag.partner.internalID
                </td>
                    <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;" >
                        SAP/LOCAL SUPPLIER #: <br />
                        @ViewBag.partner.internalID
                </td>
            </tr>
        </table>
    }

    <br />
    <br />
    @{int i = 1;}
    @*here we can run foreach loop to bind all questions and answers*@
   
        <table cellpadding="0" cellspacing="0" border="1" width="100%">
            @foreach (var p in @Model)
            {
                <tr>
                    <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;" colspan="2">
                        <div   style="word-wrap:break-word;" >   
                           @i.  @Html.Raw(p.question)
                        </div>
                    </td>
                </tr>
                <tr >
                    @{
                        string[] resultArray = p.description.Split(new string[] { "--" }, StringSplitOptions.RemoveEmptyEntries);
                        <td style="font-size: 11px; text-align: left; padding-left: 5px; padding-bottom:5px;">
                            <div   style="word-wrap:break-word;">  
                                @if (resultArray.Count() > 0)
                                {
                                    @Html.Raw(resultArray[0])
                                }
                            </div>
                        </td>
                        <td style="font-size: 11px; text-align: left; padding-left: 5px; padding-bottom:5px;">
                            <div   style="word-wrap:break-word;"> 
                                @if (resultArray.Count() > 1)
                                {
                                    @Html.Raw(resultArray[1])
                                }
                            </div>
                        </td>
                    }
                </tr>
                     
                <tr ><td colspan="2"><br/></td></tr>
                i++;
            }
        </table>
    <br />

    @foreach (var item in ViewBag.reslt2)
    {        
        <table width="100%" cellpadding="0" cellspacing="0" border="1">
            <tr>
                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                    NAME: @item.eSignature_Last_Name @item.eSignature_First_Name
                </td>
                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                    SIGNATURE: @item.eSignature_eMail
                </td>
                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                    DATE: @item.Completed_Date
                </td>
            </tr>
            <tr> 
                <td style="font-size: 11px; text-align: left; padding-left: 5px; padding-bottom:5px;" colspan="3">
                    TITLE: @item.eSignature_Title
                </td>
            </tr>
        </table>
    }

</body>
</html>
