@inherits System.Web.Mvc.WebViewPage
@using System.Web.Mvc.Html
@using System.Web.Mvc
@using Generic.Helpers
@using Generic.Areas.RegistrationArea.Models
@{
	Layout = Generic.Helpers.LayoutHelper.GetRegistrationLayout();
	ViewBag.Title = "Questionnaire Response";
    var formData = new ViewBagModel();
    if (ViewBag.FormData != null)
    {
        formData = ViewBag.FormData as ViewBagModel;
    }
}

@Styles.Render("~/bundles/registrationCss")
@Styles.Render("~/bundles/progressBarCss")
@Scripts.Render("~/bundles/animatedCollapseJs")

@section zCodes{
	@Html.Raw(ViewBag.zcodeList)
}

@section Bottom{

    @Html.Partial("_BottomSection");
}

@section Top{
    @Html.Partial("_TopSection");
}



<div class="supplycon">
	<div align="center" class="redheader">

		<table class="tblQuestionnare">
			<tr>
				<td>

                    <div id="progressBar" class="tiny-green progressQstn">
                        <div></div>
                    </div>

					<input id="barpercent" type="hidden" value="@ViewBag.percentageProgressbar" />
				</td>
		   
				<td align="left">  @*style="width: 425px"*@
					<input type="submit" value="@formData.SAVE_FOR_LATER_TEXT" form="QuestionnaireResponse" id="saveforLater" formnovalidate class="cancel" />
					@*<p>*@
						<span id="ctl00_contentQuestionnaireTitle_lblQuestionnaireTitle" class="redheader"></span>
				   @* </p>*@
				</td>
			</tr>

		</table>

	</div>
	<div>
        <table class="table-full">
            <tr>
                <td>

                    <div align="center">


                        <div class="divQuestionnaire" align="left">

                            @using (Html.BeginForm("QuestionnaireResponse", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "QuestionnaireResponse" }))
                            {

                                @Html.Raw(ViewBag.questions)



                                <table class="tableInnerQstn" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td align="right"></td>
                                        <td>
                                            &nbsp;
                                        </td>
                                        <td align="right">
                                            <span id="lblErrormsg" class="redheader"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right"></td>
                                        <td>
                                            &nbsp;
                                        </td>
                                        <td align="right" class="inputstyle">
                                            <input type="submit" name="btnBack" id="btnBack" value="@formData.CMS_PAGE_PREVIOUS_TEXT" onclick="javascript: history.go(-1); return false;"  />
                                            <input type="submit" name="btnSubmit" id="btnSubmit" value="@formData.CMS_PAGE_NEXT_TEXT"  />
                                        </td>
                                    </tr>

                                </table>

                                <div align="right" class="paddingtop">
                                    <input type="hidden" name="hiddenPreviousSkipLogicQuestion" id="hiddenPreviousSkipLogicQuestion" value="0" />
                                    <input type="hidden" name="hiddenSkipLogicJump" id="hiddenSkipLogicJump" value="0" />
                                    <input type="hidden" name="hiddenPage" id="hiddenPage" value="0" />

                                    <input type="hidden" name="Page" value="@Request.QueryString["Page"]" />
                                    <input type="hidden" name="PageNumber" value="@Request.QueryString["PageNumber"]" />
                                    <input type="hidden" value="false" id="btnSaveForLater" name="btnSaveForLater" />
                                </div>

                            }
                        </div>
                    </div>



                </td>
            </tr>
        </table>
	</div>
</div>

@section scripts{

@*<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
	<script type="text/javascript">
		$(function () {
			$(".duedate").datepicker({
				showOn: "button",
				buttonImage: "../../Contents/images/calendar_button.gif",
				buttonImageOnly: true,
				buttonText: "Select date",
				minDate: Date.parse("1900-01-01"),
				maxDate: Date.parse("2100-01-01")
			});
		});
		$(document).ready(function () {            
			var message = '@ViewBag.message';
		if (message !== "") {
			alertify.alert(message);
			//alert(message);

		}
	   
		var percentage = $('#barpercent').val();
		progressBar(percentage, $('#progressBar'));

		$("#QuestionnaireResponse").submit(function (e) {
			var $btn = $("input[type=submit][clicked=true]");
			if ($btn.prop("id") == "saveforLater") {
				$("#btnSaveForLater").val("true");
				$(this).validate().cancelSubmit = true;
			} else {
				$("#btnSaveForLater").val("false");
			}
		});

		$("input[type=submit]").click(function () {

			$("input[type=submit]", $(this).parents("body")).removeAttr("clicked");
			$(this).attr("clicked", "true");
		});

	});

	</script>
}
