@inherits System.Web.Mvc.WebViewPage
@using System.Web.Mvc.Html
@using System.Web.Mvc
@using Generic.Helpers
@using Generic.Areas.RegistrationArea.Models
@{
    Layout = "~/Views/Shared/_NewRegistrationLayout.cshtml";
    ViewBag.Title = "Questionnaire Response";
    var formData = new ViewBagModel();
    if (ViewBag.FormData != null)
    {
        formData = ViewBag.FormData as ViewBagModel;
    }
}

@Styles.Render("~/bundles/registrationCss")
@Styles.Render("~/bundles/progressBarCss")
@Scripts.Render("~/bundles/animatedCollapseJs")

<div class="top-margin">

</div>


<section class="page-inner">
    <div class="container">
       @Html.Partial("_TopSection")
        @*@Html.Raw(ViewBag.zcodeList)*@
        @using (Html.BeginForm("QuestionnaireResponse", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "QuestionnaireResponse" }))
        {
            <div class="progress-sub">
                <div class="progress">
                    <div class="progress-bar" id="progressbar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">@ViewBag.percentageProgressbar Complete</span>
                    </div>
                    @*<div id="progressBar" class="tiny-green progressQstn">
                            <div></div>
                        </div>*@
                    <input id="barpercent" type="hidden" value="@ViewBag.percentageProgressbar" />

                </div>
                <div class=" Later-button">
                    <input type="button" value="@formData.SAVE_FOR_LATER_TEXT" form="QuestionnaireResponse" id="saveforLater" formnovalidate class="btn btn-default pull-right cancel" onclick="submitForm()"/>
                    @*<button class="btn btn-default pull-right cancel" type="submit" form="QuestionnaireResponse" id="saveforLater" formnovalidate>@formData.SAVE_FOR_LATER_TEXT</button>*@
                </div>
            </div>
            <div class="questionaire-table">

                <div class="shadow-outer">
                    <div class="shadow-box">

                        <div class="shadow-box-hd">

                            @*<button class="btn btn-default pull-right" type="submit" form="QuestionnaireResponse" id="saveforLater" formnovalidate >@formData.SAVE_FOR_LATER_TEXT</button>*@

                        </div>

                        @Html.Raw(ViewBag.questions)
                    </div>

                </div>
                <div>
                    <input type="hidden" name="hiddenPreviousSkipLogicQuestion" id="hiddenPreviousSkipLogicQuestion" value="0" />
                    <input type="hidden" name="hiddenSkipLogicJump" id="hiddenSkipLogicJump" value="0" />
                    <input type="hidden" name="hiddenPage" id="hiddenPage" value="0" />

                    <input type="hidden" name="Page" value="@Request.QueryString["Page"]" />
                    <input type="hidden" name="PageNumber" value="@Request.QueryString["PageNumber"]" />
                    <input type="hidden" value="false" id="btnSaveForLater" name="btnSaveForLater" />
                </div>


                <div class="pre-next-btn">
                    <button class="btn btn-default pull-right" type="submit" name="btnSubmit" id="btnSubmit">@formData.CMS_PAGE_NEXT_TEXT</button>
                    <button class="btn btn-default pull-right" type="submit" name="btnBack" id="btnBack" onclick="javascript: history.go(-1); return false;">@formData.CMS_PAGE_PREVIOUS_TEXT</button>
                </div>

            </div>
        }
    </div>



</section>


<script type="text/javascript">
	function submitForm() {
		jQuery("#QuestionnaireResponse").submit();
	}
	(function ($) {
		$(document).ready(function () {

			var percentage = $('#barpercent').val() + '%';
			$('#progressbar').width(percentage);
			var message = '@ViewBag.message';
			if (message !== "") {
				alertify.alert(message);
				//alert(message);

			}

			//progressBar(percentage, $('#progressBar'));

			$("#QuestionnaireResponse").submit(function (e) {
				debugger;
				//var $btn = $("input[type=submit][clicked=true]");
				//if ($btn.prop("id") == "saveforLater") {
				//    $("#btnSaveForLater").val("false");
				//    $(this).validate().cancelSubmit = true;
				//} else {
				//    $("#btnSaveForLater").val("false");
				//}
			});

			$("input[type=submit]").click(function () {

				$("input[type=submit]", $(this).parents("body")).removeAttr("clicked");
				$(this).attr("clicked", "true");
			});

			$(".duedate").datepicker({
				showOn: "button",
				buttonImage: "../../Contents/images/calendar_button.gif",
				buttonImageOnly: true,
				buttonText: "Select date",
				minDate: Date.parse("1900-01-01"),
				maxDate: Date.parse("2100-01-01")
			});
			$('[data-toggle="popover"]').popover();
		});
	})(jQuery);
    


</script>

