@inherits System.Web.Mvc.WebViewPage<List<Generic.pr_getPartnerQuestionResponseByAccessCode_Result>>
@using System.Web.Mvc.Html
@using System.Web.Mvc
@using Generic.Helpers

@{
    Layout = null;

                    //string a = @Url.Content("~/Admin/Home/ExportPng");
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>

    <table width="100%">
        <tr>
            <td>




                @* <a id="IntLogo" href="#"> 
                     @{
                         if (@ViewBag.logoSrc != null)
                        {    
                            string imageBase64 = Convert.ToBase64String(@ViewBag.logoSrc);
                            string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                                 <img width="100%" src="@imageSrc"  style="max-height: 50px;" />
                        }
                     }
                                    </a>*@
                @* @if(ViewBag.logoSrc != null)
    {
        string imageBase64 = Convert.ToBase64String(ViewBag.logoSrc);
        string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
        <img width="100%" src="@imageSrc"  style="max-height: 50px;" />
    }*@
                @*<img width="100%" src="@Url.Content("~/Admin/Home/ExportPng")"  style="max-height: 50px;" />*@
               
                @if (!string.IsNullOrEmpty(ViewBag.logoSrc))
                {
                    <img width="200px" src="@ViewBag.logoSrc"  style="" />
                }
            </td>
        </tr>
    </table>
    
    @foreach (var item in ViewBag.reslt2)
    {        
        <table width="100%">
            <tr>
                <td style="font-size: 15px; color: #081835">
                    @ViewBag.QuestionnaireTitle - @item.Access_Code
                </td>
            </tr>
        </table>
        <table width="100%" cellpadding="0" cellspacing="0" border="1">
            <tr>
                <td style="font-size: 11px; padding-left: 5px; padding-bottom:15px;">
                        INVITED DATE: @DateTime.Parse(item.Invited_Date.ToString()).ToString("MM/dd/yyyy")
                </td>
                    <td style="font-size: 11px; padding-left: 5px; padding-bottom:15px;">
                        COMPLETED DATE: @DateTime.Parse(item.Completed_Date.ToString()).ToString("MM/dd/yyyy")
                </td>
            </tr>
            <tr> 
                    <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;" colspan="2">
                        SUPPLIER NAME: @ViewBag.person.firstName  @ViewBag.person.lastName
                </td>
            </tr>
            <tr> 
                <td>
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td style="font-size: 11px; word-wrap:break-word; padding-left: 5px; padding-bottom:5px;" >
                                SUPPLIER ADDRESS #1: @ViewBag.person.address1 
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 11px; word-wrap:break-word; padding-left: 5px; padding-bottom:5px;" >
                                SUPPLIER ADDRESS #2: @ViewBag.person.address2
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;" >
                                CITY/TOWN: @ViewBag.person.city
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;" >
                                STATE/PROVINCE/REGION: @ViewBag.state
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;" >
                                ZIP CODE: @ViewBag.person.zipcode
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;" >
                                COUNTRY: @ViewBag.country
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table width="100%" cellpadding="0" cellspacing="0" border="1">
                        <tr>
                            <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;" colspan="2">
                                CONTACT NAME: @ViewBag.person.firstName @ViewBag.person.lastName 
                            </td>
                        </tr>
                        <tr>
                            <td  style="font-size: 11px; padding-left: 5px; padding-bottom:5px; width:inherit">
                                CONTACT TELEPHONE#: @ViewBag.person.phone
                            </td>
                            <td width="30%" style="font-size: 11px; padding-left: 5px; padding-bottom:5px; width:inherit">
                                CONTACT FAX#: @ViewBag.person.fax
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;" colspan="2">
                                CONTACT EMAIL ADDRESS: @ViewBag.person.email 
                                <br />
                                <br />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr> 
                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;" >
                    DUNS #: <br />
                    @ViewBag.person.internalId
                </td>
                    <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;" >
                        SAP/LOCAL SUPPLIER #: <br />
                        @ViewBag.person.internalId
                </td>
            </tr>


            @*<tr>
                <td style="font-size: 13px">Access Code</td>
                <td></td>
                <td style="font-size: 13px">@item.Access_Code</td>
            </tr>
            <tr>
                <td style="font-size: 13px">Internal ID</td>
                <td></td>
                <td style="font-size: 13px">@item.Internal_ID</td>
            </tr>
            <tr>
                <td style="font-size: 11px">Score</td>
                <td></td>
                <td style="font-size: 11px">@item.Score</td>
            </tr>*@


            @*<tr>
                <td style="font-size: 11px">Invited Date</td>
                <td></td>
                <td style="font-size: 11px">@DateTime.Parse(item.Invited_Date.ToString()).ToString("MM/dd/yyyy")</td>
            </tr>
            <tr>
                <td style="font-size: 11px">Completed Date</td>
                <td></td>
                <td style="font-size: 11px">@DateTime.Parse(item.Completed_Date.ToString()).ToString("MM/dd/yyyy")</td>
            </tr>*@


            @* <tr>
                <td style="font-size: 11px">ZCode</td>
                <td></td>
                <td style="font-size: 11px">@item.ZCode</td>
            </tr>
            <tr>
                <td style="font-size: 11px">Company</td>
                <td></td>
                <td style="font-size: 11px">@item.Company</td>
            </tr>
            <tr>
                <td style="font-size: 11px">POC First Name</td>
                <td></td>
                <td style="font-size: 11px">@item.POC_First_Name</td>
            </tr>
            <tr>
                <td style="font-size: 11px">POC Last Name</td>
                <td></td>
                <td style="font-size: 11px">@item.POC_Last_Name</td>
            </tr>*@

        </table>
     
    }


    <br />
    <br />
    @{int i = 1;}
    @*here we can run foreach loop to bind all questions and answers*@
   
        <table cellpadding="0" cellspacing="0" border="1" width="100%">
            @foreach (var p in @Model)
            {
                <tr>
                    <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;" colspan="2">
                        <div   style="word-wrap:break-word;" >   
                           @i.  @Html.Raw(p.question)
                        </div>
                    </td>
                </tr>
                <tr >
                    @{
                        string[] resultArray = p.description.Split(new string[] { "--" }, StringSplitOptions.RemoveEmptyEntries);
                        <td style="font-size: 11px; text-align: left; padding-left: 5px; padding-bottom:5px;">
                            <div   style="word-wrap:break-word;">  
                                @if (resultArray.Count() > 0)
                                {
                                    @Html.Raw(resultArray[0])
                                }
                            </div>
                        </td>
                        <td style="font-size: 11px; text-align: left; padding-left: 5px; padding-bottom:5px;">
                            <div   style="word-wrap:break-word;"> 
                                @if (resultArray.Count() > 1)
                                {
                                    @Html.Raw(resultArray[1])
                                }
                            </div>
                        </td>
                    }
                </tr>
                     
                <tr ><td colspan="2"><br/></td></tr>
                i++;
            }
        </table>
    <br />

    @foreach (var item in ViewBag.reslt2)
    {        
        <table width="100%" cellpadding="0" cellspacing="0" border="1">
            <tr>
                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                    NAME: @item.eSignature_Last_Name @item.eSignature_First_Name
                </td>
                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                    SIGNATURE: @item.eSignature_eMail
                </td>
                <td style="font-size: 11px; padding-left: 5px; padding-bottom:5px;">
                    DATE: @item.Completed_Date
                </td>
            </tr>
            <tr> 
                <td style="font-size: 11px; text-align: left; padding-left: 5px; padding-bottom:5px;" colspan="3">
                    TITLE: @item.eSignature_Title
                </td>
            </tr>
        </table>
    }

</body>
</html>
