@inherits System.Web.Mvc.WebViewPage
@using System.Web.Mvc.Html
@using System.Web.Mvc
@using Generic.Helpers
@using System.Web.Optimization;
@using Generic.Areas.RegistrationArea.Models
@{
    Layout = Generic.Helpers.LayoutHelper.GetNewRegistrationLayout();
    //Layout = "~/Views/Shared/_NewRegistrationLayout.cshtml";
    ViewBag.Title = "Questionnaire Response";
    var formData = new Generic.Areas.RegistrationArea.Models.ViewBagModel();
    if (ViewBag.FormData != null)
    {
        formData = ViewBag.FormData as Generic.Areas.RegistrationArea.Models.ViewBagModel;
    }
}

@Styles.Render("~/bundles/registrationCss")
@Styles.Render("~/bundles/progressBarCss")
@Scripts.Render("~/bundles/animatedCollapseJs")

<style>
    .txtstuff {
        resize: none; /* remove this if you want the user to be able to resize it in modern browsers */
        overflow: hidden;
    }

    .hiddendiv {
        display: none;
        white-space: pre-wrap;
        word-wrap: break-word;
        overflow-wrap: break-word; /* future version of deprecated 'word-wrap' */
    }

    /* the styles for 'commmon' are applied to both the textarea and the hidden clone */
    /* these must be the same for both */
    .common {
        width: 500px;
        min-height: 32px;
        overflow: hidden;
    }

    .lbr {
        line-height: 3px;
    }

    textarea {
        width: 100%;
    }

    .entry-content {
        font-family: Avenir-Roman-webfont;
        font-size: 17px;
    }

    .cke_editable {
        font-size: 18px;
    }
</style>


<div class="top-margin">

</div>


<section class="page-inner">
    <div class="container">
        @Html.Partial("_TopSection")
        @using (Html.BeginForm("QuestionnaireResponse", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "QuestionnaireResponse" }))
        {
            <div class="progress-sub">
                <div class="progress">

                    <div class="progress-bar" id="progressbar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">@ViewBag.percentageProgressbar Complete</span>
                    </div>
                    <input id="barpercent" type="hidden" value="@ViewBag.percentageProgressbar" />
                    @if (ViewBag.Pages != null)
                    {
                        int count = ViewBag.PagesCount;
                        List<PageDetails> pages = ViewBag.Pages as List<PageDetails>;
                        decimal v = (decimal)1 / count * 100;

                        <div class="tooltip-container">
                            @foreach (PageDetails item in pages)
                            {
                                <a href="@item.Url" class="div-box" style="width:@v%;background-color:@item.Color;">
                                    <span class="tooltiptext">@Html.Raw(item.Title)</span>
                                </a>
                            }
                        </div>
                    }
                </div>
                <div class=" Later-button">
                    <input type="button" value="@formData.SAVE_FOR_LATER_TEXT" form="QuestionnaireResponse" id="saveforLater" formnovalidate class="btn btn-default pull-right cancel" onclick="submitForm()" />

                </div>
            </div>
            <div class="questionaire-table">

                <div class="shadow-outer">
                    <div class="shadow-box">

                        <div class="shadow-box-hd">



                        </div>
                        <!--shadow-box-hd-->
                        @Html.Raw(ViewBag.questions)
                    </div>
                    <!-- shadow-box -->
                </div>
                <!-- shadow-outer-->
                <div data-name="hidden-elements">
                    <input type="hidden" name="hiddenPreviousSkipLogicQuestion" id="hiddenPreviousSkipLogicQuestion" value="0" />
                    <input type="hidden" name="hiddenSkipLogicJump" id="hiddenSkipLogicJump" value="0" />
                    <input type="hidden" name="hiddenPage" id="hiddenPage" value="0" />

                    <input type="hidden" name="Page" value="@Request.QueryString["Page"]" />
                    <input type="hidden" name="PageNumber" value="@Request.QueryString["PageNumber"]" />
                    <input type="hidden" value="false" id="btnSaveForLater" name="btnSaveForLater" />
                </div>
                <!--hidden-elements-->

                <div class="pre-next-btn">
                    <button class="btn btn-default pull-right" type="submit" name="btnSubmit" id="btnSubmit">@formData.CMS_PAGE_NEXT_TEXT</button>
                    <button class="btn btn-default pull-right" type="submit" name="btnBack" id="btnBack" onclick="javascript: history.go(-1); return false;">@formData.CMS_PAGE_PREVIOUS_TEXT</button>
                </div>
                <!--pre-next-btn-->

            </div>
			<!--questionaire-table-->
        }
        <!-- #region Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">PODS NARRATIVE HINTS</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="subjects-field">
                                    Subjects
                                </label>
                                <select class="form-control" id="subjects-field"></select>
                            </div>
                            <div class="form-group">
                                <label for="text-field">
                                    Text
                                </label>
                                <textarea class="form-control" rows="8" id="text-field" style="height: auto;"></textarea>
                                <script>
                                    // Replace the <textarea id="editor1"> with a CKEditor
                                    // instance, using default configuration.
                                    CKEDITOR.replace('text-field');
                                </script>

                            </div>
                            <div class="form-group">
                                <label for="attachment_opional">Attachment (optional)</label>
                                <input type="file" class="form-control" id="attachment_opional" name="attachment_opional" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="saveButton">Ok</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <!--#endregion Modal-->


    </div>



</section>

<style>
    .disabledRow {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        filter: grayscale(100%);
        opacity: 0.5;
    }
    /*<div title="Tooltip text for first div" > </div > <div title="Tooltip text for second div" > </div >*/
    /*tr[title].disabledRow:before {
        content: attr(title);
        display: none;
    }

    tr[title].disabledRow:hover::before {
        width: 200px;
        display: block;
        background: yellow;
        border: 1px solid black;
        padding: 8px;
        margin: 25px 0 0 10px;
    }

    tr[title].disabledRow:hover {
        z-index: 10;
        position: absolute;
    }*/
</style>
<script type="text/javascript">

	var hiddenDiv = $(document.createElement('div')), content = null;
	function submitForm() {
		jQuery("#QuestionnaireResponse").submit();
	}
	(function ($) {
        $(document).ready(function () {
            $(".disabledRow button, .disabledRow input, tr.disabledRow + tr > td > select, .disabledRow textarea, .disabledRow option ").prop("disabled",true);
            CKEDITOR.config.font_defaultLabel = 'Avenir-Roman-webfont';
            CKEDITOR.config.fontSize_defaultLabel = '17px';
            CKEDITOR.config.extraCss += "body{font-family:Avenir-Roman-webfont;font-size:17px;}";

            $(".editor").each(function () {
                var textAreaId = $(this).parent().parent().parent().parent().parent().parent().next().children().last().children("textarea").prop("id");
                if (!textAreaId)
                    alert("can't find text area.");
                //if (CKEDITOR.instances[textAreaId]) {
                //    CKEDITOR.instances[textAreaId].destroy();
                //}
                //else {

                //}
                CKEDITOR.replace(textAreaId, {
                    //scayt_autoStartup: true,
                    removePlugins: 'elementspath, Scayt',
                    removeButtons: 'Scayt',
                    toolbarCanCollapse: true,
                    toolbarStartupExpanded: false
                });
            });
            $(".editor").click(function () {
                var textAreaId = $(this).parent().parent().parent().parent().parent().parent().next().children().last().children("textarea").prop("id");
                if (!textAreaId)
                    alert("can't find text area.");
               // CKEDITOR.instances[textAreaId].
            });
			var percentage = $('#barpercent').val() + '%';
			$('#progressbar').width(percentage);
			var message = '@ViewBag.message';
			if (message !== "") {
				alertify.alert(message);
			}

			$("#QuestionnaireResponse").submit(function (e) {
				//debugger;
				//var $btn = $("input[type=submit][clicked=true]");
				//if ($btn.prop("id") == "saveforLater") {
				//    $("#btnSaveForLater").val("false");
				//    $(this).validate().cancelSubmit = true;
				//} else {
				//    $("#btnSaveForLater").val("false");
				//}
			});

			$("input[type=submit]").click(function () {

				$("input[type=submit]", $(this).parents("body")).removeAttr("clicked");
				$(this).attr("clicked", "true");
			});

			$(".duedate").datepicker({
				showOn: "button",
				buttonImage: "../../Contents/images/calendar_button.gif",
				buttonImageOnly: true,
				buttonText: "Select date",
				minDate: Date.parse("1900-01-01"),
				maxDate: Date.parse("2100-01-01")
			});
			$('[data-toggle="popover"]').popover();

			$('textarea').addClass('txtstuff');
			hiddenDiv.addClass('hiddendiv common');

			$('body').append(hiddenDiv);


			$.each($('textarea'), function (index, obj) {
				$(hiddenDiv).width($(obj).width());
				content = $(obj).val();
				content = content.replace(/\n/g, '<br>');
				hiddenDiv.html(content + '<br class="lbr">');
				$(obj).css('height', hiddenDiv.height());
			});

			$('textarea').on('keyup', function () {
				$(hiddenDiv).width($(this).width());
				content = $(this).val();
				content = content.replace(/\n/g, '<br>');
				hiddenDiv.html(content + '<br class="lbr">');
				$(this).css('height', hiddenDiv.height());
			});

			@if (Session["ReferenceEmails"] != null&&((List<string>)Session["ReferenceEmails"]).Count>0)
			{
	        <text>
			alertify.confirm("@ViewBag.ErrorMessage.ToString()", function (result) {
				if (result) {
					$.get('@Url.Action("SendInventation", "Home")');
					} else {
					$.get('@Url.Action("CancelInventation", "Home")');
					}
				});
			</text>
			}

		});
	})(jQuery);
</script>


