@inherits System.Web.Mvc.WebViewPage
@using System.Web.Mvc.Html
@using Generic.Areas.RegistrationArea.Models
@using System.Web.Optimization;
@using Generic.Helpers
@{
    ViewBag.Title = "Index";
    //Layout = Generic.Helpers.LayoutHelper.GetRegistrationLayout();
    //Layout = "~/Views/Shared/_NewRegistrationLayout.cshtml";
	Layout = Generic.Helpers.LayoutHelper.GetNewRegistrationLayout();
    var formData = new ViewBagModel();
    if (ViewBag.FormData != null)
    {
        formData = ViewBag.FormData as ViewBagModel;
    }
}



@*@{
    Html.RenderPartial("_TestPartialArea",null);
    }



    @using (Html.BeginForm("Submit", "Home", new { Area = "RegistrationArea" }))
    {
        <input type="submit" name="btn_test" value="Test Click" />
    }

*@



@Styles.Render("~/bundles/alertifyCss")
@Styles.Render("~/bundles/registrationCss")


@*<script>
    jQuery(document).ready(function ($) {
        var message = '@ViewBag.message';
        switch (message) {
            case "expired":
                alertify.alert("The access code you entered is no longer valid. For more information, please contact the administrator listed in the email invitation/reminder you received. Thank you.");
                break;
            case "wrongstatus":
                var satusCode = '@ViewBag.pptqaccesscode';
                alertify.alert("Access Code \"" + satusCode.toUpperCase() + "\" is not currently active. Please contact the system administrator in the email you received for further information.\n Thank you.");
                break;
            default: break;
        }

    });
</script>*@

@*@section Bottom{
@Html.Partial("_BottomSection");
}
@section BottomFooter{
   
}

@section Top{
   @Html.Partial("_TopSection");

}

<table class="table-full">
    <tr>
        <td>
            <p>
               @Html.Raw(@formData.SAVE_FOR_LATER_TEXT_NOTICE)
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <div class="pull-left inputstyle">
               
                <input type="button" name="btnExit" id="btnExit" value="@formData.CMS_PAGE_NEXT_TEXT" />
                <input type="button" name="btnCancel" id="btnCancel" value="@formData.CMS_PAGE_PREVIOUS_TEXT" />

            </div>
        </td>
    </tr>
</table>*@

<div class="top-margin">

</div>

<section class="page-inner">
    <div class="small-container">
       @Html.Partial("_TopSection")

        <div class="sub-box text-center">
            <div class="shadow-box outer-shadow text-center">
                <p>
                    @Html.Raw(@formData.SAVE_FOR_LATER_TEXT_NOTICE)
                </p>
            </div>

            <div class="sub-honeywell text-right">
                <button type="button" name="btnExit" id="btnExit" class="btn btn-warning honeywell-color-btn">@formData.CMS_PAGE_NEXT_TEXT</button>
                <button type="button" name="btnCancel" id="btnCancel" class="btn btn-warning honeywell-color-btn">@formData.CMS_PAGE_PREVIOUS_TEXT</button>
            </div>
        </div>
    </div>
</section>

@Scripts.Render("~/bundles/jquery")
<script>
    jQuery(document).ready(function ($) {
        $(document).on("click", "#btnExit", null, function () {
            window.history.back();
        });
        $(document).on("click", "#btnCancel", null, function () {
            if ("@ViewBag.ENTERPRISE_URL") {
                window.location.href = "http://@ViewBag.ENTERPRISE_URL";
                //window.location.host = ;
                //window.location.port = 80;
               // window.location.pathname = "";
            } else {
                window.location.href ="https://www.intelleges.com/"
            }
        });
    });
</script>


      