@inherits System.Web.Mvc.WebViewPage
@using System.Web.Mvc.Html
@using System.Web.Mvc
@using Generic.Areas.RegistrationArea.Models
@using Generic.Helpers
@using System.Web.Optimization;
@using Telerik.Web.Mvc.UI;
@{
    Layout = Generic.Helpers.LayoutHelper.GetQuestionnaireResponseMaster();
    // Layout = Generic.Helpers.LayoutHelper.GetRegistrationLayout();
    //Layout = "~/Views/Shared/_NewRegistrationLayout.cshtml";
    ViewBag.Title = "Questionnaire Response";
    var formData = new ViewBagModel();
    if (ViewBag.FormData != null)
    {
        formData = ViewBag.FormData as ViewBagModel;
    }
}

@*<script type="text/javascript" src="@Url.Content("~/contents/js/animatedcollapse.js")"></script>*@
<script src="~/Scripts/jquery.blockUI.js"></script>
@*@Scripts.Render("~/bundles/jquery")*@
@Styles.Render("~/bundles/registrationCss")
@Styles.Render("~/bundles/progressBarCss")
@Scripts.Render("~/bundles/animatedCollapseJs")

<style type="text/css">
    .t-grid td, t-grid-pager t-grid-bottom {
        font-size: 10px !important;
    }

    .t-grid-header .t-header .t-link {
        font-size: 10px !important;
        height: 25px !important;
    }

    .t-splitter .t-scrollable {
        overflow-x: hidden;
    }
</style>

<script type="text/javascript">

    $("frmCreateGroup").submit(function (e) {

        if ($(this).valid()) {

            $.post('@Url.Action("~/Registration/PartNumber/QuestionnaireResponse")', $(this).serialize(), function (data) {

                $("#dynamicData").html(data);

                $.validator.unobtrusive.parse($("#dynamicData"));

            });

        }

        e.preventDefault();

    });

    $(document).ready(function () {

        var message = '@ViewBag.message';
        if (message !== "") {
            alertify.alert(message);//"");
        }

        $("#btnSaveForLater").click(function (e) {

            window.location.replace("Saveforlater");

        });


        $("#imgBtnPrevious").click(function (e) {

            window.location.replace("PreviousPartNumberUI");

        });


        $("#imgBtnNext").click(function (e) {

            window.location.replace("NextPartNumberUI");

        });

    });

</script>

<script>

    jQuery(document).ready(function () {
        $(".duedate").datepicker({
            showOn: "button",
            buttonImage: "../../Contents/images/calendar_button.gif",
            buttonImageOnly: true,
            buttonText: "Select date",
            minDate: Date.parse("1900-01-01"),
            maxDate: Date.parse("2100-01-01")
        });

        $(".list2listComponent").bootstrapDualListbox({
            nonSelectedListLabel: 'Options',
            selectedListLabel: 'Selected',
            selectorMinimalHeight: 370,
            //preserveSelectionOnMove: 'moved',
            //moveOnSelect: false,
            //bootstrap3Compatible: true,
            showFilterInputs: false
        });

        var level = Number('@ViewBag.Level');
        if (level == 6) {
            $("#partNumberSelectList").bootstrapDualListbox({
                nonSelectedListLabel: 'Options',
                selectedListLabel: 'Selected',
                selectorMinimalHeight: 370,
                //preserveSelectionOnMove: 'moved',
                //moveOnSelect: false,
                //bootstrap3Compatible: true,
                showFilterInputs: false
            });
            
               var pN = Number('@ViewBag.pageNumber');
               if (pN!=1) {
                $('#bootstrap-duallistbox-nonselected-list_partNumberSelectList').parents(".bootstrap-duallistbox-container:first").find("*").prop("disabled", true);
            }

        }
        else {

            //$('[data-toggle="popover"]').tooltip();
            $('.dropdownchange').change(function () {
                var objpartNumberID = $('#partNumberSelectList').val();
                var objsiteID = $('#siteSelectList').val();
                var objpartnumberStatusID = $('#partnumberStatusSelectList').val();
                //var formData = { partNumberID: objpartNumberID, siteID: objsiteID, partnumberStatusID: objpartnumberStatusID };

                //if (objpartnumberStatusID == "") {
                //    var partNumberSelectList = "<option value=''></option>";
                //    $('#partNumberSelectList').html(partNumberSelectList);
                //    return;
                //}

           @* $.ajax({
                url: "@Url.Content("~/Registration/PartNumber/GetPartNumberByDropdown")",
                type: "post",
                data: formData,
                success: function (data) {
                    var len = data.Data.length;
                    var i = 0;
                    var partNumberSelectList = "<option value=''></option>";
                    for (i = 0; i < len; i++) {
                        partNumberSelectList += "<option value='" + data.Data[i].id + "'>" + data.Data[i].description + "</option>";
                    }

                    $('#partNumberSelectList').html(partNumberSelectList);


                },
                error: function (data) {
                    var partNumberSelectList = "<option value=''></option>";
                    $('#partNumberSelectList').html(partNumberSelectList);
                }
            });*@

                var fData = '<input type="hidden" name="siteID" value="' + objsiteID + '"><input type="hidden" name="partnumberStatusID" value="' + objpartnumberStatusID + '">';

                var f = document.createElement("form");

                f.setAttribute('method', "post");
                f.setAttribute('action', "@Url.Content("~/Registration/PartNumber/GetPartNumberByDropdown")");
                f.setAttribute('name', "initiateForm2");
                f.acceptCharset = "UTF-8";

                var newDiv = document.createElement("div");
                newDiv.innerHTML = fData;
                //var name = document.createElement("input");
                //name.setAttribute('type', "text");
                //name.setAttribute('name', "projectname");<a href="~/Areas/RegistrationArea/Views/PartNumber/QuestionnaireResponse.cshtml">~/Areas/RegistrationArea/Views/PartNumber/QuestionnaireResponse.cshtml</a>
                //name.setAttribute('value', "saket");

                f.appendChild(newDiv);
                document.body.appendChild(f); // added this
                f.submit();


            });




            $('#partNumberSelectList').change(function () {

                var objsiteID = $('#siteSelectList').val();
                var objpartnumberStatusID = $('#partnumberStatusSelectList').val();
                var objpartNumberID = $('#partNumberSelectList').val();
                // var formData = { partNumberSelectList: objpartNumberID, siteSelectList: objsiteID, partnumberStatusSelectList: objpartnumberStatusID };

                if (objpartnumberStatusID == "") {
                    var partNumberSelectList1 = "<option value=''></option>";
                    $('#partNumberSelectList').html(partNumberSelectList1);
                    return;
                }
         @*   var form = $('<form method="post" action="@Url.Content("~/Registration/PartNumber/GetQuestionnaire")">' +
             '<input type="hidden" name="partNumberSelectList" value="' + objpartNumberID + '"><input type="hidden" name="siteSelectList" value="' + objsiteID + '"><input type="hidden" name="partnumberStatusSelectList" value="' + objpartnumberStatusID + '"></form>');
            $(form).submit();*@

                var fData = '<input type="hidden" name="partNumberSelectList" value="' + objpartNumberID + '"><input type="hidden" name="siteSelectList" value="' + objsiteID + '"><input type="hidden" name="partnumberStatusSelectList" value="' + objpartnumberStatusID + '">';

                var f = document.createElement("form");

                f.setAttribute('method', "post");
                f.setAttribute('action', "@Url.Content("~/Registration/PartNumber/GetQuestionnaire")");
                f.setAttribute('name', "initiateForm");
                f.acceptCharset = "UTF-8";

                var newDiv = document.createElement("div");
                newDiv.innerHTML = fData;
                //var name = document.createElement("input");
                //name.setAttribute('type', "text");
                //name.setAttribute('name', "projectname");
                //name.setAttribute('value', "saket");

                f.appendChild(newDiv);
                document.body.appendChild(f); // added this
                f.submit();



            @*$.post({
                url: "@Url.Content("~/Registration/PartNumber/GetQuestionnaire")",
                type: "post",
                data: formData,
                success: function (data) {
                    //var len = data.Data.length;
                    //var i = 0;
                    //var partNumberSelectList = "<option value=''></option>";
                    //for (i = 0; i < len; i++) {
                    //    partNumberSelectList += "<option value='" + data.Data[i].id + "'>" + data.Data[i].description + "</option>";
                    //}

                    //$('#partNumberSelectList').html(partNumberSelectList);


                },
                error: function (data) {
                    // var partNumberSelectList = "<option value=''></option>";
                    //  $('#partNumberSelectList').html(partNumberSelectList);
                }
            });*@

                @*$.ajax({
                url: "@Url.Content("~/Registration/PartNumber/GetQuestionnaire")",
                type: "post",
                data: formData,
                success: function (data) {
                    //var len = data.Data.length;
                    //var i = 0;
                    //var partNumberSelectList = "<option value=''></option>";
                    //for (i = 0; i < len; i++) {
                    //    partNumberSelectList += "<option value='" + data.Data[i].id + "'>" + data.Data[i].description + "</option>";
                    //}

                    //$('#partNumberSelectList').html(partNumberSelectList);


                },
                error: function (data) {
                    // var partNumberSelectList = "<option value=''></option>";
                    //  $('#partNumberSelectList').html(partNumberSelectList);
                }
            });*@


            });

        }

    });
</script>

<script type="text/javascript">
    function showdivRadioList(sender) {
        //alert("Hello");
        var allInputs = document.getElementsByTagName("input");
        var last = "NameUnlikelyToBeUsedAsAnElementName";

        var s = sender.id;

        var parts = s.split("_");

        var result = parts[parts.length - 2];

        var divname = "Div_" + result;

        for (i = 0; i < allInputs.length; i++) {
            //            animatedcollapse.addDiv('y' + divname, 'fade=1,height=50px');
            //            animatedcollapse.addDiv('n' + divname, 'fade=1,height=20px');
            //            animatedcollapse.init();
            var input = allInputs[i];
            if (input.name == last) continue; // if this object name is the same as the last checked radio, go to next iteration


            // checks to see if any  one of  similarly named radiobuttons is checked
            else if (input.type == "radio") {
                last = input.name;
                // alert(last);
                var radios = document.getElementsByName(input.name);

                var radioSelected = false;


                var parts1 = s.split("_");

                var result1 = parts1[parts1.length - 2];

                var s2 = input.name;

                var parts2 = s2.split("_");

                var result2 = parts2[parts2.length - 2];
                var lans = parts2[(parts2.length) - 1];
                if (result1 == result2) {
                    //iterate over question options
                    for (j = 0; j < radios.length; j++) {
                        if (radios[j].checked) {
                            animatedcollapse.addDiv('y' + divname, 'fade=1,height=50px');
                            animatedcollapse.addDiv('n' + divname, 'fade=1,height=50px');
                            animatedcollapse.init();

                            if (j == 0) {
                                //alert('Hi');
                                animatedcollapse.show('y' + divname);
                                animatedcollapse.hide('n' + divname);
                            }
                            else if (j == 1) {
                                //alert('He');
                                animatedcollapse.show('n' + divname);
                                animatedcollapse.hide('y' + divname);
                            }
                            else {
                                // alert(sender.id);
                                //alert(lans);
                                animatedcollapse.hide('y' + divname);
                                animatedcollapse.hide('n' + divname);

                            }

                            //                       radioSelected=true;
                            //                       break;
                        }
                    }
                    //            if (!radioSelected) // no option selected
                    //            {       // warn user, focus question
                    //                    alert("You did not answer question " + input.id.substring(0,input.id.length-1));
                    //                    input.focus();
                    //                    return false;
                    //            }
                }
            }

        }
    }

</script>

<style>
    /*.questionaire-table .pre-next-btn {
        margin-top: 0;
    }*/
</style>


@section zCodes{
    @if (ViewBag.zcodeList is List<Generic.pr_getTransactionRecordAll_Result>)
    {
        List<Generic.pr_getTransactionRecordAll_Result> list = ViewBag.zcodeList as List<Generic.pr_getTransactionRecordAll_Result>;

        @Html.Telerik().Grid(list).Name("getTransactionRecordAllGrid").Columns(columns =>
   {
       columns.Bound(o => o.id).Title("Id");
       columns.Bound(o => o.bankName).Title("Bank Name").Width(150);
       columns.Bound(o => o.bankRole).Title("Bank Role").Width(250);
       columns.Bound(o => o.country).Title("Country").Width(100);
       columns.Bound(o => o.entityName).Title("Entity Name").Width(250);
       columns.Bound(o => o.orderNumber).Title("Order Number");
       columns.Bound(o => o.orderPrice).Title("Order Price");
       columns.Bound(o => o.orderTime).Title("Order Time");
       columns.Bound(o => o.orderType).Title("Order Type");
       columns.Bound(o => o.pptq).Title("Pptq");
       columns.Bound(o => o.profit).Title("Profit");
       columns.Bound(o => o.size).Title("Size");
       columns.Bound(o => o.sortOrder).Title("Sort Order");
       columns.Bound(o => o.stopLoss).Title("Stop Loss");
       columns.Bound(o => o.swap).Title("Swap");
       columns.Bound(o => o.symbol).Title("Symbol");
       columns.Bound(o => o.takeProfit).Title("Take Profit");
       columns.Bound(o => o.tradePrice).Title("Take Price");
       columns.Bound(o => o.tradeTime).Title("Take Time");
   }).Filterable(o => o.Enabled(true)).Resizable(o => o.Columns(true));
    }
    else if (ViewBag.zcodeList is List<Generic.ZcodeGridItem>)
    {
        List<Generic.ZcodeGridItem> list = ViewBag.zcodeList as List<Generic.ZcodeGridItem>;
        @Html.Telerik().Grid(list).Name("getTransactionRecordAllGrid").Columns(columns =>
   {
       columns.Bound(o => o.PartNumber).Title("Part Number");
       columns.Bound(o => o.Site).Title("Site");
       columns.Bound(o => o.Zcode).Title("Zcode");
       columns.Bound(o => o.LIFNR).Title("LIFNR");
       columns.Bound(o => o.MATNR).Title("MATNR");
       columns.Bound(o => o.WERKS).Title("WERKS");
       columns.Bound(o => o.ZPOST).Title("ZPOST");
       columns.Bound(o => o.ZCFLAG).Title("ZCFLAG");
       columns.Bound(o => o.COMPLETED_DATE).Title("COMPLETED DATE");
   }).Filterable(o => o.Enabled(true)).Resizable(o => o.Columns(true));
    }


}
@*<div class="top-margin">

    </div>*@


<section class="page-inner">
    <div class="container">
        @Html.Partial("_TopSection")
        @using (Html.BeginForm("QuestionnaireResponse", "PartNumber", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="questionaire-table">

                <div class="shadow-outer">
                    <div class="shadow-box">

                        <div class="box-shadow-dropdown shd-box-btn pre-next-btn">
                            <div class="row">

                                @if (ViewBag.Level == 6)
                                {
                                    @Html.Hidden("siteSelectList")
                                    @Html.Hidden("partnumberStatusSelectList")
                                    @Html.ListBox("partNumberSelectList", null, new { @class = "dropdownchange form-control", @data_val = "true", @data_val_required = "Required", multiple = "multiple" })
                                }
                                else
                                {
                                    <div class="col-md-2">
                                        @Html.DropDownList("partnumberStatusSelectList", null, null, new { @class = "dropdownchange form-control", @data_val = "true", @data_val_required = "Required" })
                                        <br />    <span class="field-validation-valid" data-valmsg-for="partnumberStatusSelectList" data-valmsg-replace="true"></span>
                                    </div>

                                    <div class="col-md-3">
                                        <span style="font-size: 12px;">

                                            @Html.Raw(ViewBag.QUESTIONNAIRE_PAGE_PN)

                                        </span>
                                        @Html.DropDownList("partNumberSelectList", null, null, new { @class = "dropdownchange form-control", @data_val = "true", @data_val_required = "Required" })
                                        <br />     <span class="field-validation-valid" data-valmsg-for="partNumberSelectList" data-valmsg-replace="true"></span>
                                    </div>

                                        <div class="col-md-4">
                                            <span style="font-size: 12px;">
                                                @Html.Raw(ViewBag.QUESTIONNAIRE_PAGE_SITE)
                                            </span>
                                            @Html.DropDownList("siteSelectList", null, null, new { @class = "dropdownchange form-control", @data_val = "true", @data_val_required = "Site is required." })
                                            <br />     <span class="field-validation-valid" data-valmsg-for="siteSelectList" data-valmsg-replace="true"></span>
                                        </div>

                                        <div class="col-md-3 text-right">
                                            <button class="btn btn-default" id="imgBtnPrevious" type="button"><i class="fa fa-angle-double-left"></i></button>
                                            <button class="btn btn-default" id="imgBtnNext" type="button"><i class="fa fa-angle-double-right"></i></button>
                                        </div>
                                }
                            </div>
                        </div>

                        @Html.Raw(ViewBag.questions + "</table>")



                    </div>

                </div>
                <div class="hiddenValues">
                    <input type="hidden" name="hiddenPreviousSkipLogicQuestion" id="hiddenPreviousSkipLogicQuestion" value="0" />
                    <input type="hidden" name="hiddenSkipLogicJump" id="hiddenSkipLogicJump" value="0" />
                    <input type="hidden" name="hiddenPage" id="hiddenPage" value="0" />

                    <input type="hidden" name="Page" value="@Request.QueryString["Page"]" />
                    <input type="hidden" name="PageNumber" value="@Request.QueryString["PageNumber"]" />

                </div>


                <div class="pre-next-btn">
                    <button class="btn btn-default pull-right" type="submit" name="btnSubmit" id="btnSubmit">@formData.CMS_PAGE_NEXT_TEXT</button>
                    <button class="btn btn-default pull-right" type="submit" name="btnBack" id="btnBack" onclick="javascript: history.go(-1); return false;">@formData.CMS_PAGE_PREVIOUS_TEXT</button>
                </div>

            </div>
        }
    </div>



</section>





