@inherits System.Web.Mvc.WebViewPage<Generic.touchpoint>
@using System.Web.Mvc.Html
@using Generic.Helpers
@{
    Layout = null;  // LayoutHelper.GetLayout();
    ViewBag.Title = "Touch Point";
}
<style type="text/css">
    .threecol, .twocol {
        width: 100%;
        display: inline-block;
        font-size: 13px!important;
    }

        .twocol .display-label {
            width: 10%;
            display: inline-block;
        }

        .twocol .display-field {
            width: 35%;
            display: inline-block;
        }

        .threecol .display-label {
            width: 10%;
            display: inline-block;
        }

        .threecol .display-field {
            width: 20%;
            display: inline-block;
        }

            .threecol .display-field label {
                width: 90%;
                display: inline-block;
                font-size: 13px!important;
            }

    #PartnerEventGrid {
        font-size: 12px;
    }
</style>
<h2>Details</h2>

<fieldset>
    <legend>touchpoint</legend>
    <div class="twocol">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.protocol)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.protocol)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.person)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.person)
        </div>
    </div>
    <div class="threecol">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.sponsor)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.sponsor)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.admin)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.admin)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.title)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.title)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.description)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.description)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.abbreviation)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.abbreviation)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.startDate)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.startDate)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.endDate)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.endDate)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.automaticReminder)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.automaticReminder)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.sortOrder)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.sortOrder)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.active)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.active)
        </div>
    </div>
</fieldset>

