@inherits System.Web.Mvc.WebViewPage<IEnumerable<Generic.touchpoint>>
@using System.Web.Mvc.Html
@using Generic.Helpers
@using Telerik.Web.Mvc.UI;
@{
    Layout = LayoutHelper.GetLayout();
    ViewBag.Title = "Touch Point";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@( Html.Telerik().Grid(Model).Name("touchPointGrid")
        .Columns(columns =>
        {
            columns.Bound(o => o.id);

            columns.Bound(o => o.protocol);

            columns.Bound(o => o.person);

            columns.Bound(o => o.sponsor);

            columns.Bound(o => o.admin);

            columns.Bound(o => o.title);

            columns.Bound(o => o.description);

            columns.Bound(o => o.abbreviation);

            columns.Bound(o => o.startDate);

            columns.Bound(o => o.endDate);

            columns.Bound(o => o.automaticReminder);

            columns.Bound(o => o.sortOrder);

            columns.Bound(o => o.active); 
         })
        .Pageable()
        .Sortable()
        )
@*<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.protocol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.person)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sponsor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.admin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.abbreviation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.automaticReminder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sortOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.protocol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.person)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sponsor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.admin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.abbreviation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.automaticReminder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sortOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.active)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>*@
