@inherits System.Web.Mvc.WebViewPage<Generic.Models.ContractModel>
@using System.Web.Mvc.Html
@using Generic.Helpers
@using Telerik.Web.Mvc.UI;
@{
    Layout = LayoutHelper.GetLayout();
    ViewBag.Title = "Create Contract";
}

<h2>Create Contract</h2>
<style type="text/css">
    .threecol, twocol {
        width: 100%;
        display: inline-block;
    }

    .twocol .editor-label {
        width: 10%;
        display: inline-block;
        font-size: 11px;
    }

    .twocol .editor-field {
        width: 35%;
        display: inline-block;
    }

    .threecol .editor-label {
        width: 10%;
        display: inline-block;
        font-size: 11px;
    }

    .threecol .editor-field {
        width: 20%;
        display: inline-block;
    }

     .threecol .editor-field-short {
        width: 20px;
        display: inline-block;
    }
      select#subscriptionStatus, #subscriptionType, #multiTenantProjectType, #GroupId, #protocol, #GovtContractOfficerPOC, #GCPPOCEmail, #contractManagerName, #customerAccountAdministrator, #contractType, #touchpointContracts {
        width: 185px;
        height:25px;
    }

        .threecol .editor-field label, .threecol .editor-field input, .threecol .editor-field select, .twocol .editor-field input, .twocol .editor-field select {
            width: 90%;
            display: inline-block;
            font-size: 11px;
        }

    .btn {
        background: #3498db;
        background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
        background-image: -moz-linear-gradient(top, #3498db, #2980b9);
        background-image: -ms-linear-gradient(top, #3498db, #2980b9);
        background-image: -o-linear-gradient(top, #3498db, #2980b9);
        background-image: linear-gradient(to bottom, #3498db, #2980b9);
        -webkit-border-radius: 12;
        -moz-border-radius: 12;
        border-radius: 28px;
        font-family: Arial;
        color: #ffffff;
        font-size: 20px;
        padding: 3px 20px 5px 20px !important;
        text-decoration: none;
    }

        .btn:hover {
            background: #3cb0fd;
            background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
            background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
            background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
            background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
            background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
            text-decoration: none;
        }
</style>
<script>
    function clearForm() {
        $("#customerName").val("");
        $("#contractNumber").val("");
        $("#contractManagerName").val("");
        $("#programName").val("");
        $("#sequenceNumber").val("");
        $("#masterContractNo").val("");
        $("#contractType").val("");
        $("#primeContractNo").val("");
        $("#SAPOrderNo").val("");
        $("#customerAccountAdministrator").val("");
        $("#FirstName").val("");
        $("#LastName").val("");
        $("#GovtContractOfficerPOC").val("");
        $("#GCPPOCEmail").val("");
        $("#Phone").val("");
        $("#contractAvardDate").val("");
        $("#entryDate").val("");
        $("#contractEndDate").val("");
        $("#protocol").val("");
        $("#touchpointContracts").val("");
        $("#GroupId").val("");
        $("#multiTenantProjectType").val("");
    }

    $(document).ready(function () {
        $("form").submit(function () {
            return validateControl();

        });
        @if(Model!=null)
        {
            <text>
        var saved = @(ViewBag.saved) ;
        if(saved){
            alertify.confirm("Congratulations you just added @Model.customerName .<br> Would you like to add the System Master for this Account?", function(choise){
                if(choise){
                    @*window.location.href="../Person/Create?enterpriseId=@Model.id";*@
                }

                    clearForm();

            });
        }
        else{
            alertify.alert("Contract saving error");
        }
        </text>
        }
        $("#btnClear").click(function () {
            clearForm();
        });

       
        function validateControl() {
          
            //if ($("#name").val() == "") {
            //    alertify.alert("Name is required");
            //    return false;
            //}
            //if ($("#internalID").val() == "") {
            //    alertify.alert("internalID is required");
            //    return false;
            //}               

            //if ($("#firstName").val() == "") {
            //    alertify.alert("First Name is required");
            //    return false;
            //}
            //if ($("#lastName").val() == "") {
            //    alertify.alert("Last Name is required");
            //    return false;
            //}
            //if ($("#email").val() == "") {
            //    alertify.alert("Email is required");
            //    return false;
            //}
            //if ($("#protocol").val() == "") {
            //    alertify.alert("Protocol is required");
            //    return false;
            //}
            //if ($("#touchpoint").val() == "") {
            //    alertify.alert("Touchpoint is required");
            //    return false;
            //}
            //if ($("#DueDate").val() == "") {
            //    alertify.alert("Due Date is required");
            //    return false;
            //}
            //if ($("#group").val() == "") {
            //    alertify.alert("Group is required");
            //    return false;
            //}
            //if ($("#partnertype").val() == "") {
            //    alertify.alert("Partner type is required");
            //    return false;
            //}
            //if ($("#owner").val() == "") {
            //    alertify.alert("Owner is required");
            //    return false;
            //}                
            ////#endregion

            //if ($("#address1").val() === "" && $("#address2").val() === "") {
            //    alertify.alert("Address is required");
            //    return false;
            //}
            //if ($("#city").val() === "" ) {
            //    alertify.alert("City is required");
            //    return false;
            //}
            //if ($("#state").val() === "") {
            //    alertify.alert("State is required");
            //    return false;
            //}
            //if ($("#zipcode").val() === "") {
            //    alertify.alert("Zip Code is required");
            //    return false;
            //}
            //if ($("#country").val() === "") {
            //    alertify.alert("Country is required");
            //    return false;
            //}
            //if ($("#phone").val() === "") {
            //    alertify.alert("Phone is required");
            //    return false;
            //}
            //if ($("#title").val() === "") {
            //    alertify.alert("Title is required");
            //    return false;
            //}
            //if ($("#dunsNumber").val() === "") {
            //    alertify.alert("DUNS Number is required");
            //    return false;
            //}
            //if ($("#dunsNumber").val() === "") {
            //    alertify.alert("DUNS Number is required");
            //    return false;
            //}
        }
        var _addValidation = function (elem) {
            elem.attr("data-val", "true");
            elem.attr("data-val-required", " ");
        };
        _addValidation($("#systemExpiry"));
        _addValidation($("#licenseLimit"));
        _addValidation($("#companyWebSite"));
        _addValidation($("#companyName"));
        _addValidation($("#description"));
        _addValidation($("#userMax"));
        _addValidation($("#partnerMax"));
        _addValidation($("#partnumberMax"));
        _addValidation($("#product"));
        _addValidation($("#subscriptionType"));
        _addValidation($("#freeTrialStartDate"));
        _addValidation($("#freeTrialEndDate"));
        _addValidation($("#licenseStartDate"));
        _addValidation($("#licenseEndDate"));
        _addValidation($("#monthlyFee"));
        _addValidation($("#multiTenantProjectType"));
        _addValidation($("#subscriptionStatus"));
        //_addValidation($("#uploadlogo"));

    });
</script>

@using (Html.BeginForm("Create", "Contract", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <fieldset>

        <legend>Contract</legend>
        <div class="threecol">
            <div class="editor-label">
                <label for="customerName">Customer Name</label>
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.customerName)
                @Html.ValidationMessageFor(model => model.customerName)
            </div>
            <div class="editor-label">
                <label for="contractNumber">Contract Number</label>
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.contractNumber)
                @Html.ValidationMessageFor(model => model.contractNumber)
            </div>
           <div class="editor-label">
                <label for="contractManagerName">Contract Manager Name</label>
            </div>
            <div class="editor-field" >
               @Html.DropDownList("contractManagerName", "Contract Manager Name")
            @Html.ValidationMessageFor(model => model.contractManagerName)
            </div>
            <div class="editor-label">
                <label for="programName">Program Name</label>
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.programName)
                @Html.ValidationMessageFor(model => model.programName)
            </div>
            
            <div class="editor-label">
                <label for="sequenceNumber">Sequence Number</label>
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.sequenceNumber)
                @Html.ValidationMessageFor(model => model.sequenceNumber)
            </div>
            <div class="editor-label">
                <label for="masterContractNo">Master Contract No.</label>
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.masterContractNo)
                @Html.ValidationMessageFor(model => model.masterContractNo)
            </div>
            <br/>
            <div class="editor-label">
            <label for="contractType">Contract Type</label>
        </div>
            <div class="editor-field">
                @Html.DropDownList("contractType", "Contract Type")
                @Html.ValidationMessageFor(model => model.contractType)
            </div>
            <div class="editor-label">
                <label for="primeContractNo">Prime Contract No.</label>
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.primeContractNo)
                @Html.ValidationMessageFor(model => model.primeContractNo)
            </div>
            <div class="editor-label">
                <label for="SAPOrderNo">SAP Order No.</label>
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.SAPOrderNo)
                @Html.ValidationMessageFor(model => model.SAPOrderNo)
            </div>
            <div class="editor-label">
                <label for="customerAccountAdministrator">Customer Account Administrator</label>
            </div>
            <div class="editor-field">
                @Html.DropDownList("customerAccountAdministrator", "Customer Account Administrator")
                @Html.ValidationMessageFor(model => model.customerAccountAdministrator)
            </div>
            <div class="editor-label">
                <label for="FirstName">First Name</label>
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
            <div class="editor-label">
                <label for="LastName">Last Name</label>
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
            <div class="editor-label">
                <label for="GovtContractOfficerPOC">Govt. Contract Officer POC</label>
            </div>
            <div class="editor-field">
                @Html.DropDownList("GovtContractOfficerPOC", "Govt. Contract Officer POC")
                @Html.ValidationMessageFor(model => model.GovContractOfficerPOC)
            </div>
            <div class="editor-label">
                <label for="GCPPOCEmail">GCP-POC Email</label>
            </div>
            <div class="editor-field">
                @Html.DropDownList("GCPPOCEmail", "GCP-POC Email")
                @Html.ValidationMessageFor(model => model.GCPPOCEmail)
            </div>
            <div class="editor-label">
                <label for="Phone">Phone</label>
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Phone)
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
            <div class="editor-label">
                <label for="contractAvardDate">Contract Award Date</label>
            </div>
            <div class="editor-field">
               @Html.Telerik().DatePickerFor(model => model.contractAvardDate)

            @Html.ValidationMessageFor(model => model.contractAvardDate)
            </div>
            <div class="editor-label">
                <label for="entryDate">Entry Date</label>
            </div>
            <div class="editor-field">
                @Html.Telerik().DatePickerFor(model => model.entryDate)

                @Html.ValidationMessageFor(model => model.entryDate)
            </div>
            <div class="editor-label">
                <label for="contractEndDate">Contract End Date</label>
            </div>
            <div class="editor-field">
                @Html.Telerik().DatePickerFor(model => model.contractEndDate)

                @Html.ValidationMessageFor(model => model.contractEndDate)
            </div><br/><br/>
            <div class="editor-label">
                <label for="protocol">Protocol</label>
            </div>
            <div class="editor-field">
                @Html.DropDownList("protocol", "Protocol")
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
            <div class="editor-label">
                <label for="touchpointContracts">Touchpoint</label>
            </div>
            <div class="editor-field">
                @Html.DropDownList("touchpointContracts", "Touchpoint")
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
            <div class="editor-label">
                <label for="Group">Group</label>
            </div>
            <div class="editor-field">
                @Html.DropDownList("GroupId", "Group")
                @Html.ValidationMessageFor(model => model.FirstName)
            </div><br/><br/>
            <div class="editor-label">
                <label for="multiTenantProjectType">Product Type</label>
            </div>
            <div class="editor-field">
                @Html.DropDownList("multiTenantProjectType", "Product Type")
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>
     
        
        
     
        
      

        <p style="float: right; width: 20%;">
            <input type="submit" value="Save" class="btn" />
            <input type="button" value="Clear" class="btn" id="btnClear" />
        </p>
    </fieldset>
}



@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}


