@inherits System.Web.Mvc.WebViewPage<Generic.autoMailMessage>
@using System.Web.Mvc.Html
@using Generic.Helpers
@using Telerik.Web.Mvc.UI;
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>autoMailMessage</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.subject)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.subject)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.text)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.text)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.footer1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.footer1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.footer2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.footer2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.autoMailType.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.autoMailType.description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.partnerTypeTouchpointQuestionnaire1.id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.partnerTypeTouchpointQuestionnaire1.id)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
