@inherits System.Web.Mvc.WebViewPage<Generic.partner>
@using System.Web.Mvc.Html
@using Generic.Areas.RegistrationArea.Models
@using System.Web.Optimization;
@{
    Layout = Generic.Helpers.LayoutHelper.GetNewRegistrationLayout();
    //Layout = Generic.Helpers.LayoutHelper.GetRegistrationLayout();
    // Layout = "~/Views/Shared/_NewRegistrationLayout.cshtml";
    //ViewBag.Title = "CompanyInfomation";
    var formData = new ViewBagModel();
    if (ViewBag.FormData != null)
    {
        formData = ViewBag.FormData as ViewBagModel;
    }
}

@Styles.Render("~/bundles/registrationCss")
@Styles.Render("~/bundles/alertifyCss")
@Scripts.Render("~/bundles/jquery")


<div class="top-margin">

</div>

<section class="page-inner">
    <div class="small-container">
        <div class="honeywell-hd text-center">@Html.Raw(ViewBag.CMS_PAGE_TITLE)</div>
        <div class="text-center">@Html.Raw(ViewBag.CMS_PAGE_SUBTITLE)</div>
        <p>&nbsp;</p>
        <div class="row">
            <div class="col-sm-6">
                <p>@Html.Raw(ViewBag.CMS_PAGE_PANEL_ONE)</p>


                <p>&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <div class="center-line">
                    <p>@Html.Raw(ViewBag.CMS_PAGE_PANEL_TWO)</p>

                </div>
                <p>&nbsp;</p>
            </div>
        </div>

        <div class="sub-box">
            <div class="shadow-box padding-none full-width">
                <div class="black-box-hd">
                    <div class="black-box-hd">@Html.Raw(ViewBag.CMS_PAGE_HEADER_TEXT)</div>
                </div>
                <div class="row main-content">
                    @using (Html.BeginForm())
                    {
                        <div class="form-horizontal black-box-form">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">@ViewBag.FIRST_NAME:<i class="fa fa-asterisk"></i> </label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.firstName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.firstName)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">@ViewBag.LAST_NAME:<i class="fa fa-asterisk"></i></label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.lastName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.lastName)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">@ViewBag.TITLE_TEXT:<i class="fa fa-asterisk"></i></label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.title, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.title)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">@ViewBag.EMAIL_TEXT:<i class="fa fa-asterisk"></i></label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.email, new { @class = "form-control", @type = "email" })
                                        @Html.ValidationMessageFor(model => model.email)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">@ViewBag.PHONE_TEXT:<i class="fa fa-asterisk"></i></label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.phone, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.phone)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">@ViewBag.FAX_TEXT:</label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.fax, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.fax)
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <button type="submit" name="btnNext" id="btnNext" class="btn btn-default pull-right save-btn">@ViewBag.CMS_PAGE_NEXT_TEXT</button>
                                <button type="submit" name="btnCancel" id="btnCancel" onclick="javascrit: history.go(-1); return false;" class="btn btn-default pull-right save-btn">@ViewBag.CMS_PAGE_PREVIOUS_TEXT</button>
                            </div>
                        </div>
                    }

                    <h2>Access Code: @ViewBag.accesscode </h2>
                </div>
            </div>
            <div class="sub-honeywell text-center">
                <label for="exampleInputName2"><i class="fa fa-asterisk"></i>@ViewBag.REQUIRED_FIELDS</label>
            </div>
        </div>
    </div>
</section>


@*

    @section Top{
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td height="77" valign="top">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="76%" align="center" valign="top" class="supplytitleblueone">
                                <span id="ctl00_lblSurvey">

                                    @{

                                        @Html.Raw(ViewBag.CMS_PAGE_TITLE)



                                        <span style="font-size: 12px">
                                            @Html.Raw(ViewBag.CMS_PAGE_SUBTITLE)
                                        </span>


                                    }

                                </span>
                            </td>
                            <td width="13%" height="106" valign="bottom">
                                <img src="~/Contents/images/tickmark.gif" alt="" width="95" height="89" class="surveyban" />
                            </td>
                        </tr>
                    </table>
                </td>

            </tr>
            <tr>
                <td height="119" valign="top">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td valign="top">
                                <table width="400" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="supplyleft">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <!-- <td class="supplyleft">
                                                        Honeywell Site Security Survey is designed to capture information about your site’s
                                                        practices pertaining to safeguarding the supply chain.
                                                    </td>-->
                                        <td class="supplyleft">

                                            @Html.Raw(ViewBag.CMS_PAGE_PANEL_ONE)


                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td valign="top">

                                <table width="400" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="supplyright">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="supplyright">


                                            @Html.Raw(ViewBag.CMS_PAGE_PANEL_TWO)




                                            <!--<span style="color: #0096c9;">Instructions:</span> Enter your access code (found in your invitation email) below to complete Honeywell’s Site Security Survey.-->
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    }
    <table width="89%" height="78" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                @using (Html.BeginForm())
                {

                    <table class="infobox" width="665" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <div id="panelinformation">
                                        <tr>
                                            <td colspan="2" align="center" class="headerText">

                                                @Html.Raw(ViewBag.CMS_PAGE_HEADER_TEXT)

                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="60%">
                                                <table width="400" border="0" cellpadding="0" cellspacing="0">

                                                    <tr>
                                                        <td height="20"></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td width="148" align="right" class="esigncont">
                                                            First Name*:
                                                        </td>
                                                        <td class="tCenterColumn">
                                                            &nbsp;
                                                        </td>
                                                        <td class="tRightColumn">
                                                            @Html.EditorFor(model => model.firstName)
                                                            @Html.ValidationMessageFor(model => model.firstName)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="5"></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" class="esigncont">
                                                            Last Name*:
                                                        </td>
                                                        <td>
                                                            &nbsp;
                                                        </td>
                                                        <td>
                                                            @Html.EditorFor(model => model.lastName)
                                                            @Html.ValidationMessageFor(model => model.lastName)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="5"></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" class="esigncont">
                                                            Title*:
                                                        </td>
                                                        <td>
                                                            &nbsp;
                                                        </td>
                                                        <td>
                                                            @Html.EditorFor(model => model.title)
                                                            @Html.ValidationMessageFor(model => model.title)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="5"></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td width="148" align="right" class="esigncont">
                                                            Email*:
                                                        </td>
                                                        <td class="tCenterColumn">
                                                            &nbsp;
                                                        </td>
                                                        <td class="tRightColumn">
                                                            @Html.EditorFor(model => model.email)
                                                            @Html.ValidationMessageFor(model => model.email)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="5"></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" class="esigncont">
                                                            Phone*:
                                                        </td>
                                                        <td>
                                                            &nbsp;
                                                        </td>
                                                        <td>
                                                            @Html.EditorFor(model => model.phone)
                                                            @Html.ValidationMessageFor(model => model.phone)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="5"></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" class="esigncont">
                                                            Fax:
                                                        </td>
                                                        <td>
                                                            &nbsp;
                                                        </td>
                                                        <td>
                                                            @Html.EditorFor(model => model.fax)
                                                            @Html.ValidationMessageFor(model => model.fax)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="5"></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td height="10"></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td width="40%" align="right" valign="bottom">


                                                <h1 style="position: relative; top: -50px; right: 80px;">Access Code: @ViewBag.accesscode </h1>

                                                <table width="230" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td width="103" align="right" valign="bottom">
                                                            <input type="submit" name="btnCancel" id="btnCancel" value="@ViewBag.CMS_PAGE_PREVIOUS_TEXT" onclick="javascript: open('/', '_self').close(); " style="border-width: 0px;" />
                                                        </td>
                                                        <td width="112" align="right" valign="bottom">
                                                            <input type="submit" name="btnNext" id="btnNext" value="@ViewBag.CMS_PAGE_NEXT_TEXT" style="border-width: 0px;" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            &nbsp;
                                                        </td>
                                                        <td>
                                                            &nbsp;
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                    </div>

                                    <tr>
                                        <td>
                                            &nbsp;
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                }

            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                <span style="color: #8faebb;">*Required Fields</span>
            </td>
        </tr>
    </table>

*@