@inherits System.Web.Mvc.WebViewPage<IEnumerable<Generic.view_QuestionnaireData>>
@using System.Web.Mvc.Html
@using Generic.Helpers
@using Telerik.Web.Mvc.UI;
@{
    Layout = LayoutHelper.GetLayout();
    ViewBag.Title = "Questionnaire";
}

<style>
    div#QuestionnaireGrid {
        font-size: 11px;
    }

    #modal {
        height: 489px;
    }

    .ui-dialog {
        width: 99% !important;
        left: 0;
    }

    .loader {
        position: absolute;
        width: 50%;
        height: 50%;
        z-index: 50000;
        background-color: #ddd;
        opacity: 0.5;
        padding:25% ;
    }

        .loader img {
            float: left;
            top: 50%;
            left: 50%;
        }
    .hide {
        display: none;
    }

    .show {
        display: block;
    }
</style>

<div class="loader hide">
    <img src="../../Images/WallImages/imagepath/ajax-loader.gif" alt="" />
</div>
@( Html.Telerik().Grid(Model).Name("QuestionnaireGrid")
.ToolBar(commands => commands
                .Custom()
                    .HtmlAttributes(new { id = "export" })
                    .Text("Export to Excel")
                    .Action("ExportExcel", "Questionnaire"))
        .Columns(columns =>
        {

            columns.Bound(o => o.name).Title("Name").Width(300).Template(@<text><a href='#' id='@item.name' class="menu_block title">@item.name</a>
<div class="display_menu" style="display: none;">
    <ul>
        <li><a href="javascript:openEditPopup(@item.id)">Edit/Correct</a></li>
        <li><a href="@Url.Action("Download", "Questionnaire", new { questionnaireId = item.id})">Download</a></li>
        <li><a href="javascript:openRemovePopup(@item.id,'@item.Author')">Remove</a></li>
        <li><a href="javascript:openArchivePopup(@item.id,'@item.Author')">Archive</a></li>
        <li><a href="~/Questionnaire/QuestionnaireDetailView/@item.id">View Detail</a></li>

        <li><a href="~/Questionnaire/QuestionnaireQuestionnaireCMS/@item.id">Edit/Upload CMS</a></li>
        <li><a href="~/Questionnaire/QuestionnaireQuestionnaireAutoMail/@item.id">Edit/Upload AutoMail</a></li>
        <li><a href="~/Questionnaire/QuestionnaireQuestionnaireTestAutomailAll/@item.id">Test Automail All</a></li>
        @*<li><a href="#" class="rowDataDownload" id="@item.id">Raw Data Download</a></li>*@
        <li><a href="@Url.Action("DownloadQuestionnarieUploadData", "Questionnaire", new { questionnarieId = item.id})">Raw Data Download</a></li>
        <li><a href="#" class="rawDataRemove" id="@item.id">Raw Data Remove</a></li>
        <li><a href="#" class="aMapping" id="@item.id" name="@item.name">Mapping</a></li>
    </ul>
</div>
</text>);
            columns.Bound(o => o.Touchpoint).Title("Touchpoint").Width(200);
            columns.Bound(o => o.PartnerType).Title("PartnerType").Width(150);
            columns.Bound(o => o.Locked).Title("Locked").Width(55);
            columns.Bound(o => o.CMS).Title("CMS").Width(50);
            columns.Bound(o => o.Reminders).Title("Remind").Width(65);
            columns.Bound(o => o.Author).Title("Author").Width(100);
            columns.Bound(o => o.No_Response).Title("N/R").Width(30);
            columns.Bound(o => o.Incomplete).Title("R/I").Width(30);

            columns.Bound(o => o.Completed).Title("R/C").Width(30);



        })
        .DataKeys(keys => keys.Add(o => o.id))
        .Pageable(pager => pager.PageSize(13).Total(200).Enabled(true))
        .Sortable(sorting => sorting.Enabled(true))

        .Scrollable(scrolling => scrolling
           .Enabled(true)
           .Height(380))
           .HtmlAttributes(new { @class = "ra" })



)
<div id="EmailDialog" title="Questionnaire Routing Form">
    <p>Email dialog</p>
</div>
<div id="genericPopup" title=""></div>
<style>
    .t-grid-content tr > td:hover .menu_block + .display_menu {
        display: block !important;
    }

    .display_menu {
        left: 65px;
        overflow: visible;
        position: absolute;
        top: -5px;
        background: #fff;
        border: 1px solid #ddd;
        z-index: 100;
    }

    .t-grid-content tr > td {
        overflow: visible !important;
        position: relative;
    }

    .display_menu > ul {
        padding: 0 16px;
    }

    .display_menu li {
        list-style: none outside none;
        width: 143px;
    }
</style>
<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery-ui-1.9.2.js"></script>
<script type="text/javascript">
    function ShowPartnerFindLoader() {
        $(".loader").show();
    }
    function HidePartnerFindLoader() {
        $(".loader").hide();
    }
    $(function () {
        jQuery.noConflict();
        $("#EmailDialog").dialog({
            autoOpen: false
        });
        $('#popup').bind('dialogclose', function (event) {
            window.location.replace(window.location.href);
        });
        $("td a.menu_block.title").each(function () {
            if ($(this).text().length > 50) {
                $(this).text($(this).text().substr(0, 50) + "...");
            }
        });
        $('.rawDataRemove').click(function () {
            var qId = $(this).attr('id');
            $.post("DeleteRawQuestionnarieUploadData", { questionnarieId: qId }, function (data) {
                if (data.Status == false) {
                    alertify.alert("There is an error occurred while delete Raw Data");
                    return false;
                }
                else {
                    return true;
                }
            });
        });
        $('.aMapping').click(function () {
            var qId = $(this).attr('id');
            $.post("MappedwQuestionnarie", { questionnarieId: qId }, function (data) {
                if (data.Status == false && data.isMapped == true) {
                    alertify.set({
                        labels: {
                            ok: "Yes",
                            cancel: "No"
                        },
                        buttonFocus: "ok"
                    });
                    alertify.confirm("This Questionnaire has already been mapped. Would you like to remove the current mapping?", function (e) {
                        if (e) {
                            ShowPartnerFindLoader();
                            $.post("RemoveCurrentQuestionnaireMapping", { questionnarieId: qId }, function (data) {
                                HidePartnerFindLoader();
                                alertify.set({
                                    labels: {
                                        ok: "OK",
                                    },
                                    buttonFocus: "ok"
                                });
                                if (data.Status == false) {
                                    alertify.alert("There is an error occurred while adding mapping!!!");
                                    return false;
                                }
                                else {
                                    alertify.alert("Mapping removed Successfullly!!!");
                                    return true;
                                }
                            });
                        }
                    });
                    return false;
                }
                else if (data.Status == false && data.isMapped == false) {
                    alertify.alert("There is an error occurred while mapping!!!");
                    return false;
                }
                else {
                    ShowPartnerFindLoader();
                    var list = data.MappedList;
                    var htmlData = "<table>";
                    for (var i = 0; i < list.length; i++) {
                        htmlData += "<tr><td> <input type='checkbox' id='" + list[i].QuestId + "' class='aSelectedQuest' name='quest' /></td>";
                        htmlData += "<td> <span>" + list[i].QuestTitle + "</span> </td></tr>";
                    }
                    htmlData += "</table>";
                    htmlData += "<input type='button' id='btnMapped' class='btn btn-primary' value='Submit' />";
                    htmlData += "<input type='hidden' id='hdnQuest'  value='" + qId+"' />";

                    $("#genericPopup").html(htmlData);
                    $("#genericPopup").dialog({ width: 300, height: 400, title: "Questionnaire Mapping " });
                    $("#genericPopup").dialog('open');
                    HidePartnerFindLoader();
                }
            });
        });

        $(document).on('change', 'input.aSelectedQuest', function () {
        //$('input.aSelectedQuest').on('change', function () {
            $('input.aSelectedQuest').not(this).prop('checked', false);
        });

        $(document).on('click', '#btnMapped', function () {
            var value = $('input.aSelectedQuest').attr('id');
            var current = $('#hdnQuest').val();
            ShowPartnerFindLoader();
            $.post("AddMappingQuestionnaire", { selectedQuestionnarieId: value, currentQuestionnaireId: current }, function (data) {
                HidePartnerFindLoader();
                if (data.Status == false) {
                    alertify.alert("There is an error occurred while adding mapping!!!");
                    return false;
                }
                else {
                    alertify.alert("Mapped Successfullly!!!");
                    CloseMe();
                }

            });

        });
        //$('.rowDataDownload').click(function () {
        //    var qId = $(this).attr('id');
        //    $.get("DownloadQuestionnarieUploadData", { questionnarieId: qId }, function (data) {
        //        if (data.Status == false) {
        //            alertify.alert("There is an error occurred while delete Raw Data");
        //            return false;
        //        }
        //    });
        //});
    });

    function CloseMe() {
        $("#genericPopup").dialog('close');
        //$(".t-icon .t-refresh").trigger('click');

        window.location.replace(window.location.href);
    }
    function OpenEmailDialog(ac) {
        jQuery.noConflict();

        $.get("/WrongContact/Index", { accessCode: ac }, function (data) {

            $("#EmailDialog").html(data);
            $("#EmailDialog").dialog({
                width: 1200,
                height: 1000,
            });
            $("#EmailDialog").dialog('open');
        });
    }
    $('#menu_block').hover(function () {
        // alert("call");
        $('#display_menu').show();
    }, function () {
        $('#display_menu').hide();
    })

    $('#menu_block').mouseenter(function () {
        $('#display_menu').show();
    }).mouseleave(function () {

        $('#display_menu').hide();

    });

    function openEditPopup(id) {
        $.get("@Url.Content("~/Questionnaire/Edit/")" + id, function (data) {
            $("#genericPopup").html(data);
        });

        $("#genericPopup").dialog({ height: 600, title: "Edit/Correct" });
        $("#genericPopup").dialog('open');
    }

    function openRemovePopup(id, name) {



        alertify.set({
            labels: {
                ok: "No",
                cancel: "Yes"
            },
            buttonFocus: "cancel"
        });
        // button labels will be "Accept" and "Deny"
        alertify.confirm("You are about to Remove : " + name + ". Are you sure you want to do this?", function (e) {
            if (e) {
                // Click no
            } else {
                // click yes

                $.get("@Url.Content("~/Questionnaire/Archive/")" + id, function (data) {
                    // $(".t-icon .t-refresh").trigger('click');
                    window.location.replace(window.location.href);
                });

            }
        });


    }


    function openArchivePopup(id, name) {



        alertify.set({
            labels: {
                ok: "No",
                cancel: "Yes"
            },
            buttonFocus: "cancel"
        });
        // button labels will be "Accept" and "Deny"
        alertify.confirm("You are about to Archive : " + name + ". Are you sure you want to do this?", function (e) {
            if (e) {
                // Click no
            } else {
                // click yes

                $.get("@Url.Content("~/Questionnaire/Archive/")" + id, function (data) {
                    // $(".t-icon .t-refresh").trigger('click');
                    window.location.replace(window.location.href);
                });

            }
        });


    }

    function openViewDetailPopup(id) {
        $("#genericPopup").html("<p>Loading Data...</p>");
        $.get("@Url.Content("~/Questionnaire/Details/")" + id, function (data) {
            $("#genericPopup").html(data);
        });
        $("#genericPopup").dialog({ height: 600, title: "View Detail" });
        $("#genericPopup").dialog('open');
    }

</script>

