@inherits System.Web.Mvc.WebViewPage<IEnumerable<Generic.ViewModel.QuestionnaireAutoMailViewModel>>
@using System.Web.Mvc.Html
@using Generic.Helpers
@using Telerik.Web.Mvc.UI;
@{
    Layout = LayoutHelper.GetLayout();
    ViewBag.Title = "Questionnaire AutoMail View";
    List<Generic.pr_getAutoMailAttachmentTypeAll_Result> types = ViewBag.Types as List<Generic.pr_getAutoMailAttachmentTypeAll_Result>;
}

<style>
    div#QuestionnaireDetailViewGrid {
        font-size: 11px;
    }

    #modal {
        height: 489px;
    }

    .ui-dialog {
        width: 99% !important;
        left: 0;
    }
    .btnprocess {
        height: 21px !important;
line-height: 4px !important;
font-size: 100% !important;
    }
    .input_size {
font-size: 11px!important;
padding: 1px!important;
position: relative;
top: 2px;
}
    .tw-bs .modal-backdrop{
        z-index:0 !important;
    }
</style>
<div class="tw-bs">
    <div class="container-fluid">
        <div class="modal fade" id="addNoteDialog" role="dialog" aria-labelledby="gpsLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only"></span>
                        </button>
                        <h4 class="modal-title" id="gpsLabel">Upload Automail Message Attachment</h4>
                    </div>
                    <div class="modal-body">
                        <form id="modalGetPassword" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="form-group col-xs-8">
                                    <label class="control-label" for="noteTitle">Attachment</label>
                                    <input id="noteTitle" name="noteTitle" class="form-control" type="file" placeholder="Please select file" data-val-required="*" data-val="true" />
                                    <span data-valmsg-replace="true" data-valmsg-for="noteTitle" class="field-validation-valid help-inline" />
                                </div>
                                <div class="form-group col-xs-4">
                                    <label class="control-label" for="document">Type</label>
                                    <select id="document" name="document" class="form-control">
                                        @foreach (var item in types.Where(o => o.active).OrderBy(o => o.sortOrder))
                                        {
                                            <option value="@item.id">@item.description</option>
                                        }
                                    </select>
                                </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="note">Filename</label>
                                    <input id="note" name="note" class="form-control" type="text" placeholder="Please enter filename" data-val-required="*" data-val="true" />
                                    <span data-valmsg-replace="true" data-valmsg-for="note" class="field-validation-valid help-inline" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="tags">Tags</label>
                                    <input id="tags" name="tags" class="form-control" type="text" placeholder="Please enter tags" data-val-required="*" data-val="true" />
                                    <span data-valmsg-replace="true" data-valmsg-for="tags" class="field-validation-valid help-inline" />
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" name="submit">Upload</button>
                                </div>
</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="margin-top:10px;">
    @(Html.Telerik().Grid(Model).Name("QuestionnaireDetailViewGrid")
.ToolBar(commands =>
{
    //commands.Template("<form method='post' enctype='multipart/form-data' action='/Questionnaire/UploadAutoMailExcelData/" + this.ViewContext.RouteData.Values["id"] + "'><a class='t-button' href='/Questionnaire/ExportExcelAutoMailDetail/" + this.ViewContext.RouteData.Values["id"] + "' id='export'>Export to Excel</a><input style='display: none' type='file' id='file' name='file' accept='.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel' /><a class='t-button' id='btn-upload' href='#'>Upload</a><input type='submit' class='btnprocess t-button' value='Process File'></input></form>");
    commands.Template("<form method='post' enctype='multipart/form-data' action='" + @Url.Action("UploadAutoMailExcelData", "Questionnaire") + "/" + this.ViewContext.RouteData.Values["id"] + "'><a class='t-button' href='" + @Url.Action("ExportExcelAutoMailDetail", "Questionnaire") + "/" + this.ViewContext.RouteData.Values["id"] + "' id='export'>Export to Excel</a><input type='file' id='file'  name='file' class='input_size'  /><input type='submit' class='btnprocess t-button' value='Upload'></input></form>");
})
.Columns(columns =>
        {
            columns.Bound(o => o.subject).Title("Subject").Width(80);
            columns.Bound(o => o.text).Title("Text AutoMail").Width(170).Template(@<text><span title="@item.text">
    @item.ShortText

    </span></text>);
            columns.Bound(o => o.mailType).Title("Mail Type").Width(50).Template(
                @<text><a href='#' id='@item.mailType' class="menu_block">@item.mailType</a><div class="display_menu" style="display: none;"><ul><li><a>Test</a></li><li><a>Edit/Remove</a></li><li><a href="javascript:addViewDoc(@item.id)">View/Add Doc</a></li><li><a>Add Next/Last</a></li></ul></div>
</text>









            );
        })
        .DataKeys(keys => keys.Add(o => o.id))
        .Pageable(pager => pager.PageSize(13).Total(200).Enabled(true))
        .Sortable(sorting => sorting.Enabled(true))
        .Scrollable(scrolling => scrolling
           .Enabled(true)
           .Height(380))
           .HtmlAttributes(new { @class = "ra" })
)
</div>
<div id="EmailDialog" title="Questionnaire Routing Form">
    <p>Email dialog</p>
</div>
<div id="genericPopup" title=""></div>
<style>
    .t-grid-content tr > td:hover .menu_block + .display_menu {
        display: block !important;
    }
    .t-grid-header .t-header {
        padding-top: 3px !important;
        padding-bottom: 13px !important;
    }
    .display_menu {
        left: -50px;
        overflow: visible;
        position: absolute;
        top: 30px;
        background: #fff;
        border: 1px solid #ddd;
        z-index: 100;
    }

    .t-grid-content tr > td {
        overflow: visible !important;
        position: relative;
    }

    .display_menu > ul {
        padding: 0 16px;
    }

    .display_menu li {
        list-style: none outside none;
        width: 143px;
    }
    .display_menu a{
        cursor:pointer;
    }
</style>

@section scripts{
    <script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/jquery-ui-1.9.2.js"></script>
<script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>
@System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/bootstrap.js"></script>
<script type="text/javascript">
    var selectedMailId=0;
    function addViewDoc(id) {
        $("#noteTitle").val("");
        $("#note").val("");
        $("#tags").val("");
        $("#addNoteDialog").modal("toggle");
        selectedMailId = id;
    }
    $(function () {
        jQuery.noConflict();
        $("#EmailDialog").dialog({
            autoOpen: false
        });
        $('#popup').bind('dialogclose', function (event) {
            window.location.replace(window.location.href);
        });
        $("#modalGetPassword").submit(function (e) {
            e.preventDefault();            
            var data = new FormData(this); // <-- 'this' is your form element
            data.append("id", selectedMailId);
            $.ajax({
                url: '@Url.Action("UploadQuestionnaireAutomailDocument", "Questionnaire")',
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                type: 'POST'
            }).done(function(result){
                $("#addNoteDialog").modal("toggle");
            }).error(function () {
                alertify.alert("Something went wrong. Please try again later.");
            })
        })
    });

    function CloseMe() {
        $("#genericPopup").dialog('close');
        window.location.replace(window.location.href);
    }
    function OpenEmailDialog(ac) {
        jQuery.noConflict();

        $.get("/WrongContact/Index", { accessCode: ac }, function (data) {

            $("#EmailDialog").html(data);
            $("#EmailDialog").dialog({
                width: 1200,
                height: 1000,
            });
            $("#EmailDialog").dialog('open');
        });
    }
    $('#menu_block').hover(function () {
        // alert("call");
        $('#display_menu').show();
    }, function () {
        $('#display_menu').hide();
    })

    $('#menu_block').mouseenter(function () {
        $('#display_menu').show();
    }).mouseleave(function () {

        $('#display_menu').hide();

    });

    function openEditPopup(id) {
        $.get("@Url.Content("~/Questionnaire/EditQuestionCMSDetail/")" + id, function (data) {
            $("#genericPopup").html(data);
        });

        $("#genericPopup").dialog({ height: 600, title: "Edit/Correct" });
        $("#genericPopup").dialog('open');
    }

    function openRemovePopup(id, name) {
        alertify.set({
            labels: {
                ok: "No",
                cancel: "Yes"
            },
            buttonFocus: "cancel"
        });
        // button labels will be "Accept" and "Deny"
        alertify.confirm("You are about to Remove : " + name + ". Are you sure you want to do this?", function (e) {
            if (e) {
                // Click no
            } else {
                // click yes

                $.get("@Url.Content("~/Questionnaire/ArchiveQuestionCMSDetail/")" + id, function (data) {
                    // $(".t-icon .t-refresh").trigger('click');
                    window.location.replace(window.location.href);
                });
            }
        });
    }

    function openArchivePopup(id, name) {
        alertify.set({
            labels: {
                ok: "No",
                cancel: "Yes"
            },
            buttonFocus: "cancel"
        });
        // button labels will be "Accept" and "Deny"
        alertify.confirm("You are about to Archive : " + name + ". Are you sure you want to do this?", function (e) {
            if (e) {
                // Click no
            } else {
                // click yes

                $.get("@Url.Content("~/Questionnaire/ArchiveQuestionCMSDetail/")" + id, function (data) {
                    // $(".t-icon .t-refresh").trigger('click');
                    window.location.replace(window.location.href);
                });

            }
        });
    }

    function openViewDetailPopup(id) {
        $("#genericPopup").html("<p>Loading Data...</p>");
        $.get("@Url.Content("~/Questionnaire/QuestionnaireCMSDetail")" + id, function (data) {
            $("#genericPopup").html(data);
        });
        $("#genericPopup").dialog({ height: 600, title: "View Detail" });
        $("#genericPopup").dialog('open');
    }

    $(function () {
        $('#btn-upload').click(function (e) {
            e.preventDefault();
            $('#file').click();
        }
       );
    });

</script>

}
