@inherits System.Web.Mvc.WebViewPage<IEnumerable<Generic.question>>
@using System.Web.Mvc.Html
@using Generic.Helpers
@using Telerik.Web.Mvc.UI;
@{
    Layout = LayoutHelper.GetLayout();
    ViewBag.Title = "Questionnaire Detail View";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
<link href="~/Content/bootstrap-duallistbox.min.css" rel="stylesheet" />
<style>
    div#QuestionnaireDetailViewGrid {
        font-size: 11px;
    }

    #modal {
        height: 489px;
    }

    .ui-dialog {
        width: 99% !important;
        left: 0;
    }

    .model-body {
        padding: 25px;
    }
</style>


<div class="container-fluid">
    <div class="modal fade" id="nurturePartner" role="dialog" aria-labelledby="gpsLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only"></span>
                    </button>
                    <h4 class="modal-title" id="gpsLabel">Add/Assign to Response Dropdown </h4>
                </div>
                <div class="modal-body">
                    @if (ViewBag.ResponseDialogText != null)
                    {

                        <text>
                            <p>@ViewBag.ResponseDialogText</p>
                        </text>
                    }
                    <form id="modalGetPassword">
                        <div class="form-group">
                            @*<div class="row">
                                            <div class="col-sm-8"></div>
                                <div class="col-sm-3">
                                            <input id="responseZCode" name="responseZCode" class="form-control" type="text" placeholder="ZCode" data-val-required="*" data-val="true" />


                                              </div>
                                        </div>*@
                            <div class="input-group">
                                <input id="responseText" name="responseText" class="form-control" type="text" placeholder="Response text" data-val-required="*" data-val="true" />

                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit" title="Add new response">Add</button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <select class="form-control">Select something...</select>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" title="Assign response">Assign</button>
                                </span>
                            </div>
                        </div>
                        <span data-valmsg-replace="true" data-valmsg-for="responseText" class="field-validation-valid help-inline"></span>
                        <span data-valmsg-replace="true" data-valmsg-for="responseZCode" class="field-validation-valid help-inline"></span>
                        <div class="form-group" style="padding:13px;">
                            <div class="row">

                                <select class="form-control" multiple="multiple" size="10" id="responseList" name="responseList"></select>
                                <script>
                                    var responseListDualListBox;
                                    $(function () {
                                        responseListDualListBox = $('#responseList').bootstrapDualListbox({
                                            nonSelectedListLabel: 'Available responses',
                                            selectedListLabel: 'Current Responses',
                                            preserveSelectionOnMove: 'moved',
                                            moveOnSelect: false,
                                        });
                                    });
                                </script>
                            </div>
                        </div>

                        <button type="button" class="btn btn-default btn-block" id="saveResponseList">Save</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editQuestion" role="dialog" aria-labelledby="gpsLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only"></span>
                    </button>

                    <h4 class="modal-title" id="gpsLabel">Edit question </h4>
                </div>
                <div class="modal-body">
                    <form id="editQuestionForm" class="form">
                        <div class="form-group">
                            <label>HTML Text</label>
                            <textarea class="form-control" id="openHtmlText" rows="10"></textarea>
                        </div>
                        <button class="btn btn-primary" type="button">Convert to HTML</button>
                        <div class="form-group">
                            <label>Text</label>
                            <div style="background:whitesmoke;height:300px;" id="text"></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" id="btnSaveQuestionText">Save</button>
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="uploadTag" role="dialog" aria-labelledby="gpsLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only"></span>
                    </button>

                    <h4 class="modal-title" id="gpsLabel">Upload Document</h4>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("FileTagUpload", "Questionnaire", FormMethod.Post, new { enctype = "multipart/form-data", id = "uploadTagForm", @class = "form" }))
                    {
                        @Html.ValidationSummary();
                        <input type="hidden" id="QuestionId" name="QuestionId">
                        <div class="form-group">
                            <label>Title</label>
                            <input class="form-control" type="text" name="TagName" id="TagName" required />
                        </div>

                        <div class="form-group">
                            <label>Document</label>
                            <input class="form-control" type="file" name="TagFile" id="TagFile" required />
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" onclick="$('#uploadTagForm').submit();">Save</button>
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

@( Html.Telerik().Grid(Model).Name("QuestionnaireDetailViewGrid")
.ToolBar(commands =>
{
    commands.Template("<a class='t-button ' href='/Questionnaire/ExportExcelQuestionnaireDetail/" + this.ViewContext.RouteData.Values["id"] + "' id='export'>Export to Excel</a>        <input style='display:none;' type='file' id='file' name='file' /><a class='t-button ' id='btn-upload' href='#'>Upload</a>");
})

    .Columns(columns =>
    {

        columns.Bound(o => o.name).Title("Name").Width(800).Visible(false);
        columns.Bound(o => o.title).Title("Question").Width(100).Template(@<text><a href='#' id='@item.name' class="menu_block">@item.title</a>
        <div class="display_menu" style="display: none;">
            <ul>
                <li><a href="javascript:openEditPopup(@item.id)">Edit/Correct</a></li>
                @*<li><a href="javascript:openRemovePopup(@item.id,'@item.name')">Remove</a></li>*@
                <li><a href="javascript:editResponse(@item.id)">Edit Response</a></li>
                @*<li><a href="javascript:openArchivePopup(@item.id,'@item.name')">Archive</a></li>*@
                <li><a href="javascript:openViewDetailPopup(@item.id)">View HTML</a></li>
                <li><a href="javascript:docUploadPopup(@item.id)">Doc Upload</a></li>
            </ul>
        </div>
        </text>);
        columns.Bound(o => o.title).Title("Title").Width(100).Visible(false);
        columns.Bound(o => o.tag).Title("Tag").Width(100).Visible(false);
        columns.Bound(o => o.responseType).Title("Response Type").Width(100).Visible(false);
        columns.Bound(o => o.required).Title("Required").Width(100).Visible(false);
        columns.Bound(o => o.weight).Title("Weight").Width(100).Visible(false);
        columns.Bound(o => o.skipLogicAnswer).Title("Skipped Logic Answer").Width(100).Visible(false);
        columns.Bound(o => o.skipLogicJump).Title("Skip Logic Jump").Width(100).Visible(false);
        columns.Bound(o => o.accessLevel).Title("Access Level").Width(100).Visible(false);
        columns.Bound(o => o.commentRequired).Title("Comment Required").Width(100).Visible(false);
        columns.Bound(o => o.commentBoxTxt).Title("Comment").Width(200);
        columns.Bound(o => o.commentUploadTxt).Title("Upload Comment").Width(20).Visible(false);
        columns.Bound(o => o.commentType).Title("Comment Type").Width(100);
        columns.Bound(o => o.spinOffQuestionnaire).Title("Spin Off Questionnaire").Width(100).Visible(false);
        columns.Bound(o => o.spinOffQID).Title("Spin Off QID").Width(100).Visible(false);
        columns.Bound(o => o.emailAlert).Title("Email Alert").Width(100);
        columns.Bound(o => o.emailAlertList).Title("Email Aler tList").Width(100);
        columns.Bound(o => o.updated).Title("Updated").Width(100).HeaderHtmlAttributes(new { style = "height:30px" });


    })
    .DataKeys(keys => keys.Add(o => o.id))
    .Pageable(pager => pager.PageSize(13).Total(200).Enabled(true))
    .Sortable(sorting => sorting.Enabled(true))
    //	.h
    .Scrollable(scrolling => scrolling
       .Enabled(true)
       .Height(380))
       .HtmlAttributes(new { @class = "ra" })



)
<div id="EmailDialog" title="Questionnaire Routing Form">
    <p>Email dialog</p>
</div>
<div id="genericPopup" title=""></div>
<style>
    .t-grid-content tr > td:hover .menu_block + .display_menu {
        display: block !important;
    }

    .display_menu {
        left: 65px;
        overflow: visible;
        position: absolute;
        top: -5px;
        background: #fff;
        border: 1px solid #ddd;
        z-index: 100;
    }

    .t-grid-content tr > td {
        overflow: visible !important;
        position: relative;
    }

    .display_menu > ul {
        padding: 0 16px;
    }

    .display_menu li {
        list-style: none outside none;
        width: 143px;
    }
</style>

<script type="text/javascript">
                var currentQuestionId;
                function editResponse(question) {
                    currentQuestionId=question;
                    var questionnaireId = @ViewBag.questionnaireId;
                    $.post('@Url.Action("GetQuestionnaireResponsesWithSelectedQuestion","Questionnaire")',{questionnaire:questionnaireId,question:question}).done(function(result) {
                        if(result.error) {
                            alertify.alert("Sorry you can't change response for this question");
                        } else {
                            $("#responseList").html('');
                            for(var i=0;i<result.length;i++){
                                var element = "<option value='"+result[i].value+"' "+(result[i].selected?"selected='selected'":"")+">"+result[i].text+"</option>";
                                $("#responseList").append(element);
                            }
                            responseListDualListBox.bootstrapDualListbox('refresh');
                            $("#nurturePartner").modal("toggle");
                        }
                    });
                }
                @if(Request["ModifyResponse"]!=null)
    {
        <text>
                $(function(){
                    editResponse(@Request["ModifyResponse"].ToString(),'');
                });
                </text>
    }
                $(function () {
                    //jQuery.noConflict();
                    $("#EmailDialog").dialog({
                        autoOpen: false
                    });
                    $('#popup').bind('dialogclose', function (event) {
                        window.location.replace(window.location.href);
                    });
                    ////////////////////////////////
                    $("#editQuestion form button").click(function(){
                        $.post("@Url.Content("~/Questionnaire/GetHtmlText")",{question:$("#editQuestion textarea").val()}, function (data) {
                            if(data){
                                $("#text").html(data);
                            }
                        });
                    });
                    $("#btnSaveQuestionText").click(function(e){
                        e.preventDefault();
                        alertify.confirm("Please confirm the changes",function(result){
                            if(result){
                                $.post('@Url.Action("SaveQuestion","Questionnaire")',{question:questionId,text:$("#editQuestion textarea").val()}).done(function(resultInner){
                                    $("#editQuestion").modal("toggle");
                                    window.location.reload();
                                });
                            }
                        });
                    })
                    ///////////////////////////////////////////////
                    $("#modalGetPassword").submit(function(e){
                        e.preventDefault();
                        $.post('@Url.Action("AddNewResponse","Questionnaire")',{text:$("#responseText").val(),code:$("#responseZCode").val(),question:currentQuestionId}).done(function(result){
                            if(result.error){
                                alertify.alert(result.error);
                            } else {
                                var element = "<option value='"+result.id+"'>"+result.text+"</option>";
                                $("#responseList").append(element);
                                responseListDualListBox.bootstrapDualListbox('refresh');
                                $("#responseText").val("");
                                $("#responseZCode").val("");
                            }
                        });
                    });
                    $("#saveResponseList").click(function(){
                        var list = [];
                        $("#bootstrap-duallistbox-selected-list_responseList option").each(function(){
                            list.push($(this).val());
                        });
                        $.post('@Url.Action("SaveQuestionResponses","Questionnaire")',{currentValues:list, question:currentQuestionId}).done(function(result){
                            if(result.error){
                                alertify.alert(result.error);
                                if(!result.hasError){
                                    $("#nurturePartner").modal("toggle");
                                }
                            }
                        });
                    });
                });

                //function CloseMe() {
                //    $("#genericPopup").dialog('close');
                //    //$(".t-icon .t-refresh").trigger('click');

                //    window.location.replace(window.location.href);
                //}
                //function OpenEmailDialog(ac) {
                //    //jQuery.noConflict();

                //    $.get("/WrongContact/Index", { accessCode: ac }, function (data) {

                //        $("#EmailDialog").html(data);
                //        $("#EmailDialog").dialog({
                //            width: 1200,
                //            height: 1000,
                //        });
                //        $("#EmailDialog").dialog('open');
                //    });
                //}
                //$('#menu_block').hover(function () {
                //    // alert("call");
                //    $('#display_menu').show();
                //}, function () {
                //    $('#display_menu').hide();
                //})

                //$('#menu_block').mouseenter(function () {
                //    $('#display_menu').show();
                //}).mouseleave(function () {

                //    $('#display_menu').hide();

                //});
                var questionId=0;


                function openRemovePopup(id, name) {
                    alertify.set({
                        labels: {
                            ok: "No",
                            cancel: "Yes"
                        },
                        buttonFocus: "cancel"
                    });
                    // button labels will be "Accept" and "Deny"
                    alertify.confirm("You are about to Remove : " + name + ". Are you sure you want to do this?", function (e) {
                        if (e) {
                            // Click no
                        } else {
                            // click yes

                            $.get("@Url.Content("~/Questionnaire/ArchiveQuestionDetail/")" + id, function (data) {
                                // $(".t-icon .t-refresh").trigger('click');
                                window.location.replace(window.location.href);
                            });

                        }
                    });
                }


                function openArchivePopup(id, name) {
                    alertify.set({
                        labels: {
                            ok: "No",
                            cancel: "Yes"
                        },
                        buttonFocus: "cancel"
                    });
                    // button labels will be "Accept" and "Deny"
                    alertify.confirm("You are about to Archive : " + name + ". Are you sure you want to do this?", function (e) {
                        if (e) {
                            // Click no
                        } else {
                            // click yes

                            $.get("@Url.Content("~/Questionnaire/ArchiveQuestionDetail/")" + id, function (data) {
                                // $(".t-icon .t-refresh").trigger('click');
                                window.location.replace(window.location.href);
                            });

                        }
                    });


                }

				function openEditPopup(id) {
					$("#editQuestion").modal("toggle");
					//$("#editQuestion textarea").val(text);
					questionId = id;
					$("#text").html("");

					$.get("@Url.Content("~/Questionnaire/QuestionDetailView/")" + id, function (data) {
						//$("#genericPopup").html(data);
						$("#editQuestion textarea").val(data.text);
					});

				}

                function openViewDetailPopup(id) {
                    $("#genericPopup").html("<p>Loading Data...</p>");
                    $.get("@Url.Content("~/Questionnaire/QuestionDetailView/")" + id, function (data) {
                        $("#genericPopup").html(data.text);
                    });
                    $("#genericPopup").dialog({ height: 600, title: "QuestionDocTag" });
                    $("#genericPopup").dialog('open');
                }

                function docUploadPopup(id) {
                    $('#uploadTag #QuestionId').val(id);
                    $('#uploadTag').modal("toggle");
                }

                $(function () {
                    $('#btn-upload').click(function (e) {
                        e.preventDefault();
                        $('#file').click();
                    }
                   );
                });

</script>
@section scripts{
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/validator.js"></script>
    <script src="~/Scripts/jquery.bootstrap-duallistbox.min.js"></script>
}

