@inherits System.Web.Mvc.WebViewPage<IEnumerable<Generic.protocol>>
@using System.Web.Mvc.Html
@using Generic.Helpers
@using Telerik.Web.Mvc.UI;
@{
    Layout = Generic.Helpers.LayoutHelper.GetPopupLayout();
    ViewBag.Title = "UploadQuestionnaire";
}

@section Scripts {
    <script>
        //jQuery.noConflict();
        $(document).ready(function () {
            //jQuery.noConflict();
            $('#protocol').change(function () {

                $('#protocolName').val($('#protocol option[value="' + $('#protocol').val() + '"]').text());


                var objProtocolID = $('#protocol').val();
                var formData = { protocolId: objProtocolID };
                if (objProtocolID == "") {
                    var touchpointSelectList = "<option value=''>-Select-</option>";
                    $('#touchpoint').html(touchpointSelectList);
                    return;
                }
                $.ajax({
                    url: "@Url.Content("~/touchpoint/GetTouchPointWithTitleByprotocolId")",
                    type: "post",
                    data: formData,
                    success: function (data) {
                        var len = data.Data.length;
                        var i = 0;
                        var touchpointSelectList = "<option value=''></option>";
                        for (i = 0; i < len; i++) {
                            touchpointSelectList += "<option value='" + data.Data[i].id + "'>" + data.Data[i].title + "</option>";
                        }

                        $('#touchpoint').html(touchpointSelectList);
                        $('#touchpointDiv').show();

                    },
                    error: function (data) {
                        var touchpointSelectList = "<option value=''> -Select-</option>";
                        $('#touchpoint').html(touchpointSelectList);
                    }
                });


            });

        	$('#touchpoint').change(function () {
        		$('#touchpointName').val($('#touchpoint option[value="' + $('#touchpoint').val() + '"]').text());


        		var objTouchpointID = $('#touchpoint').val();
        		var formData = { touchpoint: objTouchpointID };
        		if (objTouchpointID == "") {
        			var touchpointSelectList = "<option value=''>-Select-</option>";
        			$('#partnertype').html(touchpointSelectList);
        			return;
        		}
        		$.ajax({
        			url: "@Url.Content("~/Questionnaire/GetPartnerTypesByTouchpoint")",
        			type: "post",
        		data: formData,
        		success: function (data) {
        			var len = data.length;
        			var i = 0;
        			var touchpointSelectList = "<option value=''></option>";
        			for (i = 0; i < len; i++) {
        				touchpointSelectList += "<option value='" + data[i].id + "'>" + data[i].name + "</option>";
        			}

        			$('#partnertype').html(touchpointSelectList);
        			$('#partnertypeDiv').show();

        		},
        		error: function (data) {
        			var touchpointSelectList = "<option value=''> -Select-</option>";
        			$('#partnertype').html(touchpointSelectList);
        		}
        	});
                
               

            });

            $('#partnertype').change(function () {
                $('#levelDiv').show();
                $('#partnertypeName').val($('#partnertype option[value="' + $('#partnertype').val() + '"]').text());
            });

            $('#level').change(function () {
                $('#uploadDiv').show();
                $('#uploadButtonDiv').show();
                $('#splitterDiv').show();
            });


            $('#UploadQuestionnaireForm').submit(function (e) {
                e.preventDefault();
                var objProtocolID = $('#protocol').val();
                var objProtocolName = $('#protocol option[value="' + $('#protocol').val() + '"]').text();

                var objtouchpointID = $('#touchpoint').val();
                var objtouchpointName = $('#touchpoint option[value="' + $('#touchpoint').val() + '"]').text();

                var objpartnertypeID = $('#partnertype').val();
                var objpartnertypeName = $('#partnertype option[value="' + $('#partnertype').val() + '"]').text();

                var objlevelID = $('#level').val();
               // var objlevelName = $('#level option[value="' + $('#level').val() + '"]').text();

                var objSplitter = $('#splitter').val();

                var formData = { protocol: objProtocolID, protocolName: objProtocolName, touchpoint: objtouchpointID, touchpointName: objtouchpointName, partnertype: objpartnertypeID, partnertypeName: objpartnertypeName, level: objlevelID, splitterId: objSplitter };
                $.ajax({
                    url: '@Url.Action("UploadQuestionnaire","Questionnaire")',
                    type: "POST",
                    data: formData,
                    success: function (data) {
                        if (data.error) {
                            alertify.alert(data.error);
                        } else {
                            alertify.alert('Congratulations you successfully uploaded your questionnaire. Please select Questionnaire View to Upload your CMS and Automail Messages.');
                        }
                    },
                    error: function (data) {
                        console.log(data.statusText);
                        alertify.alert('Sorry, that questionnaire does not meet data and formatting requirements: '+ data.statusText);
                    }
                });
            });
        });
    </script>
}



<h2>Upload Questionnaire</h2>

<div style="color:red;font-size:small;font-weight:bold;" > @ViewBag.Error </div>
<form id="UploadQuestionnaireForm" method="post">
    @Html.ValidationSummary(true)
    <div id="protocolDiv">
        <div class="editor-label">
            1. Please select a protocol
        </div>
        <div class="editor-field">
            @Html.DropDownList("protocol", String.Empty)
        </div>
    </div>
    <div id="touchpointDiv" style="display: none">
        <div class="editor-label">
            2. Please select a Touchpoint
        </div>
        <div class="editor-field">
            <select id="touchpoint" name="touchpoint"></select>
        </div>
    </div>
    <div id="partnertypeDiv" style="display: none">
        <div class="editor-label">
            3. Please select a partnertype
        </div>
        <div class="editor-field">
            @Html.DropDownList("partnertype", String.Empty)
        </div>
    </div>
    <div id="levelDiv" style="display: none">
        <div class="editor-label">
            4. Please select a level
        </div>
        <div class="editor-field">
            @Html.DropDownList("level", String.Empty)
        </div>
    </div>
    <div id="splitterDiv" style="display: none">
        <div class="editor-label">
            5. Please select a splitter
        </div>
        <div class="editor-field">
            <select id="splitter" name="splitter">
                <option value=""></option>
                <option value="1">With Splitters</option>
                <option value="0">Without Splitters</option>
            </select>
        </div>
    </div>
    <div id="uploadDiv" style="display: none">
        <div class="editor-label">
            6. Please select an Excel file containing the questionnaire information. Click here if you need to download the template.
        </div>
        <div class="editor-field">
            @(Html.Telerik().Upload()
        .Name("attachments")
        .Multiple(false)
        .Async(async => async
            .Save("Save", "Questionnaire")
            .Remove("Remove", "Questionnaire")
            .AutoUpload(true)
        )
)

            <p class="note">
                Maximum allowed file size: 10 MB
            </p>


        </div>
    </div>
    <p id="uploadButtonDiv" style="display: none">
        <input type="submit" id="btnUpload" value="Upload" />
    </p>

    <input type="hidden" name="protocolName" id="protocolName" />
    <input type="hidden" name="touchpointName" id="touchpointName" />
    <input type="hidden" name="partnertypeName" id="partnertypeName" />
    
</form>
