@model Generic.role

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>role</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.sortOrder)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sortOrder)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.active)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.active)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.accessLevel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.accessLevel)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.enterprise1.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.enterprise1.description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.access)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.access)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
