@inherits System.Web.Mvc.WebViewPage<IEnumerable<Generic.ViewModel.ConfirmPartnerViewModel>>
@using System.Web.Mvc.Html
@using Generic.Helpers
@using Telerik.Web.Mvc.UI;
@{
    Layout = LayoutHelper.GetLayout();
    ViewBag.Title = "Partner";
}

<style>
    div#ConfirmPartnerGrid {
        font-size: 11px;
    }

    #modal {
        height: 489px;
    }

    .ui-dialog {
        width: 99% !important;
        left: 0;
    }

     .alertify-message {
        word-wrap: break-word;
    }
</style>
<form action="@Url.Content("~/Partner/ConfirmPartner")" method="post">
  @*<input id="SelectedRecord" type="hidden" value="@ViewBag.SelectedRecord" name="SelectedRecord">*@
    @( Html.Telerik().Grid(Model).Name("ConfirmPartnerGrid")
    .ToolBar(commands =>
         {
             commands.Template("<a class='t-button' href='#' id='btnconfirm'>Confirm</a><a class='t-button' href='#' id='btninvite'>Invite</a><a class='t-button' id='btnclear' href='#'>Clear</a>");
         })

        .Columns(columns =>
        {
            columns.Bound(o => o.IsSelected1)
                   .Title("&nbsp;A")
                   .Template(@<text><input type='radio' id='@item.Partner_A' name='rbtnSelect_@item.id' style="width:15px;" onclick="SelectedPartnerA(this)" /></text>)
                   .Width(25)
                   .HtmlAttributes(new { style = "" });

            columns.Bound(o => o.Partner_A_Name).Title("Name").Width(100).HtmlAttributes(new { style = "overflow: hidden !important;"});
            columns.Bound(o => o.Group1).Title("Group").Width(50).HtmlAttributes(new { style = "overflow: hidden !important;text-overflow: ellipsis !important;"});
            columns.Bound(o => o.Status1).Title("Status").Width(80).HtmlAttributes(new { style = "text-overflow: ellipsis !important;overflow: hidden !important;white-space: nowrap;" });
            columns.Bound(o => o.IsReference1).Title("Ref").Width(30).HtmlAttributes(new { style = "text-align:left;" });;

            columns.Bound(o => o.IsSelected2)
                  .Title("&nbsp;B")
                  .Template(@<text><input type='radio' id="@item.Partner_B" style="width:15px;" name='rbtnSelect_@item.id' onclick="SelectedPartnerB(this)" /></text>)
                  .Width(25)
                  .HtmlAttributes(new { style = "" });

            columns.Bound(o => o.Partner_B_Name).Title("Name").Width(100).HtmlAttributes(new { style = "overflow: hidden !important;"});
            columns.Bound(o => o.Group2).Title("Group").Width(50).HtmlAttributes(new { style = "overflow: hidden !important;text-overflow: ellipsis !important;"});
            columns.Bound(o => o.Status2).Title("Status").Width(80).HtmlAttributes(new { style = "text-overflow: ellipsis !important;overflow: hidden !important;white-space: nowrap;" });
            columns.Bound(o => o.IsReference2).Title("Ref").Width(30).HtmlAttributes(new { style = "text-align:center;" });;
            columns.Bound(o => o.EmailMatch).Title("EM").Width(30).HtmlAttributes(new { style = "text-align:center;" });;
            columns.Bound(o => o.InternalIDMatch).Title("IM").Width(30).HtmlAttributes(new { style = "text-align:center;" });;
            columns.Bound(o => o.FederalIDMatch).Title("FM").Width(30).HtmlAttributes(new { style = "text-align:center;" });;
            columns.Bound(o => o.DUNSMatch).Title("DM").Width(30).HtmlAttributes(new { style = "text-align:center;" });;
            columns.Bound(o => o.NameMatch).Title("NM").Width(30).HtmlAttributes(new { style = "text-align:center;" });;

            columns.Bound(o => o.IsCheckboxSelected)
            .Title("ActionType")
             .Template(@<text><select id="ddlactionType_@item.id"><option value="0">Select</option>
                  <option value="1">Ignore</option>
                  <option value="2">Remove</option>
                  <option value="3">Shadow</option>
                  <option value="4">Skip</option>
              </select></text>)
            .Width(80)
             .HtmlAttributes(new { style = "text-align:center" });

            columns.Bound(o => o.IsCheckboxSelected)
            .Title("")@*"<input type='checkbox'  id='chkSelectAll' style='margin-left: 11px;' name='checkedRecords' value='<#= IsCheckboxSelected #>' />")*@
            .Template(@<text><input type='checkbox' id='chkpartnerconfirm_@item.id' onclick='GetRowDetails(this)' name='chkSelect' value='@item.id' /></text>)
                                                   .Width(30)
                                                   .HtmlAttributes(new { style = "text-align:center" });
        })

            //.DataKeys(keys => keys.Add(o => o.internalID))
        .Pageable(pager => pager.PageSize(13).Total(200).Enabled(true))
        .Sortable(sorting => sorting.Enabled(true))

        .Scrollable(scrolling => scrolling
           .Enabled(true)
           .Height(380))
           .HtmlAttributes(new { @class = "ra" })
)
</form>


<style>
    .t-grid-content tr > td:hover .menu_block + .display_menu {
        display: block !important;
    }

    .display_menu {
        left: 65px;
        overflow: visible;
        position: absolute;
        top: -5px;
        background: #fff;
        border: 1px solid #ddd;
        z-index: 100;
    }

    .t-grid-content tr > td {
        overflow: visible !important;
        position: relative;
    }

    .display_menu > ul {
        padding: 0 16px;
    }

    .display_menu li {
        list-style: none outside none;
        width: 143px;
    }
</style>
<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery-ui-1.9.2.js"></script>
<script type="text/javascript">
    $(function () {
        jQuery.noConflict();
    });
    var TotalRecord = "";
    $("#btnconfirm").click(function () {
        debugger;
        if (TotalRecord != '') {
            //alert(TotalRecord);

            //alertify.set({
            //    labels: {                 
            //        ok: "Cancel",cancel: "OK"
            //    }
            //});

            var TotalRecordForSP = "'" + TotalRecord + "'";

            function ConfirmPartnerRecords() {
                debugger;
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ConfirmPartnerRecords", "Partner")',
                    data: { inputList: TotalRecordForSP },
                    async: false,
                    success: function (result) {
                        debugger
                        if (result == -1) {
                            alert("An error occured while confirming records.");
                        }
                    },
                    error: function (err, msg) {
                    }
                });
            }
            }
            //alertify.confirm("Your selected records: " + TotalRecordForSP, function (e) {
            //    if (e) {
            //        // Click no
            //    } else {
            //        // click yes         
            //    }
            //});


        }
        //var count = $("input[name='chkSelect']:checked").length;
        //if (count == 0) {
        //    alert("No rows selected.");
        //    return false;
        //}
        //else {
        //   // var displayedData = $("#ConfirmPartnerGrid").data().Telerik.dataSource.view()
        //    return alert(count + " row(s) are selected");                     
        //}
    });
    
    //Tocheck and uncheck all the check boxes
    $("#chkSelectAll").click(function () {
        debugger;
        $("input[name='chkSelect']").attr("checked", this.checked);

        $("input[name='chkSelect']").click(function () {
            if ($("input[name='chkSelect']").length == $("input[name='chkSelect']:checked").length) {
                $("#chkSelectAll").attr("checked", "checked");
            }
            else {
                $("#chkSelectAll").removeAttr("checked");
            }
        });
    });

    

    function GetRowDetails(e) {
        debugger;
        var recordID = e.value;
        if ($("#chkpartnerconfirm_" + recordID).is(':checked')) {
            //var closer = $(e).closest("tr").find('td input:radio');
            var name = $(e).closest("tr").find('td input:radio')[0].name;
            if ($("input[type='radio'][name='" + name + "']:checked")[0] || $("input[type='radio'][name='" + name + "']:checked")[1]) {
                if ($("#ddlactionType_" + recordID).val() != "0") {
                    var Checked = $("input[type='radio'][name='" + name + "']:checked")[0].id;
                    var UnChecked = $("input[type='radio'][name='" + name + "']:not(:checked)")[0].id;
                    var ActionType = $("#ddlactionType_" + recordID).val();
                    TotalRecord += Checked + "," + UnChecked + "," + ActionType + ";";
                    //alert(TotalRecord);
                }
                else {
                    $("#chkpartnerconfirm_" + recordID).removeAttr("checked");
                    alert("Please select action type");
                }
            }
            else {
                $("#chkpartnerconfirm_" + recordID).removeAttr("checked");
                alert("Please select a group");
            }
        }
    else{
            var name = $(e).closest("tr").find('td input:radio')[0].name;
             var Checked = $("input[type='radio'][name='" + name + "']:checked")[0].id;
             var UnChecked = $("input[type='radio'][name='" + name + "']:not(:checked)")[0].id;
             var ActionType = $("#ddlactionType_" + recordID).val();
             var value = Checked + "," + UnChecked + "," + ActionType + ";";
             TotalRecord = TotalRecord.replace(value,'');
             //alert(TotalRecord);
}
  
    }


    // when radio buttons are checked
    function SelectedPartnerA(e) {
        GroupAarray.push(e.id)
       
    }
    function SelectedPartnerB(e) {
        GroupBarray.push(e.id)
    }

    function CloseMe() {
        $("#genericPopup").dialog('close');
        //$(".t-icon .t-refresh").trigger('click');

        window.location.replace(window.location.href);
    }

    function Selectall() {
        // if check all is checked, all checkboxes are checked
        // if check all is unchecked, all checkboxes are cleared

        if ($('#chkSelectAll').is(':checked')) {
            $('input:checkbox[name$=chkSelect]').each(
                function () {
                    $(this).attr('checked', 'checked');
                });
        }
        else {
            $('input:checkbox[name$=chkSelect]').each(
                function () {
                    $(this).removeAttr('checked');
                });
        }
    }

    //$('input:radio[name$=chkSelect]').click(
    //function () {
    //    // if any of the checkbox is unchecked
    //    // check all checkbox should be cleared
    //    if (!$(this).is(':checked')) {
    //        $('#chkSelectAll').removeAttr('checked');
    //    }
    //    else {
    //        // if all of the checkbox is checked
    //        // check all checkbox should be checked
    //        if ($('input:checkbox[name$=chkSelect]').length ==
    //        $('input:checkbox[name$=chkSelect]:checked').length) {
    //            $('#chkSelectAll').attr('checked', 'checked');
    //        }
    //    }
    //});
</script>

