@inherits System.Web.Mvc.WebViewPage<Generic.partner>
    @using System.Web.Mvc.Html
    @using Generic.Helpers
    @using Telerik.Web.Mvc.UI;
    @{
    Layout = LayoutHelper.GetLayout();
    ViewBag.Title = "Partner";
    }
 <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script>
        //jQuery.noConflict();
        jQuery(document).ready(function () {

            $('#protocol').change(function () {
                var objProtocolID = $('#protocol').val();
                var formData = { protocolId: objProtocolID };
                if (objProtocolID == "") {
                    var touchpointSelectList = "<option value=''>-Select-</option>";
                    $('#touchpoint').html(touchpointSelectList);
                    return;
                }
                $.ajax({
                    url: "@Url.Content("~/touchpoint/GetTouchPointByprotocolId")",
                    type: "post",
                data: formData,
                success: function (data) {
                    var len = data.Data.length;
                    var i = 0;
                    var touchpointSelectList = "<option value=''></option>";
                    for (i = 0; i < len; i++) {
                        touchpointSelectList += "<option value='" + data.Data[i].id + "'>" + data.Data[i].description + "</option>";
                    }

                    $('#touchpoint').html(touchpointSelectList);
                    $('#touchpointDiv').show();

                },
                error: function (data) {
                    var touchpointSelectList = "<option value=''> -Select-</option>";
                    $('#touchpoint').html(touchpointSelectList);
                }
            });

        });


          

            if ("@ViewBag.Message" == "1") {
                debugger;
           // $('.addPartnerDiv').hide();
            //$('#btnInvite').show();
            //$('#btnInvitelater').show();
            //jQuery("#dvInvite").dialog({
            //    width: 350,
            //    height:300,
            //    buttons: {
            //           "Cancel": function () {
            //            alert('you choose cancel');
            //            $(this).dialog('close');
            //        }
            //    }
            //});
            alertify.set({
                labels: {
                    ok: "Invite Later", cancel: "Invite Now"
                }
            });

            
            alertify.confirm("" , function (e) {
                if (e) {
                    // Click no
                } else {
                    // click yes         
                }
            });

           // alertify.alert('Partner uploaded successfully');
        }

            if ("@ViewBag.Message" == "2") {
                debugger;
               // $('.addPartnerDiv').hide();
                //$('#btnConfirm').show();
                //$('#btnConfirmlater').show();
                //alertify.alert('Invitation Sent');
                alertify.set({
                    labels: {
                        ok: "Confirm Later", cancel: "Confirm Now"
                    }
                });


                alertify.confirm("", function (e) {
                    if (e) {
                        // Click no
                    } else {
                        // click yes         
                    }
                });
               

                //$("#dvConfirm").dialog({
                //        resizable: false,
                //        height:140,
                //        modal: true,
                //        buttons: {
                //            "Delete all items": function() {
                //                $( this ).dialog( "close" );
                //            },
                //            Cancel: function() {
                //                $( this ).dialog( "close" );
                //            }
                //        }
                //    });

                //jQuery("#dvConfirm").dialog({
                //    width: 350,
                //    height: 300,
                //    buttons: {
                //        "Cancel": function () {
                //            alert('you choose cancel');
                //            $(this).dialog('close');
                //        }
                //    }
                //});
            }

        $('#btnInvite').click(function (e) {
            e.preventDefault();


            $.ajax({
                url: "@Url.Content("~/partner/InvitePartners")",
                type: "post",
            success: function (data) {
                alertify.alert(data.Data.message);
                var len = data.EventNotification.length;
                $('#btnInviteList').show();
                if (len == 0) {
                    alertify.alert("Please wait, data processing");
                } else {

                    var events = "<table><tr><td>Email</td><td>Loadgroup</td><td>Accesscode</td><td>Event</td><td>Reason</td><td>Protocol Touchpoint</td><td>Date</td></tr>";
                    for (i = 0; i < len; i++)
                        events += "<tr><td>" + data.EventNotification[i].email + "</td><td>" + data.EventNotification[i].loadgroup + "</td><td>" + data.EventNotification[i].accesscode + "</td><td>" + data.EventNotification[i].event + "</td><td>" + data.EventNotification[i].reason + "</td><td>" + data.EventNotification[i].protocolTouchpoint + "</td><td>" + data.EventNotification[i].timestamp + "</td></tr>";


                    $('#DivEventNotification').html(events);
                }

            },
            error: function (data) {

            }
        });


        });


            $('#btnInviteList').click(function (e) {
                e.preventDefault();


                $.ajax({
                    url: "@Url.Content("~/partner/InvitePartnersList")",
                    type: "post",
                    success: function (data) {
                        var len = data.EventNotification.length;

                        if (len == 0) {
                            alertify.alert("Please wait, data processing");
                        } else {

                            var events = "<table><tr><td>Email</td><td>Loadgroup</td><td>Accesscode</td><td>Event</td><td>Reason</td><td>Protocol Touchpoint</td><td>Date</td></tr>";
                            for (i = 0; i < len; i++)
                                events += "<tr><td>" + data.EventNotification[i].email + "</td><td>" + data.EventNotification[i].loadgroup + "</td><td>" + data.EventNotification[i].accesscode + "</td><td>" + data.EventNotification[i].event + "</td><td>" + data.EventNotification[i].reason + "</td><td>" + data.EventNotification[i].protocolTouchpoint + "</td><td>" + data.EventNotification[i].timestamp + "</td></tr>";


                            $('#DivEventNotification').html(events);
                        }
                    },
                    error: function (data) {
                        alertify.alert(data.Data.message);
                    }
                });
            });



            $('#btnInvitelater').click(function (e) {
                e.preventDefault();
                $.ajax({
                    url: "@Url.Content("~/partner/InvitePartnersLater")",
                    type: "post",
                    success: function (data) {
                        alertify.alert(data.Data.message);

                    },
                    error: function (data) {
                        alertify.alert(data.Data.message);
                    }
                });
            });

        $("#btnClear").click(function (e) {
           // debugger;
            //alert("Clear Button Click");
            $("#name").val("");
            $("#internalID").val("");
            $("#address1").val("");
            $("#address2").val("");
            $("#city").val("");
            $("#state").val("0");
            $("#province").val("");
            $("#zipcode").val("");
            $("#country").val("0");
            $("#phone").val("");
            $("#fax").val("");
            $("#firstName").val("");
            $("#lastName").val("");
            $("#title").val("");
            $("#email").val("");
            $("#dunsNumber").val("");
            $("#federalID").val("");
            $("#owner").val("0");
            $("#author").val("0");
            $("#protocol").val("0");
            $("#touchpoint").val("0");
            $("#partnertype").val("0");
            $("#group").val("0");
            $("#DueDate").val("");
        });

        });
        function doSomething() {
            alertify.alert('This part is Under Constrution');
        }

        $("#btnConfirm").click(function () {
            debugger;
            alertify.alert('you choose Confirm');
        });

        $("#btnConfirmlater").click(function () {
            debugger;
            alertify.alert('you choose Confirm Later');
        });

    </script>


    <style type="text/css">
        .threecol, twocol {
            width: 100%;
            display: inline-block;
        }

        .twocol .editor-label {
            width: 10%;
            display: inline-block;
            font-size: 11px;
        }

        .twocol .editor-field {
            width: 35%;
            display: inline-block;
        }

        .threecol .editor-label {
            width: 10%;
            display: inline-block;
            font-size: 11px;
        }

        .threecol .editor-field {
            width: 20%;
            display: inline-block;
        }

            .threecol .editor-field label, .threecol .editor-field input, .threecol .editor-field select, .twocol .editor-field input, .twocol .editor-field select {
                width: 90%;
                display: inline-block;
                font-size: 11px;
            }

        .txtClass {
            border-radius: 5px;
            border-color:rgb(169, 169, 169);
        }

        .ddlClass {
            height: 25px;
            width: 96% !important;
            border-radius: 5px;
        }

        #DueDate {
            border-radius: 5px;
            height: 18px;
        }


        .btn {
            background: #3498db;
            background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
            background-image: -moz-linear-gradient(top, #3498db, #2980b9);
            background-image: -ms-linear-gradient(top, #3498db, #2980b9);
            background-image: -o-linear-gradient(top, #3498db, #2980b9);
            background-image: linear-gradient(to bottom, #3498db, #2980b9);
            -webkit-border-radius: 12;
            -moz-border-radius: 12;
            border-radius: 28px;
            font-family: Arial;
            color: #ffffff;
            font-size: 20px;
            padding: 3px 20px 5px 20px !important;
            text-decoration: none;
        }

            .btn:hover {
                background: #3cb0fd;
                background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
                background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
                background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
                background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
                background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
                text-decoration: none;
            }
    </style>
    <div class="addPartnerDiv">
        <h2>Create Partner</h2>
    </div>
    @using (Html.BeginForm())
    {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>partner</legend>
        <div id="addPartner" class="addPartnerDiv">
            <div class="twocol">
                @Html.HiddenFor(model => model.id)

                <div class="editor-label">
                    @Html.Label("Name")
                </div>
                <div class="editor-field">
                    @*@Html.EditorFor(model => model.name)*@
                    @Html.TextBoxFor(model=>model.name,new {@class="txtClass"})
                    @Html.ValidationMessageFor(model => model.name)
                </div>


                <div class="editor-label">
                    @*@Html.LabelFor(model => model.internalID)*@
                    @Html.Label("Internal ID")
                </div>
                <div class="editor-field">
                    @*@Html.EditorFor(model => model.internalID)*@
                    @Html.TextBoxFor(model=>model.internalID,new {@class="txtClass"})
                    @Html.ValidationMessageFor(model => model.internalID)
                </div>


            </div>

            <div class="threecol">
                <div class="editor-label">
                    @Html.Label("Address 1")
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model=>model.address1,new {@class="txtClass"})
                    @Html.ValidationMessageFor(model => model.address1)
                </div>

                <div class="editor-label">
                    @*@Html.LabelFor(model => model.address2)*@
                    @Html.Label("Address 2")
                </div>
                <div class="editor-field">
                    @*@Html.EditorFor(model => model.address2)*@
                    @Html.TextBoxFor(model=>model.address2,new {@class="txtClass"})
                    @Html.ValidationMessageFor(model => model.address2)
                </div>

                <div class="editor-label">
                   
                    @Html.Label("City")
                </div>
                <div class="editor-field">
                   
                    @Html.TextBoxFor(model=>model.city,new {@class="txtClass"})
                    @Html.ValidationMessageFor(model => model.city)
                </div>

                <div class="editor-label">
                    @*@Html.LabelFor(model => model.state)*@
                    @Html.Label("State")
                </div>
                <div class="editor-field">
                    @Html.DropDownList("state", null,String.Empty, new {@class="ddlClass" })

                    @Html.ValidationMessageFor(model => model.state)
                </div>

                <div class="editor-label">
                    @*@Html.LabelFor(model => model.province)*@
                    @Html.Label("Province")
                </div>
                <div class="editor-field">
                    @*@Html.EditorFor(model => model.province)*@
                    @Html.TextBoxFor(model=>model.province,new {@class="txtClass"})
                    @Html.ValidationMessageFor(model => model.province)
                </div>

                <div class="editor-label">
                    @*@Html.LabelFor(model => model.zipcode)*@
                    @Html.Label("Zip Code")
                </div>
                <div class="editor-field">
                    @*@Html.EditorFor(model => model.zipcode)*@
                    @Html.TextBoxFor(model=>model.zipcode,new {@class="txtClass"})
                    @Html.ValidationMessageFor(model => model.zipcode)
                </div>

                <div class="editor-label">
                    @*@Html.LabelFor(model => model.country)*@
                    @Html.Label("Country")
                </div>
                <div class="editor-field">
                    @Html.DropDownList("country", null,String.Empty, new {@class="ddlClass" })
                    @Html.ValidationMessageFor(model => model.country)
                </div>

                <div class="editor-label">
                    @*@Html.LabelFor(model => model.phone)*@
                    @Html.Label("Phone")
                </div>
                <div class="editor-field">
                    @*@Html.EditorFor(model => model.phone)*@
                    @Html.TextBoxFor(model=>model.phone,new {@class="txtClass"})
                    @Html.ValidationMessageFor(model => model.phone)
                </div>

                <div class="editor-label">
                    @*@Html.LabelFor(model => model.fax)*@
                    @Html.Label("Fax")
                </div>
                <div class="editor-field">
                    @*@Html.EditorFor(model => model.fax)*@
                    @Html.TextBoxFor(model=>model.fax,new {@class="txtClass"})
                    @Html.ValidationMessageFor(model => model.fax)
                </div>

                <div class="editor-label">
                    @*@Html.LabelFor(model => model.firstName)*@
                    @Html.Label("First Name")
                </div>
                <div class="editor-field">
                    @*@Html.EditorFor(model => model.firstName)*@
                    @Html.TextBoxFor(model=>model.firstName,new {@class="txtClass"})
                    @Html.ValidationMessageFor(model => model.firstName)
                </div>

                <div class="editor-label">
                    @* @Html.LabelFor(model => model.lastName)*@
                    @Html.Label("Last Name")
                </div>
                <div class="editor-field">
                    @*@Html.EditorFor(model => model.lastName)*@
                    @Html.TextBoxFor(model=>model.lastName,new {@class="txtClass"})
                    @Html.ValidationMessageFor(model => model.lastName)
                </div>

                <div class="editor-label">
                    @*@Html.LabelFor(model => model.title)*@
                    @Html.Label("Title")
                </div>
                <div class="editor-field">
                    @*@Html.EditorFor(model => model.title)*@
                    @Html.TextBoxFor(model=>model.title,new {@class="txtClass"})
                    @Html.ValidationMessageFor(model => model.title)
                </div>

                <div class="editor-label">
                   
                    @Html.Label("Email")
                </div>
                <div class="editor-field">
                   
                    @Html.TextBoxFor(model=>model.email,new {@class="txtClass"})
                    @Html.ValidationMessageFor(model => model.email)
                </div>

                <div class="editor-label">
                    @* @Html.LabelFor(model => model.dunsNumber)*@
                    @Html.Label("DUNS Number")
                </div>
                <div class="editor-field">
                    @*@Html.EditorFor(model => model.dunsNumber)*@
                    @Html.TextBoxFor(model=>model.dunsNumber,new {@class="txtClass"})
                    @Html.ValidationMessageFor(model => model.dunsNumber)
                </div>

                <div class="editor-label">
                    @*@Html.LabelFor(model => model.federalID)*@
                    @Html.Label("Federal ID")
                </div>
                <div class="editor-field">
                    @*@Html.EditorFor(model => model.federalID)*@
                    @Html.TextBoxFor(model=>model.federalID,new {@class="txtClass"})
                    @Html.ValidationMessageFor(model => model.federalID)
                </div>

                @*<div class="editor-label">
                    @Html.LabelFor(model => model.loadHistory)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.loadHistory)
                    @Html.ValidationMessageFor(model => model.loadHistory)
                </div>*@

                <div class="editor-label">
                    @Html.Label("Protocol")
                </div>
                <div class="editor-field">
                    @Html.DropDownList("protocol", null,String.Empty, new {@class="ddlClass" })
                </div>
                 <div class="editor-label">
                    @Html.Label("Touchpoint")
                </div>
                <div class="editor-field">
                    <select id="touchpoint" name="touchpoint" class="ddlClass"></select>
                </div>
                
                 <div class="editor-label">
                    @Html.Label("Due Date")
                </div>
                <div class="editor-field">
                    @Html.Telerik().DatePicker().Name("DueDate").HtmlAttributes(new { @style="width:100%;"})
                </div>
               @* <div class="editor-label">
                    
                    @Html.Label("Author")
                </div>
                <div class="editor-field">

                    @Html.DropDownList("author", null,String.Empty, new {@class="ddlClass" })
                    @Html.ValidationMessageFor(model => model.author)

                    
                </div>*@



                @* <div class="editor-label">
                    @Html.LabelFor(model => model.dateApproved)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.dateApproved)
                    @Html.ValidationMessageFor(model => model.dateApproved)
                </div>*@

               @* <div class="editor-label">
                   
                    @Html.Label("Active")
                </div>
                <div class="editor-field">
                   
                    @Html.TextBoxFor(model=>model.active,new {@class="txtClass"})
                    @Html.ValidationMessageFor(model => model.active)
                </div>*@

                

                 <div class="editor-label">
                    @Html.Label("Group")
                </div>
                <div class="editor-field">
                    @Html.DropDownList("group", null,String.Empty, new {@class="ddlClass",@style="margin-top: 3%;" })

                   @* <a href="@Url.Content(" ~ /Group/Create")">Add Group</a>*@

                </div>

                <div class="editor-label">
                    @Html.Label("Partner Type")
                </div>
                <div class="editor-field">
                    @Html.DropDownList("partnertype", null,String.Empty, new {@class="ddlClass" })
                    @*<a href="@Url.Content(" ~ /PartnerType/Create")">Add Partner Type</a>*@
                </div>
               <div class="editor-label">
                    @*@Html.LabelFor(model => model.owner)*@
                    @Html.Label("Owner")
                </div>
                <div class="editor-field">

                    @Html.DropDownList("owner", null,String.Empty, new {@class="ddlClass" })
                    @Html.ValidationMessageFor(model => model.owner)
                    @*<a href="@Url.Content(" ~ /PartnerType/Create")">Add Owner</a>*@
                </div>
                
                 <div class="editor-label">
                   
                </div>
                <div class="editor-field">
                    <a id="lnkGrp" href="javascript:doSomething();" style="margin-left:56%;font-size: 1em;">Add Group</a>
                </div>
                <div class="editor-label">
                   
                </div>
                <div class="editor-field">
                    <a id="lnkPartnerType" href="javascript:doSomething();" style="margin-left:39%;font-size: 1em;">Add PartnerType</a>
                </div>
                <div class="editor-label">
                   
                </div>
                <div class="editor-field">
                    <a id="lnkOwner" href="javascript:doSomething();" style="margin-left:56%;font-size: 1em;">Add Owner</a>
                </div>
               
               



            </div>
            <p style="float: right; width: 20%;">
                @*<input type="submit" value="Save" />*@
                <input type="submit" value="Save" class="btn" />
                <input type="button" value="Clear" class="btn" id="btnClear" />
                @*<input type="button" onclick="CloseMe()" value="Cancel" />*@
            </p>
        </div>
        <p><input type="submit" name="button" id="btnInviteList" style="display:none" value="View sent invites" /></p>
        <div id="DivEventNotification">

        </div>         
    </fieldset>

        <div id="dvInvite" style="display:none">
            <input type="submit" name="button" id="btnInvite"  value="Send invites now" />
            <input type="submit" name="button" id="btnInvitelater"  value="Invite Later" />
        </div>

        
        <div id="dvConfirm" style="display:none">
             @*For Confirm Now and later buttons*@
            <input type="button" name="button" id="btnConfirm"  value="Confirm Now" />
            <input type="button" name="button" id="btnConfirmlater"  value="Confirm Later" />
        </div>
    @*<fieldset>
        <legend>partner</legend>



        <div class="editor-label">
            @Html.LabelFor(model => model.internalID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.internalID)
            @Html.ValidationMessageFor(model => model.internalID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.address1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.address1)
            @Html.ValidationMessageFor(model => model.address1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.address2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.address2)
            @Html.ValidationMessageFor(model => model.address2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.city)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.city)
            @Html.ValidationMessageFor(model => model.city)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.state)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.state)
            @Html.ValidationMessageFor(model => model.state)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.province)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.province)
            @Html.ValidationMessageFor(model => model.province)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.zipcode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.zipcode)
            @Html.ValidationMessageFor(model => model.zipcode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.country)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.country)
            @Html.ValidationMessageFor(model => model.country)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.phone)
            @Html.ValidationMessageFor(model => model.phone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fax)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fax)
            @Html.ValidationMessageFor(model => model.fax)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.firstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.firstName)
            @Html.ValidationMessageFor(model => model.firstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.lastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.lastName)
            @Html.ValidationMessageFor(model => model.lastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.title)
            @Html.ValidationMessageFor(model => model.title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.dunsNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.dunsNumber)
            @Html.ValidationMessageFor(model => model.dunsNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.federalID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.federalID)
            @Html.ValidationMessageFor(model => model.federalID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.status)
            @Html.ValidationMessageFor(model => model.status)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.loadHistory)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.loadHistory)
            @Html.ValidationMessageFor(model => model.loadHistory)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.owner)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.owner)
            @Html.ValidationMessageFor(model => model.owner)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.author)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.author)
            @Html.ValidationMessageFor(model => model.author)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.dateApproved)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.dateApproved)
            @Html.ValidationMessageFor(model => model.dateApproved)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.active)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.active)
            @Html.ValidationMessageFor(model => model.active)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.lastModified)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.lastModified)
            @Html.ValidationMessageFor(model => model.lastModified)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>*@
    }

