@inherits System.Web.Mvc.WebViewPage<Generic.partner>
@using System.Web.Mvc.Html
@using Generic.Helpers
@using Telerik.Web.Mvc.UI;
@{
    Layout = null;  // LayoutHelper.GetLayout();
    ViewBag.Title = "Partner";
}

<style type="text/css">
    .threecol, .twocol {
        width: 100%;
        display: inline-block;
        font-size: 13px!important;
    }

        .twocol .display-label {
            width: 10%;
            display: inline-block;
        }

        .twocol .display-field {
            width: 35%;
            display: inline-block;
        }

        .threecol .display-label {
            width: 10%;
            display: inline-block;
        }

        .threecol .display-field {
            width: 20%;
            display: inline-block;
        }

            .threecol .display-field label {
                width: 90%;
                display: inline-block;
                font-size: 13px!important;
            }

    #PartnerEventGrid {
        font-size: 12px;
    }
</style>



<h2>Details</h2>

<fieldset>
    <legend>partner</legend>

    <div class="twocol">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.name)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.internalID)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.internalID)
        </div>
    </div>


    <div class="threecol">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.enterprise1.description)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.enterprise1.description)
        </div>

        @*   <div class="display-label">
            @Html.DisplayNameFor(model => model.internalID)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.internalID)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.name)
        </div>*@

        <div class="display-label">
            @Html.DisplayNameFor(model => model.address1)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.address1)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.address2)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.address2)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.city)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.city)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.state)
        </div>
        <div class="display-field">
            @ViewBag.StateName
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.province)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.province)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.zipcode)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.zipcode)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.country)
        </div>
        <div class="display-field">
            @ViewBag.CoutryName
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.phone)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.phone)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.fax)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.fax)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.firstName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.firstName)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.lastName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.lastName)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.title)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.title)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.email)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.email)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.dunsNumber)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.dunsNumber)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.federalID)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.federalID)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.status)
        </div>
        <div class="display-field">
            @ViewBag.StatusName
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.loadHistory)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.loadHistory)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.owner)
        </div>
        <div class="display-field">
            @ViewBag.OwnerName
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.author)
        </div>
        <div class="display-field">
            @ViewBag.AuthorName
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.dateApproved)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.dateApproved)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.active)
        </div>
        <div class="display-field">
            @Html.Label(Model.active.ToString())
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.lastModified)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.lastModified)
        </div>

    </div>

</fieldset>


@( Html.Telerik().Grid((List<Generic.view_EventNotificationData>)ViewBag.events).Name("PartnerEventGrid")
        .Columns(columns =>
        {
            columns.Bound(o => o.internalID).Title("Internal ID").Width(100);
            columns.Bound(o => o.accesscode).Title("Access Code").Width(100);


            columns.Bound(o => o.emailType).Title("Email Type").Width(100);
            columns.Bound(o => o.Date_Sent).Title("Date Sent").Width(100);
          //  columns.Bound(o => o.).Title("Time Stamp").Width(100);
            columns.Bound(o => o.@event).Title("Event").Width(100);



        })

        //.Pageable(pager => pager.PageSize(10).Total(200).Enabled(true))
        .Sortable(sorting => sorting.Enabled(true))

        .Scrollable(scrolling => scrolling
           .Enabled(true)
           .Height(260))
           .HtmlAttributes(new { @class = "ra" })



)
@if(Generic.Helpers.CurrentInstance.MultiTenantProjectType == 2){    //displays only for BAA
<table>
    <tr>
        <td><input type="button" value="Remove selected" id="removePartNumbers"/></td>
    </tr>
    <tr>
        <td>
            @( Html.Telerik().Grid((List<Generic.partnumber>)ViewBag.partNumbers).Name("partNumbersGrid")
        .Columns(columns =>
        {
            columns.Template(
                @<text> <input type="checkbox" id="@item.id"/> </text>
            ).Width(20);
            columns.Bound(o => o.nationalStockingNumber).Title("Part number").Width(200);
            columns.Bound(o => o.description).Title("Description");  
        })        
        .Sortable(sorting => sorting.Enabled(true))

        .Scrollable(scrolling => scrolling
           .Enabled(true)
           .Height(260))
           .HtmlAttributes(new { @class = "ra" }).Footer(false)
)
        </td>
    </tr>
</table>
}

<script>
    $("#removePartNumbers").click(function () {
        var numbers = [];
        $("#partNumbersGrid input[type='checkbox']:checked").each(function () {

            numbers.push(this.id);
        });
        $.ajax("RemoveStockNumbers", { type: "POST", data: { values: numbers } }).done(function (result) {
            if (result == "True") {
                $("#partNumbersGrid input[type='checkbox']:checked").each(function(){                   
                    $(this).parent().parent().remove();
                });
            }
        });
    });    
</script>
