@inherits System.Web.Mvc.WebViewPage<Generic.partner>
@using System.Web.Mvc.Html
@using Generic.Helpers
@using Telerik.Web.Mvc.UI;
@{
    Layout = null;  // LayoutHelper.GetLayout();
    ViewBag.Title = "Partner";
}

<style type="text/css">
    .threecol, .twocol {
        width: 100%;
        display: inline-block;
        font-size: 13px!important;
    }

        .twocol .display-label {
            width: 10%;
            display: inline-block;
        }

        .twocol .display-field {
            width: 35%;
            display: inline-block;
        }

        .threecol .display-label {
            width: 10%;
            display: inline-block;
        }

        .threecol .display-field {
            width: 20%;
            display: inline-block;
        }

            .threecol .display-field label {
                width: 90%;
                display: inline-block;
                font-size: 13px!important;
            }

    #PartnerEventGrid {
        font-size: 12px;
    }
</style>



<h2>Partner</h2>

<fieldset>
    <legend>partner</legend>

    <div class="threecol">
        <div class="display-label">
            Name
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.name)
        </div>
       
    </div>


    <div class="threecol">
         <div class="display-label">
           Internal ID
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.internalID)
        </div>
        <div class="display-label">
            First Name
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.firstName)
        </div>
        <div class="display-label">
            Description
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.enterprise1.description)
        </div> 
        <div class="display-label">
            DUNS #
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.dunsNumber)
        </div>
        <div class="display-label">
            Last Name
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.lastName)
        </div>
        <div class="display-label">
            Date Approved
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.dateApproved)
        </div>
        <div class="display-label">
            Federal ID
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.federalID)
        </div>
         <div class="display-label">
            Phone
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.phone)
        </div>
        <div class="display-label">
           Last Modified
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.lastModified)
        </div>
        <div class="display-label">
            Address1
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.address1)
        </div>
        <div class="display-label">
            Fax
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.fax)
        </div>
        <div class="display-label">
           Author
        </div>
        <div class="display-field">
            @ViewBag.AuthorName
        </div>
        <div class="display-label">
           Address2
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.address2)
        </div>
         <div class="display-label">
            E-mail
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.email)
        </div>
        <div class="display-label">
            Status
        </div>
        <div class="display-field">
            @ViewBag.StatusName
        </div>

        
        
        
        
        
        
       @* <div class="display-label">
           Load History
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.loadHistory)
        </div>

        <div class="display-label">
           Owner
        </div>
        <div class="display-field">
            @ViewBag.OwnerName
        </div>
        <div class="display-label">
            Active
        </div>
        <div class="display-field">
            @Html.Label(Model.active.HasValue&&Model.active.Value?"Yes":"No")
        </div>  *@      

    </div>
    <div class="threecol">
       <div class="display-label">
            City
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.city)
        </div>
       <div class="display-label">
            Title
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.title)
        </div>
    </div>
    <div class="threecol">
        <div class="display-label">
            State
        </div>
        <div class="display-field">
            @ViewBag.StateName
        </div>
     </div>
    <div class="threecol">
        <div class="display-label">
           Province
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.province)
        </div>
     </div>
    <div class="threecol">
       <div class="display-label">
            Zipcode
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.zipcode)
        </div>
     </div>
    <div class="threecol">
       <div class="display-label">
            Country
        </div>
        <div class="display-field">
            @ViewBag.CoutryName
        </div>
     </div>
</fieldset>


<table style="width:100%">
     <tr>
        <td><input type="button" value="Remove selected" id="removePartnerEvent"/></td>
    </tr>
    <tr>
        <td>
            @( Html.Telerik().Grid((List<Generic.partnerPartnertypeTouchpointQuestionnaire>)ViewBag.events).Name("PartnerEventGrid")
        .Columns(columns =>
        {
            columns.Template(
                @<text> <input type="checkbox" id="@item.id" style="@(item.partNumberSiteZcodePPTQ.Any()?"display:none":"display:inherit")"/> </text>
            ).Width(20);
           // columns.Bound(o => o.accesscode).Title("Internal ID").Width(100);
            columns.Bound(o => o.accesscode).Title("Access Code").Width(100);
            columns.Bound(o => o.priority).Title("Priority").Width(100);


           // columns.Bound(o => o.).Title("Invited by").Width(100);
            columns.Bound(o => o.invitedDate).Title("Invited Date").Width(100);
            columns.Bound(o => o.dueDate).Title("Due Date").Width(100);
             columns.Bound(o => o.completedDate).Title("Completed Date").Width(100);
            columns.Bound(o => o.status).Title("Status").Width(100);
            columns.Bound(o => o.progress).Title("Progress").Width(100);


        })

                   // .Pageable(pager => pager.PageSize(10).Total(200).Enabled(true))
                    .Sortable(sorting => sorting.Enabled(true))

                    .Scrollable(scrolling => scrolling
                       .Enabled(true)
                       .Height(50))
                       .HtmlAttributes(new { @class = "ra" }).HtmlAttributes(new { style = "width:100%;Heigth:300px" }).Footer(false)



            )
        </td>
    </tr>
    @if (Generic.Helpers.CurrentInstance.MultiTenantProjectType == 2)
    {    //displays only for BAA
    <tr>
        <td><input type="button" value="Remove selected" id="removePartNumbers"/></td>
    </tr>
    <tr>
        <td>
            @( Html.Telerik().Grid((List<Generic.partnumber>)ViewBag.partNumbers).Name("partNumbersGrid")
        .Columns(columns =>
        {
            columns.Template(
                @<text> <input type="checkbox" id="@item.id"/> </text>
            ).Width(20);
            columns.Bound(o => o.nationalStockingNumber).Title("Part number").Width(200).Template(@<text>
                <a href="#" id="@item.nationalStockingNumber" class="menu_block">
                    @item.nationalStockingNumber
                </a>
            <div class="display_menu" style="display: none;top: -10px;left: 110px;height: 60px;width: 120px;">
                <ul style="margin-top: 5px;">
                    <li><a href="javascript:DetailsDialog.removePartNumber(@item.id)">Remove</a></li>
                    <li><a href="javascript:DetailsDialog.resetPartNumber(@item.id)">Reset</a></li>
                </ul>
            </div>
            </text>);
            columns.Bound(o => o.description).Title("Description").Width(280);
        })
        .Sortable(sorting => sorting.Enabled(true))

        .Scrollable(scrolling => scrolling
           .Enabled(true)
           .Height(65))
           .HtmlAttributes(new { @class = "ra" }).Footer(false).HtmlAttributes(new { style = "width:100%;Heigth:350px" })
)
        </td>
    </tr>
    }
        
</table>

<script>
    $("#removePartNumbers").click(function () {
        var numbers = [];
        $("#partNumbersGrid input[type='checkbox']:checked").each(function () {

            numbers.push(this.id);
        });
        $.ajax("RemoveStockNumbers", { type: "POST", data: { values: numbers } }).done(function (result) {
            if (result == "True") {
                $("#partNumbersGrid input[type='checkbox']:checked").each(function(){                   
                    $(this).parent().parent().remove();
                });
            }
        });
    });
    $("#removePartnerEvent").click(function () {
        var numbers = [];
        $("#PartnerEventGrid input[type='checkbox']:checked").each(function () {

            numbers.push(this.id);
        });
        $.ajax("RemovePartnersQuestinnarie", { type: "POST", data: { values: numbers } }).done(function (result) {
            if (result == "True") {
                $("#PartnerEventGrid input[type='checkbox']:checked").each(function () {
                    $(this).parent().parent().remove();
                });
            }
        });
    });     
</script>
