@inherits System.Web.Mvc.WebViewPage<IEnumerable<Generic.view_PartnerData>>
@using System.Web.Mvc.Html
@using Generic.Helpers
@using Telerik.Web.Mvc.UI;
@{
    Layout = LayoutHelper.GetLayout();
    ViewBag.Title = "Partner";
}

<style>
    div#PartnerGrid {
        font-size: 11px;
    }

    #modal {
        height: 489px;
    }

    .ui-dialog {
        width: 99% !important;
        left: 0;
    }
</style>

@( Html.Telerik().Grid(Model).Name("PartnerGrid")
        .ToolBar(commands => commands
        .Custom()
        .HtmlAttributes(new { id = "export" })
        .Text("Export to Excel")
        .Action("ExportExcel", "partner"))

        .Columns(columns =>
        {
            columns.Bound(o => o.internalID).Title("Internal ID").Width(100).Encoded(false);
            columns.Bound(o => o.PartnerName).Title("Partner Name").Width(400).Template(@<text>
<a href='#' id='@item.PartnerName' class="menu_block">@item.PartnerName</a>
<div class="display_menu" style="display: none;">
    <ul>
       
        <li style='display:@(Generic.SessionClass.SessionSingleton.ShouldDisplayMenu?"none":"inherit")'><a href="javascript:openEditPopup(@item.id)">Edit/Correct</a></li>
        <li style='display:@(Generic.SessionClass.SessionSingleton.ShouldDisplayMenu?"none":"inherit")'><a href="javascript:openRemovePopup(@item.id,'@item.internalID','@item.PartnerName')">Remove</a></li>
        <li style='display:@(Generic.SessionClass.SessionSingleton.ShouldDisplayMenu?"none":"inherit")'><a href="javascript:openArchivePopup(@item.id,'@item.internalID','@item.PartnerName')">Archive</a></li>
        <li style='display:@(Generic.SessionClass.SessionSingleton.ShouldDisplayMenu?"none":"inherit")'><a href="javascript:openViewDetailPopup(@item.id)">View Detail</a></li>
        <li style='display:@(Generic.SessionClass.SessionSingleton.ShouldDisplayMenu?"none":"inherit")'><a href="@item.Expr1" target="_blank">Complete</a></li>
           
        <li><a href="javascript:checkToPrintPDF('@item.status','@item.AccessCode')">Print PDF</a></li>
        
        <li style='display:@(Generic.SessionClass.SessionSingleton.ShouldDisplayMenu?"none":"inherit")'><a href="javascript:checkToPrintHTML('@item.status','@item.AccessCode')">Print HTML</a></li>
             
    </ul>
</div>
</text>);
            columns.Bound(o => o.Contact).Title("Contact").Width(100);
            columns.Bound(o => o.phone).Title("Phone").Width(100);
            columns.Bound(o => o.ContactEmail).Title("Contact Email").Width(200).Template(@<text><a href="javascript://" onclick="OpenManualAddModal('../WrongContact/Index?accesscode=@item.AccessCode');">@item.ContactEmail</a></text>);

            columns.Bound(o => o.ContactTitle).Title("Contact Title").Width(200);

            columns.Bound(o => o.owner).Title("Owner").Width(100);
            columns.Bound(o => o.Country).Title("Country").Width(100);
            columns.Bound(o => o.city).Title("City").Width(100);
            columns.Bound(o => o.state).Title("State").Width(100);

            columns.Bound(o => o.address).Title("Address").Width(200);
            columns.Bound(o => o.zipcode).Title("Zipcode").Width(100);

            columns.Bound(o => o.Touchpoint).Title("Touchpoint").Width(100);
            columns.Bound(o => o.Partnertype).Title("Partnertype").Width(100);
            columns.Bound(o => o.Group).Title("Group").Width(100);
            columns.Bound(o => o.AccessCode).Title("AccessCode").Width(100).Template(@<text>
<a href='#' id='@item.AccessCode' class="menu_block">@item.AccessCode</a><div class="display_menu" style="display: none;">
    <ul>
        <li>
            <a href="#">Remind
            </a>
        </li>
        <li><a href="#">Re-Invite (intelleges.com)</a></li>
        <li><a href="#">Re-Invite (racix.net)</a></li>
        <li><a href="#">Rescind</a></li>
        <li><a href="#">Remove</a></li>
        <li><a href="#">Retrieve</a></li>
    </ul>
</div>
</text>);
            columns.Bound(o => o.status).Title("Status").Width(200);


        })
        .DataKeys(keys => keys.Add(o => o.internalID))
        .Pageable(pager => pager.PageSize(13).Total(200).Enabled(true))
        .Sortable(sorting => sorting.Enabled(true))

        .Scrollable(scrolling => scrolling
        .Enabled(true)
        .Height(380))
        .HtmlAttributes(new { @class = "ra" })



        )

<div id="EmailDialog" title="Questionnaire Routing Form">
    <p>Email dialog</p>
</div>
<div id="genericPopup" title=""></div>
<style>
    .t-grid-content tr > td:hover .menu_block + .display_menu {
        display: block !important;
    }

    .display_menu {
        left: 65px;
        overflow: visible;
        position: absolute;
        top: -5px;
        background: #fff;
        border: 1px solid #ddd;
        z-index: 100;
    }

    .t-grid-content tr > td {
        overflow: visible !important;
        position: relative;
    }

    .display_menu > ul {
        padding: 0 16px;
    }

    .display_menu li {
        list-style: none outside none;
        width: 143px;
    }
</style>
<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery-ui-1.9.2.js"></script>
<script type="text/javascript">
    $(function () {
        jQuery.noConflict();
        $("#EmailDialog").dialog({
            autoOpen: false
        });

        $('#popup').bind('dialogclose', function (event) {
            window.location.replace(window.location.href);
        });

    });

    function CloseMe() {
        $("#genericPopup").dialog('close');
        //$(".t-icon .t-refresh").trigger('click');

        window.location.replace(window.location.href);
    }


    function OpenEmailDialog(ac) {
        jQuery.noConflict();

        $.get("@Url.Content("~/WrongContact/Index")", { accessCode: ac }, function (data) {

                    $("#EmailDialog").html(data);
                    $("#EmailDialog").dialog({
                        width: 1200,
                        height: 1000,
                    });
                    $("#EmailDialog").dialog('open');
                });
            }
            $('#menu_block').hover(function () {
                // alert("call");
                $('#display_menu').show();
            }, function () {
                $('#display_menu').hide();
            })

            $('#menu_block').mouseenter(function () {
                $('#display_menu').show();
            }).mouseleave(function () {

                $('#display_menu').hide();

            });

            function openEditPopup(id) {
                $.get("@Url.Content("~/Partner/Edit/")" + id, function (data) {
                    $("#genericPopup").html(data);
                });

                $("#genericPopup").dialog({ height: 600, title: "Edit/Correct" });
                $("#genericPopup").dialog('open');
            }

            function openRemovePopup(id, internalid, name) {



                alertify.set({
                    labels: {
                        ok: "No",
                        cancel: "Yes"
                    },
                    buttonFocus: "cancel"
                });
                // button labels will be "Accept" and "Deny"
                alertify.confirm("You are about to Remove " + internalid + " : " + name + ". Are you sure you want to do this?", function (e) {
                    if (e) {
                        // Click no
                    } else {
                        // click yes

                        $.get("@Url.Content("~/Partner/Archive/")" + id, function (data) {
                            // $(".t-icon .t-refresh").trigger('click');
                            window.location.replace(window.location.href);
                        });

                    }
                });


            }


            function openArchivePopup(id, internalid, name) {



                alertify.set({
                    labels: {
                        ok: "No",
                        cancel: "Yes"
                    },
                    buttonFocus: "cancel"
                });
                // button labels will be "Accept" and "Deny"
                alertify.confirm("You are about to Archive " + internalid + " : " + name + ". Are you sure you want to do this?", function (e) {
                    if (e) {
                        // Click no
                    } else {
                        // click yes

                        $.get("@Url.Content("~/Partner/Archive/")" + id, function (data) {
                            // $(".t-icon .t-refresh").trigger('click');
                            window.location.replace(window.location.href);
                        });

                    }
                });


            }

            function openViewDetailPopup(id) {
                $("#genericPopup").html("<p>Loading Data...</p>");
                $.get("@Url.Content("~/Partner/Details/")" + id, function (data) {
                    $("#genericPopup").html(data);
                });
                $("#genericPopup").dialog({ height: 600, title: "View Detail" });
                $("#genericPopup").dialog('open');
            }

            function openCompletePopup(accesscode) {
                $("#genericPopup").html("<p>Loading Data...</p>");
                $.get("@Url.Content("~/Registration?Accesscode=")" + accesscode, function (data) {
                    $("#genericPopup").html(data);
                });
                $("#genericPopup").dialog({ height: 600, title: "Complete" });
                $("#genericPopup").dialog('open');
            }
            function checkToPrintPDF(status, accesscode) {
                if (status.toLowerCase() == 'responded/complete') {
                    window.location.href = "@Url.Content("~/Partner/PrintPDF/?accesscode=")" + accesscode;
                } else {
                    alert("it's not responded yet");
                }
            }
            function checkToPrintHTML(status, accesscode) {
                if (status.toLowerCase() == 'responded/complete') {
                    window.location.href = "@Url.Content("~/Partner/PrintHTML/?accesscode=")" + accesscode;
                } else {
                    alert("it's not responded yet");
                }
            }

</script>

