@inherits System.Web.Mvc.WebViewPage<IEnumerable<Generic.view_PartnerData>>
@using System.Web.Mvc.Html
@using Generic.Helpers
@using Telerik.Web.Mvc.UI;
@{
    Layout = LayoutHelper.GetLayout();
    ViewBag.Title = "Partner";
}

<style>
    div#PartnerGrid {
        font-size: 11px;
    }

    #modal {
        height: 489px;
    }

    .ui-dialog {
        width: 99% !important;
        left: 0;
    }

    .modal-dialog {
        z-index: 1050;
    }

    #partnersDocGrid {
        font-size: 11px;
    }

        #partnersDocGrid .t-header {
            padding: .8em .8em !important;
        }
</style>
<div class="tw-bs">
    <div class="container">
        <div class="modal fade" id="emailDialog" role="dialog" aria-labelledby="gpsLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only"></span>
                        </button>
                        <h4 class="modal-title" id="gpsLabel">Print existing documents</h4>
                    </div>
                    <div class="modal-body">
                        @*<button class="buttons glyphicon glyphicon-plus float-right" title="Add new document"></button>*@
                        @*<form>
                                <div class="form-group">
                                    <label for="uploadedFile">Upload  file</label>
                                    <input type="file" class="form-control" id="uploadedFile" />
                                </div>
                            </form>*@

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@( Html.Telerik().Grid(Model).Name("PartnerGrid")
        .ToolBar(commands => commands
        .Custom()
        .HtmlAttributes(new { id = "export" })
        .Text("Export to Excel")
        .Action("ExportExcel", "partner"))

        .Columns(columns =>
        {
            columns.Bound(o => o.internalID).Title("Internal ID").Width(150).Encoded(false);
            columns.Bound(o => o.PartnerName).Title("Partner Name").Width(250).Template(@<text>
                @{

                    var columnData = item.PartnerName;
                    var width = 30;
                    var visibleText = string.Empty;
                    if (columnData != null)
                    {
                        visibleText = columnData.Length > width ? @columnData.Substring(0, width) + "..." : columnData;
                    }
                    <a href='#' id='@item.PartnerName' class="menu_block" title="@columnData">@visibleText</a>
                }
                <div class="display_menu" style="display: none;">
                    <ul>

                        <li style='display:@(Generic.SessionClass.SessionSingleton.ShouldDisplayMenu?"none":"inherit")'><a href="javascript:openEditPopup(@item.id)">Edit/Correct</a></li>
                        <li style='display:@(Generic.SessionClass.SessionSingleton.ShouldDisplayMenu||Generic.SessionClass.SessionSingleton.ShouldDisplayMenuBAA?"none":"inherit")'><a href="javascript:openRemovePopup(@item.id,'@item.internalID','@item.PartnerName')">Remove</a></li>
                        <li style='display:@(Generic.SessionClass.SessionSingleton.ShouldDisplayMenu||Generic.SessionClass.SessionSingleton.ShouldDisplayMenuBAA?"none":"inherit")'><a href="javascript:openArchivePopup(@item.id,'@item.internalID','@item.PartnerName')">Archive</a></li>
                        <li style='display:@(Generic.SessionClass.SessionSingleton.ShouldDisplayMenu||Generic.SessionClass.SessionSingleton.ShouldDisplayMenuBAA?"none":"inherit")'><a href="javascript:openViewDetailPopup(@item.id)">View Detail</a></li>
                        <li style='display:@(Generic.SessionClass.SessionSingleton.ShouldDisplayMenu||Generic.SessionClass.SessionSingleton.ShouldDisplayMenuBAA?"none":"inherit")'><a href="@item.Expr1" target="_blank">Complete</a></li>

                        <li style='display:@(Generic.SessionClass.SessionSingleton.ShouldDisplayMenuBAA?"none":"inherit")'><a href="javascript:checkToPrintPDF('@item.status','@item.AccessCode')">Print PDF</a></li>

                        <li style='display:@(Generic.SessionClass.SessionSingleton.ShouldDisplayMenu||Generic.SessionClass.SessionSingleton.ShouldDisplayMenuBAA?"none":"inherit")'><a href="javascript:checkToPrintHTML('@item.status','@item.AccessCode')">Print HTML</a></li>
                        @if (Generic.SessionClass.SessionSingleton.ShouldDisplayMenuBAAFull)
                        {
                            <li><a href="javascript:remind('@item.AccessCode')">Remind</a></li>
                        }
                        <li><a href="javascript:changePTQ('@item.AccessCode')">Change PTQ</a></li>
                        <li>@Html.ActionLink("Docs", "PartnerDocuments", "Partner", new { accessCode = item.AccessCode }, new { target = "_blank" })</li>
                    </ul>
                </div>
            </text>);
            columns.Bound(o => o.Contact).Title("Contact").Width(150).Template(@<text>

        @{
            var columnData = item.Contact;
            var width = 30;
            var visibleText = string.Empty;
            if (columnData != null)
            {
                visibleText = columnData.Length > width ? @columnData.Substring(0, width) + "..." : columnData;
            }
            <p title="@columnData">@visibleText</p>
        }


            </text>);
            columns.Bound(o => o.AccessCode).Title("AccessCode").Width(90).Template(@<text>

        @{
            var columnData = item.AccessCode;
            var width = 8;
            var visibleText = string.Empty;
            if (columnData != null)
            {
                visibleText = columnData.Length > width ? @columnData.Substring(0, width) + "..." : columnData;
            }

            <a href='#' id='@item.AccessCode' class="menu_block" title="@columnData">@visibleText</a><div class="display_menu" style="display: none;">



                <ul>
                    <li style='display:@(Generic.SessionClass.SessionSingleton.ShouldDisplayMenuBAA?"none":"inherit")'>
                        <a href="javascript:remind('@item.AccessCode')">
                            Remind
                        </a>
                    </li>
                    <li style='display:@(Generic.SessionClass.SessionSingleton.ShouldDisplayMenu||Generic.SessionClass.SessionSingleton.ShouldDisplayMenuBAA?"none":"inherit")'><a href="#">Re-Invite (intelleges.com)</a></li>
                    <li style='display:@(Generic.SessionClass.SessionSingleton.ShouldDisplayMenu||Generic.SessionClass.SessionSingleton.ShouldDisplayMenuBAA?"none":"inherit")'><a href="#">Re-Invite (racix.net)</a></li>
                    <li style='display:@(Generic.SessionClass.SessionSingleton.ShouldDisplayMenu||Generic.SessionClass.SessionSingleton.ShouldDisplayMenuBAA?"none":"inherit")'><a href="#">Rescind</a></li>
                    <li style='display:@(Generic.SessionClass.SessionSingleton.ShouldDisplayMenu||Generic.SessionClass.SessionSingleton.ShouldDisplayMenuBAA?"none":"inherit")'><a href="#">Remove</a></li>
                    <li style='display:@(Generic.SessionClass.SessionSingleton.ShouldDisplayMenu||Generic.SessionClass.SessionSingleton.ShouldDisplayMenuBAA?"none":"inherit")'><a href="#">Retrieve</a></li>
                </ul>
            </div>
        }
            </text>);
            columns.Bound(o => o.ContactEmail).Title("Contact Email").Width(200).Template(@<text><a href="javascript://" onclick="OpenManualAddModal('../WrongContact/Index?accesscode=@item.AccessCode');">@item.ContactEmail</a></text>);

            columns.Bound(o => o.ContactTitle).Title("Contact Title").Width(100).Template(@<text>

        @{
            var columnData = item.ContactTitle;
            var width = 12;
            var visibleText = string.Empty;
            if (columnData != null)
            {
                visibleText = columnData.Length > width ? @columnData.Substring(0, width) + "..." : columnData;
            }
            <p title="@columnData">@visibleText</p>
        }


            </text>);

            columns.Bound(o => o.owner).Title("Owner").Width(100).Template(@<text>

        @{
            var columnData = item.owner;
            var width = 14;
            var visibleText = string.Empty;
            if (columnData != null)
            {
                visibleText = columnData.Length > width ? @columnData.Substring(0, width) + "..." : columnData;
            }
            <p title="@columnData">@visibleText</p>
        }


            </text>); ;
            columns.Bound(o => o.Country).Title("Country").Width(100).Template(@<text>

        @{
            var columnData = item.Country;
            var width = 13;
            var visibleText = string.Empty;
            if (columnData != null)
            {
                visibleText = columnData.Length > width ? @columnData.Substring(0, width) + "..." : columnData;
            }
            <p title="@columnData">@visibleText</p>
        }


            </text>);
            columns.Bound(o => o.city).Title("City").Width(100).Template(@<text>

        @{
            var columnData = item.city;
            var width = 10;
            var visibleText = string.Empty;
            if (columnData != null)
            {
                visibleText = columnData.Length > width ? @columnData.Substring(0, width) + "..." : columnData;
            }
            <p title="@columnData">@visibleText</p>
        }


            </text>);
            columns.Bound(o => o.state).Title("State").Width(50).Template(@<text>

        @{
            var columnData = item.state;
            var width = 5;
            var visibleText = string.Empty;
            if (columnData != null)
            {
                visibleText = columnData.Length > width ? @columnData.Substring(0, width) + "..." : columnData;
            }
            <p title="@columnData">@visibleText</p>
        }


            </text>); ;

            columns.Bound(o => o.address).Title("Address").Width(150).Template(@<text>

        @{
            var columnData = item.address;
            var width = 20;
            var visibleText = string.Empty;
            if (columnData != null)
            {
                visibleText = columnData.Length > width ? @columnData.Substring(0, width) + "..." : columnData;
            }
            <p title="@columnData">@visibleText</p>
        }


            </text>);
            columns.Bound(o => o.zipcode).Title("Zipcode").Width(80).Template(@<text>

        @{
            var columnData = item.zipcode;
            var width = 10;
            var visibleText = string.Empty;
            if (columnData != null)
            {
                visibleText = columnData.Length > width ? @columnData.Substring(0, width) + "..." : columnData;
            }
            <p title="@columnData">@visibleText</p>
        }


            </text>);

            columns.Bound(o => o.Touchpoint).Title("Touchpoint").Width(150).Template(@<text>

        @{
            var columnData = item.Touchpoint;
            var width = 25;
            var visibleText = string.Empty;
            if (columnData != null)
            {
                visibleText = columnData.Length > width ? @columnData.Substring(0, width) + "..." : columnData;
            }
            <p title="@columnData">@visibleText</p>
        }


            </text>);
            columns.Bound(o => o.Partnertype).Title("Partnertype").Width(120).Template(@<text>

        @{
            var columnData = item.Partnertype;
            var width = 20;
            var visibleText = string.Empty;
            if (columnData != null)
            {
                visibleText = columnData.Length > width ? @columnData.Substring(0, width) + "..." : columnData;
            }
            <p title="@columnData">@visibleText</p>
        }


            </text>);
            columns.Bound(o => o.Group).Title("Group").Width(70).Template(@<text>

        @{
            var columnData = item.Group;
            var width = 7;
            var visibleText = string.Empty;
            if (columnData != null)
            {
                visibleText = columnData.Length > width ? @columnData.Substring(0, width) + "..." : columnData;
            }
            <p title="@columnData">@visibleText</p>
        }


            </text>);
            columns.Bound(o => o.phone).Title("Phone").Width(100);
            columns.Bound(o => o.status).Title("Status").Width(150).Template(@<text>

                @{
                    var columnData = item.status;
                    var width = 20;
                    var visibleText = string.Empty;
                    if (columnData != null)
                    {
                        visibleText = columnData.Length > width ? @columnData.Substring(0, width) + "..." : columnData;
                    }
                    <p title="@columnData">@visibleText</p>
                }


            </text>); ;


        })
                        .DataKeys(keys => keys.Add(o => o.internalID))
                        .Pageable(pager => pager.PageSize(13).Total(200).Enabled(true))
                        .Sortable(sorting => sorting.Enabled(true))

                        .Scrollable(scrolling => scrolling
                        .Enabled(true)
                        .Height(380))
                        .HtmlAttributes(new { @class = "ra" })



)

<div id="EmailDialog" title="Questionnaire Routing Form">
    <p>Email dialog</p>
</div>
<div id="genericPopup" title=""></div>
<style>
    .t-grid-content tr > td:hover .menu_block + .display_menu {
        display: block !important;
    }

    .display_menu {
        left: 65px;
        overflow: visible;
        position: absolute;
        top: -5px;
        background: #fff;
        border: 1px solid #ddd;
        z-index: 100;
    }

    .t-grid-content tr > td {
        overflow: visible !important;
        position: relative;
    }

    .display_menu > ul {
        padding: 0 16px;
    }

    .display_menu li {
        list-style: none outside none;
        width: 143px;
    }

    #madalEmailForm .table td[colspan='5'] {
        text-align: center;
    }
</style>
@*<script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/jquery-ui-1.9.2.js"></script>*@
<script type="text/javascript">
    function printDocs(accessCode) {

        //var grid = $("#partnersDocGrid").data("tGrid");
        // grid.ajax.selectUrl = "/Partner/ShowDocs/?accessCode=" + accessCode;
        //grid.ajaxRequest();
        grid.rebind({ accessCode: accessCode });
        //$("#emailDialog").modal("toggle");
        @*$.post("ShowDocs", { accessCode: accessCode }).done(function (result) {
            //if (result.length) {
                $("#madalEmailForm").html("");
                $("#madalEmailForm").append("<table class='table table-hover'></table>");
                $("#madalEmailForm table").append("<th><td>Title</td><td>Doc Type</td><td>Upload Date</td><td>Uploaded by</td></th>");
                if (!result.length) {
                    $("#madalEmailForm table").append("<tr><td colspan='5'>There is no any documents</td></tr>");
                }

                for (var i = 0; i < result.length; i++) {
                    //$("#madalEmailForm table").append("<tr><td></td><td></td><td></td><td></td><td></td></tr>");
                   // $("#madalEmailForm").append("<p><a href='@Url.Action("DownloadPdf", "Partner")/" + result[i].id + "/?accessCode=" + accessCode + "' target='_blank'>" + result[i].title + "</p>");
                }

           // } else {
               // alertify.alert('There are no available documents for this partner.');
           // }
        });*@
    }
    $(function () {
        //jQuery.noConflict();
        $("#EmailDialog").dialog({
            autoOpen: false
        });

        $('#popup').bind('dialogclose', function (event) {
            window.location.replace(window.location.href);
        });



    });
    var currentPTQAccessCode = null;
    function changePTQ(accessCode) {
        currentPTQAccessCode = accessCode;
        $("#ptqList").data("tDropDownList").reload();
        $("#changePtqDialog").modal("toggle");
    }

    function CloseMe() {
        $("#genericPopup").dialog('close');
        //$(".t-icon .t-refresh").trigger('click');

        window.location.replace(window.location.href);
    }

    function remind(accessCodeValue) {
        $.post("Remind", { accessCode: accessCodeValue }).done(function (result) {

            if (result) {
                alertify.alert(result);
            }
        });
    }


    function OpenEmailDialog(ac) {
        //jQuery.noConflict();

        $.get("@Url.Content("~/WrongContact/Index")", { accessCode: ac }, function (data) {

            $("#EmailDialog").html(data);
            $("#EmailDialog").dialog({
                width: 1200,
                height: 1000,
            });
            $("#EmailDialog").dialog('open');
        });
    }
    $('#menu_block').hover(function () {
        // alert("call");
        $('#display_menu').show();
    }, function () {
        $('#display_menu').hide();
    })

    $('#menu_block').mouseenter(function () {
        $('#display_menu').show();
    }).mouseleave(function () {

        $('#display_menu').hide();

    });

    function openEditPopup(id) {
        $.get("@Url.Content("~/Partner/Edit/")" + id, function (data) {
            $("#genericPopup").html(data);
        });

        $("#genericPopup").dialog({ height: 600, title: "Edit/Correct" });
        $("#genericPopup").dialog('open');
    }

    function openRemovePopup(id, internalid, name) {



        alertify.set({
            labels: {
                ok: "No",
                cancel: "Yes"
            },
            buttonFocus: "cancel"
        });
        // button labels will be "Accept" and "Deny"
        alertify.confirm("You are about to Remove " + internalid + " : " + name + ". Are you sure you want to do this?", function (e) {
            if (e) {
                // Click no
            } else {
                // click yes

                $.get("@Url.Content("~/Partner/Archive/")" + id, function (data) {
                    // $(".t-icon .t-refresh").trigger('click');
                    window.location.replace(window.location.href);
                });

            }
        });


    }


    function openArchivePopup(id, internalid, name) {



        alertify.set({
            labels: {
                ok: "No",
                cancel: "Yes"
            },
            buttonFocus: "cancel"
        });
        // button labels will be "Accept" and "Deny"
        alertify.confirm("You are about to Archive " + internalid + " : " + name + ". Are you sure you want to do this?", function (e) {
            if (e) {
                // Click no
            } else {
                // click yes

                $.get("@Url.Content("~/Partner/Archive/")" + id, function (data) {
                    // $(".t-icon .t-refresh").trigger('click');
                    window.location.replace(window.location.href);
                });

            }
        });


    }

    function openViewDetailPopup(id) {
        $("#genericPopup").html("<p>Loading Data...</p>");
        $.get("@Url.Content("~/Partner/Details/")" + id, function (data) {
            $("#genericPopup").html(data);
        });
        $("#genericPopup").dialog({ height: 600, title: "View Detail" });
        $("#genericPopup").dialog('open');
    }

    function openCompletePopup(accesscode) {
        $("#genericPopup").html("<p>Loading Data...</p>");
        $.get("@Url.Content("~/Registration?Accesscode=")" + accesscode, function (data) {
            $("#genericPopup").html(data);
        });
        $("#genericPopup").dialog({ height: 600, title: "Complete" });
        $("#genericPopup").dialog('open');
    }
    function checkToPrintPDF(status, accesscode) {
        $.getJSON('@Url.Content("~/Partner/PartnertypeTouchpointQuestionnaireCampaignStatus")', { accessCode: accesscode }, function (data) {
            
            if (data[0].newStatus == 8) {
                alertify.confirm(data[0].nextStep, function (e) {
                    if (e) {
                        // click yes
                        window.location.href = "@Url.Content("~/Partner/PrintPDF/?accesscode=")" + accesscode;

                    } else {
                        // click no
                    }
                });
            }
            else {
                alertify.alert(data[0].nextStep);
            }
           
            @*if (status.toLowerCase() == 'responded/complete') {
                    window.location.href = "@Url.Content("~/Partner/PrintPDF/?accesscode=")" + accesscode;
                } else {
                    alert("it's not responded yet");
            }*@
        }).fail(function (jqXHR, textStatus, errorThrown) {
            debugger;
            alertify.alert('Error getting Touch Point!');
        });
    }

    function checkToPrintHTML(status, accesscode) {
        if (status.toLowerCase() == 'responded/complete') {
            window.location.href = "@Url.Content("~/Partner/PrintHTML/?accesscode=")" + accesscode;
        } else {
            alert("it's not responded yet");
        }
    }

    $(function () {
        $(".t-widget.t-dropdown.t-header").css("width", "100%");
    });
    $("#changePtqBtn").click(function () {

    })
</script>
<div class="tw-bs">
    <div class="container-fluid">
        <div class="modal fade" id="changePtqDialog" role="dialog" aria-labelledby="gpsLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only"></span>
                        </button>
                        <h4 class="modal-title" id="gpsLabel">Change  Partner type Touchpoint Questionnaire </h4>
                    </div>
                    <div class="modal-body">

                        <form id="changePtqForm">
                            <div class="form-group">
                                @Html.Label("ptqList", "Questionnaire")
                                @Html.Telerik().DropDownList().Name("ptqList").DataBinding(conf => conf.Ajax().Select("CurrentPtqList", "Campaign")).DropDownHtmlAttributes(new { style = "width:500px;white-space:nowrap;" })
                            </div>
                            <button type="button" class="btn btn-default btn-block" id="changePtqBtn">Save</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>