@inherits System.Web.Mvc.WebViewPage<Generic.Models.RailModelView>
@using System.Web.Mvc.Html
@using Generic.Helpers
@using Telerik.Web.Mvc.UI;
@{
    Layout = LayoutHelper.GetLayout();
    ViewBag.Title = "Rail Report";
}

<h2>RAIL</h2>
<style>
    div#RAIL {
        font-size: 11px;
    }

    #modal {
        height: 489px;
    }

    .ui-dialog {
        width: 99% !important;
        left: 0;
    }
     .t-grid-content tr > td:hover .menu_block + .display_menu {
        display: block !important;
    }

    .display_menu {
        left: -125px;
        overflow: visible;
        position: absolute;
        top: -5px;
        background: #fff;
        border: 1px solid #ddd;
        z-index: 100;
    }

    .t-grid-content tr > td {
        overflow: visible !important;
        position: relative;
    }

    .display_menu > ul {
        padding: 0 16px;
    }

    .display_menu li {
        list-style: none outside none;
        width: 90px;
        color:blue;
       text-decoration:underline;
       cursor:pointer;
    }
</style>

@( Html.Telerik().Grid(Model.Rails).Name("RAIL")
        .ToolBar(commands => commands
        .Custom()
        .HtmlAttributes(new { id = "export" })
        .Text("Export to Excel")
        .Action("RailReportExel", "partner"))

        .Columns(columns =>
        {
            columns.Bound(o => o.question).Title("Question").Width(200).Encoded(false);
            columns.Bound(o => o.Sender).Title("Sender").Width(200);
            columns.Bound(o => o.Reported).Title("Reported Date").Width(100).Template(@<text>@(item.Reported.HasValue?item.Reported.Value.ToString("MM/dd/yyyy"):"")</text>);
            columns.Bound(o => o.Comment).Title("Comment").Width(250); 
            columns.Bound(o => o.Status).Title("Status").Width(100).Template(@<text>
<a href='#' id='@item.id' class="menu_block">@item.Status</a>
<div class="display_menu" style="display: none;">
    <ul>
       @foreach(var status in Model.Statuses)
       {
           <li data-statusId="@status.id" data-itemId="@item.id">@status.description</li>
       }        
    </ul>
</div>
</text>);
        })
        .DataKeys(keys => keys.Add(o => o.id))
        .Pageable(pager => pager.PageSize(13).Total(200).Enabled(true))
        .Sortable(sorting => sorting.Enabled(true))

        .Scrollable(scrolling => scrolling
        .Enabled(true)
        .Height(380))
        .HtmlAttributes(new { @class = "ra" })
        )
<script>
    jQuery(document).ready(function ($) {
        $(".display_menu li").click(function () {
            var ulTag = $(this);
            var itemId = ulTag.data().itemid;
            $.ajax("ChangeRailsStatus", { type: "POST", data: { statusId: $(this).data().statusid, railId: itemId } }).done(function (result) {
                if (result) {
                    if (typeof (result.Sender) !== "undefined") {
                        alertify.alert("Congratulations, you have updated the status for " + itemId + " to " + result.Status + " and an email has been sent to " + result.Sender);
                        $("#" + itemId).text(result.Status);
                    }
                    else {
                        alertify.alert("Congratulations, you have updated the status for " + itemId + " to " + result.description);
                        $("#" + itemId).text(result.description);
                    }
                }
            });
        });
    });
</script>