@inherits System.Web.Mvc.WebViewPage
@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using Generic.Helpers;
@using Telerik.Web.Mvc.UI;
@using System.Web.Optimization;
@{
    Layout = LayoutHelper.GetPopupLayout();
    ViewBag.Title = "Upload Partner";
}

@Styles.Render("~/Content/css")
@Styles.Render("~/Content/themes/base/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jqueryui")
<style type="text/css">
    #btnQuery {
        float: left;
        margin-top: -28px;
        margin-left: 24%;
        width: 100px;
    }
</style>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script>
    //jQuery.noConflict();
    jQuery(document).ready(function () {
        var defaultTouchpoint = "@ViewBag.defaultTouchpoint";
        $('#protocol').change(function () {
            var objProtocolID = $('#protocol').val();
            var formData = { protocolId: objProtocolID };
            if (defaultTouchpoint === "") {
                if (objProtocolID == "") {
                    var touchpointSelectList = "<option value=''>-Select-</option>";
                    $('#touchpoint').html(touchpointSelectList);
                    return;
                }
                $.ajax({
                    url: "@Url.Content("~/touchpoint/GetTouchPointWithTitleByprotocolId")",
                    type: "post",
                    data: formData,
                    success: function (data) {
                        var len = data.Data.length;
                        var i = 0;
                        var touchpointSelectList = "<option value=''></option>";
                        for (i = 0; i < len; i++) {
                            touchpointSelectList += "<option value='" + data.Data[i].id + "'>" + data.Data[i].title + "</option>";
                        }

                        $('#touchpoint').html(touchpointSelectList);
                        $('#touchpointDiv').show();

                    },
                    error: function (data) {
                        var touchpointSelectList = "<option value=''> -Select-</option>";
                        $('#touchpoint').html(touchpointSelectList);
                    }
                });
            } else {
                if (objProtocolID !== "") {
                    $('#partnertypeDiv').show();
                }
            }
    });

        $('.close').click(function () {
            $('#queryForm').css('display', 'none');
        });
    $('#touchpoint').change(function () {
        $('#partnertypeDiv').show();

    });

    $('#partnertype').change(function () {
        $('#groupDiv').show();

         var touchpoint = $("#touchpoint").val();
            var partnertype = $("#partnertype").val();
            var formData = { touchpoint, partnertype };
            $.ajax({
                url: "@Url.Content("~/partner/PreselectedQuestion")",
                type: "post",
                data: formData,
                success: function (data) {
                    if (data.success === false) {
                        $('#isR').val(true);
                        alertify.alert("This upload requires template 2 with preselected question and response <br/> <a target='_blank' href='https://intelleges.com/MVCMT/Generic/UploadTemplates/addPartnerTemplate2.xlsx'>Click here to download partner upload template#2</a>");
                    }
                    else {
                        $('#isR').val(false);
                    }
                },
                error: function (data) {
                    alertify.alert(data.Data.message);
                }
            });
    });

    $('#group').change(function () {

        $('#uploadPartnerDiv').show();
        $('#btnUploadDiv').show();

    });


    if ("@ViewBag.Message" == "1") {

        $('#btnInvite').show();
        $('#btnInvitelater').show();

        alertify.alert('Partner uploaded successfully');
    }

     if ("@ViewBag.Message" == "2") {
         parent.CloseManualAddModalWithAlert('@ViewBag.touchpointTitle');
    //    $('#btnConfirm').show();
         //  $('#btnConfirmlater').show();
         alertify.alert('@ViewBag.MessageDetail');
    }

    // Confirm button button
    $('#btnConfirm').click(function (e) {
        alert ("Confirm now Button Clicked");
    });

    // Confirm Later button
    $('#btnConfirmlater').click(function (e) {
        alert ("Confirm later Button Clicked");
    });

    $('#btnInvite').click(function (e) {
        e.preventDefault();


        $.ajax({
            url: "@Url.Content("~/partner/InvitePartners")",
            type: "post",
        success: function (data) {
            alertify.alert(data.Data.message);
            var len = data.EventNotification.length;
            $('#btnInviteList').show();
            if (len == 0) {
                alertify.alert("Please wait, data processing");
            } else {

                var events = "<table><tr><td>Email</td><td>Loadgroup</td><td>Accesscode</td><td>Event</td><td>Reason</td><td>Protocol Touchpoint</td><td>Date</td></tr>";
                for (i = 0; i < len; i++)
                    events += "<tr><td>" + data.EventNotification[i].email + "</td><td>" + data.EventNotification[i].loadgroup + "</td><td>" + data.EventNotification[i].accesscode + "</td><td>" + data.EventNotification[i].event + "</td><td>" + data.EventNotification[i].reason + "</td><td>" + data.EventNotification[i].protocolTouchpoint + "</td><td>" + data.EventNotification[i].timestamp + "</td></tr>";


                $('#DivEventNotification').html(events);
            }

        },
        error: function (data) {

        }
    });
    });


    $('#btnInviteList').click(function (e) {
        e.preventDefault();


        $.ajax({
            url: "@Url.Content("~/partner/InvitePartnersList")",
            type: "post",
        success: function (data) {

            var len = data.EventNotification.length;

            if (len == 0) {
                alertify.alert("Please wait, data processing");
            } else {

                var events = "<table><tr><td>Email</td><td>Loadgroup</td><td>Accesscode</td><td>Event</td><td>Reason</td><td>Protocol Touchpoint</td><td>Date</td></tr>";
                for (i = 0; i < len; i++)
                    events += "<tr><td>" + data.EventNotification[i].email + "</td><td>" + data.EventNotification[i].loadgroup + "</td><td>" + data.EventNotification[i].accesscode + "</td><td>" + data.EventNotification[i].event + "</td><td>" + data.EventNotification[i].reason + "</td><td>" + data.EventNotification[i].protocolTouchpoint + "</td><td>" + data.EventNotification[i].timestamp + "</td></tr>";


                $('#DivEventNotification').html(events);
            }


        },
        error: function (data) {
            alertify.alert(data.Data.message);
        }
    });


    });



    $('#btnInvitelater').click(function (e) {
        e.preventDefault();
        $.ajax({
            url: "@Url.Content("~/partner/InvitePartnersLater")",
            type: "post",
        success: function (data) {
            alertify.alert(data.Data.message);

        },
        error: function (data) {
            alertify.alert(data.Data.message);
        }
    });
    });

        $('#btnQuery').click(function () {
            var touchpoint = $("#touchpoint").val();
            var partnertype = $("#partnertype").val();
            var group = $('#group').val();
            //$('#hdntouchpoint').val(touchpoint);
            //$('#hdnpartnertype').val(partnertype);
            //$('#hdngroup').val(group);
            //$('#queryForm').css('display', 'block');
            var formData = { touchpoint, partnertype, group };
             $.ajax({
                    url: "@Url.Content("~/Partner/GetQueryData")",
                    type: "post",
                    data: formData,
                 success: function (data) {
                     $('#queryContent').html(data);
                     //$("#queryForm").modal("toggle");
                     $('#queryForm').addClass('in');
                        $('#queryForm').css('display', 'block');
                    },
                    error: function (data) {

                    }
                });
        });
    //$('#UploadAutoMailMessageForm').submit(function (e) {
    //    e.preventDefault();
    //    var objProtocolID = $('#protocol').val();
    //    var objProtocolName = $('#protocol option[value="' + $('#protocol').val() + '"]').text();

    //    var objtouchpointID = $('#touchpoint').val();
    //    var objtouchpointName = $('#touchpoint option[value="' + $('#touchpoint').val() + '"]').text();

    //    var objpartnertypeID = $('#partnertype').val();
    //    var objpartnertypeName = $('#partnertype option[value="' + $('#partnertype').val() + '"]').text();

    //    var formData = { protocolId: objProtocolID, protocolName: objProtocolName, touchpointId: objtouchpointID, touchpointName: objtouchpointName, partnertypeID: objpartnertypeID, partnertypeName: objpartnertypeName };
    //    $.ajax({
    //        url: "UploadQuestionnaire",
    //        type: "post",
    //        data: formData,
    //        success: function (data) {
    //            alertify.alert('Questionnaire Uploaded Successfully!');
    //        },
    //        error: function (data) {
    //            alertify.alert('Error occured while Questionnaire Uploaded!');
    //        }
    //    });
    //});

    });
</script>

<h2>Upload Partner</h2>


<form id="UploadpartnerForm" method="post" enctype="multipart/form-data">
    @Html.ValidationSummary(true)
    @Html.Hidden("isR", false)


    <div class="editor-label">
        1. Please select a protocol
    </div>
    <div class="editor-field">
        @Html.DropDownList("protocol", String.Empty)
    </div>
    <div id="touchpointDiv" style="display: none">
        <div class="editor-label">
            2. Please select a touchpoint
        </div>
        <div class="editor-field">
            <select id="touchpoint" name="touchpoint">
                @if (!string.IsNullOrEmpty(ViewBag.defaultTouchpoint))
                {

                    <option value="@ViewBag.defaultTouchpointValue" selected>@ViewBag.defaultTouchpointName</option>

                }
            </select>

        </div>
    </div>
    <div id="partnertypeDiv" style="display: none">
        <div class="editor-label">
            3. Please select a partnertype
        </div>
        <div class="editor-field">
            @Html.DropDownList("partnertype", String.Empty)

            <a href="@Url.Content(" ~ />PartnerType/Create")">Add Partner Type</a>

        </div>
    </div>

    <div id="groupDiv" style="display: none">
        <div class="editor-label">
            4. Please select a group
        </div>
        <div class="editor-field">
            @Html.DropDownList("group", String.Empty)

            <a href="@Url.Content(" ~ />Group/Create")">Add Group</a>

        </div>
    </div>

    <div id="uploadPartnerDiv" style="display: none">
        <div class="editor-label">
            5. Please select an Excel file containing the partner information.
        </div>
        <div class="editor-field">
            <p>
                @(Html.Telerik().Upload()
                    .Name("uploadPartner")
                    .Multiple(false)
            )
                <input type="button" id="btnQuery" class="btn btn-default" value="Query" />
            </p><p class="note">
                Maximum allowed file size: 10 MB
            </p>
            <p> <a target="_blank" href="https://intelleges.com/MVCMT/Generic/UploadTemplates/addPartnerTemplate.xls">Click here to download partner upload template</a> </p>

            <p> <a target="_blank" href="https://intelleges.com/MVCMT/Generic/UploadTemplates/addPartnerTemplate2.xlsx">Click here to download partner upload template#2</a> </p>
        </div>
    </div>
    <p id="btnUploadDiv" style="display: none">
        <input type="submit" name="button" id="btnUpload" value="Upload" />

    </p>
    <p>
        <input type="submit" name="button" id="btnInvite" style="display: none" value="Send invites now" />
        <input type="submit" name="button" id="btnInvitelater" style="display: none" value="Invite Later" />
        <input type="submit" name="button" id="btnInviteList" style="display: none" value="View sent invites" />
        @*For Confirm Now and later buttons*@
        <input type="submit" name="button" id="btnConfirm" style="display: none" value="Confirm Now" />
        <input type="submit" name="button" id="btnConfirmlater" style="display: none" value="Confirm Later" />

    </p>

    <div id="DivEventNotification">

    </div>

</form>


<div class="modal fade" id="queryForm" role="dialog" aria-hidden="true" style="display:none;opacity:1;">
    <div class="modal-dialog" style="z-index:1041">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only"></span>
                </button>
            </div>
            <div id="queryContent" class="modal-body">
            </div>
        </div>
    </div>
</div>