@inherits System.Web.Mvc.WebViewPage
@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using Generic.Helpers;
@using Telerik.Web.Mvc.UI;
@using System.Web.Optimization;
@{
    Layout = LayoutHelper.GetPopupLayout();
    ViewBag.Title = "Upload Partner";
}

@Styles.Render("~/Content/css")
@Styles.Render("~/Content/themes/base/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jqueryui")



<script>
    //jQuery.noConflict();
    jQuery(document).ready(function () {

        $('#protocol').change(function () {
            var objProtocolID = $('#protocol').val();
            var formData = { protocolId: objProtocolID };
            if (objProtocolID == "") {
                var touchpointSelectList = "<option value=''>-Select-</option>";
                $('#touchpoint').html(touchpointSelectList);
                return;
            }
            $.ajax({
                url: "@Url.Content("~/touchpoint/GetTouchPointByprotocolId")",
                type: "post",
                data: formData,
                success: function (data) {
                    var len = data.Data.length;
                    var i = 0;
                    var touchpointSelectList = "<option value=''></option>";
                    for (i = 0; i < len; i++) {
                        touchpointSelectList += "<option value='" + data.Data[i].id + "'>" + data.Data[i].description + "</option>";
                    }

                    $('#touchpoint').html(touchpointSelectList);
                    $('#touchpointDiv').show();

                },
                error: function (data) {
                    var touchpointSelectList = "<option value=''> -Select-</option>";
                    $('#touchpoint').html(touchpointSelectList);
                }
            });


        });


        $('#touchpoint').change(function () {
            $('#partnertypeDiv').show();



        });

        $('#partnertype').change(function () {
            $('#groupDiv').show();
        });

        $('#group').change(function () {

            $('#uploadPartnerDiv').show();
            $('#btnUploadDiv').show();

        });


        if ("@ViewBag.Message" == "1") {

                $('#btnInvite').show();
                $('#btnInvitelater').show();

                alertify.alert('Partner uploaded successfully');
            }

            if ("@ViewBag.Message" == "2") {
            alertify.alert('Invitation Sent');
        }

        $('#btnInvite').click(function (e) {
            e.preventDefault();


            $.ajax({
                url: "@Url.Content("~/partner/InvitePartners")",
                    type: "post",
                    success: function (data) {


                    },
                    error: function (data) {

                    }
                });


            });


        $('#btnInvitelater').click(function (e) {
            e.preventDefault();
            $.ajax({
                url: "@Url.Content("~/partner/InvitePartnersLater")",
                    type: "post",
                    success: function (data) {
                        alertify.alert(data.Data.message);

                    },
                    error: function (data) {
                        alertify.alert(data.Data.message);
                    }
                });
          });

        //$('#UploadAutoMailMessageForm').submit(function (e) {
        //    e.preventDefault();
        //    var objProtocolID = $('#protocol').val();
        //    var objProtocolName = $('#protocol option[value="' + $('#protocol').val() + '"]').text();

        //    var objtouchpointID = $('#touchpoint').val();
        //    var objtouchpointName = $('#touchpoint option[value="' + $('#touchpoint').val() + '"]').text();

        //    var objpartnertypeID = $('#partnertype').val();
        //    var objpartnertypeName = $('#partnertype option[value="' + $('#partnertype').val() + '"]').text();

        //    var formData = { protocolId: objProtocolID, protocolName: objProtocolName, touchpointId: objtouchpointID, touchpointName: objtouchpointName, partnertypeID: objpartnertypeID, partnertypeName: objpartnertypeName };
        //    $.ajax({
        //        url: "UploadQuestionnaire",
        //        type: "post",
        //        data: formData,
        //        success: function (data) {
        //            alertify.alert('Questionnaire Uploaded Successfully!');
        //        },
        //        error: function (data) {
        //            alertify.alert('Error occured while Questionnaire Uploaded!');
        //        }
        //    });
        //});

    });
</script>


<h2>Upload Partner</h2>


<form id="UploadpartnerForm" method="post" enctype="multipart/form-data">
    @Html.ValidationSummary(true)



    <div class="editor-label">
        1. Please select a protocol
    </div>
    <div class="editor-field">
        @Html.DropDownList("protocol", String.Empty)
    </div>
    <div id="touchpointDiv" style="display: none">
        <div class="editor-label">
            2. Please select a touchpoint
        </div>
        <div class="editor-field">
            <select id="touchpoint" name="touchpoint"></select>

        </div>
    </div>
    <div id="partnertypeDiv" style="display: none">
        <div class="editor-label">
            3. Please select a partnertype
        </div>
        <div class="editor-field">
            @Html.DropDownList("partnertype", String.Empty)

            <a href="@Url.Content("~/PartnerType/Create")">Add Partner Type</a>

        </div>
    </div>

    <div id="groupDiv" style="display: none">
        <div class="editor-label">
            4. Please select a group
        </div>
        <div class="editor-field">
            @Html.DropDownList("group", String.Empty)

            <a href="@Url.Content("~/Group/Create")">Add Group</a>

        </div>
    </div>

    <div id="uploadPartnerDiv" style="display: none">
        <div class="editor-label">
            5. Please select an Excel file containing the partner information. Click here if you need to download the template.
        </div>
        <div class="editor-field">
            @(Html.Telerik().Upload()
        .Name("uploadPartner")
        .Multiple(false)

)

            <p class="note">
                Maximum allowed file size: 10 MB
            </p>

        </div>
    </div>
    <p id="btnUploadDiv" style="display: none">
        <input type="submit" name="button" id="btnUpload" value="Upload" />

    </p>
    <p>
        <input type="submit" name="button" id="btnInvite" style="display: none" value="Send invites now" />
        <input type="submit" name="button" id="btnInvitelater" style="display: none" value="Invite Later" />
    </p>
</form>
