@inherits System.Web.Mvc.WebViewPage<Generic.enterprise>
@using System.Web.Mvc.Html
@using System.Collections.Generic
@using Generic
@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Intelleges - @Model.companyName </title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Contents/IntellegesLogin_files/style.css")">
    <script src="@Url.Content("~/Contents/IntellegesLogin_files/ga_002.js")" async="" type="text/javascript"></script>
    <script src="@Url.Content("~/Contents/IntellegesLogin_files/ga.js")" async="" type="text/javascript"></script>
    @*<script type="text/javascript" src="@Url.Content("~/Contents/IntellegesLogin_files/jquery_002.js")"></script>*@
    @*<script type="text/javascript" src="@Url.Content("~/Contents/IntellegesLogin_files/modal.js")"></script>*@
    @*<script type="text/javascript" src="@Url.Content("~/Contents/IntellegesLogin_files/TrialHelper.js")"></script>*@
    <!-- Menu -->

    <link href="@Url.Content("~/Content/themes/base/alertify.core.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/themes/base/alertify.default.css")" rel="stylesheet" />
    <link rel="stylesheet" href="@Url.Content("~/Contents/IntellegesLogin_files/jqx.css")" type="text/css">
    @*<script type="text/javascript" src="@Url.Content("~/Contents/IntellegesLogin_files/jquery-1.js")"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Contents/IntellegesLogin_files/jqxcore.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Contents/IntellegesLogin_files/jqxmenu.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Contents/IntellegesLogin_files/jquery.js")" charset="utf-8"></script>
    <script type="text/javascript" language="JavaScript" src="@Url.Content("~/Contents/IntellegesLogin_files/mtcFormAPI.js")"></script>




    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/tw-bs.css")" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>


    <link rel="shortcut icon" href="https://intelleges.com/favicon.ico">
    <script type="text/javascript">
        function ShowPicture(id, Source) {
            if (Source == "1") {
                if (document.layers) document.layers['' + id + ''].visibility = "show"
                else if (document.all) document.all['' + id + ''].style.visibility = "visible"
                else if (document.getElementById) document.getElementById('' + id + '').style.visibility = "visible"
            }
            else if (Source == "0") {
                if (document.layers) document.layers['' + id + ''].visibility = "hide"
                else if (document.all) document.all['' + id + ''].style.visibility = "hidden"
                else if (document.getElementById) document.getElementById('' + id + '').style.visibility = "hidden"
            }
        }
    </script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-29693059-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    <script type="text/javascript">
        function StartVideo() {
            var i = document.getElementById("imageYoutube");
            i.style.display = "none";
            var f = document.getElementById("frameYoutube");
            f.style.display = "block";
            f.src = "https://www.youtube.com/embed/2U6KsI6z3wg?autoplay=1";

        }
    </script>
    <script type="text/javascript">

        function hidealldivs() {



            $("#loginerrordiv").hide();
            $("#welcomediv").hide();
            $("#contactdiv").hide();
            $("#welcdiv").hide();
            $("#certidiv").hide();
            $("#locdiv").hide();
            $("#clientdiv").hide();
            $("#overviewdiv").hide();
            $("#teamdiv").hide();
            $("#privacydiv").hide();
            $("#aboutusdiv").hide();
            $("#logindivtext").hide();
            $("#confirmationdiv").hide();
            $("#registrationfaildiv").hide();
            $("#freetrialtextdiv").hide();
            $("#freetrialinputdiv").hide();
            $("#signinid").hide();
            $("#contactusdiv").hide();
            $(".loginwelcome").hide();
            $("#homepagediv").hide();
        }
        var enterpriseId = @ViewBag.EnterpriseId ;
        jQuery(document).ready(function ($) {

            $('#scrollbar1').tinyscrollbar();
            $('#scrollbar2').tinyscrollbar();

            var theme = '';


            $('.rmText').on('click', function (e) {
                e.preventDefault();
                e.stopPropagation();
            })


            hidealldivs();

            $("#homepagediv").show();

            $("#signinid").show();
            $(".loginwelcome").show();
            //   $("#registrationfaildiv").show();


            $("#welc").click(function () {
                //hidealldivs();
                $("#welcdiv").hide();

                $("#homepagediv").show();
                // $("#homepagediv").show();
                //$("#signinid").show();
                //$(".loginwelcome").show();
            });
            $("#freetrialid").click(function () {
                hidealldivs();
                $("#freetrialtextdiv").show();
                $("#freetrialinputdiv").show();


            });



            $(".freetrialclick").click(function () {
                hidealldivs();
                $("#freetrialtextdiv").show();
                $("#freetrialinputdiv").show();
            });

            $("#loginid").click(function () {

                hidealldivs();
                $("#signinid").show();
                $("#logindivtext").show();
                $(".loginwelcome").hide();

            });
            $("#contactusid").click(function () {

            });


            $("#welcomeConfirm").click(function () {
                hidealldivs();
                $("#welcdiv").show();
                $("#signinid").show();
            });
            $("#welcomeConfirm2").click(function () {
                hidealldivs();
                $("#welcdiv").show();
                $("#signinid").show();
            });



            $("#logoimg").click(function () {
                hidealldivs();
                // $("#welcdiv").show();
                $("#signinid").show();
                $("#homepagediv").show();
            });

            $("#loc").click(function () {
                hidealldivs();
                $("#welcdiv").show();
                $("#locdiv").show();

            });
            $("#client").click(function () {
                hidealldivs();
                $("#welcdiv").show();
                $("#clientdiv").show();

            });
            $("#overviewa").click(function () {
                hidealldivs();
                $("#welcdiv").show();
                $("#overviewdiv").show();

            });
            $("#teama").click(function () {

                hidealldivs();
                $("#welcdiv").show();
                $("#teamdiv").show();

            });

            $("#privacya").click(function () {
                hidealldivs();
                $("#welcdiv").show();
                $("#privacydiv").show();

            });

            $("#aboutusa").click(function () {
                //hidealldivs();
                $("#welcdiv").show();
                //  $("#aboutusdiv").show();
                //$("#signinid").show();
                $("#homepagediv").hide();


            });
            $("#certi").click(function () {
                hidealldivs();
                $("#welcdiv").show();
                $("#certidiv").show();

            });

            $("#frameyoutubea1").click(function () {

                hidealldivs();
                $("#welcdiv").show();
                $("#signinid").show();
                $('#frameYoutube1').attr('src', 'https://www.youtube.com/embed/h8H947wuCNI');


            });
            $("#frameyoutubea2").click(function () {
                hidealldivs();
                $("#welcdiv").show();
                $("#signinid").show();
                $('#frameYoutube1').attr('src', 'https://www.youtube.com/embed/V5jgvi2H1xY');
            });

            $("#linkedinLoginBtn").on("click", function () {
                $('<form>', {
                    "id": "linkedinForm",
                    "html": '@Html.AntiForgeryToken()' + '<input type="text" name="provider" value="' + "LinkedIn" + '" />',
                    "action":'@ViewBag.LinkedInLoginUri' ,
                    "method": 'post',
                    "style": 'display: none'
                }).appendTo(document.body).submit();

            });

            $("#linkedinConfirmDialog").dialog({
                autoOpen: false,
                height: 400,
                width: 550,
                modal: true,
                buttons: {
                    "Yes": function () {
                        $.ajax({
                            type: "POST",
                            url: "/Admin/AddEmailToWaitingList",
                            contentType: 'application/json',
                            success: function (data) {
		                        // done
                            }
                        });

                        $(this).dialog("close");
                    },
                    "No": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $("#linkedinSelectEnterpriseDialog").dialog({
                autoOpen: false,
                height: 200,
                width: 550,
                modal: true,
                buttons: {
                    "Select Enterprise": function () {
                        $("#linkedinSelectEnterpriseDialogForm").submit();
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            });

            onDocumentLoad_linkedinHandler();
        });

        function onDocumentLoad_linkedinHandler() {
            @{
                string safeLinkedinMeesage = string.Empty,
                    safeDialogType = string.Empty,
                    safeEnterprisesIds = string.Empty,
                    safeEnterprisesNames = string.Empty,
                    safeEmail = string.Empty;

                if (TempData["LinkedInMessage"] != null)
                {
                    var messageObject = (KeyValuePair<string, string>)TempData["LinkedInMessage"];

                    safeLinkedinMeesage = messageObject.Value;
                    safeDialogType = messageObject.Key;

                    if (TempData["Enterprises"] != null)
                    {
                        var enterprises = TempData["Enterprises"] as List<enterprise>;

                        foreach(var enterprise in enterprises)
                        {
                            safeEnterprisesIds += enterprise.id + ",";
                            safeEnterprisesNames += enterprise.companyName + ",";
                        }

                        safeEnterprisesIds = safeEnterprisesIds.Substring(0, safeEnterprisesIds.Length - 1);
                        safeEnterprisesNames = safeEnterprisesNames.Substring(0, safeEnterprisesNames.Length - 1);
                    }
                }

                if (TempData["Email"] != null)
                {
                    safeEmail = TempData["Email"] as string;
                }
            }

            var linkedinMeesage = '@(safeLinkedinMeesage)';
            var dialogType = '@(safeDialogType)';

            $("#tempstorage").val('@(safeEmail)');

            if (dialogType != '' && dialogType != undefined) {
                if (dialogType == "promptYesNo") {
                    $("#linkedinConfirmDialogText").text(linkedinMeesage);
                    $("#linkedinConfirmDialog").dialog("open");
                }
                else {
                    var enterprisesIds = '@(safeEnterprisesIds)'.split(',');
                    var enterprisesNames = '@(safeEnterprisesNames)'.split(',');

                    $.each(enterprisesIds, function (iter, item) {
                        var option = new Option(enterprisesNames[iter], item);
                        $(option).html(enterprisesNames[iter]);
                        $("#linkedinSelectEnterpriseDialogDropdown").append(option);
                    });

                    $("#linkedinSelectEnterpriseDialog").dialog("open");
                }
            }
        }


        thankyou_click = function () {
            //            alert('hi');

            jQuery(document).ready(function ($) {
                hidealldivs();
                $("#freetrialtextdiv").show();
                $("#confirmationdiv").show();

            });
        }
        thankyoufail_click = function () {
            //            alert('hi');

            jQuery(document).ready(function ($) {
                hidealldivs();
                $("#freetrialtextdiv").show();
                $("#registrationfaildiv").show();
            });
        }
    </script>
    <!-- // Menu-->

    <style type="text/css">
        .auto-style1 {
            font-size: 14px;
            text-align: justify;
        }

        .main-content {
            margin-top: 0px;
        }

        .top-nav-left {
            width: 490px;
            text-align: center;
            top: 5px;
            margin-left: 0px;
        }
    </style>

</head>
<body>
    <div class="tw-bs">
        <!-- #region Contact US-->
        <script>
        var _localAddress = "@Request.ServerVariables["REMOTE_ADDR"]";
        var _publicKey = "@System.Configuration.ConfigurationManager.AppSettings["recaptchaPublicKey"]";
        var _contactUsHost = "@System.Configuration.ConfigurationManager.AppSettings["contactUsHost"]";
        var _contactUsDisplayed = false;
        </script>
        <div class="modal fade" id="contact_us_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only"></span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Contact us</h4>
                    </div>
                    <div class="modal-body">
                        <form id="modalformControls" role="form">
                            <img src="~/Contents/IntellegesLogin_files/merck_india.jpg" style="width:100%;"/>
                            <p>
                                Thank you for visiting Merck & Co, Inc. IT Scorecard. We welcome your input. To make sure we CONNECT YOU with the person at our company THAT CAN BEST SERVE YOU, please complete the two fields below and we will send you an email link where you can SUBMIT YOUR COMMENTS. If you need to contact us directly please email it_scorecard@merck.com. Thanks again for your visit and we look forward to receiving your comments.
                                @*@if (!string.IsNullOrEmpty(ViewBag.ContactUsText))
                                {
                                    @ViewBag.ContactUsText
                                }
                                else
                                {
                                    <text></text>
                                }*@
                            </p>
                            <div class="form-group">
                                <label class="control-label" for="inputEmail">Your Email Address</label>
                                <input id="inputEmail" class="form-control" type="email" placeholder="Please Enter Your Email" required data-error="Incorect email adress" />
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="contact_us_dialog_captcha">Your Secret Code</label>
                                <div id="contact_us_dialog_captcha"></div>
                            </div>

                        </form>

                        <div class="centred-button">
                            <button type="button" class="btn btn-primary" name="ContactUs">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--#endregion-->

        <div class="modal fade" id="get_password_dialog" role="dialog" aria-labelledby="gpsLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only"></span>
                        </button>
                        <h4 class="modal-title" id="gpsLabel">Get Your Password</h4>
                    </div>
                    <div class="modal-body">
                        <form id="modalGetPassword">
                            <p>
                                If you have forgotten your password or haven't created one, enter your email address and click Submit.
                            </p>
                            <div class="form-group">
                                <label class="control-label" for="inputEmailGetPassword">Your Email Address</label>
                                <input id="inputEmailGetPassword" class="form-control" type="email" placeholder="Please Enter Your Email" required data-error="Incorect email adress" />
                                <div class="help-block with-errors"></div>
                                <button type="button" class="btn btn-primary" name="GetPassword">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--#region All Form-->

    <div class="wrapper">
        <div class="header">
            <a id="logoimg" href="https://www.intelleges.com">
                <img src="@Url.Content("~/Contents/IntellegesLogin_files/logo.png")" alt="Logo">
            </a>
        </div>
        <!-- .header -->
        <div class="clearfix"></div>
        <div class="top-nav">
            <div class="top-nav-left">
                <p class="bold-text" style="padding-top: 15px;">Merck & Co, Inc. IT Scorecard</p>
            </div>
            <!-- .top-nav-left -->

            <div class="top-nav-right">



                <div tabindex="1" id="jqxMenu" class="navbar jqx-rc-all jqx-menu jqx-menu-horizontal" style="visibility: visible; display: block; width: 505px; height: 30px; outline: medium none;">

                    <ul>
                        @*<li style="float: left; padding-top: 1px; padding-bottom: 2px;" class="jqx-menu-item-top jqx-rc-all" id="menuItem9906187049704874000">
                            <a id="welc" class="menu" href="#">Welcome</a>

                        </li>
                        <li style="float: left; padding-top: 1px; padding-bottom: 2px;" class="jqx-menu-item-top jqx-rc-all" id="Li1">
                            <a id="aboutusa" class="menu" href="#">About Us</a>

                        </li>*@


                        <li style="float: left; padding-top: 1px; padding-bottom: 2px;" class="jqx-menu-item-top jqx-rc-all" id="Li3">
                            <div class="tw-bs"><a class="menu" id="contactusid" href="#contact_us_dialog" data-target="#contact_us_dialog">Contact Us</a></div>

                        </li>

                    </ul>

                </div>

                <!-- .navbar -->
            </div>
            <!-- .top-nav-right -->
        </div>
        <!-- .top-nav -->
        <div class="clearfix"></div>
        <div class="main-content">


            <div style="display: none;" id="welcdiv">



                <div class="main-content-left homepage-main-content-left" style="height: 230px;">

                    <span>
                        Founded in 2000, Intelleges has developed a cloud based service that solves the challenge of collecting data and documents from internal sites, customers, suppliers, and other product and service providers.

                        Intelleges simplifies Compliance, Safety, Security and Quality Assurance efforts by streamlining the entire process simply and easily.

                        With over 15-years of thought-leadership backed by a stellar record of delivering results, Intelleges is making life easier for our customers each and every day.

                    </span>

                </div>
            </div>


            <div style="display: block;" id="homepagediv">


                <div class="main-content-left homepage-main-content-left" style="height: 230px;">
                    <img src="@Url.Content("~/Contents/IntellegesLogin_files/merck_india.jpg")" style="width: 452px;" />

                </div>
            </div>

            <!-- .main-content-left -->
            <div style="display: block;" id="signinid">
                <div class="main-content-right homepage-main-content-right" style="height: 230px;">

                    <form id="loginForm" action="~/Admin/Index" method="post" enctype="multipart/form-data">
                        <p style="display: block;" class="align-text-with loginwelcome">
                            Please sign in. If you don't have an Intelleges ID, you can create one by contacting your Hs3 Administrator.
                        </p>
                        <p class="bold-text text-align-adjust">Sign In</p>
                        <div class="form-input-section">
                            <label id="lblErrorMessage" style="color: Red;" />

                            <input id="txtUserName" name="username" type="text" placeholder="Intelleges ID" class="input-field-text" />



                            <div id="loginerrordiv" style="height: 30px" class="font-size-12 align-text-with loginwelcome">
                                @foreach (System.Web.Mvc.ModelState modelState in ViewData.ModelState.Values)
                                {
                                    foreach (System.Web.Mvc.ModelError error in modelState.Errors)
                                    {
                                        if (error != null)
                                        {

                                            <span>Your Intelleges ID or password was entered incorrectly.</span>

                                        }

                                    }
                                }
                            </div>

                            <input id="txtPassword" name="password" class="input-field-text" placeholder="Password" type="password">



                        </div>
                        <!-- .form-inputs-section homepage-signin-div -->
                        @* LiButton *@
                        <div style="float: left;">
                            <img id="linkedinLoginBtn" title="Log in using your Link1edIn account"
                                 src="~/Contents/images/LiButton.png" border="0" style="width:140px" />
                            <input id="btnLogin" class="you input-field-submit homepage-signin-button" value="Login" type="submit" />
                            <a href="#" id="forgotPasswordLinq">Forgot password?</a>
                        </div>
                        <div style="float:left">

                        </div>

                    </form>
                </div>
            </div>
            <!-- .main-content-left -->
        </div>
        <!-- .main-content -->

        <div id="linkedinConfirmDialog" title="Adding your request to queue">
            <p id="linkedinConfirmDialogText" />
        </div>

        <div id="linkedinSelectEnterpriseDialog" title="Selecting enterprise" style="display:none">
            <form id="linkedinSelectEnterpriseDialogForm" action="~/Admin/LoginByEnterprise" method="post" enctype="multipart/form-data">
                <input type="hidden" id="tempstorage" name="email" />
                <p>Select enterprise: </p>
                <select id="linkedinSelectEnterpriseDialogDropdown" name="enterpriseid" />
            </form>
        </div>
    </div>
    <!--#endregion-->
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/validator.min.js")
    @Scripts.Render("~/Scripts/alertify.js")
    @Scripts.Render("https://www.google.com/recaptcha/api/js/recaptcha_ajax.js")
    <script src="@Url.Content("~/Contents/IntellegesLogin_files/contact-us.js?v=1")"></script>

</body>
</html>
